<template>
  <client-only>
    <!-- Use the component in the right place of the template -->
   <VueEditor></VueEditor>
  </client-only>
</template>

<script>


export default {
  name: 'Editor',
  data: () => ({
    message: 'Hello World'
  }),

}
</script>
