<template>
    <div>
        <v-card max-height="90vh" width="300px" tile elevation="0">
              <v-row no-gutters>
                <v-col cols="12" class="subtitle-2 px-3 my-2"
                  >Notification</v-col
                >
              </v-row>
              <hr />
              <v-list three-line>
                <div class="caption font-weight-bold pl-5">Latest</div>
                <template v-for="(item, index) in notifications">
                  <v-list-item
                    :href="item.payload.url.web_url"
                    style="min-height: 69px !important"
                    :key="index"
                    class="py-0"
                  >
                    <v-list-item-avatar>
                      <img
                        v-if="item.payload.image"
                        :src="item.payload.image"
                      />
                      <img
                        v-else
                        src="https://as2.ftcdn.net/v2/jpg/00/64/67/27/1000_F_64672736_U5kpdGs9keUll8CRQ3p3YaEv2M6qkVY5.jpg"
                      />
                    </v-list-item-avatar>
                    <v-list-item-content class="mt-0 pt-0">
                      <v-list-item-subtitle
                        class="caption font-weight-medium"
                        v-html="item.payload.message"
                      ></v-list-item-subtitle>
                      <v-list-item-subtitle class="caption">{{
                        $dayjs(item.created_at).fromNow()
                      }}</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-list>
            </v-card>
    </div>
</template>

<script>
export default {
    name:  'pusher-notification',
    data() {
        return {
            notifications: []
        }
    },

    created() {
        this.getStoreUserNotification();
        this.pusherAllNotification();
    },

    methods: {
         getStoreUserNotification() {
      this.$store
        .dispatch("pusherNotification/getStoreUserNotification")
        .then((response) => {
          this.notifications = response.data;
          console.log(response, "Response Notification");
        });
    },
        pusherAllNotification() {
      this.getStoreUserPusherNotification();
      this.getStoreLoadBalanceNotification();
      this.getStoreWithdrawBalanceNotification();
      this.getNormalOrderNotification();
      this.getPreOrderNotification();
      this.getPreOrderFinilizeNotification();
      this.getNormalOrderPlacedNotification();
      this.getProductMassStatusChangedNotification();
      this.getProductStatusNotification();
      this.getProductVariantStatusNotification();
    },

    getStoreUserPusherNotification() {
      const userCode = this.$store.getters["login/USERCRED"]["user_code"];
      var channel = this.$pusher.subscribe(
        "private-user.new.device.login." + userCode
      );
      channel.bind("user-new-device-login-event", (log) => {
        let notifications = log;
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            url:notifications.notification.url.web_url
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      });
    },

    getStoreLoadBalanceNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.load.balance." + storeCode
      );
      channel.bind("store-load-balance-event", (log) => {
        let notifications = log;
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            url:notifications.notification.url.web_url
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      });
    },

    getStoreWithdrawBalanceNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.withdraw.balance." + storeCode
      );
      channel.bind("store-withdraw-balance-event", (log) => {
        this.$toast.success(notifications.notification.message)
        console.log(log, "withdraw..");
        let currentDate = new Date().toString();
        let notifications = log;
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: "Bimal Dai",
            url:notifications.notification.url.web_url
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
        console.log('asdasdasd');
        
      })
    },

    getNormalOrderNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.normal.order.status." + storeCode
      );
      channel.bind("store-normal-order-status-event", (log) => {
        let notifications = log;
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            url:notifications.notification.url.web_url
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getPreOrderNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.pre.order.status." + storeCode
      );
      channel.bind("store.pre-order-status-event", (log) => {
        let notifications = log;
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            url:notifications.notification.url.web_url
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getPreOrderFinilizeNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.pre.order.finalized." + storeCode
      );
      channel.bind("store-pre-order-finalized", (log) => {
        let notifications = log;
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            url:notifications.notification.url.web_url
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getNormalOrderPlacedNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.normal.order.placed." + storeCode
      );
      channel.bind("store-normal-order-placed", (log) => {
        let notifications = log;
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            url:notifications.notification.url.web_url
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getProductMassStatusChangedNotification() {
      const warehouseCode = "AW1001";
      var channel = this.$pusher.subscribe(
        "private-product.mass.status.changed." + warehouseCode
      );
      channel.bind("product-mass-status-changed", (log) => {
        let notifications = log;
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            url:notifications.notification.url.web_url
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getProductStatusNotification() {
      const warehouseCode = "AW1001";
      var channel = this.$pusher.subscribe(
        "private-product.status.changed." + warehouseCode
      );
      channel.bind("product-status-changed", (log) => {
        let notifications = log;
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            url:notifications.notification.url.web_url
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      });
    },

    getProductVariantStatusNotification() {
      const warehouseCode = "";
      const variantCode = "";
      const productCode = "";
      var channel = this.$pusher.subscribe(
        "private-product.variant.status.changed." +
          warehouseCode +
          "." +
          productCode +
          "." +
          variantCode
      );
      channel.bind("product-status-changed", (log) => {
        let notifications = log;
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            url:notifications.notification.url.web_url
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      });
    },
    }
}
</script>