<template>
  <div :class="$mq==='mobile'?'my-4 border-bottom_mobile':'my-6 border_bottom'">
    <span
      :class="$mq==='mobile'?'caption font-weight-medium title_padding_mobile':'subtitle-1 font-weight-bold title_padding'"
      style="background-color: #2c4373;color: white;border-top-right-radius: 20px;"> {{
        $t(title)
      }}</span>
  </div>
</template>

<script>
export default {
  name: "title-highlighter",
  props: ['title']
}
</script>

<style scoped>
.border_bottom {
  border-bottom: 3px solid #2c4373;
}

.border-bottom_mobile {
  border-bottom: 4px solid #2c4373;
}

.title_padding_mobile {
  padding: 8px 10px 6px 8px;
}

.title_padding {
  padding: 19px 24px 8px 24px;
}
</style>
