<template>
  <v-container fluid  class="py-1" style="overflow-x: hidden !important;">
    <client-only>
      <v-row no-gutters>
        <v-col cols="12" class="text--white"  v-if="$mq === 'mobile' " >
          <v-card tile style="position: relative">
            <img :src="img"   alt="" width="100%">
            <span  style="position:absolute;  top:50%; left:50%;transform: translate(-50%, -50%); color: black; font-size: 26px; font-weight: 700">VISION & MISSION</span>
          </v-card>
        </v-col>
        <v-col cols="12" class="text--white" v-else>
          <v-card tile style="position: relative">
            <img :src="img"  alt="" width="100%">
            <span  style="position:absolute; top:50%; left:50%;transform: translate(-50%, -50%); color: black; font-size: 56px; font-weight: 700">VISION & MISSION</span>
          </v-card>
        </v-col>
      </v-row>

      <v-row class="mt-8" dense align="center">
        <v-col cols="12" md="4" lg="4" xl="4" class="text-center">
          <v-card elevation="0">
            <img src="~assets/img/store/vision.png" alt="" width="200">
          </v-card>
        </v-col>
        <v-col cols="12" md="8" lg="8" xl="8" class="subtitle-2 font-weight-medium">
          <span v-html="visionDescription"></span>
        </v-col>
      </v-row>

      <v-row class="mt-12" dense align="center">

        <v-col cols="12" md="8" lg="8" xl="8" class="font-weight-medium">
          <span v-html="missionDescription"></span>
        </v-col>
        <v-col cols="12" md="4" lg="4" xl="4" class="text-center">
          <v-card elevation="0">
            <img src="~assets/img/store/mission.png" alt="" width="200">
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" class="text-left title">
          <span>Company Timeline</span>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="12">
          <article class="container">

            <v-row v-for="(item, index) in timeLine" :key="index" class="mt-8">
              <ol class="timeline">
                <li class="timeline__entry" v-if="index % 2 != 0">
                  <span class="timeline__id">{{item.year}}</span>
                  <div class="timeline__content">
                    <h2 class="timeline__heading">{{item.title}}</h2>
                    <p class="timeline__text">{{item.description}}</p>
                  </div>
                </li>
                <li class="timeline__entry" v-if="index % 2 === 0">
                  <span class="timeline__id">{{item.year}}</span>
                  <div class="timeline__content timeline__content--flipped">
                    <h2 class="timeline__heading">{{item.title}}</h2>
                    <p class="timeline__text">{{item.description}}</p>
                  </div>
                </li>
              </ol>
            </v-row>

          </article>
        </v-col>
      </v-row>
    </client-only>
  </v-container>
</template>

<script>
export default {

name: "timeline",

    data() {
        return {
          missionDescription:'',
          img:'',
          visionDescription:'',
          timeLine:[]
        }
    },
    fetch(){
      this.getCompanyVisionMission();
      this.getCompanyTimeLine()
    },
    methods:{
      getCompanyVisionMission(){
        this.$store.dispatch('visionMission/getCompanyVisionMission').then(res =>{
          this.img = res.data['page_image'];
          this.missionDescription = res.data['mission_description'];
          this.visionDescription = res.data['vision_description']
        })
      },
      getCompanyTimeLine(){
        this.$store.dispatch('visionMission/getCompanyTimeLine').then(res =>{
          this.timeLine = res.data;
        })
      }
    }

}

</script>

<style scoped lang="scss">

$bp1: 45em;
.timeline {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
&:before {
   content: "";
   position: absolute;
   top: -3em;
   left: 2em;
   width: .25em;
   height: calc(100% + 6em);
   background: linear-gradient(to bottom, #151515 0%, #3B3B3B 2%, #3B3B3B 98%, #151515 100%);
@media screen and (min-width: $bp1) {
  left: 50%;
  transform: translateX(-50%);
}
}
}
.timeline__entry {
  position: relative;
  margin-bottom: 4em;
  color: #fff;
&:after {
   content: "";
   display: table;
   clear: both;
 }
}
.timeline__id {
  position: absolute;
  top: 1em;
  left: 2em;
  padding: .5em 1em;
  background: #003574;
  transform: translateX(-50%);
@media screen and (min-width: $bp1) {
  left: 50%;
  transform: translateX(-50%);
}
}
.timeline__content {
  position: relative;
  display: block;
  margin-left: 6em;
  padding: 1em;
  background: #282727;
@media screen and (min-width: $bp1) {
  margin-left: 0;
  width: calc(50% - 4em);
}
&:before {
   content: "";
   position: absolute;
   display: block;
   top: 1em;
   left: -1em;
   border-top: 1em solid transparent;
   border-bottom: 1em solid transparent;
   border-right: 1em solid #282727;
@media screen and (min-width: $bp1) {
  left: auto;
  right: -1em;
  border-left: 1em solid #282727;
  border-right: none;
}
}
}
.timeline__content--flipped {
@media screen and (min-width: $bp1) {
  float: right;
&:before {
   left: -1em;
   right: auto;
   border-left: none;
   border-right: 1em solid #282727;
 }
}
}
.timeline__heading {
  margin-bottom: .25em;
  font-size: 1.2rem;
}
.timeline__text {
  color: #ccc;
&:last-child {
   margin-bottom: 0;
 }
}
/**
 * Basic styling
 */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  line-height: 1.4;
  background-color: #151515;
}
.container {
  width: 85%;
  max-width: 1200px;
  margin: 4em auto;
}
.section-title {
  padding-bottom: 2em;
  text-align: center;
  color: #DDDDDD;
}

</style>
