<template>
  <v-container fluid>
    <client-only>
      <v-row no-gutters v-if="$mq === 'mobile'" class="text-center" >

        <v-col cols="12">
          <v-img v-if="$mq === 'mobile'" height="200px" lazy-src="@/assets/images/image_loader.png" class="mobile_image mx-auto"  :src="large_image.image"></v-img>
          <v-img v-else height="200px" lazy-src="@/assets/images/image_loader.png" class="mobile_image mx-auto"  :src="large_image.image"></v-img>
        </v-col>
        <v-col cols="12">
          <div class="mobile_swiper_product row justify-content-center mt-2">
            <swiper :options="mobileSwiperOption">
              <swiper-slide
                v-for="(smallImage, index) in smaller_image"
                :key="index"
                class="mobile_swiper_slider_product"
              >
                <v-card tile elevation="0" class="px-2 text-center">
                  <v-hover v-slot:default="{ hover }">
                    <v-img
                      width="100%"
                      min-height="45"
                      min-width="60"
                      max-height="45"
                      max-width="60"
                      style="border:1px solid #b3b3b3;border-radius: 2px"
                      lazy-src="@/assets/images/image_loader.png"
                      :src="smallImage.image"
                      :class="{ slider_hover: hover }"
                      v-on:mouseover="$emit('change-zoomer-image',index)">
                    </v-img>
                  </v-hover>
                </v-card>
              </swiper-slide>
            </swiper>
          </div>
        </v-col>
      </v-row>
      <v-row no-gutters v-else>
        <v-col cols="11">
          <div class="pic-box ml-4">
            <pic-zoom
              :class="$mq==='laptop' || $mq==='desktop' || $mq === 'xlscreen' ?'product_zoomer':'mobile_product_zoomer'"
              :url="thumb_image.image"
              :big-url="large_image.image"
              :scale="2">
            </pic-zoom>
          </div>
        </v-col>
        <v-col cols="12" class="text-center">
          <v-row no-gutters justify="center" class="mt-3">
            <v-col cols="1" v-for="(smallImage, index) in smaller_image"
                   :key="index">
              <v-card width="40" tile elevation="0" class="px-2"

              >
                <v-hover>
                  <v-img
                    class="pointer-on-hover"
                    min-height="40"
                    min-width="40"
                    max-height="40"
                    max-width="40"
                    style="border:1px solid #b3b3b3;border-radius: 2px"
                    lazy-src="@/assets/images/image_loader.png"
                    :src="smallImage.image"
                    v-on:mouseover="$emit('change-zoomer-image',index)">
                  </v-img>
                </v-hover>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </client-only>
  </v-container>
</template>

<script>
export default {
  name: "productDetailImageZoomer",
  props: ['thumb_image', 'large_image', 'smaller_image'],
  components: {
    // swiper,
    // swiperSlide,
  },
  data() {
    return {
      swiperOption: {
        spaceBetween: 10,
        slidesPerView: 1,
        direction: 'vertical',
        breakpoints: {
          575: {
            slidesPerView: 2,
          },
          767: {
            slidesPerView: 2,
          },
          991: {
            slidesPerView: 1,
          },
          1199: {
            slidesPerView: 1,
          },
        },
      },
      mobileSwiperOption :  {
        spaceBetween: 3,
        slidesPerView: 1,
        breakpoints: {
          575: {
            slidesPerView:2,
          },
          767: {
            slidesPerView: 1,
          },
          991: {
            slidesPerView: 3,
          },
          1199: {
            slidesPerView: 4,
          },
        },
      }
    }
  },

}
</script>
