<template>
  <v-card tile elevation="0" class="pa-3 pt-1 pb-2">
    <client-only>
      <title-highlighter :title="'product_description'"></title-highlighter>
      <span class="subtitle-2 pl-4 ml-2" v-html="product_detail['description']"></span>
    </client-only>
  </v-card>
</template>

<script>
import TitleHighlighter from "@/components/shared/title-highlighter";
export default {
  name: "ProductInformation",
  components: {TitleHighlighter},
  props:['product_detail'],
}
</script>
