<template>
  <v-container fluid>
    <v-row no-gutters>
      <v-col cols="12" class="mt-1">
        <v-row no-gutters>
          <v-col cols="6" sm="6" md="2" lg="3" xl="2">
            <div class="selected_variant">Sensitivity:</div>
          </v-col>
          <v-col class="specification_value mb-2" cols="6" sm="6" md="10" lg="9" xl="10">
            <span>{{ product_detail['sensitivity']['sensitivity_name'] }}</span>
          </v-col>
          <v-col cols="6" sm="6" md="2" lg="3" xl="2">
            <div class="selected_variant">Warranty:</div>
          </v-col>
          <v-col class="specification_value mb-2" cols="6" sm="6" md="10" lg="9" xl="10">
            <span>{{ product_detail['warranty']['warranty_name'] }}</span>
          </v-col>
        </v-row>
        <v-divider class="mt-1"></v-divider>
        <v-row no-gutters>
          <div class="subtitle-1 font-weight" style="font-size:14px;">About this item</div>
          <v-col
            cols="12"
            class="mt-1"
            v-for="(highlight, index) in product_detail['highlights']" :key="index"
          >
            <v-row no-gutters>
              <v-col cols="1">
                <v-icon size="15" color="black" dark>mdi-circle-medium</v-icon>
              </v-col>
              <v-col cols="11">
               <span class="highlights_design">
                    {{ highlight }}
                  </span>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {

  name: "ProductSpecification",

  props: ['product_detail']

}
</script>

<style scoped>

</style>
