<template>
  <v-container fluid>
    <client-only>
      <v-row v-if="relatedProducts.length>0" class="pa-2"
             no-gutters>
        <v-col cols="12" class="pa-0">
          <title-highlighter  :title="'related_products'"></title-highlighter>
        </v-col>
        <v-col cols="12" class="mt-2">
          <v-card
            :to="{ name:'ProductDetail',params:{slug:product.slug}}"

            v-for="(product,index) in relatedProducts" class="pa-1 mb-1"
            :key="index" elevation="0"
            tile>
            <v-row no-gutters class="pb-3" style="border-bottom: 1px solid #e5e5e5">
              <v-col cols="3">
                <v-card height="80px" elevation="0" tile>
                  <v-img height="80px" :src="product.featured_image" lazy-src="~assets/img/store/image_loader.png"></v-img>
                </v-card>
              </v-col>
              <v-col cols="9" class="pl-4">
                <div class="related_product_name ml-2" :title="product.product_name">{{ product.product_name | truncate(30)}}</div>
                <!-- <v-rating class="rating_design ml-1" small v-model="rating" color="yellow darken-3"
                          background-color="yellow darken-4"></v-rating> -->
                <div  v-if="product.price!=='N/A'"  class="caption font-weight-bold ml-2 price_color">{{ product.price }}</div>
                <div class="related_product_category ml-2" :title="product.brand">Brand: {{ product.brand |truncate(25) }}</div>
                <div class="related_product_category ml-2" :title="product.category">Category: {{ product.category |truncate(25) }}</div>
              </v-col>
            </v-row>
            <v-divider></v-divider>
          </v-card>
        </v-col>
      </v-row>
    </client-only>
  </v-container>
</template>

<script>
import TitleHighlighter from "@/components/shared/title-highlighter";
export default {
  name: "RelateProducts",
  components: {TitleHighlighter},
  props: ['product_code'],
  data() {
    return {
      rating: 3,
      related_products: [],
    }
  },

  watch: {

    '$routes': {

      handler() {

        this.$store.dispatch("product/loadAllRelatedProducts", {

          slug: this.$route.params.slug

        }).then(response => {

          this.related_products = response;

          this.$emit('related-products', response);

        })

      },

      immediate: true

    }

  },

  computed: {

    relatedProducts() {

      let splicedRelatedProduct = [];

      splicedRelatedProduct = this.related_products;

      if (this.related_products.length > 3) {

        return splicedRelatedProduct.splice(0, 3);

      } else {

        return splicedRelatedProduct;

      }

    },

  },
}
</script>
