<template>
  <v-container fluid>
    <v-row no-gutters>
      <v-col cols="12" lg="3" md="3" v-if="$mq !== 'mobile'" class="pa-2">
        <CategoryFilterColumn></CategoryFilterColumn>
      </v-col>
      <v-col cols="12" lg="9" md="9" class="pa-3">
        <PreOrderDates></PreOrderDates>
        <PreOrderWarehouseDates></PreOrderWarehouseDates>
        <CategoryFilterProducts></CategoryFilterProducts>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CategoryFilterColumn from "./components/CategoryFilterColumn";
import PreOrderWarehouseDates from "./components/PreOrderWarehouseDates";
import CategoryFilterProducts from "./components/CategoryFilterProducts";
import PreOrderDates from "./components/PreOrderDates";

export default {
  name: "PreOrderFilterPageSkeleton",
  components: {PreOrderDates, CategoryFilterProducts, PreOrderWarehouseDates, CategoryFilterColumn}
}
</script>