<template>
  <v-row no-gutters justify="center" class="px-3 pt-3 pb-3">
    <v-col cols="12">
      <v-alert dark dense type="info" color="primary" class="caption mb-0">
        <v-row no-gutters justify="space-between" align="center">
          <v-col cols="8">
            Look like you haven't verified your email yet?
          </v-col>
          <v-col cols="3" class="text-end">
            <v-btn
                text
                small
                :loading="btnLoadingState"
                @click="sendEmailVerification"
            >
              Verify Now
            </v-btn>
          </v-col>
        </v-row>
      </v-alert>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "index",
  data: () => ({
    btnLoadingState: false,
  }),
  methods: {
    sendEmailVerification() {
      this.btnLoadingState = true;

      let storeCode = this.$store.getters["login/USERCRED"]['user_code'];

      this.$store.dispatch('storeMiscellaneous/sendEmailVerificationLink', storeCode).then(res => {

      }).catch(err => {

      }).finally(() => {
        this.btnLoadingState = false;
      });
    },
  }
}
</script>
