<template>
  <v-container fluid>
    <client-only>
      <div class="my-10">
        <VerificationTypes v-if="openOtpTypeForm" v-on:close_open_otp_verification="close_open_otp_verification" v-on:open_otp_verification="open_otp_verification"  ></VerificationTypes>
        <VerificationAccount v-if="verifyOtp" v-on:close_otp_verification="close_otp_verification" />
        <v-row no-gutters justify="center">
          <v-col cols="5" class="text-center">
            <img src="~assets/img/store/login-image.png">
          </v-col>
          <v-col cols="12" sm="4" lg="4">
            <v-card class="body-2 py-3 px-5">
              <v-form ref="loginForm">
                <v-row no-gutters>
                  <v-col cols="12">
                    <span class="subtitle-1 font-weight-bold text-uppercase">{{ $t('store') }} {{ $t('login') }}</span>
                    <v-divider class="mt-1"></v-divider>
                  </v-col>

                  <v-col cols="12" class="mt-3" v-if="serverErrors.length !== 0">
                    <v-alert
                      dark
                      dense
                      color="error"
                      class="caption mb-1"
                    >
                      <div v-for="(error, idx) in serverErrors" :key="idx">
                        {{ error }}
                      </div>
                    </v-alert>
                  </v-col>

                  <v-col cols="12" class="mt-4">
                    <v-text-field
                      dense
                      outlined
                      type="email"
                      :label="`${$t('store')} ${$t('login')}`"
                      class="text_field_design"
                      prepend-inner-icon="mdi-account"
                      v-model="userCredential.username"
                      :rules="emailRule">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" class="mt-1">
                    <v-text-field
                      dense
                      outlined
                      type="password"
                      :label="`${$t('password')}`"
                      class="text_field_design"
                      prepend-inner-icon="mdi-key"
                      v-model="userCredential.password"
                      :rules="passwordRule"
                      @keypress.enter="loginUser">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12">
                    <v-btn
                      block
                      depressed
                      color="primary"
                      :loading="loading"
                      @click="loginUser"
                    >
                      {{ $t('login') }}
                    </v-btn>
                  </v-col>
                  <v-col cols="12" class="mt-2">
                    <v-row>
                      <v-col cols="4"></v-col>
                      <v-col  cols="4" class="text-center mt-2">
                        <nuxt-link
                          :to="{
                      name: 'store-authentication-forget-password',
                    }"
                        >
                          {{ $t('forget_password') }}
                        </nuxt-link>
                      </v-col>
                      <v-col  cols="4" class="text-right mt-2">
                        <nuxt-link
                          :to="{ name:'JoinNow' }"
                        >
                          {{ $t('store_registration') }}
                        </nuxt-link>
                      </v-col>
                    </v-row>
                  </v-col>




                </v-row>
              </v-form>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </client-only>
  </v-container>
</template>

<script>
import errorHandler from "@/helpers/shared/errorHandler";
import VerificationTypes from "@/components/store/verification-type";
import VerificationAccount from '@/components/store/otp-verification'

export default {

  name: "store-authentication-login",

  middleware: ['shared/noVisitIfAuthenticated'],

  components:{
    VerificationTypes,
    VerificationAccount
  },

  data() {
    return {
      openOtpTypeForm:false,
      verifyOtp:false,
      userCredential: {
        username: 'karankhanalpersonal@allpasal.test',
        password: 'admin123',
      },
      emailRule: [
        v => !!v || 'Email is required.'
      ],
      passwordRule: [
        v => !!v || 'Password is required.',
      ],
      serverErrors: [],
      showPassword: false,
      loading: false,
    }
  },

  head(){

   return {

     title:'Allpasal'

   }

  },

  methods: {
    close_open_otp_verification(){
      this.openOtpTypeForm = false
    },
    open_otp_verification(){
      this.verifyOtp = true;

      if(this.openOtpTypeForm){
        this.openOtpTypeForm = false
      }

    },
    close_otp_verification(){
      this.verifyOtp = false
      this.openOtpTypeForm = false
    },

    loginUser() {

      if (!this.$refs.loginForm.validate()) {
        return;
      }

      this.loading = true;

      this.$store.dispatch("login/login", this.userCredential).then(response => {

        this.loading = false;

        this.$store.commit("login/SET_ISLOGINED", true);
        this.$store.commit("login/SET_STORE_CRED", response["store_details"]);
        this.$store.commit("login/SET_ASSOCIATED_WAREHOUSE", response["connected_warehouses"]);
        this.$store.commit("login/SET_STORE_WAREHOUSE", response['connected_warehouses']);
        this.$store.dispatch("cart/loadAllCartProductsCount");

        this.$router.push({name: 'index'});

      }).catch((e) => {
        this.loading = false;
        if(e.response.data.code === 400){

          let data = {
            email:e.response.data.data.login_email,
            phone:e.response.data.data.login_phone,
            password:this.userCredential.password
          }
          this.$store.commit("login/SET_USER_DETAILS", data)
          this.openOtpTypeForm = true

        }else{
          errorHandler(e, this);
        }

      });

    }

  }

}
</script>

<style scoped>

</style>
