<template>
  <v-footer class="bg-gradient ma-0 pa-0">
    <v-container fluid class="contact-us pa-0">
      <v-container class="pa-0">
        <v-row no-gutters justify="space-between" class="pt-5 pb-8">
          <v-col cols="12" sm="3" md="2" lg="3" class="px-3 mb-3">
            <v-row no-gutters justify="center">
              <v-col cols="12" sm="12">
                <img :src="companyLogo" width="185" height="61" alt="Logo" />
              </v-col>
              <v-col cols="12" sm="12" class="footer-links white--text subtitle-2 mt-3" :class="$mq==='mobile'?'caption':'subtitle-2'">
                <v-icon color="#fff" class="mr-1">mdi-map-marker</v-icon>
                {{ companyAddress }}
              </v-col>
              <v-col cols="12" sm="12" class="footer-links white--text subtitle-2 mt-3" :class="$mq==='mobile'?'caption':'subtitle-2'">
                <v-icon color="#fff" class="mr-1">mdi-email</v-icon>
                {{ companyEmail }}
              </v-col>
              <v-col cols="12" sm="12" class="footer-links white--text subtitle-2 mt-3" :class="$mq==='mobile'?'caption':'subtitle-2'">
                <v-icon color="#fff" class="mr-1">mdi-phone</v-icon>
                {{ companyPrimaryContact }},
                {{ companySecondaryContact }}
              </v-col>
            </v-row>
          </v-col>
          <v-col
            cols="5"
            sm="12"
            md="3"
            lg="2"
            class="subtitle-2 mt-xs-2 px-3"
            :class="$mq==='mobile'?'caption':'subtitle-2'"
          >
            <div>
              <span
                class="pb-1"
                style="border-bottom: 3px solid #003574; color: #003574"
                :class="$mq==='mobile'?'caption':'subtitle-2'"
              >
                {{ $t("info") }}
              </span>
            </div>

            <div class="mt-4">
              <a
                class="footer-links white--text"
                target="_blank"
                href="https://forms.gle/pj7LTu4AWegrxYAJ9"
                :class="$mq==='mobile'?'caption':'subtitle-2'"
              >
                {{ $t("careers") }}
              </a>
            </div>

            <div class="mt-2">
              <router-link to="/about-us" class="footer-links white--text" :class="$mq==='mobile'?'caption':'subtitle-2'">
                {{ $t("about_us") }}
              </router-link>
            </div>

            <div class="mt-2">
              <router-link to="/contact-us" class="footer-links white--text" :class="$mq==='mobile'?'caption':'subtitle-2'">
                {{ $t("contact_us") }}
              </router-link>
            </div>

            <div class="mt-2">
              <router-link
                to="/privacy-policy"
                class="footer-links white--text"
                :class="$mq==='mobile'?'caption':'subtitle-2'"
              >
                {{ $t("privacy_policy") }}
              </router-link>
            </div>

            <div class="mt-2">
              <router-link
                to="/terms-and-condition"
                class="footer-links white--text"
                :class="$mq==='mobile'?'caption':'subtitle-2'"
              >
                {{ $t("terms_and_conditions") }}
              </router-link>
            </div>

            <div class="mt-2">
              <router-link to="/faq" class="footer-links white--text" :class="$mq==='mobile'?'caption':'subtitle-2'">
                {{ $t("faq") }}
              </router-link>
            </div>
            <div class="mt-2">
              <router-link to="/our-team" class="footer-links white--text" :class="$mq==='mobile'?'caption':'subtitle-2'">
                {{ $t("our_team") }}
              </router-link>
            </div>
            <div class="mt-2">
              <router-link
                to="/vision-mission"
                class="footer-links white--text"
                :class="$mq==='mobile'?'caption':'subtitle-2'"
              >
                {{ $t("vision_mission") }}
              </router-link>
            </div>
          </v-col>
          <v-col cols="7" sm="12" md="2" lg="2" class="px-3">
            <span
              class="pb-1"
              style="border-bottom: 3px solid #003574; color: #003574"
              :class="$mq==='mobile'?'caption':'subtitle-2'"
            >
              {{$t('find_us_on')}}
            </span>

            <div class="mt-5">
              <img
                src="@/assets/img/shared/playstore.png"
                width="100"
                alt="Logo"
              />
            </div>
          </v-col>
          <v-col cols="4" sm="3" md="2" lg="2" class="px-3">
            <span
              class="pb-1"
              style="border-bottom: 3px solid #003574; color: #003574"
              :class="$mq==='mobile'?'caption':'subtitle-2'"
            >
              {{$t('language')}}
            </span>

            <div
              class="mt-2"
              v-for="el in locales"
              :key="el.code"
              :class="{ active: el.code === locale }"
            >
              <a
                @click="switchLanguage(el.code)"
                class="footer-links white--text subtitle-2"
                :class="$mq==='mobile'?'caption':'subtitle-2'"
              >
                {{ el.name }}
              </a>
            </div>
          </v-col>
          <v-col cols="12" sm="3" md="3" lg="2" xl="2" class="px-3">
            <div>
              <span
                class="pb-1"
                style="border-bottom: 3px solid #003574; color: #003574"
                :class="$mq==='mobile'?'caption':'subtitle-2'"
              >
                {{$t('newsletter')}}
              </span>
            </div>

            <v-row no-gutters dense>
              <v-col cols="8">
                <v-text-field
                  placeholder="Subscribe to newsletter"
                  solo
                ></v-text-field>
              </v-col>
              <v-col cols="3" class="px-1">
                <v-btn color="#E35A30" height="48" class="white--text"
                  >{{$t('subscribe')}}</v-btn
                >
              </v-col>
            </v-row>

            <v-row no-gutters>
              <v-col cols="12" class="text-center">
                <v-btn class="mx-2" icon dark small color="primary">
                  <a :href="facebook" alt="" style="text-decoration: none;">
                    <v-icon color="#fff" dark> mdi-facebook </v-icon>
                  </a>
                </v-btn>
                <v-btn class="mx-2" icon dark small color="primary">
                  <a :href="instagram" style="text-decoration: none;">
                    <v-icon color="#fff" dark> mdi-instagram </v-icon>
                  </a>
                </v-btn>

                <v-btn class="mx-2" icon dark small color="primary">
                  <a :href="twitter" style="text-decoration: none;">
                    <v-icon color="#fff" dark> mdi-twitter </v-icon>
                  </a>
                </v-btn>

                <!-- <v-btn class="mx-2" icon dark small color="primary">
                  <a href="https://www.facebook.com/1c.sir" style="text-decoration: none;">
                    <v-icon color="#fff" dark> mdi-telegram </v-icon>
                  </a>
                </v-btn> -->
              </v-col>
            </v-row>
          </v-col>
        </v-row>

        <v-divider></v-divider>

        <v-row :class="$mq==='mobile'?'caption':'subtitle-2'" no-gutters justify="center" class="text-center white--text pt-7">
          <v-col cols="11" class="text-center pb-3">
            {{ companyDescription }}
          </v-col>
        </v-row>
      </v-container>

      <v-row :class="$mq==='mobile'?'caption':'subtitle-2'" no-gutters style="background-color: #003574">
        <v-col cols="12" class="text-center white--text pt-3 pb-2">
          {{ $t("footer_allpasal") }} © {{ currentYear }}
          {{ $t("online_store") }}. {{ $t("all_rights_reserved") }}.
          <span v-if="$store.state.locale.locale==='en'" class="text-decoration-underline ml-1" style="color: #ff6914">
            {{ $t("designed_by") }} {{$t("heaven_maker_group")}}.</span>

            <span v-else class="text-decoration-underline ml-1" style="color: #ff6914">
             {{$t("heaven_maker_group")}} {{ $t("designed_by") }}.</span>

        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script>
import { mapGetters } from "vuex";
import dataFormatter from "@/helpers/shared/dataFormatter";

export default {
  name: "Footer",
  data: () => ({
    subscribeNewsLetter: "",
    subscribeNewsLetterServerResponse: {
      status: false,
      message: "",
    },
    alertType: "",
    currentYear: new Date().toISOString().substring(0, 4),
  }),
  computed: {
    ...mapGetters("settings", {
      companyLogo: "getCompanyLogo",
      companyAddress: "getCompanyAddress",
      companyPrimaryContact: "getCompanyPrimaryContact",
      companySecondaryContact: "getCompanySecondaryContact",
      companyEmail: "getCompanyEmail",
      companyDescription: "getCompanyDescription",
      facebook:"getCompanyFacebookLink",
      instagram: "getCompanyInstagramLink",
      twitter: "getCompanyTwitterLink"
    }),
    locales() {
      return this.$store.state.locale.locales;
    },

    locale() {

      return this.$store.state.locale.locale;

    },
  },

  methods: {
    switchLanguage(localeCode) {
      document.cookie = `locale=${localeCode}`;

      this.$store.commit("locale/SET_LANG", localeCode);

      location.reload();
    },
  },
};
</script>

<style lang="scss" scoped>
.footer-links {
  color: grey;
  text-decoration: none;
  font-weight: normal;
}

.bg-gradient {
  // background: rgb(44, 67, 115);
  // background: linear-gradient(
  //   344deg,
  //   rgba(44, 67, 115, 1) 52%,
  //   rgba(122, 82, 82, 1) 100%
  // );
  background-color: #F4F4F4;
}

.footer-links {
  color: #424245  !important;
}
</style>
