<template>
  <v-card outlined class="mt-3 pb-5" >
    <client-only>
      <v-skeleton-loader v-if="!statementDetail"
                         v-bind="attrs"
                         type="table-heading, list-item-two-line, image, table"
      ></v-skeleton-loader>
      <div v-else>
        <BalanceStatementHeader />
        <v-row no-gutters>
          <v-col cols="12" class="primaryHeaderColor subtitle-1 font-weight-medium px-3 pt-2 pb-1">
            Balance Statement
          </v-col>
          <v-col cols="12" class="body-2 px-3 pt-3">
            <v-row no-gutters>
              <v-col cols="12">
                <v-card outlined>
                  <v-row no-gutters>
                    <v-col cols="12" class="primaryHeaderColor body-2 font-weight-medium px-3 pt-2 pb-1">
                      Filter
                    </v-col>

                    <v-col cols="12" class="pa-3">
                      <v-row no-gutters>
                        <v-col cols="12" sm="3" md="3" lg="2" xl="2">
                          <v-menu
                            offset-y
                            min-width="290px"
                            transition="scale-transition"
                            :nudge-right="40"
                            :close-on-content-click="false"
                            v-model="startDateMenu"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              Start Date:
                              <v-text-field
                                solo
                                dense
                                v-on="on"
                                hide-details
                                v-bind="attrs"
                                style="width: 150px;"
                                placeholder="Start Date"
                                prepend-inner-icon="mdi-calendar"
                                class="text_field_with_prepend_inner_icon mt-1"
                                v-model="startDate"

                              >
                              </v-text-field>
                            </template>

                            <v-date-picker
                              v-model="startDate"
                              @input="showSearchResultForDateStart(startDate)"
                            >
                            </v-date-picker>
                          </v-menu>
                        </v-col>

                        <v-col cols="12" sm="3" md="3" lg="2" xl="2">
                          <v-menu
                            offset-y
                            min-width="290px"
                            transition="scale-transition"
                            :nudge-right="40"
                            :close-on-content-click="false"
                            v-model="endDateMenu"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              End Date:
                              <v-text-field
                                solo
                                dense
                                v-on="on"
                                hide-details
                                v-bind="attrs"
                                style="width: 150px;"
                                placeholder="End Date"
                                prepend-inner-icon="mdi-calendar"
                                class="text_field_with_prepend_inner_icon mt-1"
                                v-model="endDate">
                              </v-text-field>
                            </template>

                            <v-date-picker
                              v-model="endDate"
                              @input="showSearchResultForDateEnd(startDate)"
                            >
                            </v-date-picker>
                          </v-menu>
                        </v-col>

                        <v-col cols="12" sm="3" md="3" lg="4" xl="2">
                          Transaction Type
                          <v-autocomplete
                            solo
                            dense
                            hide-details
                            item-text="name"
                            item-value="code"
                            placeholder="-- Select Type -- "
                            class="auto_complete_with_append_inner_icon mt-1"
                            :items="transactionTypeList"
                            v-model="selectedTransactionType"
                            @input="selectTransactionType(selectedTransactionType)"
                          >
                          </v-autocomplete>
                        </v-col>

                        <v-col cols="12" sm="3" md="3" lg="3" xl="2"  class="text-right align-content-sm-start mt-5">
                          <v-btn
                            small
                            depressed
                            class="primary"
                            @click="filterData"
                          >
                            <v-icon left>mdi-filter</v-icon>
                            Filter
                          </v-btn>

                          <v-btn
                            small
                            depressed
                            class="ml-2"
                            color="success"
                            @click="resetFilter"
                          >
                            Reset
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>

              <v-col cols="12" class="caption mt-5 px-3">
                <v-row no-gutters>
                  <v-col cols="12" sm="12" md="3" class="mt-2">
                    Total Items: <span class="font-weight-bold">{{ totalItems }}</span>
                  </v-col>
                  <v-row no-gutters align="center">
                    <v-col cols="4" xl="3" lg="3" md="4" sm="4">
                      <list-per-page class="ml-4" store="statement"></list-per-page>
                    </v-col>
                  </v-row>
                </v-row>
              </v-col>
              <!--          v-if="statementList.length !== 0"-->
              <v-col cols="12" class="mt-5 pb-3">
                <v-card outlined>
                  <v-data-table
                    v-if="statementDetail"
                    disable-sort
                    disable-filtering
                    hide-default-footer
                    :headers="tableHeaders"
                    :items="statementDetail.data"
                    :items-per-page="itemPerPage"
                    :loading="loadingItems"
                  >
                    <template v-slot:no-data>
                      No data available at the moment
                    </template>

                    <template v-slot:item.verified_at="{ item }">
                      {{ item['verified_at'].substring(0, 10) }}
                    </template>

                    <template v-slot:item.transaction_type="{ item }">
                      {{ item['transaction_type'] }}
                    </template>

                    <template v-slot:item.debit="{ item }">
                      <div v-if="item['accounting_entry_type'] ==='dr'">
                        {{ formatCurrency(item['transaction_amount']) }}
                      </div>

                      <div v-else>---</div>
                    </template>

                    <template v-slot:item.credit="{ item }">
                      <div v-if="item['accounting_entry_type'] ==='cr'">
                        {{ formatCurrency(item['transaction_amount']) }}
                      </div>

                      <div v-else>---</div>
                    </template>

                    <template v-slot:item.current_balance="{ item }">
                      <span class="caption">{{ item['current_balance'] }}</span>
                    </template>
                  </v-data-table>
                </v-card>
              </v-col>
            </v-row>
          </v-col>

        </v-row>
        <pagination v-if="!loadingItems && statementDetail" store="statement" :disable=this.loadingItems
                    collection="list_of_statement"></pagination>
      </div>
    </client-only>
  </v-card>
</template>

<script>
import statementRegister from "@/store/store/statement";
import stringHandler from '@/helpers/shared/dataFormatter'
import BalanceStatementHeader from "../../../../components/store/payment/offline-header/Header";
export default {
  name: "index",
  components: {
    BalanceStatementHeader,
    ListPerPage: () => import("@/components/shared/list-per-page"),
    Pagination: () => import("@/components/shared/pagination")
  },
  layout: 'store-dashboard',
  middleware: 'shared/authenticated',
  data: () => ({
    startDateMenu: false,
    endDateMenu: false,
    startDate: null,
    endDate: null,
    transactionTypeList: [],
    selectedTransactionType: null,
    totalItems: null,
    itemsPerPageList: [10, 20, 50],
    itemPerPage: 10,
    totalPages: null,
    page: 1,
    tableHeaders: [
      {
        text: 'S.N.',
        value: 'serial_no',
      },
      {
        text: 'Date',
        value: 'verified_at',
      },
      {
        text: 'Transaction Type',
        value: 'transaction_type',
      },
      {
        text: 'Debit',
        value: 'debit'
      },
      {
        text: 'Credit',
        value: 'credit'
      },
      {
        text: 'Current Balance',
        value: 'current_balance',
      },
    ],
    statementList: [],
    tableLoadingState: true,
    currentTotalAmount: 0,
    isDataLoaded: false,
  }),
  computed: {
    statementDetail(){
      return this.$store.getters['statement/GET_STATEMENT_LIST']
    },

    loadingItems() {

      return this.$store.state.statement.loading;

    },
    itemsPerPage() {
      if (this.$store.state.statement.list_of_statement.length > 0) {

        return this.$store.state.statement.list_of_statement.meta.per_page;

      } else {

        return 10;

      }



    },


  },
   fetch(){
    !this.$store.hasModule('statement') ? this.$store.registerModule('statement', statementRegister) : '';
    this.getStatementList();
    this.transactionList();
  },
  methods: {
    async transactionList(){
      this.transactionTypeList.length = 0
      let { data } = await this.$store.dispatch('statement/getTransactionTypes');
      this.transactionTypeList = data['transaction_purposes'];
    },
    filterData() {
      this.tableLoadingState = true;

      this.getStatementList()
    },
    resetFilter() {
      this.startDate = '';
      this.endDate = '';
      this.selectedTransactionType = '';
      this.$store.commit("tableConfig/CLEAR_TABLE_CONFIG", '');
      this.$store.commit("tableConfig/SET_PAGE_NUMBER", 1);
      this.getStatementList();
    },
    getStatementList() {
      this.tableLoadingState = true;
      let returnObj = stringHandler.filter(this.$store.state.tableConfig.config)
      this.$store.dispatch('statement/getBalanceStatements', returnObj).then(() => {
        this.tableLoadingState = false;
        this.$store.commit('statement/SET_LOADER_FOR_TABLE', false);
      }).catch(()=>{
        this.tableLoadingState  = false
        this.$store.commit('statement/SET_LOADER_FOR_TABLE', false);
      }).finally(()=>{
        this.tableLoadingState = false
        this.$store.commit('statement/SET_LOADER_FOR_TABLE', false);
      })
    },
    formatCurrency(amount) {
      return stringHandler.formatCurrency(amount);
    },
    showSearchResultForDateStart(start_date){
      this.startDateMenu = false;
      this.$store.commit("tableConfig/SET_TRANSACTION_DATE_FROM", start_date);

      this.$store.commit("tableConfig/SET_PAGE_NUMBER", 1);
    },
    showSearchResultForDateEnd(end_date){
      this.endDateMenu = false;
      this.$store.commit("tableConfig/SET_TRANSACTION_DATE_TO", end_date);

      this.$store.commit("tableConfig/SET_PAGE_NUMBER", 1);
    },
    selectTransactionType(value){
      this.$store.commit("tableConfig/SET_TRANSACTION_TYPE", value);

      this.$store.commit("tableConfig/SET_PAGE_NUMBER", 1);
    }
  }
}
</script>

<style scoped>

</style>
