<template>
  <v-container class="pa-0 pr-3 pb-6" fluid>
    <client-only>
      <div v-if="loading">
        <v-skeleton-loader
          v-bind="attrs"
          type="table-heading, list-item-two-line, image, table"
        ></v-skeleton-loader>
      </div>
      <div v-if="singlePreOrderProducts">
        <v-row no-gutters class="pa-2" style="background-color: #e1e5e7">
          <v-col cols="12" lg="6" sm="12">
        <span class="font-weight-medium text-uppercase ml-2">Pre Order Detail for Code: <span
          class="font-weight-bold ml-2">{{ singlePreOrderProducts.store_preorder_code }}</span></span>
          </v-col>
          <v-col cols="12" lg="5" md="6" sm="4">
            <v-row v-if="!hideTimer" no-gutters class="mt-2 mt-lg-0 mt-xl-0">
              <v-col cols="2">
                <div class="caption font-weight-medium mt-2 text-center">Ends In:</div>
              </v-col>
              <v-col cols="10">

                <Timer class="timer_for_pre_order" :end_time="endTimeForTimer" :is_final_time="finalTimeBegins"
                       v-on:change-end-time-with-finalization-time="changeEndTimeWithFinalizationTime"
                       v-on:finalization-time-ended="finalizationTimeEnded"
                >
                </Timer>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" lg="1" md="6" sm="3" class="mt-2 mt-lg-0 mt-xl-0 pl-2 pl-sm-0 pl-lg-0 pl-md-1  ">
            <v-chip v-if="singlePreOrderProducts.payment_status" text-color="white" label small color="green">Paid
            </v-chip>
            <v-chip v-else text-color="white" label small color="red">UnPaid</v-chip>
          </v-col>
          <v-col class="mt-2" cols="12" lg="3" md="6">
            <div class="caption mt-2 ml-2">Start Time: <span
              class="font-weight-medium ml-2">{{ singlePreOrderProducts.readable_time.start_time }}</span></div>
          </v-col>
          <v-col class="mt-2" cols="12" lg="3" md="6">
            <div class="caption mt-2 ml-2">End Time: <span
              class="font-weight-medium ml-2">{{ singlePreOrderProducts.readable_time.end_time }}</span></div>
          </v-col>
          <v-col class="mt-2" cols="12" lg="4" md="6">
            <div class="caption mt-2 ml-2">Finalization Time: <span
              class="font-weight-medium ml-2">{{ singlePreOrderProducts.readable_time.finalization_time }}</span></div>
          </v-col>
          <v-col class="mt-2" cols="12" lg="2" md="6">
            <div class="caption mt-2 ml-2">Total Products: <span
              class="font-weight-medium ml-2">{{ singlePreOrderProducts.product_count }}</span>
            </div>
          </v-col>
          <v-col cols="12" lg="3" md="6" class="mt-2">
            <div class="caption mt-2 ml-2">Total Price: <span
              class="font-weight-bold ml-2">Rs. {{
                (preOrderTaxableTotalAmount + preOrderNonTaxableTotalAmount).toFixed(2)
              }}</span>
            </div>
          </v-col>
          <v-col cols="12" lg="3" md="6" class="mt-2">
            <div class="caption mt-2 ml-2">Pre Order Status:
              <v-chip
                :color="preOrderStatusColor[singlePreOrderProducts.store_preorder_status]"
                label
                small
                text-color="white"
                class="ml-2"
              >{{ preOrderStatusName[singlePreOrderProducts.store_preorder_status] }}
              </v-chip>
            </div>
          </v-col>
          <v-col cols="12" lg="3" md="6" class="mt-2">
            <div class="caption mt-2 ml-2">Payment Status:
              <v-chip class="ml-2" v-if="singlePreOrderProducts.payment_status" text-color="white" label small
                      color="green">Paid
              </v-chip>
              <v-chip class="ml-2" v-else text-color="white" label small color="red">UnPaid</v-chip>
            </div>
          </v-col>
          <v-col cols="12" lg="3" md="6" v-if="finalTimeBegins">
            <div class="font-weight-bold subtitle-2 mt-4 ml-2 dark_blue_text">Finalization Time Has Begun
              <v-tooltip
                bottom
                open-delay="180"
                close-delay="180"
                max-width="270"
                transition="slide-y-transition"
                nudge-right="0"
                nudge-top="5"
                color="darkBlue"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    v-bind="attrs"
                    v-on="on"
                    class="links"
                    dark
                    color="darkBlue"
                    size="20">
                    mdi-information
                  </v-icon>
                </template>
                <span class="caption white--text tooltiptextFinalizationTime">
                Your Pre Order time has ended. You can either update the product quantity or remove it until <span
                  class="ml-1 text-decoration-underline font-weight-bold">{{
                    singlePreOrderProducts.preorder_finalization_time
                  }}</span>
              </span>
              </v-tooltip>
            </div>
          </v-col>
          <v-col cols="12" lg="3" md="6" v-if="finalTimeEnds">
            <div class="font-weight-bold subtitle-2 mt-4 ml-2 red--text">Finalization Time Has Ended
              <v-tooltip
                bottom
                open-delay="180"
                close-delay="180"
                max-width="270"
                transition="slide-y-transition"
                nudge-right="0"
                nudge-top="5"
                color="red"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    v-bind="attrs"
                    v-on="on"
                    class="links"
                    dark
                    color="red"
                    size="20">
                    mdi-information
                  </v-icon>
                </template>
                <span class="caption white--text tooltipFinalTimeEnded">
                Your Pre Order Finalization time has elapsed. You cannot update the quantity neither can remove the product.
              </span>
              </v-tooltip>
            </div>
          </v-col>
          <v-col cols="12">
            <!--          <v-row class="mt-4" no-gutters>-->
            <!--            <v-col cols="12" xl="4" lg="4">-->
            <!--              <div v-if="singlePreOrderProducts.is_individual_target_acquired"-->
            <!--                   class="green&#45;&#45;text font-weight-medium subtitle-2 mb-2">-->
            <!--                <v-icon size="17" class="mr-2" small color="green">mdi-check-decagram</v-icon>-->
            <!--                Individual Target Has Been Achieved.-->
            <!--              </div>-->
            <!--              <div v-else class="red&#45;&#45;text font-weight-medium subtitle-2 mb-2">-->
            <!--                <v-icon size="17" class="mr-2" color="red" small>mdi-close-octagon</v-icon>-->
            <!--                Individual Target Has Not Been Achieved.-->
            <!--              </div>-->
            <!--              <div class="caption">Total Individual Target : <span-->
            <!--                  class="font-weight-bold">Rs .{{ singlePreOrderProducts.targets.total_individual_target }}</span></div>-->
            <!--            </v-col>-->
            <!--            <v-col cols="12" xl="4" class="mt-xl-0 mt-lg-0 mt-4" lg="4">-->
            <!--              <div v-if="singlePreOrderProducts.is_group_target_acquired"-->
            <!--                   class="green&#45;&#45;text font-weight-medium subtitle-2 mb-2">-->
            <!--                <v-icon size="17" class="mr-2" small color="green">mdi-check-decagram</v-icon>-->
            <!--                Group Target Has Been Achieved.-->
            <!--              </div>-->
            <!--              <div v-else class="red&#45;&#45;text font-weight-medium subtitle-2 mb-2">-->
            <!--                <v-icon size="17" class="mr-2" small color="green">mdi-close-octagon</v-icon>-->
            <!--                Group Target Has Not Been Achieved.-->
            <!--              </div>-->
            <!--&lt;!&ndash;              <div class="caption mb-2">Total Group Target : <span&ndash;&gt;-->
            <!--&lt;!&ndash;                  class="font-weight-bold">Rs .{{ singlePreOrderProducts.targets.total_group_target }}</span></div>&ndash;&gt;-->
            <!--&lt;!&ndash;              <div class="caption">Total Group Order : <span&ndash;&gt;-->
            <!--&lt;!&ndash;                  class="font-weight-bold">Rs .{{ singlePreOrderProducts.targets.total_group_order }}</span></div>&ndash;&gt;-->
            <!--            </v-col>-->
            <!--          </v-row>-->
          </v-col>
        </v-row>
        <v-card class="px-3 ma-xl-3 ma-lg-3 mt-xl-3 mt-lg-3" elevation="2" tile color="#fbfbfb">
          <v-row class="pt-3" dense no-gutters>
            <v-col cols="12" xl="3" lg="3" md="5">
              <v-row no-gutters>
                <v-col cols="12" xl="12" lg="12">
                  <span class="caption font-weight-medium">Product Name:</span>
                </v-col>
                <v-col cols="11" xl="11" lg="11" md="11">
                  <v-text-field
                    solo
                    v-model="product_name"
                    dense
                    label="Product Name"
                    class="simple_text_field"
                    @input="showResultByProductName(product_name)"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col cols="12" xl="12" lg="12">
                  <span class="caption font-weight-medium">Product Status:</span>
                </v-col>
                <v-col cols="12" xl="11" lg="11" md="11" sm="11">
                  <v-autocomplete
                    class="auto_complete_with_append_inner_icon"
                    dense
                    solo
                    label="--Product Status--"
                    v-model="is_active"
                    :items="isActiveItems"
                    item-text="name"
                    item-value="value"
                    @change="showResultByProductStatus(is_active)"
                  ></v-autocomplete>
                </v-col>
              </v-row>
            </v-col>
            <v-col class="pa-0 pa-xl-4 pa-lg-4 pa-md-4" cols="12" xl="9" lg="9" md="6">
              <v-row style="background-color: white;border:1px solid #e5e5e5">
                <v-col cols="12" class="pa-xl-2 pa-lg-2" style="background-color: #b7b7b7;">
                  <span class="font-weight-bold caption white--text">Select Date</span>
                </v-col>
                <v-col cols="6" xl="6" lg="6" class="mt-xl-1 mt-lg-1">
                  <v-row dense>
                    <v-col cols="12" xl="12" lg="12">
                      <span class="caption font-weight-medium">Start Time:</span>
                    </v-col>
                    <v-col cols="12" xl="12" lg="12">
                      <v-menu
                        v-model="dateFromDatePicker"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            solo
                            v-model="selected_date_from"
                            dense
                            height="30"
                            label="Select Date From"
                            prepend-inner-icon="mdi-calendar"
                            class="text_field_with_prepend_inner_icon"
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker @input="showSearchResultForDateFrom(selected_date_from)" color="darkBlue"
                                       v-model="selected_date_from"></v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="6" xl="6" lg="6" class="mt-xl-1 mt-lg-1 pb-0">
                  <v-row dense>
                    <v-col cols="12" xl="12" lg="12">
                      <span class="caption font-weight-medium">End Time:</span>
                    </v-col>
                    <v-col cols="12" xl="12" lg="12">
                      <v-menu
                        v-model="dateToDatePicker"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            solo
                            v-model="selected_date_to"
                            dense
                            height="30"
                            label="Select Date To"
                            prepend-inner-icon="mdi-calendar"
                            class="text_field_with_prepend_inner_icon"
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker color="darkBlue" v-model="selected_date_to"
                                       @input="showSearchResultForDateTo(selected_date_to)"></v-date-picker>
                      </v-menu>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="2" class="pt-0">
                  <v-btn dark tile @click="clearDates" x-small color="darkBlue">Reset</v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row dense no-gutters>
            <v-col cols="12" xl="9" lg="9">
              <v-alert
                dense
                outlined
                color="darkBlue"
                type="info"
                border="left"
              >
                <v-row no-gutters>
                  <v-col cols="3">
                    <div class="caption font-weight-medium">Product with color</div>
                  </v-col>
                  <v-col cols="2" class="pa-2">
                    <div
                      style="background-color:#ffd6be;height: 20px;width: 20px;margin-top: -8px;border: 1px solid #a9a9a9;"></div>
                  </v-col>
                  <v-col cols="7">
                    <div class="caption font-weight-medium">indicates the product is <span
                      class="red--text">in-active</span>.You cannot update the quantity until it is active.
                    </div>
                  </v-col>
                </v-row>
                <v-row no-gutters>
                  <v-col cols="3">
                    <div class="caption font-weight-medium">Product with color</div>
                  </v-col>
                  <v-col cols="2" class="pa-2">
                    <div
                      style="background-color:#ff5151;height: 20px;width: 20px;margin-top: -8px;border: 1px solid #a9a9a9;"></div>
                  </v-col>
                  <v-col cols="7">
                    <div class="caption font-weight-medium">indicates the product cannot be <span
                      class="red--text">delivered or it is cancelled.</span>.
                    </div>
                  </v-col>
                </v-row>
              </v-alert>
            </v-col>
            <v-col cols="12" xl="2" lg="2" class="pl-xl-10 pl-lg-10">
              <v-btn @click="showSearchResult()" block dark tile color="darkBlue"
                     class="ml-xl-16 ml-lg-16 mb-3 mt-2" :small="$mq !=='mobile'"
                     :loading="loadingItems">Search
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
        <v-row v-if="preOrderTaxableProducts.length>0" no-gutters class="mt-6">
          <v-data-table
            :headers="productHeaders"
            :items="preOrderTaxableProducts"
            item-key="serial_no"
            :item-class="changeBackgroundColor"
            class="elevation-2"
            no-data-text="No Orders Available at the moment."
            style="min-width: 100%"
          >
            <template v-slot:top>
              <v-row no-gutters style="background-color: #e1e5e7" class="pa-3">
                <v-col cols="12" lg="3" md="6">
                  <div class="subtitle-2 font-weight-medium "> Taxable Products: {{
                      preOrderTaxableProducts.length
                    }}
                  </div>
                </v-col>
                <v-col cols="12" lg="3" md="6">
                  <div class="subtitle-2 font-weight-medium text-lg-center text-md-right">Sub Total: Rs.
                    {{ preOrderTaxableSubTotal.toFixed(2) }}
                  </div>
                </v-col>
                <v-col cols="12" lg="3" md="6">
                  <div class="subtitle-2 font-weight-medium text-lg-center">Tax Amount(13%): Rs. {{
                      preOrderTaxableTaxAmount.toFixed(2)
                    }}
                  </div>
                </v-col>
                <v-col cols="12" lg="3" md="6">
                  <div class="subtitle-2 font-weight-medium text-lg-right text-md-right">Total Amount: Rs.
                    {{ preOrderTaxableTotalAmount.toFixed(2) }}
                  </div>
                </v-col>
              </v-row>
            </template>
            <template v-slot:item.serial_no="{item}" :class="item.is_active?'':'disable_row'">
              <span class="font-weight-medium caption">{{ item.serial_no }}.</span>
            </template>
            <template v-slot:item.product_name="{item}">
              <span class="font-weight-medium caption">{{ item.product_name }}</span>
              <div class="mt-2">
              <span v-if="item.product_variant_name"
                    class="font-weight-regular caption">Variants: {{ item.product_variant_name }}</span>
              </div>
            </template>
            <template v-slot:item.image="{item}">
              <v-img @click="showImagePreview(item.image)" class="my-2 image_hover" :src="item.image" width="50"
                     height="50"></v-img>
            </template>
            <template v-slot:item.initial_order_quantity="{item}">
              <span class="font-weight-medium caption">{{ item.initial_order_quantity }}</span>
            </template>
            <template v-slot:item.package_name="{item}">
              <span class="font-weight-medium caption">{{ item.package_name }}</span>
            </template>
            <template v-slot:item.quantity="{item}">
              <v-row v-if="singlePreOrderProducts.store_preorder_status==='pending'" class="mt-5" no-gutters dense>
                <v-col cols="3">
                  <v-hover v-slot:default="{ hover }">
                    <v-btn
                      tile
                      x-small
                      depressed
                      :ripple="false"
                      class="button_design"
                      :color="hover ? 'grey':'#e5e5e5'"
                      :loading="item.decreaseLoadingButton"
                      :disabled="item.disableDecreaseButton || !item.is_active || finalTimeEnds"
                      @click="decreasePreOrderProductQuantity(item,item.quantity)"
                    >
                      <v-icon size="10" :color="hover ? '#fff':'black'">mdi-minus</v-icon>
                    </v-btn>
                  </v-hover>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    class="ml-1"
                    :class="item.is_active?'quantity':'disable_quantity'"
                    dense
                    v-model="item.quantity"
                    height="30"
                    solo
                    :disabled="!item.is_active || finalTimeEnds"
                    type="number"
                    @input="updateQuantityFromTextBox(item)"
                  ></v-text-field>
                </v-col>
                <v-col cols="3">
                  <v-hover v-slot:default="{ hover }">
                    <v-btn
                      tile
                      x-small
                      depressed
                      class="button_design"
                      :ripple="false"
                      :loading="item.increaseLoadingButton"
                      :color="hover ? 'grey':'#e5e5e5'"
                      :disabled="item.disableIncreaseButton || !item.is_active || finalTimeEnds"
                      @click="increasePreOrderProductQuantity(item,item.quantity)"
                    >
                      <v-icon size="10" :color="hover ? '#fff':'black'">mdi-plus</v-icon>
                    </v-btn>
                  </v-hover>
                </v-col>
              </v-row>
              <div v-else>
                <div class="font-weight-medium caption">{{ item.quantity }}
                  <v-icon size="17"
                          v-if=" item.initial_order_quantity && item.quantity>item.initial_order_quantity && singlePreOrderProducts.store_preorder_status !=='cancelled'"
                          color="green">
                    arrow_upward
                  </v-icon>
                  <v-icon size="17"
                          v-if="item.initial_order_quantity && item.quantity<item.initial_order_quantity && singlePreOrderProducts.store_preorder_status !=='cancelled'"
                          color="red">
                    arrow_downward
                  </v-icon>
                </div>
              </div>
            </template>
            <template v-slot:item.unit_rate="{item}">
              <span class="font-weight-medium caption">Rs. {{ item.unit_rate.toFixed(2) }}</span>
            </template>
            <template v-slot:item.sub_total="{item}">
              <span class="font-weight-medium caption">Rs. {{ item.sub_total.toFixed(2) }}</span>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-btn :disabled="finalTimeEnds" @click="removeProductOpenDialog(item)" small icon>
                <v-icon small>mdi-delete</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-row>
        <v-row v-if="preOrderNonTaxableProducts.length>0" no-gutters class="mt-6">
          <v-data-table
            :headers="productHeaders"
            :items="preOrderNonTaxableProducts"
            item-key="serial_no"
            :item-class="changeBackgroundColor"
            class="elevation-2"
            no-data-text="No Orders Available at the moment."
            style="min-width: 100%"
          >
            <template v-slot:top>
              <v-row no-gutters style="background-color: #e1e5e7" class="pa-3">
                <v-col cols="12" lg="4" md="4">
                  <div class="subtitle-2 font-weight-medium text-left">Non Taxable Products: {{
                      preOrderNonTaxableProducts.length
                    }}
                  </div>
                </v-col>
                <v-col cols="12" lg="4" md="4">
                  <div class="subtitle-2 font-weight-medium text-lg-center text-md-center">Sub Total: Rs. {{
                      preOrderNonTaxableSubTotal.toFixed(2)
                    }}
                  </div>
                </v-col>
                <v-col cols="12" lg="4" md="4">
                  <div class="subtitle-2 font-weight-medium text-lg-right text-md-right">Total Amount: Rs.
                    {{ preOrderNonTaxableTotalAmount.toFixed(2) }}
                  </div>
                </v-col>
              </v-row>
            </template>
            <template v-slot:item.serial_no="{item}">
              <span class="font-weight-medium caption">{{ item.serial_no }}.</span>
            </template>
            <template v-slot:item.product_name="{item}">
              <span class="font-weight-medium caption">{{ item.product_name }}</span>
              <div class="mt-2">
              <span v-if="item.product_variant_name"
                    class="font-weight-regular caption">Variants: {{ item.product_variant_name }}</span>
              </div>
            </template>
            <template v-slot:item.image="{item}">
              <v-img @click="showImagePreview(item.image)" class="my-2 image_hover" :src="item.image" width="50"
                     height="50"></v-img>
            </template>
            <template v-slot:item.initial_order_quantity="{item}">
              <span class="font-weight-medium caption">{{ item.initial_order_quantity }}</span>
            </template>
            <template v-slot:item.package_name="{item}">
              <span class="font-weight-medium caption">{{ item.package_name }}</span>
            </template>
            <template v-slot:item.quantity="{item}">
              <v-row v-if="singlePreOrderProducts.store_preorder_status==='pending'" class="mt-5" no-gutters dense>
                <v-col cols="3">
                  <v-hover v-slot:default="{ hover }">
                    <v-btn
                      tile
                      x-small
                      depressed
                      :ripple="false"
                      class="button_design"
                      :color="hover ? 'grey':'#e5e5e5'"
                      :loading="item.decreaseLoadingButton"
                      :disabled="item.disableDecreaseButton || !item.is_active || finalTimeEnds"
                      @click="decreasePreOrderProductQuantity(item,item.quantity)"
                    >
                      <v-icon size="10" :color="hover ? '#fff':'black'">mdi-minus</v-icon>
                    </v-btn>
                  </v-hover>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    class="ml-1"
                    :class="item.is_active?'quantity':'disable_quantity'"
                    dense
                    v-model="item.quantity"
                    height="30"
                    solo
                    :disabled="!item.is_active || finalTimeEnds"
                    type="number"
                    @input="updateQuantityFromTextBox(item)"
                  ></v-text-field>
                </v-col>
                <v-col cols="3">
                  <v-hover v-slot:default="{ hover }">
                    <v-btn
                      tile
                      x-small
                      depressed
                      class="button_design"
                      :ripple="false"
                      :loading="item.increaseLoadingButton"
                      :color="hover ? 'grey':'#e5e5e5'"
                      :disabled="item.disableIncreaseButton || !item.is_active || finalTimeEnds"
                      @click="increasePreOrderProductQuantity(item,item.quantity)"
                    >
                      <v-icon size="10" :color="hover ? '#fff':'black'">mdi-plus</v-icon>
                    </v-btn>
                  </v-hover>
                </v-col>
              </v-row>
              <div v-else>
                <div class="font-weight-medium caption">{{ item.quantity }}
                  <v-icon size="17"
                          v-if=" item.initial_order_quantity && item.quantity>item.initial_order_quantity && singlePreOrderProducts.store_preorder_status !=='cancelled'"
                          color="green">
                    arrow_upward
                  </v-icon>
                  <v-icon size="17"
                          v-if="item.initial_order_quantity && item.quantity<item.initial_order_quantity && singlePreOrderProducts.store_preorder_status !=='cancelled'"
                          color="red">
                    arrow_downward
                  </v-icon>
                </div>
              </div>
            </template>
            <template v-slot:item.unit_rate="{item}">
              <span class="font-weight-medium caption">Rs. {{ item.unit_rate.toFixed(2) }}</span>
            </template>
            <template v-slot:item.sub_total="{item}">
              <span class="font-weight-medium caption">Rs. {{ item.sub_total.toFixed(2) }}</span>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-btn :disabled="finalTimeEnds" @click="removeProductOpenDialog(item)" small icon>
                <v-icon small>mdi-delete</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-row>
        <v-row no-gutters v-if="preOrderTaxableProducts.length===0 && preOrderNonTaxableProducts.length===0">
          <v-card elevation="3" width="100%">
            <v-row no-gutters align="center" justify="center" style="min-height: 60px;">
              <v-col cols="2">
                <div class="subtitle-2">No records found.</div>
              </v-col>
            </v-row>
          </v-card>
        </v-row>
        <v-row v-if="singlePreOrderProducts.dispatched_detail" dense class="mt-6">
          <v-card tile width="100%" elevation="3">
            <v-toolbar height="45" color="#e1e7ef">
              <span class="subtitle-1">Store Pre Order Dispatch Details:</span>
            </v-toolbar>
            <v-card-text class="px-0">
              <v-row no-gutters>
                <v-col cols="1" xl="1" lg="1">
                  <div class="text-center caption font-weight-bold">S.No.</div>
                </v-col>
                <v-col cols="3">
                  <div class="text-center caption font-weight-bold">Driver Name</div>
                </v-col>
                <v-col cols="1">
                  <div class="text-center caption font-weight-bold">Vehicle Type</div>
                </v-col>
                <v-col cols="2">
                  <div class="text-center caption font-weight-bold">Vehicle No.</div>
                </v-col>
                <v-col cols="2">
                  <div class="text-center caption font-weight-bold">Contact No.</div>
                </v-col>
                <v-col cols="3">
                  <div class="text-center caption font-weight-bold">Expected Delivery Time</div>
                </v-col>
              </v-row>
              <v-row no-gutters class="mt-2">
                <v-col cols="1">
                  <div class="caption text-center font-weight-medium">1.</div>
                </v-col>
                <v-col cols="3">
                  <div class="caption text-center font-weight-medium">
                    {{ singlePreOrderProducts.dispatched_detail.driver_name }}
                  </div>
                </v-col>
                <v-col cols="1">
                  <div class="caption text-center font-weight-medium">
                    {{ singlePreOrderProducts.dispatched_detail.vehicle_type }}
                  </div>
                </v-col>
                <v-col cols="2">
                  <div class="caption text-center font-weight-medium">
                    {{ singlePreOrderProducts.dispatched_detail.vehicle_number }}
                  </div>
                </v-col>
                <v-col cols="2">
                  <div class="caption text-center font-weight-medium">
                    {{ singlePreOrderProducts.dispatched_detail.vehicle_contact_number }}
                  </div>
                </v-col>
                <v-col cols="3">
                  <div class="caption text-center font-weight-medium">
                    {{ singlePreOrderProducts.dispatched_detail.expected_delivery_time }}
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-row>
        <v-row dense class="mt-6">
          <v-data-table
            style="width: 100%"
            class="elevation-1"
            :headers="statusLogHeaders"
            :items="singlePreOrderProducts['status_logs']"
            no-data-text="No Orders Available at the moment."
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Pre Order Status Change Log</v-toolbar-title>
              </v-toolbar>
            </template>
            <template v-slot:item.serial_no="{item}">
              <span class="font-weight-medium">{{ item.serial_no }}.</span>
            </template>
            <template v-slot:item.status="{item}">
              <v-chip label text-color="white" small
                      :color="getDeliveryStatusColor(item.status)"
                      dark
              >
                <span class="text-uppercase font-weight-medium">{{ item.status }}</span>
              </v-chip>
            </template>
            <template v-slot:item.created_at="{item}">
              <span class="font-weight-medium">{{ item.created_at }}</span>
            </template>
            <template v-slot:item.remarks="{item}">
            <span class="font-weight-medium" v-if="item.remarks">
              <v-btn @click="showRemarksInDialog(item.remarks)" small dark color="primary">Show remarks</v-btn>
            </span>
              <span class="font-weight-medium" v-else>No Remarks</span>
            </template>
          </v-data-table>
        </v-row>


        <v-dialog persistent width="400" v-model="showStatusLogRemarksDialog">
          <v-card>
            <v-card-title>Remarks</v-card-title>
            <v-card-text>
              <span v-html="statusLogRemarks"></span>

              <div class="mt-5 text-end">
                <v-btn small color="success" @click="showStatusLogRemarksDialog = false">Close</v-btn>
              </div>
            </v-card-text>
          </v-card>
        </v-dialog>

        <!--      <v-dialog persistent width="450" v-model="deleteProductDialog">-->
        <!--        <v-card color="grey lighten-4">-->
        <!--          <v-card-title class="subtitle-1 red lighten-1">-->
        <!--            <v-icon class="mr-3" color="white" size="30">mdi-alert</v-icon>-->
        <!--            <span class="white&#45;&#45;text">Warning</span>-->
        <!--          </v-card-title>-->
        <!--          <v-card-text class="black&#45;&#45;text body-2 pt-4">-->
        <!--            Are you sure you want to remove product <span class="font-weight-medium">{{ deleteProductName }}</span> from-->
        <!--            Pre Order List? Once it is deleted, it can't be undone.-->
        <!--          </v-card-text>-->

        <!--          <v-divider></v-divider>-->

        <!--          <v-card-actions class="grey lighten-3">-->
        <!--            <v-spacer></v-spacer>-->
        <!--            <div>-->
        <!--              <v-btn-->
        <!--                  text-->
        <!--                  small-->
        <!--                  color="red"-->
        <!--                  @click="deleteProductFromPreOrderList"-->
        <!--              >-->
        <!--                Delete Anyways-->
        <!--              </v-btn>-->
        <!--            </div>-->
        <!--            <v-btn-->
        <!--                text-->
        <!--                small-->
        <!--                color="#333"-->
        <!--                @click="deleteProductDialog = false"-->
        <!--            >-->
        <!--              Cancel-->
        <!--            </v-btn>-->
        <!--          </v-card-actions>-->
        <!--        </v-card>-->
        <!--      </v-dialog>-->
        <v-snackbar
          :color="this.success ? 'green': 'red'"
          v-model="snackbar"
          bottom
          right
        >
          <span>{{ snackBarMessage }}</span>

          <template v-slot:action="{ attrs }">
            <v-btn
              text
              v-bind="attrs"
              @click="snackbar = false"
            >
              OK
            </v-btn>
          </template>
        </v-snackbar>
        <v-dialog v-model="showImagePreviewDialog" width="450">
          <v-img width="450" height="550" :src="selectedImage"></v-img>
        </v-dialog>
      </div>
    </client-only>
  </v-container>
</template>

<script>
import errorHandler from "@/helpers/shared/errorHandler";
import Timer from "@/components/store/timer";

export default {
  name: "_pre_order_code",
  components: {
    Timer
  },
  layout: 'store-dashboard',
  middleware: 'shared/authenticated',
  data() {
    return {
      singlePreOrderProducts: null,
      loading: true,
      taxablePreOrderProducts: [],
      nonTaxablePreOrderProducts: [],
      show: false,
      deleteProductName: '',
      storePreOrderCode: null,
      preOrderProductCode: null,
      deleteProductDialog: false,
      snackbar: false,
      snackBarMessage: '',
      success: false,
      showImagePreviewDialog: false,
      selectedImage: '',
      endTimeForTimer: null,
      finalTimeForTimer: null,
      product_name: '',
      is_active: '',
      isActiveItems: [
        {
          id: 1,
          name: 'All',
          value: 'all'
        },
        {
          id: 2,
          name: 'Active',
          value: 'yes'
        },
        {
          id: 3,
          name: 'In Active',
          value: 'no'
        }
      ],
      dateFromDatePicker: false,
      selected_date_from: '',
      selected_date_to: '',
      dateToDatePicker: false,
      loadingItems: false,
      finalTimeBegins: false,
      hideTimer: false,
      finalTimeEnds: false,
      preOrderTaxableSubTotal: 0,
      watchForSubTotalChange: null,
      preOrderTaxableTaxAmount: 0,
      preOrderTaxableTotalAmount: 0,
      preOrderNonTaxableSubTotal: 0,
      preOrderNonTaxableTaxAmount: 0,
      preOrderNonTaxableTotalAmount: 0,
      preOrderStatusName: {
        'cancelled': 'Cancelled',
        'pending': 'Pending',
        'dispatched': 'Dispatched',
        'finalized': 'Finalized'
      },
      preOrderStatusColor: {
        'cancelled': 'red',
        'pending': 'orange',
        'dispatched': 'green',
        'finalized': 'green'
      },
      statusLogHeaders: [
        {
          text: 'S.N.',
          sortable: false,
          align: 'left',
          value: 'serial_no',
        },
        {
          text: 'Delivery Status',
          sortable: false,
          align: 'left',
          value: 'status',
        },
        {
          text: 'Status Updated At',
          align: 'left',
          sortable: false,
          value: 'created_at',
        },
        {
          text: 'Remarks',
          align: 'center',
          sortable: false,
          value: 'remarks',
        },
      ],
      showStatusLogRemarksDialog: false,
      statusLogRemarks: '',
      notifications: null
    }
  },
  fetch() {

    this.showPreOrderProducts();

  },

  watch: {

    preOrderDetailProductsList: {

      handler() {

        this.taxablePreOrderProducts = [];

        this.nonTaxablePreOrderProducts = [];

        this.preOrderDetailProductsList.map(product => {

          if (product['is_taxable']) {

            this.taxablePreOrderProducts.push(product);

          } else {

            this.nonTaxablePreOrderProducts.push(product);

          }

          this.taxablePreOrderProducts.map((product, index) => {

            product.serial_no = index + 1;

            product.decreaseLoadingButton = false;

            product.increaseLoadingButton = false;

            product.disableDecreaseButton = false;

            product.disableIncreaseButton = false;

          });

          this.nonTaxablePreOrderProducts.map((product, index) => {

            product.serial_no = index + 1;

            product.decreaseLoadingButton = false;

            product.increaseLoadingButton = false;

            product.disableDecreaseButton = false;

            product.disableIncreaseButton = false;

          });

          this.watchForSubTotalChange = product;

        });

      },

      immediate: true

    },

    watchForSubTotalChange: {

      handler() {

        this.preOrderTaxableSubTotal = 0;

        let payablePriceForTaxableProducts = this.preOrderTaxableProducts.filter(data => data.payable);

        for (let i = 0; i < payablePriceForTaxableProducts.length; i++) {

          this.preOrderTaxableSubTotal += payablePriceForTaxableProducts[i]['sub_total'];

        }

        this.preOrderTaxableTaxAmount = 0.13 * this.preOrderTaxableSubTotal;

        this.preOrderTaxableTotalAmount = this.preOrderTaxableSubTotal + this.preOrderTaxableTaxAmount;


        this.preOrderNonTaxableSubTotal = 0;

        let payablePriceForNonTaxableProducts = this.preOrderNonTaxableProducts.filter(data => data.payable);

        for (let i = 0; i < payablePriceForNonTaxableProducts.length; i++) {

          this.preOrderNonTaxableSubTotal += payablePriceForNonTaxableProducts[i]['sub_total'];

        }

        this.preOrderNonTaxableTotalAmount = this.preOrderNonTaxableSubTotal;

      },

      immediate: true

    }

  },

  computed: {

    productHeaders() {

      if (this.singlePreOrderProducts) {

        if (this.singlePreOrderProducts.store_preorder_status === 'dispatched' || this.singlePreOrderProducts.store_preorder_status === 'finalized') {

          return [
            {
              text: 'S.N',
              align: 'start',
              sortable: false,
              value: 'serial_no',
            },
            {
              text: 'Product Name',
              align: 'start',
              sortable: false,
              value: 'product_name',
            },
            {
              text: 'Featured Image',
              align: 'center',
              sortable: false,
              value: 'image',
            },
            {
              text: 'Quantity(Initial)',
              align: 'center',
              sortable: false,
              value: 'initial_order_quantity',
              width: '10%'
            },
            {
              text: 'Package Type',
              align: 'center',
              sortable: false,
              value: 'package_name',
              width: '10%'
            },
            {
              text: 'Quantity(Dispatching)',
              align: 'center',
              sortable: false,
              value: 'quantity',
              width: '10%'
            },
            {
              text: 'Unit Rate',
              align: 'start',
              sortable: false,
              value: 'unit_rate',
            },
            {
              text: 'Sub Total',
              align: 'start',
              sortable: false,
              value: 'sub_total',
            },
          ];

        } else if (this.singlePreOrderProducts.store_preorder_status === 'cancelled') {

          return [
            {
              text: 'S.N',
              align: 'start',
              sortable: false,
              value: 'serial_no',
            },
            {
              text: 'Product Name',
              align: 'start',
              sortable: false,
              value: 'product_name',
            },
            {
              text: 'Featured Image',
              align: 'center',
              sortable: false,
              value: 'image',
            },
            {
              text: 'Quantity',
              align: 'center',
              sortable: false,
              value: 'quantity',
            },
            {
              text: 'Package Type',
              align: 'center',
              sortable: false,
              value: 'package_name',
              width: '10%'
            },
            {
              text: 'Unit Rate',
              align: 'start',
              sortable: false,
              value: 'unit_rate',
            },
            {
              text: 'Sub Total',
              align: 'start',
              sortable: false,
              value: 'sub_total',
            },
          ];

        } else {

          return [
            {
              text: 'S.N',
              align: 'start',
              sortable: false,
              value: 'serial_no',
            },
            {
              text: 'Product Name',
              align: 'start',
              sortable: false,
              value: 'product_name',
            },
            {
              text: 'Featured Image',
              align: 'center',
              sortable: false,
              value: 'image',
            },
            {
              text: 'Quantity ( Initial )',
              align: 'center',
              sortable: false,
              value: 'quantity',
              width: '20%'
            },
            {
              text: 'Package Type',
              align: 'center',
              sortable: false,
              value: 'package_name',
              width: '10%'
            },
            {
              text: 'Unit Rate',
              align: 'start',
              sortable: false,
              value: 'unit_rate',
            },
            {
              text: 'Sub Total',
              align: 'start',
              sortable: false,
              value: 'sub_total',
            },
            {
              text: 'Actions',
              align: 'center',
              sortable: false,
              value: 'actions',
            },
          ];

        }

      } else {

        return null;

      }

    },

    preOrderTaxableProducts() {

      return this.taxablePreOrderProducts;

    },

    preOrderNonTaxableProducts() {

      return this.nonTaxablePreOrderProducts;

    },

    preOrderDetailProductsList() {

      return this.$store.getters['preOrder/PRE_ORDER_DETAIL_PRODUCTS'];

    },


  },
  created() {
    this.getPusherNotification();
  },

  methods: {

    getPusherNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.pre.order.finalized." + storeCode
      );
      channel.bind("store-pre-order-finalized", (log) => {
        this.notifications = log;
        if (this.singlePreOrderProducts.store_preorder_code === this.notifications.notification.data.code) {
          this.singlePreOrderProducts.store_preorder_status = this.notifications.notification.data.status;
        }

      });
    },

    clearDates() {

      this.selected_date_from = '';

      this.selected_date_to = '';

      this.$store.commit("preOrder/SET_PREORDER_PRODUCT_DATE_TO", '');

      this.$store.commit("preOrder/SET_PREORDER_PRODUCT_DATE_FROM", '');

    },

    changeEndTimeWithFinalizationTime() {

      this.endTimeForTimer = this.singlePreOrderProducts.preorder_finalization_time;

      this.finalTimeBegins = true;

    },

    finalizationTimeEnded() {

      this.finalTimeBegins = false;

      this.finalTimeEnds = true;

      this.hideTimer = true;

    },

    changeBackgroundColor: function (item) {

      if (item.is_active && item.delivery_status) {

        return 'white_background';

      } else if (item.is_active && !item.delivery_status) {

        return 'cancelled_background';

      } else if (!item.is_active) {

        return 'red_background';
      }

    },

    showResultByProductName(productName) {

      this.$store.commit("preOrder/SET_PREORDER_PRODUCT_NAME", productName);

      this.$store.commit('preOrder/SET_PREORDER_PRODUCT_PAGE', 1);

    },

    showSearchResultForDateFrom(dateFrom) {

      this.$store.commit("preOrder/SET_PREORDER_PRODUCT_DATE_FROM", dateFrom);

      this.$store.commit('preOrder/SET_PREORDER_PRODUCT_PAGE', 1);

    },

    showSearchResultForDateTo(dateTo) {

      this.$store.commit("preOrder/SET_PREORDER_PRODUCT_DATE_TO", dateTo);

      this.$store.commit('preOrder/SET_PREORDER_PRODUCT_PAGE', 1);

    },

    showResultByProductStatus(isActive) {

      this.$store.commit("preOrder/SET_PREORDER_PRODUCT_IS_ACTIVE", isActive);

      this.$store.commit('preOrder/SET_PREORDER_PRODUCT_PAGE', 1);

    },

    showSearchResult() {

      let queryParamsForFilter = this.$store.getters['preOrder/PREORDER_PRODUCT_FILTER'];

      const removeEmptyOrNull = (obj) => {

        Object.keys(obj).forEach(k =>

          (obj[k] && typeof obj[k] === 'object') && removeEmptyOrNull(obj[k]) ||

          (!obj[k] && obj[k] !== undefined) && delete obj[k]
        );

        return obj;

      };

      let removeEmptyValueAttributesFromQueryParams = removeEmptyOrNull(queryParamsForFilter);

      this.$store.dispatch('preOrder/filterPreOrderProductList', {

        pre_order_code: this.$route.params.pre_order_code,

        filterResponse: removeEmptyValueAttributesFromQueryParams

      }).then(() => {

      }).catch(() => {

      });

    },

    updateQuantityFromTextBox(item) {

      let self = this;

      if (parseInt(item.quantity) < 1) {

        item.quantity = 1;

      }

      setTimeout(() => {

        self.updateQuantity(item, parseInt(item.quantity));

      }, 500);

    },

    showPreOrderProducts() {

      this.$store.commit('preOrder/SET_PREORDER_PRODUCT_NAME', '');

      this.$store.commit('preOrder/SET_PREORDER_PRODUCT_DATE_TO', '');

      this.$store.commit('preOrder/SET_PREORDER_PRODUCT_DATE_FROM', '');

      this.$store.commit('preOrder/SET_PREORDER_PRODUCT_IS_ACTIVE', '');


      this.$store.dispatch('preOrder/loadPreOrderDetails', this.$route.params.pre_order_code).then(response => {
        this.singlePreOrderProducts = this.$store.getters['preOrder/PRE_ORDER_ALL_DETAILS'];

        response.data.status_logs.map((value, index) => {
          value.serial_no = index + 1;
        });


        this.endTimeForTimer = this.singlePreOrderProducts.preorder_end_time;

        this.finalTimeForTimer = this.singlePreOrderProducts.preorder_finalization_time

        this.loading = false;

      }).catch(() => {

      });

    },

    showImagePreview(image) {

      this.showImagePreviewDialog = true;

      this.selectedImage = image;

    },

    removeProductOpenDialog(item) {

      this.deleteProductName = item.product_name;

      this.storePreOrderCode = item.store_preorder_code;

      this.preOrderProductCode = item.warehouse_preorder_product_code;

      this.$nuxt.$once('delete_success_event', (value) => {
        if (value['success']) {
          this.snackbar = true;
          this.success = true;
          this.snackBarMessage = value.response.message

          // this.$store.commit('snackbar/COMMIT_SNACKBAR', {
          //   message: value['response']['message'],
          //   color: 'success'
          // });

          let deletedIndex = this.singlePreOrderProducts['details'].findIndex(data => data['store_preorder_detail_code'] === item.store_preorder_detail_code);

          this.singlePreOrderProducts['details'].splice(deletedIndex, 1);

        } else {
          this.success = false;
          this.snackbar = true;
          this.snackBarMessage = value.response.message
          // this.$store.commit('notification/COMMIT_DIALOG', {
          //   message: value['response']['message'],
          //   color: 'error'
          // });
        }
      })

      this.$store.commit('notification/SHOW_DELETE_DIALOG', {
        title: 'Delete Product',
        message: `Are you sure you want to <b>${item['product_name']}</b> from the preorder list?`,
        data: {
          delete_url: `/store/delete/pre-orders/${item.store_preorder_detail_code}/detail`,
          params: {}
        },
      });


    },

    // deleteProductFromPreOrderList() {
    //
    //   this.$store.dispatch('preOrder/removeProductFromPreOrderList', {
    //
    //     store_pre_order_code: this.storePreOrderCode,
    //
    //     warehouse_pre_order_product_code: this.preOrderProductCode
    //
    //   }).then(response => {
    //
    //     this.watchForSubTotalChange = response;
    //
    //     this.snackBarMessage = response.message;
    //
    //     this.success = true;
    //
    //     this.snackbar = true;
    //
    //     this.deleteProductDialog = false;
    //
    //   }).catch(() => {
    //
    //     this.deleteProductDialog = false;
    //
    //     this.snackBarMessage = this.$store.getters['login/ERRORS']['message'];
    //
    //     this.success = false;
    //
    //     this.snackbar = true;
    //
    //   })
    //
    // },

    decreasePreOrderProductQuantity(item, quantity) {

      if (quantity > 1) {

        let changeQuantity = item.quantity - 1;

        item.disableDecreaseButton = false;

        item.decreaseLoadingButton = true;

        this.updateQuantity(item, parseInt(changeQuantity));

      } else {

        item.disableDecreaseButton = true;

      }

    },

    updateQuantity(item, changedQuantity) {

      let payload = {

        detail: {

          initial_order_quantity: changedQuantity

        },

        store_preorder_detail_code: item.store_preorder_detail_code,

      }

      this.$store.dispatch('preOrder/updatePreOrderProductQuantity', payload).then(response => {

        item.decreaseLoadingButton = false;

        item.increaseLoadingButton = false;

        item.quantity = response.data.quantity;

        item.sub_total = item.unit_rate * response.data.quantity;

        this.watchForSubTotalChange = item.sub_total;

      }).catch((err) => {

        errorHandler(err, this)

        item.decreaseLoadingButton = false;

        item.increaseLoadingButton = false;

      }).finally(() => {

        item.decreaseLoadingButton = false;

        item.increaseLoadingButton = false;
      })

    },

    increasePreOrderProductQuantity(item) {

      item.increaseLoadingButton = true;

      item.disableDecreaseButton = false;

      let changeQuantity = item.quantity + 1;

      this.updateQuantity(item, parseInt(changeQuantity));

    },

    getDeliveryStatusColor(deliveryStatus) {

      if (deliveryStatus === 'pending') {

        return 'orange'

      } else if (deliveryStatus === 'cancelled') {

        return 'red'

      } else {

        return 'green'
      }

    },

    showRemarksInDialog(remarks) {
      this.$store.commit('notification/COMMIT_DIALOG', {
        title: 'Pre Order Status',
        message: remarks,
        alertColor: 'primary'
      })
    }
  }
}
</script>
