<template>
  <v-container fluid>
    <client-only>
      <div v-if="loading">
        <v-skeleton-loader
          v-bind="attrs"
          type="table-heading, list-item-two-line"
        ></v-skeleton-loader>
        <v-skeleton-loader type="table">
        </v-skeleton-loader>
      </div>
      <div v-else>
        <v-data-table
          v-if="preOrderLists"
          :headers="preOrderHeaders"
          :items="preOrderLists.data"
          hide-default-footer
          item-key="store_preorder_code"
          class="elevation-1"
          no-data-text="No Pre Orders Available at the moment."
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title
              >Pre Order List
                <span
                  class="
                  mt-1
                  ml-4
                  mt-xl-1 mt-lg-1
                  ml-lg-3 ml-xl-3
                  caption
                  font-weight-bold
                "
                >Total Items: {{ preOrderLists.meta.total }}</span
                ></v-toolbar-title
              >
            </v-toolbar>
            <v-card
              class="px-3 ma-xl-3 ma-lg-3 mt-xl-0 mt-lg-0"
              elevation="2"
              tile
              color="#fbfbfb"
            >
              <v-row dense no-gutters>
                <v-col cols="12" xl="3" lg="3" md="12" sm="4">
                  <v-row no-gutters>
                    <v-col cols="12" xl="12" lg="12" md="6">
                    <span class="caption font-weight-medium"
                    >Pre Order Code:</span
                    >
                    </v-col>
                    <v-col cols="11" xl="11" lg="11" md="6">
                      <v-text-field
                        solo
                        v-model="pre_order_store_code"
                        dense
                        label="Pre Order Code"
                        class="simple_text_field"
                        @input="
                        showSearchResultForPreOrderCode(pre_order_store_code)
                      "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row no-gutters>
                    <v-col cols="12" xl="12" lg="12" md="6">
                    <span class="caption font-weight-medium"
                    >Payment Status:</span
                    >
                    </v-col>
                    <v-col cols="12" xl="11" lg="11" md="6" sm="11">
                      <v-autocomplete
                        class="auto_complete_with_append_inner_icon"
                        dense
                        solo
                        label="--Payment Status--"
                        v-model="selected_payment_status"
                        :items="paymentStatusItems"
                        item-text="name"
                        item-value="value"
                        @change="
                        showSearchResultForPaymentStatus(
                          selected_payment_status
                        )
                      "
                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col
                  v-if="
                  $mq === 'laptop' ||
                  $mq === 'desktop' ||
                  $mq === 'tablet' ||
                  $mq === 'xlscreen'
                "
                  class="pa-0 pa-xl-4 pa-lg-4 pa-md-4"
                  cols="12"
                  xl="5"
                  lg="5"
                  md="12"
                >
                  <v-row
                    style="background-color: white; border: 1px solid #e5e5e5"
                  >
                    <v-col
                      cols="12"
                      class="pa-xl-2 pa-lg-2"
                      style="background-color: #b7b7b7"
                    >
                    <span class="font-weight-bold caption white--text"
                    >Select Date</span
                    >
                    </v-col>
                    <v-col cols="6" xl="6" lg="6" class="mt-xl-1 mt-lg-1 pb-0">
                      <v-row dense>
                        <v-col cols="12" xl="12" lg="12">
                        <span class="caption font-weight-medium"
                        >Start Time:</span
                        >
                        </v-col>
                        <v-col cols="12" xl="12" lg="12">
                          <v-menu
                            v-model="dateFromDatePicker"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                solo
                                v-model="selected_date_from"
                                dense
                                label="Select Date From"
                                prepend-inner-icon="mdi-calendar"
                                class="text_field_with_prepend_inner_icon"
                                v-bind="attrs"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              @input="
                              showSearchResultForDateFrom(selected_date_from)
                            "
                              color="darkBlue"
                              v-model="selected_date_from"
                            ></v-date-picker>
                          </v-menu>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="6" xl="6" lg="6" class="mt-xl-1 mt-lg-1 pb-0">
                      <v-row dense>
                        <v-col cols="12" xl="12" lg="12">
                        <span class="caption font-weight-medium"
                        >End Time:</span
                        >
                        </v-col>
                        <v-col cols="12" xl="12" lg="12">
                          <v-menu
                            v-model="dateToDatePicker"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                solo
                                v-model="selected_date_to"
                                dense
                                height="30"
                                label="Select Date To"
                                prepend-inner-icon="mdi-calendar"
                                class="text_field_with_prepend_inner_icon"
                                v-bind="attrs"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              color="darkBlue"
                              v-model="selected_date_to"
                              @input="showSearchResultForDateTo(selected_date_to)"
                            ></v-date-picker>
                          </v-menu>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="2" class="pt-0">
                      <v-btn
                        dark
                        tile
                        @click="clearDates"
                        x-small
                        color="darkBlue"
                      >Reset</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-col>
                <v-col
                  v-else
                  class="pa-0 pa-xl-4 pa-lg-4 pa-md-4"
                  cols="12"
                  xl="5"
                  lg="5"
                  md="12"
                >
                  <v-expansion-panels tile class="mb-2 expansion_panel_design">
                    <v-expansion-panel>
                      <v-expansion-panel-header
                      >Select Date</v-expansion-panel-header
                      >
                      <v-expansion-panel-content>
                        <v-row>
                          <v-col
                            cols="6"
                            xl="6"
                            lg="6"
                            class="mt-xl-1 mt-lg-1 pb-0"
                          >
                            <v-row dense>
                              <v-col cols="12" xl="12" lg="12">
                              <span class="caption font-weight-medium"
                              >Start Time:</span
                              >
                              </v-col>
                              <v-col cols="12" xl="12" lg="12">
                                <v-menu
                                  v-model="dateFromDatePicker"
                                  :close-on-content-click="false"
                                  :nudge-right="40"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      solo
                                      v-model="selected_date_from"
                                      dense
                                      label="Select Date From"
                                      prepend-inner-icon="mdi-calendar"
                                      class="text_field_with_prepend_inner_icon"
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker
                                    @input="
                                    showSearchResultForDateFrom(
                                      selected_date_from
                                    )
                                  "
                                    color="darkBlue"
                                    v-model="selected_date_from"
                                  ></v-date-picker>
                                </v-menu>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col
                            cols="6"
                            xl="6"
                            lg="6"
                            class="mt-xl-1 mt-lg-1 pb-0"
                          >
                            <v-row dense>
                              <v-col cols="12" xl="12" lg="12">
                              <span class="caption font-weight-medium"
                              >End Time:</span
                              >
                              </v-col>
                              <v-col cols="12" xl="12" lg="12">
                                <v-menu
                                  v-model="dateToDatePicker"
                                  :close-on-content-click="false"
                                  :nudge-right="40"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      solo
                                      v-model="selected_date_to"
                                      dense
                                      label="Select Date To"
                                      prepend-inner-icon="mdi-calendar"
                                      class="text_field_with_prepend_inner_icon"
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker
                                    color="darkBlue"
                                    v-model="selected_date_to"
                                    @input="
                                    showSearchResultForDateTo(selected_date_to)
                                  "
                                  ></v-date-picker>
                                </v-menu>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="2" class="pt-0">
                            <v-btn
                              dark
                              tile
                              @click="clearDates"
                              x-small
                              color="darkBlue"
                            >Reset</v-btn
                            >
                          </v-col>
                        </v-row>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-col>
                <v-col
                  v-if="
                  $mq === 'laptop' ||
                  $mq === 'desktop' ||
                  $mq === 'tablet' ||
                  $mq === 'xlscreen'
                "
                  class="pa-0 pa-xl-4 pa-lg-4 pa-md-4"
                  cols="12"
                  xl="4"
                  lg="4"
                  md="12"
                >
                  <v-row
                    style="background-color: white; border: 1px solid #e5e5e5"
                  >
                    <v-col
                      cols="12"
                      class="pa-xl-2 pa-lg-2"
                      style="background-color: #b7b7b7"
                    >
                    <span class="font-weight-bold caption white--text"
                    >Select Price</span
                    >
                    </v-col>
                    <v-col cols="6" xl="6" lg="6" class="mt-xl-1 mt-lg-1">
                      <v-row dense>
                        <v-col cols="12" lg="12" xl="12">
                        <span class="caption font-weight-medium"
                        >Condition:
                        </span>
                        </v-col>
                        <v-col cols="12" lg="12" xl="12">
                          <v-autocomplete
                            class="auto_complete_with_append_inner_icon"
                            dense
                            solo
                            label="--Condition--"
                            v-model="selected_price_condition"
                            :items="priceConditionItems"
                            item-text="name"
                            item-value="value"
                            @change="
                            showSearchResultForPriceCondition(
                              selected_price_condition
                            )
                          "
                          ></v-autocomplete>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col cols="6" xl="6" lg="6" class="mt-xl-1 mt-lg-1">
                      <v-row dense>
                        <v-col cols="12" lg="12" xl="12">
                        <span class="caption font-weight-medium"
                        >Total Price:
                        </span>
                        </v-col>
                        <v-col cols="12" lg="12" xl="12">
                          <v-text-field
                            solo
                            v-model="selected_total_price"
                            dense
                            label="Price"
                            type="number"
                            class="simple_text_field"
                            @input="
                            showSearchResultForPrice(selected_total_price)
                          "
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col
                  v-else
                  class="pa-0 pa-xl-4 pa-lg-4 pa-md-4"
                  cols="12"
                  xl="4"
                  lg="4"
                  md="12"
                >
                  <v-expansion-panels tile class="mb-2 expansion_panel_design">
                    <v-expansion-panel>
                      <v-expansion-panel-header
                      >Select Date</v-expansion-panel-header
                      >
                      <v-expansion-panel-content>
                        <v-row>
                          <v-col cols="6" xl="6" lg="6" class="mt-xl-1 mt-lg-1">
                            <v-row dense>
                              <v-col cols="12" lg="12" xl="12">
                              <span class="caption font-weight-medium"
                              >Condition:
                              </span>
                              </v-col>
                              <v-col cols="12" lg="12" xl="12">
                                <v-autocomplete
                                  class="product_select"
                                  dense
                                  solo
                                  label="--Condition--"
                                  v-model="selected_price_condition"
                                  :items="priceConditionItems"
                                  item-text="name"
                                  item-value="value"
                                  @change="
                                  showSearchResultForPriceCondition(
                                    selected_price_condition
                                  )
                                "
                                ></v-autocomplete>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="6" xl="6" lg="6" class="mt-xl-1 mt-lg-1">
                            <v-row dense>
                              <v-col cols="12" lg="12" xl="12">
                              <span class="caption font-weight-medium"
                              >Total Price:
                              </span>
                              </v-col>
                              <v-col cols="12" lg="12" xl="12">
                                <v-text-field
                                  solo
                                  v-model="selected_total_price"
                                  dense
                                  label="Price"
                                  type="number"
                                  class="auto_complete_with_append_inner_icon"
                                  @input="
                                  showSearchResultForPrice(selected_total_price)
                                "
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-col>
              </v-row>
              <v-row dense no-gutters align="end" justify="end">
                <v-col cols="12" xl="2" lg="2" class="pl-xl-7 pl-lg-7">
                  <v-btn
                    @click="showSearchResult()"
                    :block="$mq === 'mobile'"
                    dark
                    tile
                    color="darkBlue"
                    class="ml-xl-16 ml-lg-16 mb-3 mt-2"
                    :small="$mq !== 'mobile'"
                    :loading="loadingItems"
                  >Search
                  </v-btn>
                </v-col>
              </v-row>
            </v-card>
            <v-row
              v-if="preOrderListTotalAmount"
              style="background-color: #003574"
              class="pa-3"
              no-gutters
            >
              <v-col cols="12" xl="4" lg="4">
                <div class="subtitle-2 font-weight-medium white--text">
                  Total Finalized Amount : Rs.
                  {{ preOrderListTotalAmount.total_finalized_amount }}
                </div>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" xl="4" lg="4">
                <div class="subtitle-2 font-weight-medium white--text">
                  Total Pending Amount : Rs.
                  {{ preOrderListTotalAmount.total_pending_amount }}
                </div>
              </v-col>
            </v-row>
          </template>
          <template v-slot:item.serial_no="{ item }">
            <span class="font-weight-medium caption">{{ item.serial_no }}.</span>
          </template>
          <template v-slot:item.store_preorder_code="{ item }">
                  <span @click="viewPreOrderDetail(item)"
                        class="font-weight-medium caption product_name_hover">{{ item.store_preorder_code }}</span>

            <!--          <a-->
            <!--            :href="`/store/pre-order-detail/${item.store_preorder_code}`"-->
            <!--            class="font-weight-medium caption product_name_hover"-->
            <!--            style="text-decoration: none; color: black"-->
            <!--            >{{ item.store_preorder_code }}</a-->

          </template>
          <template v-slot:item.warehouse_name="{ item }">
          <span class="caption font-weight-medium">{{
              item.warehouse_name
            }}</span>
          </template>
          <template v-slot:item.activation_period.start_time="{ item }">
            <div
              v-if="item.pre_order_name !== ''"
              class="font-weight-medium caption mt-2"
            >
              <span class="font-weight-bold">({{ item.pre_order_name }})</span>
            </div>
            <div class="font-weight-medium caption mt-2">
              Start:
              <span class="font-weight-bold">{{
                  item.activation_period.start_time
                }}</span>
            </div>
            <div class="font-weight-medium caption">
              End:
              <span class="font-weight-bold">{{
                  item.activation_period.end_time
                }}</span>
            </div>
            <div class="font-weight-medium caption mb-2">
              Final:
              <span class="font-weight-bold">{{
                  item.activation_period.finalization_time
                }}</span>
            </div>
          </template>
          <!--      <template v-slot:item.activation_period.end_time="{item}">
                <span class="font-weight-medium caption">{{ item.activation_period.end_time }}</span>
              </template>
              <template v-slot:item.activation_period.finalization_time="{item}">
                <span class="font-weight-medium caption">{{ item.activation_period.finalization_time }}</span>
              </template>-->
          <template v-slot:item.products_count="{ item }">
          <span class="font-weight-medium caption">{{
              item.products_count
            }}</span>
          </template>
          <template v-slot:item.total_price="{ item }">
          <span class="font-weight-medium caption"
          >Rs. {{ item.total_price }}</span
          >
          </template>
          <!--      <template v-slot:item.is_individual_target_acquired="{item}">-->
          <!--        <v-checkbox :ripple="false" readonly color="green" v-model="item.is_individual_target_acquired"-->
          <!--                    class="pre_order_target_checkbox mt-3" dense :label="`Individual`"></v-checkbox>-->
          <!--        <v-checkbox :ripple="false" readonly color="green" v-model="item.is_group_target_acquired"-->
          <!--                    class="pre_order_target_checkbox" dense :label="`Group`"></v-checkbox>-->
          <!--      </template>-->
          <template v-slot:item.payment_status="{ item }">
            <v-chip
              text-color="white"
              label
              x-small
              color="green"
              v-if="item.payment_status"
            >Paid
            </v-chip>
            <v-chip text-color="white" label x-small color="red" v-else
            >UnPaid</v-chip
            >
          </template>
          <template v-slot:item.status="{ item }">
            <v-chip
              text-color="white"
              label
              x-small
              :color="preOrderStatus[item.status]"
            >{{ item.status }}</v-chip
            >
          </template>
          <template v-slot:item.pre_order_elapsed="{ item }">
            <v-chip
              v-if="item.pre_order_elapsed"
              text-color="white"
              label
              x-small
              color="red"
            >Yes</v-chip
            >
            <v-chip v-else text-color="white" label x-small color="green"
            >No</v-chip
            >
          </template>
          <template v-slot:item.actions="{ item }">
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" icon>
                  <v-icon>mdi-dots-horizontal</v-icon>
                </v-btn>
              </template>
              <v-list color="#f7f7f7" class="product_action_menu" dense>
                <v-list-item @click="viewPreOrderDetail(item)" dense>
                  <v-list-item-title>
                    <v-icon small class="mr-2"> mdi-eye</v-icon>
                    View Pre Order
                  </v-list-item-title>
                </v-list-item>
                <!--                    <v-list-item @click="viewOfflinePaymentDetail(item)" dense>
                                    <v-list-item-title>
                                      <v-icon small class="mr-2">mdi-bookmark-outline</v-icon>
                                      View Offline Payment
                                    </v-list-item-title>
                                  </v-list-item>
                                  <v-list-item v-if="item.payment_status==='rejected' || item.payment_status==='Unpaid'"
                                               @click="payForOfflinePayment(item)" dense>
                                    <v-list-item-title>
                                      <v-icon small class="mr-2">mdi-credit-card-settings-outline</v-icon>
                                      Pay
                                    </v-list-item-title>
                                  </v-list-item>-->
              </v-list>
            </v-menu>
          </template>
        </v-data-table>

        <Pagination
          v-if="!pageLoading && preOrderLists.data"
          store="preOrder"
          :disable="loadingItems"
          collection="preOrderLists"
          is_pre_order="1"
        ></Pagination>
      </div>
    </client-only>
  </v-container>
</template>

<script>
import PreOrderService from "@/services/store/store-pre-order";
import PreOrderFilterPageSkeleton from "../../../components/shared/skeleton/PreOrderFilterPage/PreOrderFilterPageSkeleton.vue"
export default {
  name: "index",
  components: {
    Pagination: () => import("@/components/shared/pagination"),
    PreOrderFilterPageSkeleton
  },
  layout: "store-dashboard",
  middleware: 'shared/authenticated',
  data() {
    return {
      preOrderHeaders: [
        {
          text: "S.N.",
          align: "start",
          sortable: false,
          value: "serial_no",
          width: "5%",
        },
        {
          text: "Code",
          align: "start",
          sortable: false,
          value: "store_preorder_code",
          width: "10%",
        },
        {
          text: "Warehouse",
          align: "center",
          sortable: false,
          value: "warehouse_name",
        },
        {
          text: "Time Slot",
          align: "left",
          sortable: false,
          value: "activation_period.start_time",
          width: "50%",
        },
        {
          text: "Products",
          align: "center",
          sortable: false,
          value: "products_count",
          width: "10%",
        },
        {
          text: "Total Price",
          align: "center",
          sortable: false,
          value: "total_price",
          width: "20%",
        },
        {
          text: "Payment",
          align: "center",
          sortable: false,
          value: "payment_status",
        },
        {
          text: "Status",
          align: "center",
          sortable: false,
          value: "status",
          width: "10%",
        },
        {
          text: "Elapsed",
          align: "center",
          sortable: false,
          value: "pre_order_elapsed",
          width: "10%",
        },
        {
          text: "Actions",
          align: "center",
          sortable: false,
          value: "actions",
          width: "10%",
        },
      ],
      preOrders: [],
      pre_order_store_code: "",
      dateFromDatePicker: false,
      dateToDatePicker: false,
      selected_date_from: "",
      selected_date_to: "",
      selected_price_condition: "",
      priceConditionItems: [
        {
          id: 1,
          value: "all",
          name: "All",
        },
        {
          id: 2,
          value: ">",
          name: "Greater than (>)",
        },
        {
          id: 3,
          value: "<",
          name: "Less than (<)",
        },
        {
          id: 4,
          value: "=",
          name: "Equals to (=)",
        },
        {
          id: 5,
          value: "<=",
          name: "Less & Equals to (<=)",
        },
        {
          id: 6,
          value: ">=",
          name: "Greater & Equals to (>=)",
        },
      ],
      selected_total_price: "",
      selected_payment_status: [],
      paymentStatusItems: [
        {
          id: 1,
          value: "all",
          name: "All",
        },
        {
          id: 2,
          value: "unpaid",
          name: "UnPaid",
        },
        {
          id: 3,
          value: "paid",
          name: "Paid",
        },
      ],
      pageLoading: true,
      errorFlag: false,
      preOrderListTotalAmount: null,
      preOrderStatus: {
        pending: "orange",
        finalized: "green",
        dispatched: "green",
        rejected: "red",
        cancelled: "red",
        processing: "blue",
      },
      loading: false,
      notifications: null
    };
  },

  fetch() {
    this.preOrderList();
  },

  created() {
    this.getPusherNotification();
  },

  computed: {
    preOrderLists() {
      return this.$store.state.preOrder.preOrderLists;
    },

    loadingItems() {
      return this.$store.state.preOrder.isLoading;
    },
  },

  methods: {
    getPusherNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.pre.order.status." + storeCode
      );
      channel.bind("store.pre-order-status-event", (log) => {
        this.notifications = log;
        let data = this.preOrderLists.data.find(a => a.pre_order_store_code === this.notifications.notification.data.code);
        data.status = this.notifications.notification.data.status;
      });
    },

    preOrderList() {
      this.loading = true;
      this.$store.commit("preOrder/SET_STORE_PREORDER_CODE", "");

      this.$store.commit("preOrder/SET_PREORDER_START_TIME", "");

      this.$store.commit("preOrder/SET_PREORDER_END_TIME", "");

      this.$store.commit("preOrder/SET_PREORDER_PRICE_CONDITION", "");

      this.$store.commit("preOrder/SET_PREORDER_TOTAL_PRICE", "");

      this.$store.commit("preOrder/SET_PREORDER_PAYMENT_TYPE", "");

      this.$store
        .dispatch("preOrder/preOrdersList")
        .then((response) => {
          PreOrderService.getPreOrderAmountTotal()
            .then((response) => {
              this.preOrderListTotalAmount = response.data;
              this.loading = false;
            })
            .catch(() => {
              this.errorFlag = true;
            });

          this.errorFlag = false;

          this.preOrders = response;

          this.pageLoading = false;
        })
        .catch(() => {
          this.errorFlag = true;
          this.loading = false;
        }).finally(() => {
          this.loading = false;
        })
    },

    viewPreOrderDetail(item) {
      this.$router.push({
        name: "store-list-of-preorder-pre_order_code",
        params: {
          pre_order_code: item.store_preorder_code,
        },
      });
    },

    clearDates() {
      this.selected_date_from = "";

      this.selected_date_to = "";

      this.$store.commit("preOrder/SET_PREORDER_START_TIME", "");

      this.$store.commit("preOrder/SET_PREORDER_END_TIME", "");
    },

    showSearchResultForPreOrderCode(preOrderCode) {
      this.$store.commit("preOrder/SET_STORE_PREORDER_CODE", preOrderCode);

      this.$store.commit("preOrder/SET_PREORDER_PAGE", 1);
    },

    showSearchResultForDateFrom(selectedFromDate) {
      this.$store.commit("preOrder/SET_PREORDER_START_TIME", selectedFromDate);

      this.$store.commit("preOrder/SET_PREORDER_PAGE", 1);
    },

    showSearchResultForDateTo(selectedToDate) {
      this.$store.commit("preOrder/SET_PREORDER_END_TIME", selectedToDate);

      this.$store.commit("preOrder/SET_PREORDER_PAGE", 1);
    },

    showSearchResultForPriceCondition(priceCondition) {
      this.$store.commit(
        "preOrder/SET_PREORDER_PRICE_CONDITION",
        priceCondition
      );

      this.$store.commit("preOrder/SET_PREORDER_PAGE", 1);
    },

    showSearchResultForPrice(price) {
      this.$store.commit("preOrder/SET_PREORDER_TOTAL_PRICE", price);

      this.$store.commit("preOrder/SET_PREORDER_PAGE", 1);
    },

    showSearchResultForPaymentStatus(paymentStatus) {
      this.$store.commit("preOrder/SET_PREORDER_PAYMENT_TYPE", paymentStatus);

      this.$store.commit("preOrder/SET_PREORDER_PAGE", 1);
    },

    showSearchResult() {
      this.$store.commit("preOrder/SET_LOADER_FOR_TABLE", true);

      let queryParamsForFilter =
        this.$store.getters["preOrder/PRE_ORDER_FILTER"];

      const removeEmptyOrNull = (obj) => {
        Object.keys(obj).forEach(
          (k) =>
            (obj[k] &&
              typeof obj[k] === "object" &&
              removeEmptyOrNull(obj[k])) ||
            (!obj[k] && obj[k] !== undefined && delete obj[k])
        );

        return obj;
      };

      let removeEmptyValueAttributesFromQueryParams =
        removeEmptyOrNull(queryParamsForFilter);

      this.$store
        .dispatch(
          "preOrder/paginatedLists",
          removeEmptyValueAttributesFromQueryParams
        )
        .then((response) => {
          this.preOrders = response;

          this.$store.commit("preOrder/SET_LOADER_FOR_TABLE", false);
        })
        .catch(() => {});
    },
  },
};
</script>
