<template>
  <div>
    <transition name="fade">
      <div
        id="pagetop"
        style="position: fixed; right: 20px; bottom: 20px; z-index:1;"
        class="fixed right-0 bottom-0"
        v-show="scY > 300"
      >
        <v-btn class="mx-2" @click="toTop" fab dark small color="darkOrange">
          <v-icon dark> mdi-arrow-up </v-icon>
        </v-btn>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  mounted() {
    window.addEventListener("scroll", this.handleScroll);
  },

  data() {
    return {
      scTimer: 0,
      scY: 0,
    };
  },

  methods: {
    handleScroll: function () {
      if (this.scTimer) return;
      this.scTimer = setTimeout(() => {
        this.scY = window.scrollY;
        clearTimeout(this.scTimer);
        this.scTimer = 0;
      }, 100);
    },
    toTop: function () {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    },
  },
};
</script>

<style>
</style>