<template>
  <v-col cols="12" class="px-5">
    <v-form ref="registerForm">
      <v-row no-gutters justify="space-between">
        <error-handling422 v-if="isError422" />
      </v-row>
      <v-row no-gutters justify="space-between">
        <v-col cols="5">
          <v-text-field
            dense
            outlined
            prepend-inner-icon="mdi-account"
            class="text_field_design mt-1"
            label="Store Name"
            v-model="quiz_participator_detail.store_name"
            :rules="nameRule"
          >
          </v-text-field>
        </v-col>

        <v-col cols="5">
          <v-text-field
            dense
            outlined
            class="text_field_design mt-1"
            label="PAN no."
            v-model="quiz_participator_detail.store_pan_no"
            :rules="panRule"
          >
          </v-text-field>
        </v-col>

        <v-col cols="5">
          <v-text-field
            dense
            outlined
            prepend-inner-icon="mdi-phone"
            class="text_field_design mt-1"
            label="Recharge Phone Number"
            v-model="quiz_participator_detail.recharge_phone_no"
            :rules="phoneRules"
          >
          </v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters justify="space-between" class="mt-3">

        <v-col cols="12" class="subtitle-2 font-weight-medium text-uppercase mb-3">
          Select Store Location
          <v-divider class="mt-1"></v-divider>
        </v-col>

        <v-col cols="5">
          <v-autocomplete
            dense
            outlined
            label="Province"
            item-text="location_name"
            item-value="location_name"
            class="select_field_design mt-1"
            :items="provinceList"
            v-model="selectedProvince"
            :rules="provinceRule"
            return-object
            @input="showDistrictOfSelectedProvince">
          </v-autocomplete>
        </v-col>

        <v-col cols="5">
          <v-autocomplete
            dense
            outlined
            label="District"
            item-text="location_name"
            item-value="location_name"
            class="select_field_design mt-1"
            :items="districtList"
            v-model="selectedDistrict"
            :rules="districtRule"
            return-object
            @input="showMunicipalityOfSelectedDistrict">
          </v-autocomplete>
        </v-col>

        <v-col cols="5">
          <v-autocomplete
            dense
            outlined
            label="Municipality"
            item-text="location_name"
            item-value="location_name"
            class="select_field_design mt-1"
            :items="municipalityList"
            v-model="selectedMunicipality"
            :rules="municipalityRule"
            return-object
            @input="showWardOfSelectedMunicipality">
          </v-autocomplete>
        </v-col>

        <v-col cols="5">
          <v-autocomplete
            dense
            outlined
            label="Ward"
            item-text="location_name"
            item-value="location_name"
            class="select_field_design mt-1"
            :items="wardList"
            v-model="selectedWard"
            return-object
            @input="selectedWardCodes"
            :rules="wardRule"
            :error-messages="serverValidationErrors['ward_code']">
          </v-autocomplete>
        </v-col>

        <v-col cols="12">
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row no-gutters justify="space-between" class="mt-3">
        <v-col cols="12" class="text-center">
          <v-btn
            small
            tile
            color="primary"
            class="mt-4 mb-6"
            :loading="btnLoadingState"
            @click="register"
          >
            update
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-col>
</template>

<script>
import LocationsAPI from "@/services/shared/location";
import errorHandler from "@/helpers/shared/errorHandler";
import ErrorHandling422 from "@/components/shared/ErrorHandling422";
export default {
  name: "EditForm",
  components: {ErrorHandling422},
  props: ['quiz_participator_detail'],
  data() {
    return {
      name: '',
      nameRule: [
        v => !!v || 'Full name is required.'
      ],
      pan_no: '',
      panRule: [
        v => !!v || 'PAN no. is required.'
      ],
      phoneNumber: '',
      rule: /^(98)([0-9]{8})$/g,
      phoneRules: [
        v => !!v || 'Phone is required.',
      ],
      gender: '',
      genderRule: [
        v => !!v || 'Gender is required.'
      ],
      provinceList: [],
      selectedProvinceCode: '',
      selectedProvince: null,
      selectedDistrict: null,
      selectedMunicipality: null,
      selectedWard: null,
      provinceRule: [
        v => !!v || 'Province is required.'
      ],
      districtList: [],
      selectedDistrictCode: '',
      districtRule: [
        v => !!v || 'District is required.'
      ],
      municipalityList: [],
      selectedMunicipalityCode: '',
      municipalityRule: [
        v => !!v || 'Municipality is required.'
      ],
      wardList: [],
      selectedWardCode: '',
      wardRule: [
        v => !!v || 'Ward is required.'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required.',
        v => (v && v.length >= 6) || 'Password must be greater than six characters.'
      ],
      confirmPassword: '',
      confirmPasswordRules: [
        v => !!v || 'Password is required.',
        v => (v === this.password) || "Password do not match."
      ],
      btnLoadingState: false,
      serverValidationErrors: {},
      selectedWardName: ''
    }
  },
  async fetch(){
    let {data} = await LocationsAPI.getAllProvince();
    this.provinceList = data;
    this.selectedProvince = this.provinceList.find(data => data['location_code'] === this.quiz_participator_detail['location_details']['province_code']);
    this.showDistrictOfSelectedProvince(this.selectedProvince);
  },
  computed: {
    isError422() {
      return this.$store.getters['error/IS422Error'];
    }
  },
  methods: {
    showDistrictOfSelectedProvince(province) {
      this.districtList = [];
      this.municipalityList = [];
      this.wardList = [];

      this.selectedDistrictCode = '';
      this.selectedMunicipalityCode = '';
      this.selectedWardCode = '';

      LocationsAPI.getLowerLocation(province['location_code']).then(res => {
        this.districtList = res.data;
        this.selectedDistrict = this.districtList.find(data => data['location_code'] === this.quiz_participator_detail['location_details']['district_code']);
        this.showMunicipalityOfSelectedDistrict(this.selectedDistrict)
      });
    },
    showMunicipalityOfSelectedDistrict(district) {
      this.municipalityList = [];
      this.wardList = [];

      this.selectedMunicipalityCode = '';
      this.selectedWardCode = '';

      LocationsAPI.getLowerLocation(district['location_code']).then(res => {
        this.municipalityList = res.data;
        this.selectedMunicipality = this.municipalityList.find(data => data['location_code'] === this.quiz_participator_detail['location_details']['municipality_code']);
        this.showWardOfSelectedMunicipality(this.selectedMunicipality)
      });
    },
    showWardOfSelectedMunicipality(municipality) {
      this.wardList = [];
      this.selectedWardCode = '';
      LocationsAPI.getLowerLocation(municipality['location_code']).then(res => {
        this.wardList = res.data;
        this.selectedWard = this.wardList.find(data => data['location_code'] === this.quiz_participator_detail['location_details']['ward_code']);
      });
    },
    selectedWardCodes(ward) {
      this.selectedWardCode = ward['location_code']

    },
    register() {
      if (this.$refs.registerForm.validate()) {
        this.serverValidationErrors = {};
        this.btnLoadingState = true;

        const data = new FormData();
        let storeName = `${this.selectedProvince['location_name']} ${this.selectedDistrict['location_name']} ${this.selectedMunicipality['location_name']}${this.selectedWard['location_name']}`
        data.append('store_name', this.quiz_participator_detail.store_name);
        data.append('store_pan_no', this.quiz_participator_detail['store_pan_no']);
        data.append('store_location_ward_code', this.selectedWard['location_code']);
        data.append('store_full_location', storeName);
        data.append('participator_code', this.quiz_participator_detail['participator_code'])
        data.append('recharge_phone_no', this.quiz_participator_detail['recharge_phone_no']);
        data.append('_method', 'PUT')
        let payload = {
          data,
          params: this.quiz_participator_detail['qpd_code']
        }

        this.$store.dispatch('recharge/updateParticipatorDetails', payload).then(() => {
          this.btnLoadingState = false;
          this.$emit('closeForm', false)
          this.$store.commit('simpleDialog/COMMIT_DIALOG', {
            title: 'Participator _product_slug',
            message: "Participator _product_slug update successfully",
            alertColor: 'success',
          });

        }).catch((e) => {
          this.btnLoadingState = false;
          errorHandler(e , this)
        });
      }
    },
  },
}
</script>


<style scoped>

</style>
