<template>
  <v-dialog
    width="60%"
    persistent
    v-model="dialogState"
    class="dialog_box px-4"
  >
    <v-card tile>
      <v-row no-gutters class="subtitle-1 text-uppercase font-weight-bold dialog_box_header px-2 pt-2" align="center" >
        <v-col cols="11">
          Past Quizzes Detail ({{dates}})
        </v-col>
        <v-col cols="1" class="text-right">
          <v-btn color="primary" icon :ripple="false" @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12" class="text-center text-decoration-underline font-weight-bold subtitle-1">
          {{title}}
        </v-col>
      </v-row>
      <v-row class="px-2">
        <v-col cols="12" class="pt-2">
          <span v-html="detail_quizzes.passage"></span>
        </v-col>
      </v-row>
      <v-row >
        <v-col v-cols="12">
          <v-data-table
            dense
            :headers="headers"
            :items="detail_quizzes['answerQuestionDetail']"
            item-key="name"
            class="elevation-1"
            hide-default-footer
          >
          </v-data-table>
        </v-col>
      </v-row>
    </v-card>

  </v-dialog>
</template>

<script>
export default {
  props:['detail_quizzes', 'title', 'dates'],
  name: "QuizDetailDialog",
  data(){
    return {
      dialogState:true,
      headers: [
        { text: 'Quiz Question', value: 'question' },
        {
          text:'Answer',
          value:'answer'
        }
      ],
    }
  },
  methods:{
    closeDialog(){
      this.$emit('closeDialog', false)
    }
  }
}
</script>


