<template>
  <div>
    <quiz-detail-dialog :detail_quizzes="detail_quizzes" v-if="detail_dialog_state" v-on:closeDialog="closeDialog"  :title="title" :dates="dates" />
    <v-row no-gutters justify="center" class="mt-2" dense >
      <!--    _product_slug section-->
      <v-col cols="12">
        <v-card tile class="pb-2">
          <v-row no-gutters class="subtitle-1 text-uppercase font-weight-bold headerPrimaryColor px-3 pt-2 pb-1 mb-5" v-if="!editForm">
            <v-col cols="6" >
              Participation details
            </v-col>
            <v-spacer></v-spacer>
            <!--          if past quiz ma data xa bane-->
            <v-col cols="6"  v-if="pastQuizzes.length">
              <v-btn tile small href="#past_quiz_detail" class="white--text" color="darkBlue">view past quizzes</v-btn>
            </v-col>
            <v-col cols="6" class="text-right" v-if="quiz_participator_detail.status === 'rejected'">
              <v-btn tile small color="darkBlue"  class="white--text" @click="openEditForm">Edit</v-btn>
            </v-col>
          </v-row>
          <v-row no-gutters class="mt-2 px-2" v-if="!editForm" dense>
            <v-col cols="6" class="text-left">
              <v-row dense>
                <v-col cols="6" class="caption font-weight-bold text-uppercase ">Store Name:</v-col>
                <v-col cols="6"  class="caption  text-uppercase text-left">
                  {{quiz_participator_detail.store_name}}
                </v-col>
                <v-col cols="6" class="caption  text-uppercase font-weight-bold">
                  Recharge Phone no.:
                </v-col>
                <v-col cols="6" class="caption  text-uppercase text-left">
                  {{quiz_participator_detail.recharge_phone_no}}
                </v-col>
                <v-col cols="6" class="caption  text-uppercase font-weight-bold">
                  Store Location:
                </v-col>
                <v-col cols="6" class="caption  text-uppercase text-left">
                  {{quiz_participator_detail.store_full_location}}
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="6" class="text-right">
              <v-row dense>
                <v-col cols="6" class="caption font-weight-bold text-uppercase ">PAN No.:</v-col>
                <v-col cols="6"  class="caption  text-uppercase text-right">
                  {{quiz_participator_detail.store_pan_no}}
                </v-col>
                <v-col cols="6" class="caption font-weight-bold  text-uppercase text-right">
                  Status:
                </v-col>
                <v-col cols="6" class="caption  text-uppercase text-right">
                  {{quiz_participator_detail.status}}
                </v-col>

              </v-row>
            </v-col>
          </v-row>

          <v-row no-gutters v-if="editForm" >
            <v-col cols="12" class="subtitle-1 text-uppercase font-weight-bold headerPrimaryColor mb-5 pa-2">
              <v-row class="">
                <v-col cols="10">
                  Edit the Participator Form
                </v-col>
                <v-col cols="2" class="white--text text-right">
                  <v-btn tile small @click="editForm = !editForm" color="darkBlue" class="white--text">
                    close edit form
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>

            <v-col cols="12">
              <edit-form :quiz_participator_detail="quiz_participator_detail" v-on:closeForm="closeForm" />
            </v-col>
          </v-row>

        </v-card>
      </v-col>

      <!--    passage section-->
      <v-col cols="9" class="mt-3" v-if="quiz_question">
        <v-card tile class="pa-2 font-weight-bold title">
          <v-row dense>
            <v-col cols="12">
              Question of the day ({{new Date().toISOString().substring(0,10)}})
            </v-col>
          </v-row>

        </v-card>
      </v-col>
      <v-col cols="9" class="mt-5" v-if="quiz_question">
        <v-card tile class="pa-2" color="#003574">
          <v-row no-gutters dense >
            <v-col cols="12">
              <v-card tile style="box-shadow: none; background: #003574" class="pa-2" elevation="0">
                <v-row dense style="background: #003574">
                  <v-col cols="12" class="text-center white--text title text-decoration-underline" >
                    {{quiz_question['passage_title']}}
                  </v-col>
                  <v-col cols="12" class="mt-2">
                    <span v-html="quiz_question['passage']" class="white--text passage"></span>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
          <v-row dense class="pa-2 mt-6">
            <v-col cols="12" v-if="this.error" class="white--text">
              <v-alert
                dense
                border="left"
                type="red"
              >
                {{this.error}}
              </v-alert>

            </v-col>
            <v-col cols="12" v-for="(question , index) in quiz_question['passage_questions_details']" :key="index">
              <div style="background: #003574" class="py-3 mt-3"><span class="my-auto white--text passage">{{index+1}}. {{question.question}}</span></div>
              <v-row class="index" dense>
                <v-col cols="6" v-for="(option, idx) in question.options" :key="idx" >
                  <div v-if="question['real_answer'] != '' && idx === question['real_answer']"  block class="option py-3    pl-16" :class="{rightAnswer}" @click="selectAnswer(question, option, idx)"> {{indexToAlphabet[idx]}}. <span class="ml-5">{{option}}</span>  </div>
                  <div v-else  block class="option py-2  pl-16" :class="idx === question.selected_option?'selectedAnswer':'option' " @click="selectAnswer(question, option, idx)" style="background:#FF5C00"> {{indexToAlphabet[idx]}}. <span class="ml-5">{{option}}</span>  </div>
                </v-col>
              </v-row>
              <v-divider class="mt-4" style="background: white" ></v-divider>
            </v-col>
          </v-row>
          <div class="text-center spinner" v-if="submittingAnswer">
            <v-dialog
              persistent
              width="30%"
              v-model="submittingAnswer"
              style="overflow: hidden"
            >
              <v-card elevation="0" tile class="py-3">
                <v-row dense >
                  <v-col cols="12" class="text-center font-weight-medium subtitle-2">
                    Please wait your answer is submitting....
                  </v-col>
                  <v-col cols="12" class="text-center">
                    <v-progress-circular
                      :size="50"
                      color="green"
                      indeterminate
                    ></v-progress-circular>
                  </v-col>
                </v-row>
              </v-card>
            </v-dialog>

          </div>
          <v-row no-gutters class="mt-2">
            <v-col cols="12" class="text-center">
              <v-btn tile color="#506b8a" class="white--text"  @click="finalSubmit" block>Submit</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <!--    submission result-->

      <v-col cols="9" v-else>
        <v-row dense>
          <v-col cols="12" class="mt-3" v-if="submission_details">
            <v-card tile class="pa-2 font-weight-medium subtitle-1">
              Submission Result  ({{new Date().toISOString().substring(0,10)}})
            </v-card>
          </v-col>
          <v-col cols="12" class="mt-5" v-if="submission_details">
            <v-card tile class="pa-2" color="#003574">
              <v-row no-gutters dense>
                <v-col cols="12" class="text-center white--text text-decoration-underline font-weight-bold subtitle-1">
                  {{submission_details['passage_detail']['passage_title']}}
                </v-col>
                <v-col cols="12" class="white--text mt-2 subtitle-1 font-weight-medium" v-if="submission_details['passage_detail'] ">
                  <span v-html="submission_details['passage_detail']['passage']"></span>
                </v-col>
              </v-row>
              <v-row dense v-for="(detail, index) in submission_details['submitted_quiz_detail']" :key="index">
                <v-col cols="12" class="white--text">
                  {{index +1}}. {{detail.question}}
                </v-col>
                <v-col cols="12" class="white--text ml-5">
                  {{detail.answer}}
                </v-col>
                <v-divider class="white--text" style="background: white;" v-if="submission_details['submitted_quiz_detail'].length != index + 1"></v-divider>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-col>

      <!--     past quizzes _product_slug -->
      <v-col cols="12" md="9" lg="9" id="past_quiz_detail" v-if="pastQuizzes.length" class="mt-2">
        <v-card tile>
          <v-row no-gutters class="subtitle-1 text-uppercase font-weight-bold headerPrimaryColor px-3 pb-1 mb-5" dense>
            <v-col cols="6" >
              Past quizzes detail
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12">
              <v-data-table
                dense
                :headers="headers"
                :items="pastQuizzes"
                item-key="name"
                class="elevation-1"
                hide-default-footer
              >
                <template v-slot:item.quiz_submission_code="{item}">
                  <span>{{item['quiz_submission_code']}}</span>
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-btn small color="primary" tile @click="ViewMore(item['quiz_submission_code'], item['quiz_title'], item['submitted_date'])">
                    View more
                  </v-btn>
                </template>
              </v-data-table>


            </v-col>
          </v-row>
        </v-card>
      </v-col>

    </v-row>

  </div>

</template>

<script>
import EditForm from "~/components/store/quiz-game/edit-form";
import QuizDetailDialog from "~/components/store/quiz-game/quiz-detail-dialog";
import errorHandler from "@/helpers/shared/errorHandler";
export default {
  name: "RechargeQuizDetail",
  components:{
    QuizDetailDialog,
    EditForm
  },
  data(){
    return {
      answer:null,
      questions:[],
      indexToAlphabet:{
        'option_a':'A',
        'option_b':"B",
        'option_c':'C',
        'option_d':'D'
      },
      error:'',
      ableToSubmit:false,
      editForm:false,
      notSelected:{
        background : 'red'
      },
      rightAnswer:{
        background: 'green'
      },
      pastQuizzes:[],
      headers: [
        {
          text: 'Quiz submission',
          align: 'start',
          sortable: false,
          value: 'quiz_submission_code',
        },
        { text: 'Quiz Title', value: 'quiz_title' },
        { text: 'Submitted Date', value: 'submitted_date' },
        {
          text:'Actions',
          value:'actions'
        }
      ],
      detail_dialog_state:false,
      detail_quizzes:[],
      title:'',
      dates:'',
      submittingAnswer:false
    }
  },
  async fetch() {
    let { data } = await  this.$store.dispatch('quiz/getQuizzesDetails');
    this.pastQuizzes = data

  },
  computed:{
    quiz_question(){
      return this.$store.getters['quiz/GET_PASSAGE_DETAIL']
    },
    submission_details(){
      return this.$store.getters['quiz/GET_SUBMISSION_DETAIL']
    },
    quiz_participator_detail(){
      return this.$store.getters['quiz/GET_PARTICIPATOR_DETAIL']
    }
  },
  methods:{
    selectAnswer(option, selected_answer, idx){
      option.answer = selected_answer;
      option['selected_option'] = idx;
      this.$store.commit('quiz/UPDATE_BTN_STATUS', option)
    },
    finalSubmit(){
      if(this.allOptionMustBeSelected()){
        let data = new FormData();

        data.append('qp_code', this.quiz_question['qp_code']);
        data.append('participator_type', this.quiz_participator_detail['participator_type']);
        data.append('participator_code',  this.quiz_participator_detail['participator_type']);
        this.quiz_question['passage_questions_details'].forEach((item, index)=>{
          data.append(`quiz[${index}][question]`, item.question);
          data.append(`quiz[${index}][answer]`, item.selected_option);
          data.append(`quiz[${index}][question_code]`, item['question_code'])
        } )
        this.submittingAnswer = true;
        this.$store.dispatch('quiz/answerFormSubmit', data).then(res => {
          if(res.data.action){
            this.$store.commit("error/SET_422_ERROR", false);

            this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
            this.$store.commit('notification/COMMIT_DIALOG', {

              message: 'You have submitted wrong answer.',

            });
          }
          if(res.message === 'Quiz Submitted Successfully'){
            this.$store.commit("error/SET_422_ERROR", false);

            this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
            this.$store.commit('notification/COMMIT_DIALOG', {

              message: 'You have submitted quiz successfully.',

            });
            this.$store.commit('quiz/SET_SUBMISSION_DETAIL', res.data)
          }
          this.submittingAnswer = false
        }).catch(e =>{
          errorHandler(e, this)
        })
      }else{
        window.scrollTo(0, 0);
      }

    },
    allOptionMustBeSelected(){
      this.error = ''
      let data = this.quiz_question['passage_questions_details'].filter((item) => item.answer == '')
      if(data.length){
        this.error = "All the question must me answer";
        return false
      }else{
        return true
      }
    },
    openEditForm(){
      this.editForm = true
    },
    closeForm(value){
      this.editForm = value
    },
    ViewMore(code, title, date){
      this.detail_quizzes.length = 0
      this.title = title;
      this.dates = date
      this.$store.dispatch('quiz/getSubmittedQuizzesDetails', code).then(res =>{
        this.detail_quizzes = res.data;
        this.detail_dialog_state = true;
      })
    },
    closeDialog(value){
      this.detail_dialog_state = value;
    }
  }
}
</script>

<style scoped>
.option {
  color: white;
  position: relative;
  height: 40px !important;
  cursor: pointer;
  clip-path: polygon(4% 0, 97% 0, 100% 50%, 97% 99%, 4% 100%, 0% 50%);
  background: linear-gradient(90deg, rgba(71,95,249,1) 0%, rgba(103,16,242,0.773546918767507) 0%, rgba(43,42,164,0.8407738095238095) 87%) !important;
}
.option:hover{
  transform: scale(.9);
  background: linear-gradient(90deg, rgba(157,164,42,0.8407738095238095) 0%, rgba(103,16,242,0.773546918767507) 0%, rgba(249,100,71,1) 82%) !important;
}
.selectedAnswer{
  height: 40px !important;
  background: #FF5C00 !important;
}
.rightAnswer{
  background: green !important;
}
.passage{
  font-size: 16px;
}
</style>
