<template>
  <v-row no-gutters justify="center">
    <v-col cols="12">
      <v-card outlined class="mt-5 pb-5">
        <v-row no-gutters>
          <v-col cols="12" class="subtitle-1 text-uppercase font-weight-bold headerPrimaryColor px-3 pt-2 pb-1 mb-5">
            Please fill the participation form to play recharge quiz
          </v-col>
        </v-row>
        <v-row no-gutters>
          <error-handling422 v-if="isError422" />
          <v-col cols="12" class="subtitle-2 text-uppercase font-weight-medium px-5 py-3">
            Store Information
            <v-divider class="mt-1"></v-divider>
          </v-col>

          <v-col cols="12" class="px-5">
            <v-form ref="registerForm">
              <v-row  justify="space-between">
                <v-col cols="12" sm="12" md="6" lg="6">
                  <v-text-field
                    dense
                    outlined
                    prepend-inner-icon="mdi-account"
                    class="text_field_design mt-1"
                    label="Store Name"
                    v-model="name"
                    :rules="nameRule"
                  >
                  </v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="6" lg="6">
                  <v-text-field
                    dense
                    outlined
                    class="text_field_design mt-1"
                    label="PAN no."
                    v-model="pan_no"
                    :rules="panRule"
                  >
                  </v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="6" lg="6">
                  <v-text-field
                    dense
                    outlined
                    type="number"
                    prepend-inner-icon="mdi-phone"
                    class="text_field_design mt-1"
                    label="Recharge Phone Number"
                    v-model="phoneNumber"
                    :rules="phoneRules"
                  >
                  </v-text-field>
                </v-col>
              </v-row>

              <v-row  justify="space-between" class="mt-3">
                <v-col cols="12" class="subtitle-2 font-weight-medium text-uppercase mb-3">
                  Store Location
                  <v-divider class="mt-1"></v-divider>
                </v-col>

                <v-col cols="12" xs="12" sm="12" md="6" lg="6">
                  <v-autocomplete
                    dense
                    outlined
                    label="Province"
                    item-text="location_name"
                    item-value="location_name"
                    class="select_field_design mt-1"
                    :items="provinceList"
                    v-model="selectedProvinceCode"
                    :rules="provinceRule"
                    return-object
                    @input="showDistrictOfSelectedProvince">
                  </v-autocomplete>
                </v-col>

                <v-col cols="12" xs="12" sm="12" md="6" lg="6">
                  <v-autocomplete
                    dense
                    outlined
                    label="District"
                    item-text="location_name"
                    item-value="location_name"
                    class="select_field_design mt-1"
                    :items="districtList"
                    v-model="selectedDistrictCode"
                    :rules="districtRule"
                    return-object
                    @input="showMunicipalityOfSelectedDistrict">
                  </v-autocomplete>
                </v-col>

                <v-col cols="12" xs="12" sm="12" md="6" lg="6">
                  <v-autocomplete
                    dense
                    outlined
                    label="Municipality"
                    item-text="location_name"
                    item-value="location_name"
                    class="select_field_design mt-1"
                    :items="municipalityList"
                    v-model="selectedMunicipalityCode"
                    :rules="municipalityRule"
                    return-object
                    @input="showWardOfSelectedMunicipality">
                  </v-autocomplete>
                </v-col>

                <v-col cols="12" xs="12" sm="12" md="6" lg="6">
                  <v-autocomplete
                    dense
                    outlined
                    label="Ward"
                    item-text="location_name"
                    item-value="location_name"
                    class="select_field_design mt-1"
                    :items="wardList"
                    v-model="selectedWardName"
                    return-object
                    @input="selectedWardCodes"
                    :rules="wardRule"
                    :error-messages="serverValidationErrors['ward_code']">
                  </v-autocomplete>
                </v-col>

                <v-col cols="12">
                  <v-divider></v-divider>
                </v-col>
              </v-row>

              <v-row no-gutters justify="space-between" class="mt-3">
                <v-col cols="12" class="text-center">
                  <v-btn
                    small
                    tile
                    color="primary"
                    class="mt-4 mb-6"
                    :loading="btnLoadingState"
                    @click="register"
                  >
                    Submit
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import LocationsAPI from "@/services/shared/location";
import errorHandler from "@/helpers/shared/errorHandler";
import ErrorHandling422 from "@/components/shared/ErrorHandling422";

export default {
  name: "RechargeQuizForm",
  components: {ErrorHandling422},
  data() {
    return {
      name: '',
      nameRule: [
        v => !!v || 'Full name is required.'
      ],
      pan_no:'',
      panRule:[
        v => !!v || 'PAN no. is required.'
      ],
      phoneNumber: '',
      phoneRules: [
        v => !!v || 'Phone is required.',
        v => (v && v.length === 10) || 'Must be a 10 digits phone number.'
      ],
      gender: '',
      genderRule: [
        v => !!v || 'Gender is required.'
      ],
      provinceList: [],
      selectedProvinceCode: '',
      provinceRule: [
        v => !!v || 'Province is required.'
      ],
      districtList: [],
      selectedDistrictCode: '',
      districtRule: [
        v => !!v || 'District is required.'
      ],
      municipalityList: [],
      selectedMunicipalityCode: '',
      municipalityRule: [
        v => !!v || 'Municipality is required.'
      ],
      wardList: [],
      selectedWardCode: '',
      wardRule: [
        v => !!v || 'Ward is required.'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required.',
        v => (v && v.length >= 6) || 'Password must be greater than six characters.'
      ],
      confirmPassword: '',
      confirmPasswordRules: [
        v => !!v || 'Password is required.',
        v => (v === this.password) || "Password do not match."
      ],
      btnLoadingState: false,
      serverValidationErrors: {},
      selectedWardName:''
    }
  },
  async fetch() {
    let { data } = await LocationsAPI.getAllProvince();
    this.provinceList = data
  },
  computed: {
    isError422() {
      return this.$store.getters['error/IS422Error'];
    }
  },
  methods: {
    showDistrictOfSelectedProvince(province) {
      this.districtList = [];
      this.municipalityList = [];
      this.wardList = [];

      this.selectedDistrictCode = '';
      this.selectedMunicipalityCode = '';
      this.selectedWardCode = '';

      LocationsAPI.getLowerLocation(province['location_code']).then(res => {
        this.districtList = res.data;
      });
    },
    showMunicipalityOfSelectedDistrict(district) {
      this.municipalityList = [];
      this.wardList = [];

      this.selectedMunicipalityCode = '';
      this.selectedWardCode = '';

      LocationsAPI.getLowerLocation(district['location_code']).then(res => {
        this.municipalityList = res.data;
      });
    },
    showWardOfSelectedMunicipality(municipality) {
      this.wardList = [];
      this.selectedWardCode = '';

      LocationsAPI.getLowerLocation(municipality['location_code']).then(res => {
        this.wardList = res.data;
      });
    },
    selectedWardCodes(ward){
      this.selectedWardCode = ward['location_code']

    },
    register() {
      if (this.$refs.registerForm.validate()) {
        this.btnLoadingState = true;

        const data = new FormData();
        let storeName = `${this.selectedProvinceCode['location_name']}-${this.selectedDistrictCode['location_name']}-${this.selectedMunicipalityCode['location_name']}-${this.selectedWardName['location_name']}`
        data.append('store_name', this.name);
        data.append('store_pan_no', this.pan_no);
        data.append('store_location_ward_code', this.selectedWardCode);
        data.append('store_full_location', storeName);
        data.append('recharge_phone_no', this.phoneNumber);


        this.$store.dispatch('quiz/submitParticipationForm', data).then(res => {
          this.btnLoadingState = false;
          this.$emit('closeForm', false)
          this.$store.commit("error/SET_422_ERROR", false);
          this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
          this.$store.commit('notification/COMMIT_DIALOG', {
            title: 'Account Created',

            message: res.message,

          });

        }).catch((e) => {
          this.btnLoadingState = false;
          errorHandler(e, this);
          window.scroll({
            top: 0,
            behavior: "smooth"
          });
        });
      }
    },
  },
}
</script>

<style lang="scss" scoped>

</style>
