<template>
  <v-container fluid style="background-color:#e5e5e5">
   <client-only>
     <v-row no-gutters v-if="singleProductOverAllDetail">
       <v-col cols="12" lg="5" md="6">
         <div v-if="$mq === 'mobile' || $mq ==='ipad'">
           <div v-if="singleProductOverAllDetail.can_pre_order" class="mb-2 ml-4 flash_sale" style="padding: 1px">
             <v-row dense no-gutters class="flash_design">
               <v-col cols="4">
                 <div class="subtitle-2 mt-2 font-weight-bold white--text text-center text-uppercase">
                   <v-icon dark small class="mr-1">mdi-flash</v-icon>
                   Pre Order Sale
                 </div>
               </v-col>
               <v-col cols="8" class="mt-1">
                 <Timer :end_time="this.$store.getters['preOrder/PRE_ORDER']['end_time']"></Timer>
               </v-col>
             </v-row>
           </div>

           <div v-else-if="!singleProductOverAllDetail.can_pre_order && !singleProductOverAllDetail.has_start_time_past"
                class="mb-2 ml-4 flash_sale" style="padding: 1px">
             {{ $store.getters['preOrder/PRE_ORDER'] }}
             <v-row dense no-gutters class="flash_design">
               <v-col cols="1" class="pa-1 pl-3 mt-2">
                 <v-icon dark color="white">mdi-information</v-icon>
               </v-col>
               <v-col cols="11" class="pa-1 pl-3">
                 <div class="caption white--text pr-2">
                   <span class="font-weight-medium mr-1">"{{ singleProductOverAllDetail.product_name }}" </span><span
                   class="font-weight-regular mr-1">
               is not available at the moment. Please visit after :
            </span>
                 </div>
                 <div class="text-center">
                   <Timer :end_time="this.$store.getters['preOrder/PRE_ORDER']['start_time']"></Timer>
                 </div>
               </v-col>
             </v-row>
           </div>
           <div v-else-if="!singleProductOverAllDetail.can_pre_order && singleProductOverAllDetail.has_start_time_past"
                class="mb-2 ml-4 flash_sale" style="padding: 1px">
             <v-row dense no-gutters class="flash_design">
               <v-col cols="1" class="pa-1 pl-3 mt-8">
                 <v-icon dark color="white">mdi-information</v-icon>
               </v-col>
               <v-col cols="11" class="pa-1 pl-3">
                 <div class="caption white--text pr-2">
                   <span class="font-weight-medium mr-3">"{{ singleProductOverAllDetail.product_name }}" </span><span
                   class="font-weight-regular mr-1"> pre order time has expired.You can only update the previously added quantity or remove the product from your list until:
            </span>
                 </div>
                 <div>
                   <Timer :end_time="this.$store.getters['preOrder/PRE_ORDER']['finalization_time']"></Timer>
                 </div>
               </v-col>
             </v-row>
           </div>
           <div v-if="singleProductOverAllDetail.store_pre_order_code" class="ml-4">
             <v-alert
               outlined
               width="100%"
               border="left"
               class="pa-2 pl-6"
               color="darkOrange"
               icon="mdi-check-decagram"
             >
               <v-row no-gutters class="pl-3">
                 <v-col cols="12" lg="7">
                   <div class="caption font-weight-medium">Want to visit your pre order.???</div>
                 </v-col>
                 <v-col cols="12" lg="5">
                   <v-icon dark color="darkOrange" small>mdi-chevron-double-left</v-icon>
                   <span class="caption font-weight-bold click_hover text-decoration-underline"
                         @click="goToPreOrderList">Go to Pre Order</span>
                   <v-icon dark color="darkOrange" small>mdi-chevron-double-right</v-icon>
                 </v-col>
               </v-row>
             </v-alert>
           </div>
         </div>
         <div class="sticky_div">
           <product-detail-image-zoomer v-on:change-zoomer-image="changeZoomerImage" v-if="singleProductOverAllDetail"
                                        :thumb_image="thumbImage" :large_image="largeImage"
                                        :smaller_image="smallerImage"></product-detail-image-zoomer>
         </div>
       </v-col>
       <v-col cols="12" lg="4" md="6">
         <div v-if="$mq==='laptop' || $mq==='desktop' || $mq==='xlscreen'">
           <div v-if="singleProductOverAllDetail.can_pre_order " class="mb-2 ml-4 flash_sale" style="padding: 1px">
             <v-row dense no-gutters class="flash_design">
               <v-col cols="4">
                 <div class="subtitle-2 mt-2 font-weight-bold white--text text-center text-uppercase">
                   <v-icon dark small class="mr-1">mdi-flash</v-icon>
                   Flash Sale
                 </div>
               </v-col>
               <v-col cols="8" class="mt-1">
                 <Timer :end_time="this.$store.getters['preOrder/PRE_ORDER']['end_time']"></Timer>
               </v-col>
             </v-row>
           </div>
           <div v-else-if="!singleProductOverAllDetail.can_pre_order && !singleProductOverAllDetail.has_start_time_past "
                class="mb-2 ml-4 flash_sale" style="padding: 1px">
             <v-row dense no-gutters class="flash_design">
               <v-col cols="1" class="pa-1 pl-3 mt-2">
                 <v-icon dark color="white">mdi-information</v-icon>
               </v-col>
               <v-col cols="11" class="pa-1 pl-3">
                 <div class="caption white--text pr-2">
                   <span class="font-weight-medium mr-1">"{{ singleProductOverAllDetail.product_name }}" </span><span
                   class="font-weight-regular mr-1">
               is not available at the moment. Please visit after :
            </span>
                 </div>
                 <div class="text-center">
                   <Timer :end_time="this.$store.getters['preOrder/PRE_ORDER']['start_time']"></Timer>
                 </div>
               </v-col>
             </v-row>
           </div>
           <div v-else-if="!singleProductOverAllDetail.can_pre_order && singleProductOverAllDetail.has_start_time_past "
                class="mb-2 ml-4 flash_sale" style="padding: 1px">
             <v-row dense no-gutters class="flash_design">
               <v-col cols="1" class="pa-1 pl-3 mt-8">
                 <v-icon dark color="white">mdi-information</v-icon>
               </v-col>
               <v-col cols="11" class="pa-1 pl-3">
                 <div class="caption white--text pr-2">
                   <span class="font-weight-medium mr-3">"{{ singleProductOverAllDetail.product_name }}" </span><span
                   class="font-weight-regular mr-1"> pre order time has expired.You can only update the previously added quantity or remove the product from your list until:
            </span>
                 </div>
                 <div>
                   <Timer :end_time="this.$store.getters['preOrder/PRE_ORDER']['finalization_time']"></Timer>
                 </div>
               </v-col>
             </v-row>
           </div>
           <div v-if="singleProductOverAllDetail.store_pre_order_code" class="ml-4">
             <v-alert
               outlined
               width="100%"
               border="left"
               class="pa-2 pl-6"
               color="darkOrange"
               icon="mdi-check-decagram"
             >
               <v-row no-gutters class="pl-3">
                 <v-col cols="12" lg="7" xl="6">
                   <div class="caption font-weight-medium">Want to visit your pre order.???</div>
                 </v-col>
                 <v-col cols="12" lg="5" xl="6">
                   <v-icon dark color="darkOrange" small>mdi-chevron-double-left</v-icon>
                   <span class="caption font-weight-bold click_hover text-decoration-underline"
                         @click="goToPreOrderList">Go to Pre Order</span>
                   <v-icon dark color="darkOrange" small>mdi-chevron-double-right</v-icon>
                 </v-col>
               </v-row>
             </v-alert>
           </div>
         </div>
         <product-description v-if="singleProductOverAllDetail"
                              v-on:change-image-and-price-according-to-variant="makeCombinationForVariantValues"
                              :product_detail="singleProductOverAllDetail" :variant_price="variantPrice"
                              :selected_variant="selectedVariantSlug"
                              :loading="loadButton"
                              :can_pre_order="singleProductOverAllDetail.can_pre_order"
                              :is_product_detail_page="productDetailPage"
                              :loading_variant_icon="loadVariantIcons"
                              :associated_variants="selectedAssociationVariants"
                              :variant_stock="variantStock"></product-description>
         <div v-if="singleProductOverAllDetail.can_pre_order && isStore" class="ml-4 mt-1">
           <v-form class="mt-1" ref="addToCart">
             <div class="variant_name mb-4">Quantity:
               <span class="selected_variant">{{ priceForVariant }}</span>
             </div>
             <v-row
               v-if="!singleProductOverAllDetail.variant_tag && isStore==='store' || variantStock && isStore==='store' || variantPrice && isStore==='store'"
               class="ml-0 mt-3" no-gutters>
               <v-col cols="12" xl="12" lg="12">
                 <div class="variant_name mb-0">Package Type:
                   <span class="subtitle-2 font-weight-bold black--text">{{ selectedProductPackageName }}

                      <span
                        v-if="selectedProductPackageDescription!==''"
                        class="font-weight-regular ml-2">[ {{ selectedProductPackageDescription }} ]</span>
                    </span></div>
                 <v-row no-gutters>
                   <v-btn v-for="(packageType,index) in productPackagingDetail" :key="index"
                          tile
                          dark
                          x-small
                          outlined
                          depressed
                          height="30"
                          class="mr-2 mt-3 mb-3"
                          :ripple="false"
                          @click="showProductPriceAccordingToTheSelectedPackagingType(packageType)"
                          :color="packageType['color']">
                        <span :class="packageType['color']==='#FF5C00'?'variant_button':'unselected_variant_button'">{{
                            packageType['package_name']
                          }}</span>
                   </v-btn>

                 </v-row>

               </v-col>
             </v-row>
             <v-row no-gutters v-if="isStore==='store'">
               <v-col cols="3">
                 <v-text-field
                   solo
                   dense
                   label="Quantity"
                   type="number"
                   class="simple_text_field"
                   placeholder="Quantity"
                   :disabled="disablePriceButton"
                   v-model="priceForVariant"
                   :rules="quantityRule"
                 >
                 </v-text-field>
               </v-col>
               <v-col cols="9">
                 <v-btn
                   v-if="isBillable === 1"
                   tile
                   depressed
                   color="darkBlue"
                   dense
                   small
                   height="40"
                   class="ml-3"
                   outlined
                   :dark="!disableShoppingCartButton"
                   :disabled="disableShoppingCartButton"
                   @click="addToPreOrderList(priceForVariant)"
                 >
                    <span v-if="showLoadingInformation" class="caption dark_blue_text font-weight-medium">
                    <v-progress-circular class="ml-2" width="2" indeterminate color="primary"
                                         size="20"></v-progress-circular>Adding to pre order...
                  </span>
                   <span v-else> Pre Order</span>
                 </v-btn>
                 <v-btn v-else loadingtile
                        depressed
                        color="darkBlue"
                        dense
                        tile
                        small
                        height="40"
                        @click="displayMessageWithForm()"
                        class="ml-3"
                        outlined>Pre Order
                 </v-btn>
               </v-col>
             </v-row>
           </v-form>
         </div>
         <product-specification class="ml-4" :product_detail="singleProductOverAllDetail"></product-specification>
       </v-col>
       <v-col cols="12" lg="3" md="6">
         <div class="sticky_div">
           <RelatedProductFromWarehouse
             :wh_listing_code="this.$store.getters['preOrder/PRE_ORDER']['warehouse_preorder_listing_code']"
             :product_code="singleProductOverAllDetail.product_code"
             :relatedProducts="relatedProducts"
           ></RelatedProductFromWarehouse>
           <div v-if="relatedProductLength>3" class="text-center">
             <v-btn :ripple="false" text v-scroll-to="{ el: '#related_product', duration: 2000 }">
               <v-icon dark color="primary" small>mdi-chevron-double-left</v-icon>
               <div class="caption font-weight-bold product_name_hover blue--text">View More</div>
               <v-icon dark color="primary" small>mdi-chevron-double-right</v-icon>
             </v-btn>
           </div>
         </div>
       </v-col>
       <v-col v-if="$mq === 'mobile' || $mq === 'tablet' || $mq === 'ipad' || $mq==='xlscreen'" cols="12">
         <product-all-descriptions :product_detail="singleProductOverAllDetail"></product-all-descriptions>
       </v-col>
       <v-col class="pl-13 pr-3 pt-3" cols="12" v-else>

         <v-col class="pl-4 pl-xl-13 pl-lg-13 pr-3 pt-4 product_description" cols="12">
           <product-all-descriptions :product_detail="singleProductOverAllDetail"></product-all-descriptions>
         </v-col>
       </v-col>


       <v-col id="related_product" class="pl-13 pr-3 pt-4" cols="12" v-if=" relatedProductLength>3">
         <title-highlighter :title="'people_also_view'"></title-highlighter>
         <related-products
           :wh_listing_code="this.$store.getters['preOrder/PRE_ORDER']['warehouse_preorder_listing_code']"
           :product_code="singleProductOverAllDetail.product_code"
         ></related-products>
       </v-col>
     </v-row>
     <v-row no-gutters v-else>
       <v-col cols="12">
         <ProductDetailSkeleton></ProductDetailSkeleton>
       </v-col>
     </v-row>
     <v-dialog
       v-model="storeDetailFormDialog"
       persistent
       max-width="1000"
     >
       <store-detail-dialog v-on:closeDialog="closeDialog"/>

     </v-dialog>
   </client-only>
  </v-container>
</template>

<script>
import errorHandler from "@/helpers/shared/errorHandler";
import StoreDetailDialog from "@/components/shared/isbill-payable/StoreDetailDialog";
import TitleHighlighter from "@/components/shared/title-highlighter";

export default {
  name: "PreOrderDetail",
  components: {
    StoreDetailDialog,
    TitleHighlighter,
    Timer: () => import("@/components/store/timer"),

    RelatedProducts: () => import("@/components/shared/product-page/RelatedProducts"),
    ProductInformation: () => import("@/components/shared/product-page/ProductInformation"),
    ProductSpecification: () => import("@/components/shared/product-page/ProductSpecification"),
    ProductDescription: () => import("@/components/shared/preorder-detail-page/productDescription"),
    RelatedProductFromWarehouse: () => import("@/components/shared/preorder-detail-page/relatedProductFromWarehouse"),
    ProductDetailImageZoomer: () => import("@/components/shared/product-page/ProductDetailImageZoomer"),
    ProductAllDescriptions: () => import("@/components/shared/preorder-detail-page/productAllDescriptions"),
    ProductDetailSkeleton: () => import("@/components/shared/skeleton/ProductDetailSkeleton.vue"),
  },
  middleware: 'shared/authenticated',
  data() {
    return {
      loading: false,
      showErrorTemplate: false,
      disablePriceButton: true,
      disableShoppingCartButton: true,
      thumbImage: '',
      singleProductOverAllDetail: null,
      zoomerSmallImages: [],
      largeImage: '',
      thumbImages: [],
      largeImages: [],
      allSelectedVariant: [],
      selectedVariantSlugName: '',
      totalVariant: [],
      loadButton: false,
      price: null,
      variantStockAvailable: null,
      priceForVariant: 1,
      selectedVariantSlug: [],
      quantityRule: [
        v => v > 0 || "Must be more than 0.",
        v => /^[0-9]*$/.test(v) || 'Must be integer'
      ],
      relatedProductLength: 0,
      productOrVariantPackageType: [],
      selectedProductPackage: null,
      productPackageTypeRules: [
        value => !!value || "Please Select Package Type.",
      ],
      selectedProductPackageName: '',
      selectedProductPackageDescription: '',
      selectedVariantsOtherAssociatedVariants: [],
      checkingIfSameParent: null,
      variantsForTheProducts: [],
      preOrderLoadingButton: false,
      selectedVariantCodeName: '',
      loadVariantIcons: false,
      showLoadingInformation: false,
      storeDetailFormDialog: false

    }
  },

  watch: {
    '$route.params.product_slug': "$fetch",
  },

  fetch() {

    this.price = null;

    this.allSelectedVariant = [];

    this.selectedVariantSlug = [];

    this.selectedVariantsOtherAssociatedVariants = [];

    this.showPreOrderProductDetail();

  },

  computed: {

    isBillable() {
      return this.$store.getters['login/STORECRED']['is_billable']
    },

    productPackagingDetail() {
      return this.productOrVariantPackageType;
    },

    selectedAssociationVariants() {

      return this.selectedVariantsOtherAssociatedVariants;
    },

    productDetailPage() {

      return this.$store.getters['login/IS_PRODUCT_DETAIL_PAGE'];

    },

    isStore() {
      return this.$store.getters["login/ROLEID"];
    },

    variantPrice() {
      return this.price;
    },

    smallerImage() {
      return this.zoomerSmallImages;
    },

    variantStock() {
      return this.variantStockAvailable;
    },

    relatedProducts() {
      let related = [];
      let splicedRelatedProduct = [];
      related = this.$store.getters['preOrder/GET_PRE_ORDER_RELATED_PRODUCTS'];
      splicedRelatedProduct = related;
      if (related.length > 3) {
        return splicedRelatedProduct.splice(0, 3);
      } else {
        return splicedRelatedProduct;
      }
    },

  },

  methods: {
    // Show dialogbox
    displayMessageWithForm() {
      this.storeDetailFormDialog = true;
    },

    // close dialog from different component
    closeDialog(value) {
      this.storeDetailFormDialog = value;
    },


    getRelatedProduct() {

      this.$store.dispatch("preOrder/LoadAllRelatedProducts", {

        product_code: this.singleProductOverAllDetail.product_code,

        wh_listing_code: this.$store.getters['preOrder/PRE_ORDER']['warehouse_preorder_listing_code']

      }).then(response => {

        this.$store.commit('preOrder/SET_PRE_ORDER_RELATED_PRODUCTS', response);

        this.relatedProductLength = response.length;

      }).catch(() => {

      });

    },


    showProductPriceAccordingToTheSelectedPackagingType(selectedPackage) {

      this.selectedProductPackage = selectedPackage['package_code'];

      this.selectedProductPackageName = '';

      this.selectedProductPackageDescription = '';

      this.selectedProductPackageDescription = selectedPackage['description'];

      this.selectedProductPackageName = selectedPackage['package_name'];

      let selectedPackageType = this.productOrVariantPackageType.find(data => data.package_code === this.selectedProductPackage);

      this.productOrVariantPackageType.map(data => {

        if (this.selectedProductPackage === data['package_code']) {

          data['color'] = 'red';

        } else {

          data['color'] = '#c3c3c3';

        }

      });

      this.price = selectedPackageType.price;

    },

    goToPreOrderList() {
      this.$store.commit('preOrder/SET_DROP_DOWN_VALUE', true)
      this.$router.push({
        name: 'store-list-of-preorder-pre_order_code',
        params: {
          pre_order_code: this.singleProductOverAllDetail.store_pre_order_code
        }
      });

    },

    showPreOrderProductDetail() {

      this.loading = true;

      let payload = {
        slug: this.$route.params.product_slug,
        warehouse_listing_code: this.$store.getters['preOrder/PRE_ORDER']['warehouse_preorder_listing_code']

      }

      this.$store.dispatch("preOrder/loadPreOrderProductDetail", payload).then(response => {

        this.singleProductOverAllDetail = response;

        if (response['first_variant'].length === 0) {

          this.disablePriceButton = false;

          this.disableShoppingCartButton = false;


        } else {

          this.disablePriceButton = true;

          this.disableShoppingCartButton = true;

        }

        this.zoomerSmallImages = response['product_images'];

        this.thumbImages = response['product_images'];

        this.largeImages = response['product_images'];

        this.productOrVariantPackageType = response['product_packaging_types'];

        this.thumbImage = this.thumbImages[0];

        this.largeImage = this.largeImages[0];

        this.loading = false;

        this.showErrorTemplate = false;

        this.changeZoomerImage(0);

        this.getRelatedProduct();

      }).catch(() => {

        this.loading = false;

        this.showErrorTemplate = true;

      });

    },

    changeZoomerImage(index) {

      this.thumbImage = this.zoomerSmallImages[index];

      this.largeImage = this.zoomerSmallImages[index];

    },

    makeCombinationForVariantValues(selectedVariant) {

      /*  this.changeTheLoopAsWellAsAllSelectedVariants(selectedVariant);*/

      if (selectedVariant['variant_depth'] !== this.singleProductOverAllDetail['product_variant_info'].length) {

        if (selectedVariant['variant_depth'] === 1) {

          this.selectedVariantsOtherAssociatedVariants = [];

          this.allSelectedVariant = [];

        } else {

          this.selectedVariantsOtherAssociatedVariants.splice(selectedVariant['variant_depth'] - 1, this.selectedVariantsOtherAssociatedVariants.length - selectedVariant['variant_depth'] + 1);

        }

        this.productOrVariantPackageType = [];

        this.selectedProductPackageName = '';

        this.selectedProductPackageDescription = '';

      }

      this.selectedProductPackage = null;

      this.selectedProductPackageName = '';

      this.selectedProductPackageDescription = '';

      let variant = this.$store.state.preOrder.product_detail.product_variant_info;

      this.variantsForTheProducts = variant;

      let checkForDuplicateEntry = false;

      let checkForSameIndexVariant = false;

      if (this.allSelectedVariant.length < variant.length) {

        checkForDuplicateEntry = this.allSelectedVariant.some(data => data.variant_code === selectedVariant.variant_value_code);

        checkForSameIndexVariant = this.allSelectedVariant.some(data => data.parent_code === selectedVariant.variant_code);

        if (!checkForDuplicateEntry && !checkForSameIndexVariant) {

          this.allSelectedVariant.push({

            'name': selectedVariant.variant_value_name,

            'variant_code': selectedVariant.variant_value_code,

            'parent_code': selectedVariant.variant_code,

            'slug': selectedVariant.variant_value_slug,

            'parent_name': selectedVariant.slug,

          });

          if (this.allSelectedVariant.length === 1) {

            this.selectedVariantsOtherAssociatedVariants = [];

            this.productOrVariantPackageType = [];

            this.selectedProductPackageName = '';

            this.selectedProductPackageDescription = '';

            this.ifTheVariantSelectedLengthIsOne(selectedVariant);

          } else {

            this.addTheColorToTheSelectedVariant(selectedVariant);

          }

        } else if (checkForDuplicateEntry && checkForSameIndexVariant) {

          console.log();

        } else {

          let selectedIndex = this.allSelectedVariant.findIndex(data => data.parent_code === selectedVariant.variant_code);

          this.checkingIfSameParent = selectedIndex;

          let selectedObject = {

            'name': selectedVariant.variant_value_name,

            'variant_code': selectedVariant.variant_value_code,

            'parent_code': selectedVariant.variant_code,

            'slug': selectedVariant.variant_value_slug,

            'variant_depth': selectedVariant.variant_depth,

            'parent_name': selectedVariant.slug
          }

          this.allSelectedVariant.splice(selectedIndex, 1, selectedObject);

          this.allSelectedVariant.map(data => {

            if (selectedVariant.variant_depth === 1) {

              this.changeColorForTheFirstVariants(data);

            } else {

              this.selectedVariantsOtherAssociatedVariants.map(variant => {

                variant.map(data => {

                  if (data['variant_value_slug'] === selectedVariant.variant_value_slug) {

                    data.color = '#FF5C00';

                  } else {

                    data.color = '#c3c3c3';

                  }

                })

              })

            }

          });

        }

        this.allSelectedVariant.map(data => {

          this.singleProductOverAllDetail['first_variant'].map(variantInfo => {

            if (variantInfo.variant_value_slug === data.name) {

              variantInfo.color = '#FF5C00';

            }

          })
        });

      }

      if (!checkForDuplicateEntry && !checkForSameIndexVariant) {

        this.createSlugToMakeTheCombination();

        if (this.singleProductOverAllDetail['product_variant_info'].length === this.allSelectedVariant.length) {

          this.changeTheLoopAsWellAsAllSelectedVariants(selectedVariant);

          this.disablePriceButton = false;

          this.disableShoppingCartButton = false;

          if (this.singleProductOverAllDetail['product_variant_info'].length === this.allSelectedVariant.length) {

            this.getTheApiForTheVariantSelectedToFetchThePriceAndImages();

          }

        } else {

          this.getTheLowerLevelVariantsFromTheApi(selectedVariant);

        }

      } else if (!checkForDuplicateEntry && checkForSameIndexVariant) {

        this.createSlugToMakeTheCombination();

        this.getTheLowerLevelVariantsFromTheApi(selectedVariant);

      }


    },

    changeTheLoopAsWellAsAllSelectedVariants(selectedVariant) {

      if (selectedVariant.variant_depth === 1) {

        this.allSelectedVariant = [];

        this.allSelectedVariant.push({

          'name': selectedVariant.variant_value_name,

          'variant_code': selectedVariant.variant_value_code,

          'parent_code': selectedVariant.variant_code,

          'slug': selectedVariant.variant_value_slug,

          'parent_name': selectedVariant.slug,

        });

        this.selectedVariantsOtherAssociatedVariants = [];

        this.allSelectedVariant.map(data => {

          if (selectedVariant.variant_depth === 1) {

            this.changeColorForTheFirstVariants(data);

          }

        });

        this.ifTheVariantSelectedLengthIsOne(selectedVariant);

        this.createSlugToMakeTheCombination();

        this.getTheLowerLevelVariantsFromTheApi(selectedVariant);


      } else {

        this.allSelectedVariant.splice(selectedVariant.variant_depth - 1, this.allSelectedVariant.length - 1);

        this.allSelectedVariant.push({

          'name': selectedVariant.variant_value_name,

          'variant_code': selectedVariant.variant_value_code,

          'parent_code': selectedVariant.variant_code,

          'slug': selectedVariant.variant_value_slug,

          'parent_name': selectedVariant.slug,

        });

        this.selectedVariantsOtherAssociatedVariants.splice(selectedVariant.variant_depth - 1, this.allSelectedVariant.length - 1);

        this.createSlugToMakeTheCombination();

        this.getTheLowerLevelVariantsFromTheApi(selectedVariant);

        this.addTheColorToTheSelectedVariant(selectedVariant);

      }

    },

    createSlugToMakeTheCombination() {

      this.allSelectedVariant.map(variant_value => {

        this.variantsForTheProducts.map((selected, index) => {

          if (variant_value['parent_code'] === selected['variant_code']) {

            variant_value['parent_index'] = index;

          }

        })

      });

      this.allSelectedVariant.sort(function (a, b) {
        return a.parent_index - b.parent_index
      });

      let selectedVariantSlug = [];

      let selectedVariantCodSlug = [];

      this.allSelectedVariant.map(data => {

        selectedVariantSlug.push(data.slug);

        selectedVariantCodSlug.push(data.variant_code);

      });

      this.selectedVariantSlug = selectedVariantSlug;

      this.selectedVariantSlugName = selectedVariantSlug.join("-");

      this.selectedVariantCodeName = selectedVariantCodSlug.join("-");

    },

    ifTheVariantSelectedLengthIsOne(selectedVariant) {

      this.singleProductOverAllDetail['first_variant'].map(variantInfo => {

        if (variantInfo.variant_value_slug === selectedVariant.variant_value_slug) {

          variantInfo.color = '#FF5C00';

        } else {

          variantInfo.color = '#c3c3c3';

        }

      });

    },

    getTheApiForTheVariantSelectedToFetchThePriceAndImages() {

      let selectedVariantCodeSlugName = this.singleProductOverAllDetail['product_variants'].find(data => data['variant_value_code_combination'] === this.selectedVariantCodeName);

      this.$store.dispatch('preOrder/getPreOrderVariantInfo', {

        product_slug: this.$route.params.product_slug,

        variant_name: selectedVariantCodeSlugName.product_variant_code,

        wh_listing_code: this.$store.getters['preOrder/PRE_ORDER']['warehouse_preorder_listing_code']

      })

        .then(response => {
          this.totalVariant = this.allSelectedVariant;

          /*  this.allSelectedVariant = [];*/

          this.price = response.data.rate;

          this.productOrVariantPackageType = response.data['product_packaging_types'];

          this.variantStockAvailable = response.data.stock;

          if (response.data.images.length > 0) {

            let images = response.data.images;

            let zoomImage = [];

            images.map(data => {
              zoomImage.push({
                'image': data
              })
            });

            this.zoomerSmallImages = zoomImage;

            this.thumbImages = zoomImage;

            this.largeImages = zoomImage;

            this.thumbImage = zoomImage[0];

            this.largeImage = zoomImage[0];

            this.changeZoomerImage(0);

          }

        })

        .catch((err) => {

          errorHandler(err, this)
          /*   this.allSelectedVariant = [];*/


        });

    },

    getTheLowerLevelVariantsFromTheApi(selectedVariant) {

      this.loadVariantIcons = true;

      let payload = {

        wh_listing_code: this.$store.getters['preOrder/PRE_ORDER']['warehouse_preorder_listing_code'],

        product_code: this.singleProductOverAllDetail['product_code'],

        variant_value_code: selectedVariant.variant_value_code,

        variant_depth: selectedVariant.variant_depth,

        ancestor_code: selectedVariant.ancestor_code

      }

      this.$store.dispatch('preOrder/getNextLevelVariants', payload).then(response => {

        let checkIfTheVariantIsFromTheSameParent = this.allSelectedVariant.some(data => data['variant_depth'] === selectedVariant['variant_depth']);

        if (!checkIfTheVariantIsFromTheSameParent) {

          if (response.data.length > 0) {

            if (this.selectedVariantsOtherAssociatedVariants.length > 0) {

              if (response.data[0]['variant_depth'] === this.selectedVariantsOtherAssociatedVariants[0][0]['variant_depth']) {

                console.log();

              } else {

                this.selectedVariantsOtherAssociatedVariants.push(response.data);

              }

            } else {

              this.selectedVariantsOtherAssociatedVariants.push(response.data);

            }

            /* if (this.selectedVariantsOtherAssociatedVariants.length > 0) {
c
               this.selectedVariantsOtherAssociatedVariants.push(response.data);

               for (let i = 0; i < this.selectedVariantsOtherAssociatedVariants.length; i++) {

                 if (this.selectedVariantsOtherAssociatedVariants[i][0]['variant_code'] === this.selectedVariantsOtherAssociatedVariants[i + 1][0]['variant_code']) {


                 }

               }


             } else {

               this.selectedVariantsOtherAssociatedVariants.push(response.data);

             }*/

          }

        } else {

          this.selectedVariantsOtherAssociatedVariants.splice(this.checkingIfSameParent, 1, response.data);

        }

        this.loadVariantIcons = false;

      });

      this.disablePriceButton = true;

      this.disableShoppingCartButton = true;

    },

    addTheColorToTheSelectedVariant(selectedVariant) {

      this.selectedVariantsOtherAssociatedVariants.map((variant, index) => {

        if (this.selectedVariantsOtherAssociatedVariants[index][0]['variant_depth'] === selectedVariant['variant_depth']) {

          variant.map(data => {

            if (data['variant_value_slug'] === selectedVariant.variant_value_slug) {

              data.color = '#FF5C00';

            } else {

              data.color = '#c3c3c3';

            }

          })

        }

      });

    },

    changeColorForTheFirstVariants(selected) {

      this.singleProductOverAllDetail['first_variant'].map(variantInfo => {

        if (variantInfo.variant_value_slug === selected.slug) {

          variantInfo.color = '#FF5C00';

        } else {

          variantInfo.color = '#c3c3c3';

        }

      })

    },

    addToPreOrderList(quantity) {


      if (this.selectedProductPackageName === '') {
        this.$store.commit("error/SET_422_ERROR", false);

        this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
        this.$store.commit('notification/COMMIT_DIALOG', {
          message: 'Please Select Package Type.',
          color: 'error'
        })

        this.showLoadingInformation = false;

        this.disableShoppingCartButton = false;


      } else {

        let productPriceInNumber = Number(quantity);

        let selectedVariantCodeSlugName = null;

        if (this.singleProductOverAllDetail['product_variants'].length > 0) {

          selectedVariantCodeSlugName = this.singleProductOverAllDetail['product_variants'].find(data => data['variant_value_code_combination'] === this.selectedVariantCodeName);

        }

        if (this.$refs.addToCart.validate()) {


          this.showLoadingInformation = true;

          this.disableShoppingCartButton = true;

          this.loadButton = true;

          if (this.singleProductOverAllDetail['product_variant_info'].length === 0) {

            this.loadButton = true;

            let payload = {

              wh_listing_code: this.$store.getters['preOrder/PRE_ORDER']['warehouse_preorder_listing_code'],

              requestValue: {

                quantity: productPriceInNumber,

                product_slug: this.$route.params.product_slug,

                package_code: this.selectedProductPackage

              }

            };

            this.$store.dispatch("cart/addProductToPreOrder", payload).then(response => {
              this.$store.commit("error/SET_422_ERROR", false);

              this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
              this.$store.commit('notification/COMMIT_DIALOG', {
                message: 'product add successfully',
                color: 'success'
              })

              this.showLoadingInformation = false;

              this.disableShoppingCartButton = false;


              /*this.allSelectedVariant = [];*/

              this.loadButton = false;

              this.priceForVariant = 1;

              this.$refs.addToCart.reset();

            }).catch((err) => {

              this.priceForVariant = 1;

              this.showLoadingInformation = false;

              errorHandler(err, this)

              this.disableShoppingCartButton = false;


              /*this.allSelectedVariant = [];*/

              this.loadButton = false;

            });


          } else if (this.singleProductOverAllDetail['product_variant_info'].length === this.totalVariant.length) {

            let payload = {

              wh_listing_code: this.$store.getters['preOrder/PRE_ORDER']['warehouse_preorder_listing_code'],

              requestValue: {

                combination_name: selectedVariantCodeSlugName.product_variant_code,

                quantity: productPriceInNumber,

                product_slug: this.$route.params.product_slug,

                package_code: this.selectedProductPackage

              }

            };

            this.$store.dispatch("cart/addProductToPreOrder", payload).then(response => {

              this.$store.commit("error/SET_422_ERROR", false);

              this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
              this.$store.commit('notification/COMMIT_DIALOG', {
                message: 'product add successfully',
                color: 'success'
              })

              this.disableShoppingCartButton = false;

              this.showLoadingInformation = false;

              /*this.allSelectedVariant = [];*/

              this.loadButton = false;

              this.priceForVariant = 1;

              this.$refs.addToCart.reset();

            }).catch((err) => {

              this.priceForVariant = 1;

              this.showLoadingInformation = false;

              this.disableShoppingCartButton = false;

              errorHandler(err, this)

              /* this.allSelectedVariant = [];*/

              this.loadButton = false;

            });

          } else {

            if (!this.priceForVariant) {

              this.$store.commit('notification/COMMIT_DIALOG', {
                message: 'Please Enter Quantity.',
                color: 'error'
              })

            } else {

              this.$store.commit('notification/COMMIT_DIALOG', {
                message: 'Please Select Variant.',
                color: 'error'
              })

            }

            this.loadButton = false;

          }

          this.$refs.addToCart.reset();

        } else {

          this.loadButton = false;

        }

      }

    },

  }
}
</script>
