<template>
  <v-container fluid>
    <client-only>
      <preorderSkeleton v-if="loadingPage  && this.$route.query.tab"/>
      <div v-if="!loadingPage && this.$route.query.tab">
        <div v-if="$mq === 'mobile' ">
          <v-navigation-drawer app right v-model="navDrawer">
            <v-row no-gutters class="pa-4 ">
              <v-col cols="12" class="subtitle-2 mb-3">
                Related Categories
              </v-col>
              <v-col cols="12" class="category_color caption font-weight-medium text-uppercase mb-3">
                {{ categoryTitle }}
                <v-divider class="mt-2"></v-divider>
              </v-col>
              <v-col cols="12" class="subtitle-2 mt-3 mb-2" v-if="this.selectedCategoryChildren.length>0">
                Categories
              </v-col>
              <v-col cols="12" v-if="this.selectedCategoryChildren.length>0">
                <v-checkbox
                  v-for="(category,index) in this.selectedCategoryChildren" :key="index"
                  color="darkOrange"
                  class="checkbox_design"
                  hide-details
                  :ripple="false"
                  :value="category"
                  :multiple="checkIfCategoryHasChildren"
                  :label="`${category.category_name}`"
                  v-model="checkboxSelectedCategory"
                  @click="showSelectedCategoryProductsFromCheckBox(checkboxSelectedCategory)"
                ></v-checkbox>
                <v-divider class="mt-5"></v-divider>
              </v-col>
              <v-col cols="12" class="subtitle-2 mt-5">Price</v-col>
              <v-col cols="12">
                <v-range-slider
                  hide-details
                  color="darkOrange"
                  track-color="#f7ccb4"
                  class="text-center range_slider ml-2 mt-3"
                  :min="minimumValue"
                  :max="maximumValue"
                  v-model="range"
                >
                  <template v-slot:prepend>
                    <v-text-field
                      solo
                      height="30"
                      type="number"
                      style="width: 60px"
                      class="range_slider_design"
                      :value="range[0]"
                      @change="$set(range, 0, $event)"
                    ></v-text-field>
                  </template>
                  <template v-slot:append>
                    <v-text-field
                      solo
                      height="30"
                      type="number"
                      style="width: 60px"
                      class="range_slider_design"
                      :value="range[1]"
                      @change="$set(range, 1, $event)"
                    ></v-text-field>
                  </template>
                </v-range-slider>
              </v-col>
              <v-row no-gutters>
                <v-col cols="4" class="mt-11 text-center body-2">Minimum</v-col>
                <v-col cols="3"></v-col>
                <v-col cols="4" class="mt-11 text-end body-2">Maximum</v-col>
              </v-row>
              <v-col cols="12" sm="4" class="text-center mt-10">
                <v-btn
                  dark
                  tile
                  small
                  depressed
                  block
                  class="ml-1 filter_btn"
                  color="darkOrange"
                  :loading="loadingPriceButton"
                  @click="showProductAccordingToPriceRange"
                >
                  Filter
                </v-btn>
              </v-col>
            </v-row>
          </v-navigation-drawer>
        </div>
        <v-row>
          <v-col v-if="$mq==='desktop' || $mq==='laptop' || $mq === 'ipad'  || $mq==='xlscreen'" cols="12" class="pa-4">
            <v-row>
              <v-col cols="12">
                <v-col v-if="this.$store.getters['preOrder/PRE_ORDER']" class="pa-2 pr-4" cols="12">
                  <v-img height="350" :src="this.$store.getters['preOrder/PRE_ORDER']['banner_image']">
                  </v-img>
                </v-col>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="pa-0" cols="12" sm="4" xl="3" lg="3" md="4">
            <v-row no-gutters>
              <v-col cols="12" class="parent_of_navbarimage pa-0" v-if="$mq === 'mobile'">
                <v-row no-gutters>
                  <v-col cols="12">
                    <v-col v-if="this.$store.getters['preOrder/PRE_ORDER']" class="pa-2 pr-4" cols="12">
                      <v-img height="200" :src="this.$store.getters['preOrder/PRE_ORDER']['banner_image']">
                      </v-img>
                    </v-col>
                  </v-col>
                  <v-col cols="12" class="text-end pa-2" style="background-color: #efefef;">
                    <v-btn text @click="navDrawer = true">
                      <v-icon left>mdi-filter</v-icon>
                      Filter
                    </v-btn>
                  </v-col>

                </v-row>
              </v-col>
              <v-col v-else class="pr-6" cols="12">
                <div class="sticky_div">
                  <v-row class="pa-2 pb-0" no-gutters style="background-color: white">
                    <v-col cols="12">
                      <div class="subtitle-2 font-weight-medium pa-2 mb-2" style="background-color: #ffe8dc">
                        Categories
                      </div>
                      <v-checkbox
                        v-for="(category,index) in this.selectedCategoryChildren" :key="index"
                        color="darkOrange"
                        class="checkbox_design"
                        hide-details
                        :ripple="false"
                        :value="category"
                        :multiple="checkIfCategoryHasChildren"
                        :label="`${category.category_name}`"
                        v-model="checkboxSelectedCategory"
                        @click="showSelectedCategoryProductsFromCheckBox(checkboxSelectedCategory)"
                      ></v-checkbox>
                    </v-col>
                    <v-col cols="12">
                      <div class="subtitle-2 font-weight-medium pa-2 mt-2" style="background-color: #ffe8dc">Price Setting
                      </div>
                      <v-col cols="12">
                        <v-range-slider
                          color="darkOrange"
                          track-color="#f7ccb4"
                          v-model="range"
                          :min="minimumValue"
                          :max="maximumValue"
                          hide-details
                          class="text-center range_slider ml-2 mt-3"
                        >
                          <template v-slot:prepend>
                            <v-text-field
                              :value="range[0]"
                              class="range_slider_design"
                              type="number"
                              solo
                              height="30"
                              style="width: 60px"
                              @change="$set(range, 0, $event)"
                            ></v-text-field>
                          </template>
                          <template v-slot:append>
                            <v-text-field
                              :value="range[1]"
                              class="range_slider_design"
                              solo
                              height="30"
                              type="number"
                              style="width: 60px"
                              @change="$set(range, 1, $event)"
                            ></v-text-field>
                          </template>
                        </v-range-slider>
                      </v-col>
                      <v-row no-gutters>
                        <v-col cols="4" class="mt-16 body-2 ml-4 font-weight-medium">Minimum</v-col>
                        <v-spacer></v-spacer>
                        <v-col cols="4" class="mt-16 text-end body-2 font-weight-medium pl-0">
                          Maximum
                        </v-col>
                      </v-row>
                      <v-col cols="12" class="text-center mt-2">
                        <v-btn
                          dark
                          tile
                          block
                          depressed
                          color="darkOrange"
                          @click="showProductAccordingToPriceRange"
                        >
                          Filter
                        </v-btn>
                      </v-col>
                    </v-col>
                  </v-row>
                </div>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" sm="8" xl="9" lg="9" md="8" class="px-sm-4 mt-0 mt-sm-0 px-1">
            <v-tabs
              class="v_tabs_design sticky_div"
              v-model="tab"
              color="darkOrange"
              slider-color="darkOrange"
            >
              <v-row no-gutters v-if="$mq === 'mobile' ">
                <v-tab
                  @change="openWarehouseTab(item,index)"
                  v-for="(item,index) in warehousePreOrders"
                  :key="index"
                >
                  {{ item.warehouse_name }}
                </v-tab>
              </v-row>
              <v-row no-gutters v-else>
                <v-tab
                  @change="openWarehouseTab(item,index)"
                  v-for="(item,index) in warehousePreOrders"
                  :key="index"
                >
                  {{ item.warehouse_name }}
                </v-tab>
              </v-row>
            </v-tabs>
            <v-tabs-items vertical v-model="tab">
              <v-tab-item
                v-for="(item,index) in warehousePreOrders"
                :key="index"
              >
                <v-card flat>
                  <v-card-text class="px-0 py-0">
                    <pre-order-lists :category_title="categoryTitle"
                                     :total_category_items_count="selectedCategoryTotalProductCount"
                                     :pre_order_products="selectedCategoryProducts"
                                     :has_list_ordered_product="isPreOrderListHasProductOrdered"
                                     :warehouse_code="item.warehouse_code"
                                     :pre_orders="pre_orders_list"
                                     :loading="loading"
                                     :no_more_products="noMoreProducts"
                                     :load_more="loadMore"
                                     :active_tab="nextLevelTab"
                    ></pre-order-lists>
                  </v-card-text>
                </v-card>
              </v-tab-item>
            </v-tabs-items>
          </v-col>
        </v-row>
      </div>
      <v-row v-else-if="!loadingPage" no-gutters>
        <v-col cols="12">
          <v-row no-gutters style="height: 300px;" align="center" justify="center">
            <v-col class="pl-xl-0 pl-lg-0 pl-7" cols="12" xl="3" lg="3">
              <img :width="300" :height="300" src="@/assets/img/store/coming_soon.jpeg"></img>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </client-only>
  </v-container>
</template>

<script>


import errorHandler from "@/helpers/shared/errorHandler";

export default {
  name: "index",
  components: {
    PreOrderLists: () => import("@/components/store/preorder/PreOrderLists"),
    preorderSkeleton: () => import("@/components/shared/skeleton/PreOrderFilterPage/PreOrderFilterPageSkeleton")
  },

  data() {
    return {
      navDrawer: false,
      tab: null,
      first: [
        {name: 'One', content: 'Tab 1 Content'},
        {name: 'Two', content: 'Tab 2 Content'},
        {name: 'Three', content: 'Tab 3 Content'},
        {name: 'Four', content: 'Tab 4 Content'},
      ],
      preOrderLists: [],
      warehousePreOrders: [],
      selectedWarehousePreOrders: [],
      pre_orders_list: [],
      nextLevelTab: null,
      checkboxSelectedCategory: [],
      range: [20, 20000],
      minimumValue: 20,
      maximumValue: 50000,
      categoryTitle: '',
      selectedCategoryTotalProductCount: 0,
      checkIfCategoryHasChildren: false,
      bottom: false,
      noMoreProducts: false,
      selectedCategoryProducts: [],
      selectedCategoryChildren: [],
      selectedCategoryTitle: '',
      selectedCategoryFromRoute: [],
      loadMore: false,
      loading: false,
      pageLoading: true,
      selectedPreOrderTime: null,
      isPreOrderListHasProductOrdered: false,
      returnBack: false,
      daddyCategories: [],
      routeChange: false,
      loadingPage: true,
      loadingPriceButton: false,
    }
  },

  middleware: 'shared/authenticated',

  watch: {

    '$route': {

      handler() {

        if (this.$route.query.tab) {

          this.$store.commit('category/SET_MIN_PRICE_FOR_FILTER', '');
          this.$store.commit('category/SET_PAGE_FOR_FILTER', 0);
          this.$store.commit('category/SET_MAX_PRICE_FOR_FILTER', '');
          this.$store.commit('category/SET_IS_TAXABLE_FOR_FILTER', '');
          this.$store.commit('preOrder/SET_SELECTED_WAREHOUSE_FOR_PRE_ORDER', this.$store.getters['login/STORE_WAREHOUSE'][0]['warehouse_code']);

          this.routeChange = true;
          this.showPreOrdersList();


        } else {

          this.loadingPage = false;

        }

      },
      immediate: true
    },

    bottom(checkForBottom) {

      this.routeChange = false;

      this.checkIfBottomReached(checkForBottom);

    },

    preOrderProductSelectedForHasBeenOrder: {

      handler() {

        if (this.preOrderProductSelectedForHasBeenOrder !== '') {

          this.showPreOrderProductHasBeenOrdered();

        }

      }

    }

  },


  computed: {

    parentCategoryToGoBack() {

      return this.$store.getters['category/PARENT_CATEGORY'];

    },

    filterPreOrderProducts() {

      return this.selectedCategoryProducts;

    },

    preOrderProductSelectedForHasBeenOrder() {

      return this.$store.getters['preOrder/GET_SELECTED_PRODUCT_THAT_IS_ORDERED_INSTANTLY'];

    }

  },

  methods: {

    changeProductsAccordingToRoutes() {

      this.$store.commit('category/SET_MIN_PRICE_FOR_FILTER', '');
      this.$store.commit('category/SET_PAGE_FOR_FILTER', 0);
      this.$store.commit('category/SET_MAX_PRICE_FOR_FILTER', '');
      this.$store.commit('category/SET_IS_TAXABLE_FOR_FILTER', '');
      this.$store.commit('preOrder/SET_SELECTED_WAREHOUSE_FOR_PRE_ORDER', this.$store.getters['login/STORE_WAREHOUSE'][0]['warehouse_code']);

      this.routeChange = true;

      this.$store.dispatch('preOrder/preOrdersDate').then(response => {


        this.showPreOrdersList();

        if (response.data.length === 0) {
          this.$router.push({
            name: 'store-preorder',
          });
        } else {
          if (!this.$store.getters['preOrder/GET_FROM_TAB']) {
            this.$store.commit('preOrder/ALL_PRE_ORDERS_LIST', response.data);
            this.$store.commit('preOrder/SELECTED_PRE_ORDER', response.data[0]);
            this.$store.commit('preOrder/SET_END_TIME', response.data[0]['end_time']);
          }

        }
      });

    },

    showPreOrderProductHasBeenOrdered() {

      let selectedProductSlug = this.$store.getters['preOrder/GET_SELECTED_PRODUCT_THAT_IS_ORDERED_INSTANTLY'];

      let changedPreOrderSelectedCategoryProducts = [...this.selectedCategoryProducts];

      let selectedProduct = changedPreOrderSelectedCategoryProducts.find(data => data.product_slug === selectedProductSlug);

      selectedProduct.has_been_ordered = true;

      this.selectedCategoryProducts = changedPreOrderSelectedCategoryProducts;

      this.$store.commit('preOrder/SELECTED_PRODUCT_THAT_IS_ORDERED_INSTANTLY', '');

    },

    generateRandomUrlPath(length, chars) {
      let result = ''
      for (let i = length; i > 0; --i) {
        result += chars[Math.floor(Math.random() * chars.length)];
      }
      return result
    },

    showPreOrdersList() {

      if (this.$store.getters['preOrder/ALL_PRE_ORDERS_LIST'].length === 0) {

        this.$store.dispatch('preOrder/preOrdersDate').then(response => {

          this.$store.commit('category/SET_PAGE_FOR_FILTER', 0);

          this.$store.commit('preOrder/ALL_PRE_ORDERS_LIST', response.data);

          if (!this.$store.getters['preOrder/PRE_ORDER']) {

            this.$store.commit('preOrder/SELECTED_PRE_ORDER', response.data[0]);

            this.loadingPage = false;

          }

          this.$store.commit('preOrder/SET_END_TIME', response.data[0]['end_time']);

          this.showWarehousePreOrders();

          this.$route.query.category ? this.changeProductsAccordingToRoute() : this.changeProductWhenNoCategorySelected();

        }).catch(() => {

        });

      } else {

        this.$store.commit('category/SET_PAGE_FOR_FILTER', 0);

        if (!this.$store.getters['preOrder/PRE_ORDER']) {

          this.$store.commit('preOrder/SELECTED_PRE_ORDER', this.$store.getters['preOrder/ALL_PRE_ORDERS_LIST'][0]);

        }

        this.$store.commit('preOrder/SET_END_TIME', this.$store.getters['preOrder/ALL_PRE_ORDERS_LIST'][0]['end_time']);

        this.showWarehousePreOrders();

        this.$route.query.category ? this.changeProductsAccordingToRoute() : this.changeProductWhenNoCategorySelected();

      }

    },

    changeProductWhenNoCategorySelected() {

      if (!this.returnBack) {

        this.selectedCategoryChildren = this.$store.getters['category/GET_ALL_CATEGORIES'];

      }

      this.selectedCategoryFromRoute = [];

      this.getSelectedCategoryProducts();

    },

    showProductAccordingToPriceRange() {

      this.loadingPriceButton = true;

      this.$store.commit('category/SET_MIN_PRICE_FOR_FILTER', this.range[0]);

      this.$store.commit('category/SET_MAX_PRICE_FOR_FILTER', this.range[1]);

      this.pushRoute(this.$route.query.category);

    },

    showWarehousePreOrders() {

      let warehouse = this.$store.getters['login/STORE_WAREHOUSE'];


      this.warehousePreOrders = [...warehouse];

      this.tab = parseInt(this.$route.query.index);

      this.nextLevelTab = parseInt(this.$route.query.next);

      let preOrderList = this.$store.getters['preOrder/ALL_PRE_ORDERS_LIST'];


      if (preOrderList.length > 0) {


        let warehouseCode = this.warehousePreOrders.find(data => data.warehouse_code === this.$route.query.tab);


        this.isPreOrderListHasProductOrdered = this.$store.getters['preOrder/PRE_ORDER']['has_orders'];

        this.pre_orders_list = preOrderList.filter(data => data.warehouse_code === warehouseCode.warehouse_code);

      } else {

        this.loadingPage = false;

      }

    },

    openWarehouseTab(item, index) {

      this.$router.push({
        name: 'store-preorder',
        query: {
          tab: item.warehouse_name,
          index: index
        },
        c: this.generateRandomUrlPath(10, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789')
      });

    },

    changeProductsAccordingToRoute() {

      if (!this.checkboxSelectedCategory) {

        this.categoryTitle = '';

        this.$store.commit('category/SET_SELECTED_CATEGORY_FOR_FILTER', null);

        this.$store.commit('category/SET_CAT_SELECTED_FOR_FILTER', '');

      }

      if (this.$store.getters['category/SELECTED_CAT_MIN_PRICE'] !== '') {

        this.range = [this.$store.getters['category/SELECTED_CAT_MIN_PRICE'], this.$store.getters['category/SELECTED_CAT_MAX_PRICE']];

      }

      this.$store.commit('category/SET_PAGE_FOR_FILTER', 0);

      this.checkboxSelectedCategory = [];

      this.showProductOnRouteChange();

    },

    showProductOnRouteChange() {

      this.bottom = false;

      this.noMoreProducts = false;

      this.selectedCategoryProducts = [];

      this.getSelectedCategoryProducts();

      this.getSelectedCategoryChildren();

    },

    getSelectedCategoryChildren() {

      // if (!this.$store.getters['category/SELECTED_CATEGORY_FOR_FILTER']) {
      //
      //   this.selectedCategoryChildren = this.$store.getters['category/PARENT_CATEGORY']['children'];
      //
      //   this.$store.commit('category/SET_CAT_SELECTED_FOR_FILTER', '');
      //
      // }
      //
      // else {
      //
      //   if (this.$store.getters['category/SELECTED_CATEGORY_FOR_FILTER'][0]) {
      //
      //     selectedCategory = this.$store.getters['category/SELECTED_CATEGORY_FOR_FILTER'][0];
      //
      //   } else {
      //
      //     selectedCategory = this.$store.getters['category/SELECTED_CATEGORY_FOR_FILTER'];
      //
      //   }
      //
      //   if (!selectedCategory['upper_category_code']) {
      //
      //     this.selectedCategoryChildren = this.$store.getters['category/GET_ALL_CATEGORIES']
      //
      //   }
      //
      //   if (selectedCategory['has_children']) {
      //
      //     this.selectedCategoryChildren = selectedCategory['children'];
      //
      //
      //   } else {
      //
      //     this.selectedCategoryChildren = this.$store.getters['category/PARENT_CATEGORY']['children'];
      //
      //     if (this.$store.getters['category/MULTIPLE_CHECKBOX_SELECT']) {
      //
      //       this.checkIfCategoryHasChildren = true;
      //
      //       this.checkboxSelectedCategory = this.$store.getters['category/SELECTED_CATEGORY_FOR_FILTER'];
      //
      //     } else {
      //
      //       this.checkIfCategoryHasChildren = false;
      //
      //       this.checkboxSelectedCategory = this.$store.getters['category/SELECTED_CATEGORY_FOR_FILTER'];
      //
      //     }
      //
      //   }
      //
      // }
      //
      // let checkIfCategoryHasChildrens = this.selectedCategoryChildren.some(data => data['has_children'] === true);
      //
      // this.checkIfCategoryHasChildren = !checkIfCategoryHasChildrens;
      //
      // this.$store.commit('category/CHECK_FOR_MULTIPLE_CHECKBOX', this.checkIfCategoryHasChildren);

      this.$store.dispatch('category/getLowerCategoriesOfSelectedCategory', this.$route.query.category).then(response => {

        if (response.data.length > 0) {

          this.selectedCategoryChildren = response.data;

        } else {

          this.selectedCategoryChildren = this.$store.getters['category/GET_OWN_LEVEL_CATEGORY'];

        }

        let category = null;

        if (Array.isArray(this.$route.query.category)) {


          category = this.$route.query.category[0];

        } else {

          category = this.$route.query.category;

        }

        if (this.selectedCategoryChildren.some(data => data['slug'] === category)) {


          let selectedCategory = this.selectedCategoryChildren.find(data => data['slug'] === category)

          this.checkboxSelectedCategory = selectedCategory;

        } else {

          this.checkboxSelectedCategory = [];

        }

      }).catch(e => {

        errorHandler(e, this);

      })

    },

    getSelectedCategoryProducts() {

      if (this.$store.getters['preOrder/IS_TAB_CHANGED']) {

        this.checkboxSelectedCategory = [];

      }

      window.addEventListener("scroll", () => {

        if (this.noMoreProducts) {

          this.bottom = false;

        } else {

          this.bottom = this.bottomVisible();

        }

      });

      if (this.$route.query.category) {

        this.selectedCategoryFromRoute = this.$route.query.category;

        this.selectedCategoryTitle = this.selectedCategoryFromRoute;

        if (typeof (this.selectedCategoryTitle) === 'string') {

          this.categoryTitle = this.selectedCategoryTitle;

        } else {

          this.categoryTitle = this.selectedCategoryTitle.join(' / ');

        }

        if (this.selectedCategoryTitle.length === 0) {

          this.showPreviousSelectedCategory();

        } else {

          this.showSelectedCategoryOptions();

        }

      } else {

        this.showSelectedCategoryOptions();

      }

    },

    showSelectedCategoryOptions() {

      if (this.bottom || this.selectedCategoryProducts.length > 0) {

        this.loading = false;

      } else {

        this.loading = true;

      }

      let selectedPage = this.$store.getters['category/SELECTED_CAT_PAGE'];

      this.$store.commit('category/SET_PAGE_FOR_FILTER', selectedPage + 1);

      this.$store.commit('category/SET_CAT_SELECTED_FOR_FILTER', this.selectedCategoryFromRoute);

      let queryParamsForFilter = this.$store.getters['category/CATEGORY_FILTERATION_FIELDS'];

      let removeEmptyValueAttributesFromQueryParams = null;

      if (!this.$route.query.category && !this.$route.query.min_price && !this.$route.query.product_name) {

        removeEmptyValueAttributesFromQueryParams = {
          'page': selectedPage + 1
        }

      } else {

        const removeEmptyOrNull = (obj) => {

          Object.keys(obj).forEach(k =>

            (obj[k] && typeof obj[k] === 'object') && removeEmptyOrNull(obj[k]) ||

            (!obj[k] && obj[k] !== undefined) && delete obj[k]
          );

          return obj;

        };

        removeEmptyValueAttributesFromQueryParams = removeEmptyOrNull(queryParamsForFilter);

      }

      if (this.$store.getters['preOrder/IS_TAB_CHANGED']) {

        this.selectedCategoryProducts = [];

      }
      this.loading = true;

      this.$store.dispatch('preOrder/loadProductsAccordingToQueryString', {

        pre_order_code: this.$store.getters['preOrder/PRE_ORDER']['warehouse_preorder_listing_code'],

        query: removeEmptyValueAttributesFromQueryParams

      }).then(response => {


        if (this.routeChange) {

          this.selectedCategoryProducts = [];

        }

        if (response.links.next) {

          let newArray = this.selectedCategoryProducts.concat(response.data);

          this.selectedCategoryProducts = newArray;

          this.noMoreProducts = false;

          this.loading = false;

        } else {

          this.selectedCategoryProducts = this.selectedCategoryProducts.concat(response.data);

          this.bottom = false;

          this.noMoreProducts = true;

          this.loading = false;

        }

        if (!this.$route.query.category) {

          this.categoryTitle = 'All Products';

        }

        this.selectedCategoryTotalProductCount = response.meta.total;

        this.loadMore = false;

        this.loadingPage = false;

        if (this.returnBack) {

          this.selectedCategoryChildren = this.daddyCategories;

          if (!this.selectedCategoryChildren[0]['upper_category_code']) {

            this.$store.commit('category/SET_SELECTED_CATEGORY_FOR_FILTER', null);

            this.$store.commit('category/SET_PARENT_CATEGORY', null);

          }

          this.checkboxSelectedCategory = [];

        }

        if (this.selectedCategoryChildren.length === 0) {

          this.selectedCategoryChildren = this.$store.getters['category/GET_ALL_CATEGORIES'];

        }

      }).catch(() => {

      });
    },

    checkIfBottomReached(checkForBottom) {

      if (checkForBottom) {

        this.loadMore = true;

        this.$store.commit('preOrder/TAB_CHANGED', 0);

        let self = this;

        setTimeout(() => {

          self.getSelectedCategoryProducts();

          self.loadMore = false;

        }, 1500);

      }

    },

    showPreviousSelectedCategory() {

      let array = [];

      this.$store.commit('category/SET_SELECTED_CATEGORY_FOR_FILTER', this.$store.getters['category/PARENT_CATEGORY']);

      array.push(this.$store.getters['category/PARENT_CATEGORY']['slug']);

      this.pushRoute(array);

    },

    showSelectedCategoryProductsFromCheckBox(selected) {

      if (!selected['has_children']) {

        this.selectedCategoryNoChildren(selected);

      } else {

        this.selectedCategoryHasChildren(selected);

      }

    },

    selectedCategoryNoChildren(selected) {

      let array = [];

      this.$store.commit('category/SET_ITS_OWN_CATEGORY', this.selectedCategoryChildren);

      array.push(selected['slug']);

      this.pushRoute(array);

    },

    selectedCategoryHasChildren(selected) {

      let array = [];

      this.$store.commit('category/SET_SELECTED_CATEGORY_FOR_FILTER', selected);

      array.push(selected.slug);

      this.pushRoute(array);

    },

    pushRoute(array) {

      if (this.$store.state.category.categoryFilterationField.min_price !== '') {

        this.$router.push({
          name: 'store-preorder',
          query: {
            tab: this.$route.query.tab,
            index: this.$route.query.index,
            next: this.$route.query.next,
            category: array,
            min_price: this.$store.state.category.categoryFilterationField.min_price,
            max_price: this.$store.state.category.categoryFilterationField.max_price,
            c: this.generateRandomUrlPath(10, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789')
          }
        });

      } else {

        this.$router.push({
          name: 'store-preorder',
          query: {
            tab: this.$route.query.tab,
            index: this.$route.query.index,
            next: this.$route.query.next,
            category: array,
            c: this.generateRandomUrlPath(10, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789')
          }
        });

      }

    },

    bottomVisible() {
      const scrollY = window.scrollY;
      const visible = document.documentElement.clientHeight;
      if (this.$mq === "mobile") {
        const pageHeight = document.documentElement.scrollHeight - 2620;
        const bottomOfPage = visible + scrollY >= pageHeight;
        return bottomOfPage || pageHeight < visible;
      } else {
        const pageHeight = document.documentElement.scrollHeight - 350;
        const bottomOfPage = visible + scrollY >= pageHeight;
        return bottomOfPage || pageHeight < visible;
      }
    },
  }
}
</script>
