<template>
  <v-container fluid class="mb-8">
    <!-- <v-row no-gutters dense>
      <v-col cols="12" class="text--white" v-if="$mq === 'mobile'">
        <v-card tile style="position: relative" elevation="0">
          <img src="~assets/img/store/ourteam.png" alt="" width="100%" />
          <span
            style="
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: white;
              font-size: 30px;
              font-weight: 700;
            "
            >OUR TEAM</span
          >
        </v-card>
      </v-col>

      <v-col cols="12" class="text--white" v-else>
        <v-card tile style="position: relative">
          <img src="~assets/img/store/ourteam.png" alt="" width="100%" />
          <span
            style="
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: white;
              font-size: 56px;
              font-weight: 700;
            "
            >OUR TEAM</span
          >
        </v-card>
      </v-col>
    </v-row>
    <v-row class="mt-12">
      <v-col cols="12" lg="7" :offset-lg="1" class="text-center">
        <v-row class="pa-15">
          <v-col cols="12" class="subtitle-2 font-weight-medium">
            <span
              >"It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has. “It is a long
              established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using
              Lorem Ipsum is that it has. It is a long established fact that a
              reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it
              has. “It is a long established fact that a reader will be
              distracted by the readable content of a page when looking at its
              layout. The point of using Lorem Ipsum is that it has. "</span
            >
          </v-col>
          <v-col cols="12" class="text-right title"> Team Manager </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" lg="3" class="text-center">
        <img src="~assets/img/store/manager.png" alt="" width="300px" />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" v-for="(team, index) in teamTitle" :key="index">
        <v-row>
          <v-col cols="12" class="title font-weight-medium">{{ team }}</v-col>
        </v-row>
        <v-row v-for="(member, i) in ourTeam" :key="i" dense>
          <v-col cols="12">
            <v-row>
              <v-col
                cols="12"
                sm="6"
                md="4"
                lg="3"
                xl="3"
                v-for="(inner, j) in member"
                :key="j"
                v-if="inner['department'] === team"
              >
                <v-card>
                  <img :src="inner['image']" alt="" width="100%" />
                </v-card>
                <div class="text-center subtitle-1 font-weight-medium">
                  {{ inner.name }}
                </div>
                <div class="text-center">{{ inner.delegation }}</div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row> -->

    <v-row no-gutters>
      <v-col cols="12" v-for="(t, index) in teamName" :key="index">
        <title-highlighter :title="t"></title-highlighter>
        <v-row no-gutters>
          <v-col cols="12">
            <v-row no-gutters v-for="(c, index) in ourTeam"
                :key="index">
              <v-col
                cols="12"
                md="3"
                xl="2"
                 v-for="(data, index) in c"
                  :key="index"
                class="text-center"
              >
                <v-card
                 height="400"
                  tile
                  class="mx-3 mb-5"
                >
                  <v-img :src="data.image" height="200px"></v-img>

                  <v-row no-gutters>
                    <v-col cols="12" class="subtitle-1 text-center font-weight-bold pt-2">
                    {{ data.name }}
                    </v-col>

                    <v-col cols="12" class="caption font-weight-bold">
                      {{ data.delegation }}
                    </v-col>
                  </v-row>
                      <v-divider></v-divider>

                      <v-card-text v-html="data.message" class="text-left subtitle-2"> </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ourTeam from "@/services/shared/our-team";
import TitleHighlighter from "@/components/shared/title-highlighter";

export default {
  name: "index",
  components: {
    TitleHighlighter,
  },
  data() {
    return {
      ourTeam: [],
      lengthOfTeam: null,
      teamTitle: null,

      teamName: [],
      show: false,
    };
  },
  fetch() {
    this.getOurTeam();
  },

  head () {
    return {
        title: 'Allpasal',
        hid:'icon',
        link: [
        {
          rel: 'icon',
          type: 'image/svg+xml',
          href: this.getFavIcon,
        },
      ],
    }
},

computed: {
  getFavIcon() {
      return this.$store.getters['settings/getCompanyFavIcon'];
    },
},
  methods: {
    getOurTeam() {
      ourTeam.getOurTeams().then((res) => {
        this.lengthOfTeam = Object.keys(res.data);
        this.teamName = Object.keys(res.data);
        this.teamTitle = Object.keys(res.data);
        this.ourTeam = res.data;
      });
    },
  },
};
</script>

<style scoped></style>
