<template>
  <v-container fluid class="pa-0">
    <flip-countdown class="timer_for_pre_order" :deadline="end_time"></flip-countdown>
  </v-container>
</template>

<script>

export default {
  name: "Timer",
  props: ['end_time', 'is_final_time'],
  data() {
    return {
      currentDate: '',
      currentTime: '',
      currentDateAndTime: '',
      pre_order_time_out: false,
      isTimeExceeds: false,
      pre_order_final_time_out: false,
    }
  },

  mounted: function () {
    this.$nextTick(function () {
      if (!this.pre_order_final_time_out) {
        window.setInterval(() => {
          if (this.is_final_time && !this.pre_order_final_time_out) {
            this.countDown();
          } else if (!this.pre_order_time_out && !this.isTimeExceeds) {
            this.countDown();
          }
        }, 1000);
      }
    });
  },

  computed: {},

  methods: {

    countDown() {

      this.isTimeExceeds = new Date() > new Date(this.end_time);

      this.isTimeExceeds ? this.timeOutForPreOrder() : this.checkForTimeOut();

    },

    timeOutForPreOrder() {

      this.$emit('time-has-ended');


      if (!this.is_final_time) {

        this.pre_order_time_out = true;

        this.$emit('change-end-time-with-finalization-time');

      } else {

        this.pre_order_final_time_out = true;

        this.$emit('finalization-time-ended');

      }

    },

    checkForTimeOut() {

      this.pre_order_time_out = false;

      let time = new Date();

      this.currentDate = time.toISOString().slice(0, 10);

      this.currentTime = time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds();

      this.currentDateAndTime = this.currentDate + ' ' + this.currentTime;

      if (this.currentDateAndTime === this.end_time) {

        this.timeOutForPreOrder();

      }

    }

  }

}
</script>
