<template>
  <v-container fluid>
    <client-only>
      <v-row>
        <v-col cols="12">
          <v-btn @click="paymentType=!paymentType" icon>
            <v-icon size="40" color="darkBlue" dark>mdi-arrow-left-circle</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row no-gutters dense justify="center">
        <v-col
          cols="12"
        >
          <v-card elevation="5" class="pa-3">
            <v-row no-gutters dense>
              <v-col cols="12">
                <v-img
                  contain
                  height="80"
                  alt="Image"
                  :src="businessPlanInfo['image']">
                </v-img>
              </v-col>

              <v-col cols="12" class="title text-center font-weight-bold">
                {{ businessPlanInfo['name'] }}
                <div>Investment for Business Plans</div>

                <div class="text-center mt-1">
                  <v-tooltip color="black" right>
                    <template v-slot:activator="{ on, attrs }">
                      <v-chip
                        dark
                        small
                        v-on="on"
                        v-bind="attrs"
                        color="#0224B2"
                      >
                        For {{ businessPlanInfo['maturity_period'] }} months
                      </v-chip>
                    </template>
                    Investment Period
                  </v-tooltip>
                </div>


                <v-divider class="mt-3"></v-divider>
              </v-col>
              <v-col cols="6" align-self="center">
                Investment Range
              </v-col>

              <v-col cols="6" class="text-end mt-5">
              <span class="caption font-weight-bold ml-1">Rs.{{
                  businessPlanInfo['price_start_range']
                }} to Rs.{{ businessPlanInfo['price_end_range'] }}</span> <br>
              </v-col>

              <v-col cols="4" class="mt-4">Interest Rate</v-col>

              <v-col cols="8" class="text-end font-weight-bold mt-4">
                {{ businessPlanInfo['interest_rate'] }}%
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row no-gutters justify="space-around" class="body-2 mt-5" v-if="!paymentType">
        <v-col cols="5" xl="3" lg="3">
          <v-card
            elevation="4"
            class="payment_card text-center pa-3"
            @click="showPayment('online')"
          >
            <div>
              <v-icon size="64" color="success">mdi-bank-check</v-icon>
            </div>
            <div class="mt-3">Online Payment</div>
          </v-card>
        </v-col>
        <v-col cols="5" xl="3" lg="3">
          <v-card
            elevation="4"
            class="payment_card text-center pa-3"
            @click="showPayment('offline')"
          >
            <div>
              <v-icon size="64" color="primary">mdi-bank-minus</v-icon>
            </div>
            <div class="mt-3">Offline Payment</div>
          </v-card>
        </v-col>
      </v-row>
      <v-row no-gutters v-if="paymentType === 'online'">
        <v-col cols="12" class="mt-5">
          <v-card elevation="5" class="px-3">
            <v-row no-gutters justify="center" dense>
              <v-col cols="12">
                <v-form ref="ipsForm">
                  <v-row no-gutters>
                    <v-col cols="12" class="text-center">
                      <img
                        width="200"
                        alt="Image"
                        src="https://play-lh.googleusercontent.com/cusQ9xWY6oknKf8iTufVDt0bvkQILza8Ayimo395h1oy6HzYFI-NGplsDQjKXm07NxDd">
                    </v-col>

                    <v-col cols="12" class="mt-3" v-if="serverValidationErrors.length !== 0">
                      <v-alert
                        dark
                        dense
                        color="error"
                        class="caption mb-0"
                      >
                        <ul v-for="(error, index) in serverValidationErrors" :key="index">
                          <li>{{ error }}</li>
                        </ul>
                      </v-alert>
                    </v-col>

                    <v-col cols="12" class="mt-3">
                      <v-alert
                        dense
                        type="info"
                        class="caption"
                      >
                        Amount should be in range of Rs {{ businessPlanInfo.price_start_range }} to Rs
                        {{ businessPlanInfo.price_end_range }}.
                      </v-alert>
                    </v-col>

                    <v-col cols="3">
                      Amount:
                      <v-text-field
                        solo
                        flat
                        dense
                        class="simple_text_field mt-1"
                        placeholder="Enter amount"
                        v-model="amount"
                        :disabled="is_from_impersonate"
                        :rules="amountRule">
                      </v-text-field>
                    </v-col>

                    <v-col cols="3" offset="1">
                      Referral Code:
                      <v-text-field
                        solo
                        flat
                        dense
                        class="simple_text_field mt-1"
                        placeholder="Enter referral code"
                        :disabled="is_from_impersonate"
                        v-model="referralCode">
                      </v-text-field>
                    </v-col>

                    <v-col cols="3" offset="1" class="text-center mt-6">
                      <v-btn
                        small
                        depressed
                        width="150"
                        color="primary"
                        @click="submitForm"
                        :disabled="is_from_impersonate"
                      >
                        Connect
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-form>
              </v-col>

              <v-col cols="12" class="mb-3" v-if="showProceedToUser && ispConnectData">
                <form
                  target="_blank"
                  method="post"
                  enctype="multipart/form-data"
                  :action="ispConnectData['ACTIONURL']"
                >
                  <input type="hidden" name="MERCHANTID" :value="ispConnectData.MERCHANTID"/>
                  <input type="hidden" name="APPID" :value="ispConnectData.APPID"/>
                  <input type="hidden" name="APPNAME" :value="ispConnectData.APPNAME"/>
                  <input type="hidden" name="TXNID" :value="ispConnectData.TXNID"/>
                  <input type="hidden" name="TXNDATE" :value="ispConnectData.TXNDATE"/>
                  <input type="hidden" name="TXNCRNCY" :value="ispConnectData.TXNCRNCY"/>
                  <input type="hidden" name="TXNAMT" :value="ispConnectData.TXNAMT"/>
                  <input type="hidden" name="REFERENCEID" :value="ispConnectData.REFERENCEID"/>
                  <input type="hidden" name="REMARKS" :value="ispConnectData.REMARKS"/>
                  <input type="hidden" name="PARTICULARS" :value="ispConnectData.PARTICULARS"/>
                  <input type="hidden" name="TOKEN" :value="ispConnectData.TOKEN"/>
                  <v-row v-if="confirmValue">
                    <v-col cols="12">
                      <v-alert
                        dense
                        type="info"
                        color="primary"
                        class="body-2"
                      >
                        Confirmation Message
                      </v-alert>

                      <div>Are you sure you want to proceed? Once proceed, you cannot undo the process.</div>

                      <v-col cols="12" class="pa-4" v-if="investmentReturnsInfo">
                        <v-card outlined class="pa-3">
                          <v-row no-gutters class="text-center">
                            <v-col cols="12" class="subtitle-1 font-weight-bold">
                              Investment Return at Maturity
                            </v-col>

                            <v-col cols="12" class="font-weight-medium mb-3">
                              Investment Type: {{ convertToTitleCase(businessPlanInfo['investment_type']) }}
                            </v-col>

                            <v-col cols="4">
                              Principle:
                              <div class="font-weight-bold">{{ investmentReturnsInfo['principle'] || 'N/A' }}</div>
                            </v-col>

                            <v-col cols="4">
                              Interest:
                              <div class="font-weight-bold" v-if="investmentReturnsInfo['interest'] !== null">
                            <span v-if="investmentReturnsInfo['interest'] % 1 !== 0">
                              {{ investmentReturnsInfo['interest'].toFixed(2) }}
                            </span>
                                <span v-else>Rs. {{ investmentReturnsInfo['interest'] }}</span>
                              </div>
                              <div class="font-weight-bold" v-else>N/A</div>
                            </v-col>

                            <v-col cols="4">
                              No. of Shares:
                              <div class="font-weight-bold" v-if="investmentReturnsInfo['share'] !== null">
                                {{ investmentReturnsInfo['share'] }} unit
                              </div>
                              <div class="font-weight-bold" v-else>0</div>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>

                      <div class="text-center mt-4">
                        <v-btn
                          small
                          depressed
                          type="submit"
                          color="primary"
                          @click="opneNewTabForConnectIPS"
                        >
                          Confirm
                        </v-btn>

                        <v-btn
                          small
                          depressed
                          class="ml-2"
                          color="error"
                          @click="showProceedToUser=!showProceedToUser"
                        >
                          Cancel
                        </v-btn>
                      </div>
                    </v-col>
                  </v-row>


                </form>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row no-gutters v-if="paymentType === 'offline'">
        <v-col cols="12">
          <OfflinePayment></OfflinePayment>
        </v-col>
      </v-row>
    </client-only>
  </v-container>
</template>

<script>
import stringFormatter from "~/helpers/shared/stringFormatter";
import errorHandler from "~/helpers/shared/errorHandler";
import OfflinePayment from "../../../../pages/store/balance/load-balance/methods/offline.vue"

export default {
  name: "index",
  components: {
    OfflinePayment
    // PayPayment: () => import('@store~pages/store-balance/miscellaneous-payment/PayPayment'),
  },
  layout: 'store-dashboard',
  middleware: 'shared/authenticated',
  watch: {
    $route() {
      this.resetData();
    }
  },
  data() {
    return {
      confirmValue: false,
      activeIndex: null,
      cardElevation: 4,
      paymentType: null,
      businessPlanCode: '',
      businessPlanDetailState: false,
      businessPlanDetailInfo: null,
      priceStartRange: 0,
      priceEndRange: 0,
      showIPSForm: false,
      showProceedToUser: false,
      amount: '',
      referralCode: '',
      amountRule: [
        v => !!v || 'Amount is required.',
        v => /^\d+$/.test(v) || 'Must be a number only.',
        v => (v >= this.businessPlanInfo.price_start_range) || `Amount should be greater than ${this.businessPlanInfo.price_start_range}`,
        v => (v <= this.businessPlanInfo.price_end_range) || `Amount should be less than ${this.businessPlanInfo.price_end_range}.`
      ],
      btnLoadingState: false,
      serverValidationErrors: [],
      ispConnectData: null,
      investmentReturnsInfo: null,

    }
  },
  computed: {
    businessPlanInfo() {
      return this.$store.getters['investment/businessPlanDetailInformation']
    },
    is_from_impersonate() {
      return this.$store.getters['login/GET_IS_FROM_IMPERSONATE']
    }
  },
  methods: {
    opneNewTabForConnectIPS() {
      setTimeout(() => {
        this.confirmValue = false;
        this.amount = null
      }, 1000)
    },
    showPayment(type) {
      this.paymentType = type;
    },
    changePaymentType(idx) {
      this.activeIndex = idx;
    },
    resetData() {
      this.activeIndex = null;
      this.paymentType = null;
    },
    submitForm() {
      if (this.$refs.ipsForm.validate()) {
        this.btnLoadingState = true;
        this.serverValidationErrors = [];

        const data = {
          amount: this.amount,
          transaction_type: 'investment',
          referred_by: this.referralCode ? this.referralCode : '',
          ipir_option_code: this.businessPlanInfo['investment_interest_detail'][0]['ipir_option_code']
        }
        this.$store.dispatch('investment/submitIPSConnectForm', data).then(res => {
          this.btnLoadingState = false;
          this.showProceedToUser = true;
          this.confirmValue = true;
          this.getMyBusinessPlansInvestmentReturns(res.data);
        }).catch(err => {
          this.btnLoadingState = false;

          this.showProceedToUser = false;

          errorHandler(err, this);

        });
      }
    },
    getMyBusinessPlansInvestmentReturns(ispConnectData) {
      const data = {
        code: this.businessPlanInfo['investment_plan_code'],
        amount: this.amount
      }
      this.$store.dispatch('investment/getMyBusinessPlansInvestmentReturns', data).then(res => {
        this.ispConnectData = ispConnectData;
        this.investmentReturnsInfo = res.data;
      }).catch(e => {
        errorHandler(e, this);
      }).finally(() => {
        this.btnLoadingState = false;
      });
    },
    convertToTitleCase(name) {
      return stringFormatter.convertToTitleCase(name);
    },
    cancelPaymentProcess() {
      this.businessPlanDetailState = false;
    }
  }
}
</script>
