<template>
  <v-container fluid class="pa-0">

    <v-row no-gutters class="mt-3">
      <v-col :lg="!isPreOrderAvailable['can_pre_order'] && isPreOrderAvailable['has_start_time_past']?3:2"
             :xl="!isPreOrderAvailable['can_pre_order'] && isPreOrderAvailable['has_start_time_past']?3:2"
             cols="6"
      >
        <div v-if="isPreOrderAvailable['can_pre_order']"
             class="subtitle-2 font-weight-medium black--text text-center mt-3">Ends in :
        </div>
        <div v-else-if="!isPreOrderAvailable['can_pre_order'] && !isPreOrderAvailable['has_start_time_past']"
             class="subtitle-2 font-weight-medium black--text text-center mt-3">Starts in :
        </div>
        <div v-else-if="!isPreOrderAvailable['can_pre_order'] && isPreOrderAvailable['has_start_time_past']"
             class="subtitle-2 font-weight-medium black--text text-center mt-3">Finalization Time Ends in :
        </div>
      </v-col>
      <v-col :lg="!isPreOrderAvailable['can_pre_order'] && isPreOrderAvailable['has_start_time_past']?5:7"
             :xl="!isPreOrderAvailable['can_pre_order'] && isPreOrderAvailable['has_start_time_past']?5:7"
             cols="6"
      >
        <Timer :end_time="setTimerForPreOrder"
               v-on:time-has-ended="timeHasEnded"
               :is_pre_order_available="is_available_for_pre_order"
               :is_final_time="finalTimeBegins"
               class="mt-1 timer_for_pre_order"></Timer>
      </v-col>
      <v-col class="pr-3" :lg="!isPreOrderAvailable['can_pre_order'] && isPreOrderAvailable['has_start_time_past']?4:3"
             :xl="!isPreOrderAvailable['can_pre_order'] && isPreOrderAvailable['has_start_time_past']?4:3"
             cols="12"
      >
        <v-text-field
            v-model="searchPreOrder"
            solo
            dense
            hide-details
            class="search_text_field mt-3 mt-lg-0 mt-xl-0"
            prepend-inner-icon="mdi-magnify"
            placeholder="Search For Product......"
            @keypress.enter="searchPreOrderProducts(searchPreOrder)">
        </v-text-field>
      </v-col>
    </v-row>
    <v-row v-if="has_list_ordered_products" class="px-3 pt-3" no-gutters>
      <v-alert
          outlined
          width="100%"
          border="left"
          class="pa-2 pl-6"
          color="darkOrange"
      >
        <v-row no-gutters class="pl-3" v-if="$mq === 'mobile'">
          <v-col cols="12">
            <div class="caption font-weight-medium">You have added product to the pre order. Want to visit???
              <v-icon dark color="darkOrange" small>mdi-chevron-double-left</v-icon>
              <span class="caption font-weight-bold click_hover text-decoration-underline" @click="goToPreOrderList">Go to Pre Order</span>
              <v-icon dark color="darkOrange" small>mdi-chevron-double-right</v-icon>
            </div>
          </v-col>
        </v-row>
        <v-row no-gutters class="pl-2" v-else>
          <v-col cols="12" lg="9">
            <div class="caption font-weight-medium">You have added product to the pre order. Want to visit???</div>
          </v-col>
          <v-col cols="12" lg="3">
            <v-icon dark color="darkOrange" small>mdi-chevron-double-left</v-icon>
            <span class="caption font-weight-bold click_hover text-decoration-underline" @click="goToPreOrderList">Go to Pre Order</span>
            <v-icon dark color="darkOrange" small>mdi-chevron-double-right</v-icon>
          </v-col>
        </v-row>
      </v-alert>
    </v-row>
    <v-row v-if="preOrderStatus==='start'" class="px-3 pt-3" no-gutters>
      <v-alert
          outlined
          width="100%"
          border="left"
          class="pa-2 pl-6"
          color="error"
      >
        <v-row no-gutters class="pl-3">
          <v-col cols="12">
            <div class="caption font-weight-medium">This Pre Order is not available at the moment. You can order at
              <span
                  class="font-weight-bold text-decoration-underline ml-2">{{
                  this.$store.getters['preOrder/PRE_ORDER']['start_time']
                }}</span>.
            </div>
          </v-col>
        </v-row>
      </v-alert>
    </v-row>
    <v-row v-else-if="preOrderStatus==='final'" class="px-3 pt-3" no-gutters>
      <v-alert
          outlined
          width="100%"
          border="left"
          class="pa-2 pl-6"
          color="error"
      >
        <v-row no-gutters class="pl-3">
          <v-col cols="12">
            <div class="caption font-weight-medium">Finalization Time Has Began. You cannot add product to the pre order
              list. Please check your pre order for updating quantity or removing the product from the order list.
            </div>
          </v-col>
        </v-row>
      </v-alert>
    </v-row>
    <v-row no-gutters>
      <v-col class="pr-0" cols="12" xl="12" lg="12" md="12">
        <v-row no-gutters class="pa-3">
          <v-col cols="10" class="subtitle-1 font-weight-medium text-uppercase">
            <div class="pr-1">{{ category_title }}</div>
            <div v-if="category_title!==''" class="caption grey--text mt-1">
              {{ total_category_items_count }} items found in {{ category_title }}
            </div>
            <v-divider v-if="category_title!==''" class="mt-2"></v-divider>
          </v-col>
          <v-col cols="12" xl="2" lg="2" md="12">
            <ChangeGridLayout></ChangeGridLayout>
          </v-col>
        </v-row>
        <v-col cols="12" v-if="loading">
          <v-row align="center" justify="center" style="height: 300px;">
            <v-progress-circular :size="60" color="darkBlue" indeterminate></v-progress-circular>
          </v-row>
        </v-col>
        <v-col v-if="!loading" cols="12">
          <div v-if="gridLayout">
            <GridLayoutForDisplayingPreOrders :products="pre_order_products_list" :load_more="load_more"
                                              :no_more_products="no_more_products"
                                              :can_pre_order="isPreOrderAvailable"
                                              v-on:change-has-been-order-for-product="changeHasBeenOrderedValue"
            ></GridLayoutForDisplayingPreOrders>
          </div>
        </v-col>
        <v-col v-if="!loading" cols="12">
          <div v-if="listViewLayout">
            <ListViewLayoutForDisplayingPreOrders :products="pre_order_products_list"
                                                  :load_more="load_more"
                                                  :no_more_products="no_more_products"
                                                  :can_pre_order="isPreOrderAvailable"
                                                  v-on:change-has-been-order-for-product="changeHasBeenOrderedValue"
            ></ListViewLayoutForDisplayingPreOrders>
          </div>
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// import lazyLoadComponent from "@/utils/lazy-load-component";
// import CategoryFilterProducts from "../../../skeletonLoader/PreOrderFilterPage/components/CategoryFilterProducts";

export default {
  name: "PreOrderListProducts",
  components: {
    Timer: () => import("@/components/store/timer"),
    ListViewLayoutForDisplayingPreOrders:()=> import('@/components/shared/preorder-category-filter-page/ListViewLayout'),
    GridLayoutForDisplayingPreOrders:() =>import('@/components/shared/preorder-category-filter-page/GridViewLayout'),
    ChangeGridLayout: () => import("@/components/shared/preorder-category-filter-page/ChangeLayout"),
    // DisplayAllProductStockInfoDialog: () => import("@shared~views/DisplayAllProductsStockInfoDialog")
  },
  props: ['pre_order_code', 'can_show', 'pre_order_products_list', 'category_title', 'total_category_items_count', 'loading', 'no_more_products', 'load_more', 'has_list_ordered_products', 'is_available_for_pre_order'],
  data() {
    return {
      preOrderListProducts: [],
      setTimerForPreOrder: '',
      preOrderStatus: '',
      finalTimeBegins: false,
      endTimeForTimer: '',
      hideTimer: false,
      searchPreOrder: '',
      productStockList: [],
      showQuickStockInfoBtnLoadingState: false,
      dialogState: false,
      selectedProductSlug: '',
    }
  },

  created() {

    this.selectedCategoryChildren = this.$store.getters['navigation/ALL_LEVEL_CATEGORIES'];

  },

  watch: {

    timeHasEnded: {

      handler() {

        let selectedPreOrder = this.$store.getters['preOrder/PRE_ORDER'];

        if (selectedPreOrder['can_pre_order']) {

          this.setTimerForPreOrder = selectedPreOrder['end_time'];

          this.preOrderStatus = 'end';

          this.$emit('reload-page-when-time-ends');

        } else if (!selectedPreOrder['can_pre_order'] && selectedPreOrder['has_start_time_past']) {

          this.setTimerForPreOrder = selectedPreOrder['finalization_time'];

          this.preOrderStatus = 'final';

          this.$emit('reload-page-when-time-ends');

        } else if (!selectedPreOrder['can_pre_order'] && !selectedPreOrder['has_start_time_past']) {

          this.setTimerForPreOrder = selectedPreOrder['start_time'];

          this.preOrderStatus = 'start';

          this.$emit('reload-page-when-time-ends');

        }

      },
      immediate: true

    },

    productName: {

      handler() {

        this.searchPreOrder = this.productName;

      },
      immediate: true


    }

  },

  computed: {

    productName() {

      return this.$store.getters['category/GET_PRODUCT_NAME_FOR_FILTER'];

    },

    products() {

      return this.$store.getters['preOrder/PRE_ORDER_PRODUCTS'];

    },

    isPreOrderAvailable() {

      return this.$store.getters['preOrder/PRE_ORDER'];

    },

    endTime() {

      if (!this.$store.getters['preOrder/PRE_ORDER']['can_pre_order']) {

        return this.$store.getters['preOrder/PRE_ORDER']['start_time']

      } else {

        return this.$store.getters['preOrder/PRE_ORDER']['end_time'];

      }

    },

    listViewLayout() {

      return this.$store.getters['category/LIST_VIEW_LAYOUT'];

    },

    gridLayoutIcon() {

      return this.$store.getters['category/GRID_LAYOUT_ICON'];

    },

    viewListLayoutIcon() {

      return this.$store.getters['category/VIEW_LIST_LAYOUT_ICON'];

    },

    gridLayout() {

      return this.$store.getters['category/GRID_LAYOUT'];

    },

    timeHasEnded() {

      return this.$store.getters['preOrder/PRE_ORDER'];

    }
  },

  methods: {

    closeStockInfoDialog() {
      this.productStockList = [];
    },
    generateRandomUrlPath(length, chars) {
      let result = ''
      for (let i = length; i > 0; --i) {
        result += chars[Math.floor(Math.random() * chars.length)];
      }
      return result
    },

    searchPreOrderProducts(productName) {

      this.$store.commit('category/SET_PRODUCT_NAME_FOR_FILTER', productName);

      setTimeout(() => {

        let queryString = null;

        if (this.$route.query.category) {

          queryString = {
            tab: this.$route.query.tab,
            index: this.$route.query.index,
            next: this.$route.query.next,
            category: this.$route.query.category,
            product_name: this.$route.query.product_name,
            c: this.generateRandomUrlPath(10, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789')
          }

        } else if (this.$route.query.min_price) {

          queryString = {
            tab: this.$route.query.tab,
            index: this.$route.query.index,
            next: this.$route.query.next,
            min_price: this.$route.query.min_price,
            max_price: this.$route.query.max_price,
            product_name: productName,
            c: this.generateRandomUrlPath(10, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789')
          }

        } else if (this.$route.query.category && this.$route.query.min_price) {

          queryString = {
            tab: this.$route.query.tab,
            index: this.$route.query.index,
            next: this.$route.query.next,
            category: this.$route.query.category,
            min_price: this.$route.query.min_price,
            max_price: this.$route.query.max_price,
            product_name: productName,
            c: this.generateRandomUrlPath(10, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789')
          }

        } else {

          queryString = {

            tab: this.$route.query.tab,
            index: this.$route.query.index,
            next: this.$route.query.next,
            product_name: productName,
            c: this.generateRandomUrlPath(10, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789')

          }

        }

        this.$router.push({
          name: 'store-preorder',
          query: queryString
        });

      }, 100);

    },

    finalizationTimeEnded() {

      this.finalTimeBegins = false;

      this.finalTimeEnds = true;

      this.hideTimer = true;

    },

    changeEndTimeWithFinalizationTime() {

      this.endTimeForTimer = this.isPreOrderAvailable.preorder_finalization_time;

      this.finalTimeBegins = true;

    },

    changeHasBeenOrderedValue(slug) {

      this.$emit('change-pre-order-product-has-been-ordered', slug);

    },

    goToPreOrderList() {


      this.$router.push({
        name: 'PreOrderDetailPage',
        params: {
          pre_order_code: this.pre_order_code
        }
      });

    }

  }

}
</script>
