<template>
  <div>
    <v-tabs class="pre_order_list_tabs" show-arrows background-color="#fff4ef" v-model="tab"
    >
      <v-tab
          v-for="(item,index) in pre_orders"
          :key="index"
          @change="changeTabs(item,index)"
          class="tab"
      >
        <span class="px-4">
          {{ item.display_start_time }} - {{ item.display_end_time }}<br>
          <div v-if="item.pre_order_name!==''" class="mt-2 font-weight-bold">( {{ item.pre_order_name }} )</div>
        </span>
      </v-tab>
    </v-tabs>

    <v-tabs-items vertical v-model="tab">
      <v-tab-item
          v-for="(item,index) in pre_orders"
          :key="index"
      >
        <v-card flat>
          <v-card-text class="pa-0">
            <pre-order-list-products :category_title="category_title"
                                     :total_category_items_count="total_category_items_count"
                                     :pre_order_products_list="pre_order_products"
                                     :has_list_ordered_products="has_list_ordered_product"
                                     :pre_order_code="item.store_pre_order_code"
                                     :loading="loading"
                                     :no_more_products="no_more_products"
                                     :load_more="load_more"
                                     :is_available_for_pre_order="can_pre_order"
                                     :can_show="selectedPreOrderAvailable"
                                     v-on:change-pre-order-product-has-been-ordered="checkForPreOrderHasBeenOrder"
                                     v-on:reload-page-when-time-ends="reloadThePage"
            ></pre-order-list-products>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>


  </div>
</template>

<script>
export default {
  name: "PreOrderLists",
  components: {
    PreOrderListProducts: () => import("@/components/store/preorder/PreOrderListProducts"),
  },
  props: ['warehouse_code', 'pre_orders', 'active_tab', 'pre_order_products', 'category_title', 'total_category_items_count', 'loading', 'no_more_products', 'load_more', 'has_list_ordered_product', 'can_pre_order'],
  data() {
    return {
      tab: null,
      load_more:false,
      selectedPreOrder: null,
      selectedPreOrderProducts: [],
      selectedPreOrderAvailable: null,
    }
  },
  fetch(){
    this.loadPreOrderlistProducts();
  },



  methods: {

    checkForPreOrderHasBeenOrder(slug) {

      this.$emit('selected-pre-order-product-change-has-order', slug);

    },

    reloadThePage() {
      this.$emit('reload-pre-order-page');
    },

    loadPreOrderlistProducts() {

      this.tab = parseInt(this.$route.query.next);

    },

    generateRandomUrlPath(length, chars) {
      let result = ''
      for (let i = length; i > 0; --i) {
        result += chars[Math.floor(Math.random() * chars.length)];
      }
      return result;
    },

    changeTabs(item, index) {

      this.selectedPreOrder = item;

      this.$store.commit('category/SET_SELECTED_CATEGORY_FOR_FILTER', null);

      this.$store.commit('category/SET_PARENT_CATEGORY', null);

      this.$store.commit('preOrder/TAB_CHANGED', 1);

      this.$store.commit('category/SET_PAGE_FOR_FILTER', 0);

      this.$store.commit('preOrder/SELECTED_PRE_ORDER', this.selectedPreOrder);

      this.$store.commit('preOrder/IS_FROM_TAB', true);

      this.$router.push({
        name: 'store-preorder', query: {
          tab: this.$route.query.tab,
          index: this.$route.query.index,
          next: index,
          c: this.generateRandomUrlPath(10, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789')
        }
      });

    }
  }

}
</script>
