<template>
  <v-row no-gutters>
    <v-col cols="4" class="text-center mt-5" v-if="loadingSpinner">
      <v-skeleton-loader
          v-bind="attrs"
          type="card-avatar, article, actions"
        ></v-skeleton-loader>
    </v-col>

    <v-col cols="4" class="text-center mt-5" v-if="loadingSpinner">
      <v-skeleton-loader
          v-bind="attrs"
          type="card-avatar, article, actions"
        ></v-skeleton-loader>
    </v-col>

    <v-col cols="4" class="text-center mt-5" v-if="loadingSpinner">
      <v-skeleton-loader
          v-bind="attrs"
          type="card-avatar, article, actions"
        ></v-skeleton-loader>
    </v-col>

    <v-col cols="12" v-else>
      <v-row no-gutters class="body-2">
        <v-col cols="12" v-if="businessPlansList.length !== 0">
          <v-row no-gutters>
            <v-col
              cols="12" md="4" lg="4"
              class="px-5 py-5"
              v-for="(item, index) in businessPlansList"
              :key="index"
            >
              <v-card elevation="5" class="pa-3">
                <v-row no-gutters>
                  <v-col cols="12">
                    <v-img
                      contain
                      height="150"
                      alt="Image"
                      :src="item['image']">
                    </v-img>
                  </v-col>

                  <v-col cols="12" class="title text-center font-weight-bold mt-5">
                    {{ item['name'] }}

                    <div class="text-center mt-1">
                      <v-tooltip color="black" right>
                        <template v-slot:activator="{ on, attrs }">
                          <v-chip
                            dark
                            small
                            v-on="on"
                            v-bind="attrs"
                            color="#0224B2"
                          >
                            For {{ item['maturity_period'] }} months
                          </v-chip>
                        </template>
                        Investment Period
                      </v-tooltip>
                    </div>

                    <v-divider class="mt-3"></v-divider>
                  </v-col>

                  <v-col cols="6" align-self="center">
                    Investment Range
                  </v-col>

                  <v-col cols="6" class="text-end mt-5">
                    <span class="caption">Rs.</span>
                    <span class="caption font-weight-bold ml-1">{{ item['price_start_range'] }}</span> <br>

                    <span class="caption">Rs.</span>
                    <span class="caption font-weight-bold ml-1">{{ item['price_end_range'] }}</span>
                  </v-col>

                  <v-col cols="4" class="mt-4">Interest Rate</v-col>

                  <v-col cols="8" class="text-end font-weight-bold mt-4">
                    {{ item['interest_rate'] }}%
                  </v-col>

                  <v-col cols="12" class="px-4 mt-7 mb-1">
                    <v-btn
                      dark
                      small
                      block
                      depressed
                      color="#0224B2"
                      @click="applyNow(item['investment_plan_code'])"
                    >
                      Apply Now
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" class="d-flex justify-center mt-3" v-if="serverErrors">
          <v-alert
            text
            class="body-2"
            color="error"
          >
            <div class="text-center">Code: {{ serverErrors['code'] }}</div>
            <div>{{ serverErrors['message'] }}</div>
          </v-alert>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>

export default {
  name: "index",
  data() {
    return {
      loadingSpinner: true,
      businessPlansList: [],
      serverErrors: null,
    }
  },

  async fetch() {
    this.getBusinessPlans();
  },

  methods: {

    getBusinessPlans() {
      this.$store.dispatch('investment/getBusinessPlans').then(res => {
        this.businessPlansList.push(...res.data);
      }).catch(err => {
        const {code, message} = err.response.data;

        this.serverErrors = {
          code,
          message
        };
      }).finally(() => {
        this.loadingSpinner = false;
      })
    },


    applyNow(code) {
      this.$nuxt.$emit('business-plan', {
        state: true,
        code
      });
    }
  }
}
</script>
