<template>
  <v-row no-gutters>
    <v-dialog persistent width="600" v-model="dialogState">
      <v-card class="body-2 pa-3">
        <v-row no-gutters>
          <v-col cols="12" class="mb-3">
            <div class="d-flex justify-space-between">
              <span class="subtitle-1 text-uppercase font-weight-bold">Calculate Amount</span>
              <v-icon @click="closeDialog">mdi-close</v-icon>
            </div>
            <v-divider class="mt-1"></v-divider>
          </v-col>

          <v-col cols="3" class="text-center mt-5">Amount (In Rs.)</v-col>

          <v-col cols="5" class="mt-3">
            <v-form ref="calculateAmountForm">
              <v-text-field
                solo
                flat
                dense
                class="simple_text_field"
                placeholder="Enter amount"
                v-model="enteredAmount"
                :rules="enteredAmountRule">
              </v-text-field>
            </v-form>
          </v-col>

          <v-col cols="4" class="text-center mt-3">
            <v-btn
              small
              depressed
              height="32"
              color="primary"
              :loading="calculateAmountBtnLoadingState"
              @click="calculateInvestmentReturns"
            >
              Calculate
            </v-btn>
          </v-col>

          <v-col cols="12" class="pa-4" v-if="investmentReturnsInfo">
            <v-card outlined class="pa-3">
              <v-row no-gutters class="text-center">
                <v-col cols="12" class="subtitle-1 font-weight-bold">
                  Investment Return at Maturity
                </v-col>

                <v-col cols="12" class="font-weight-medium mb-3">
                  Investment Type: {{ convertToTitleCase(businessPlanInfo['investment_type']) }}
                </v-col>

                <v-col cols="4">
                  Principle:
                  <div class="font-weight-bold">Rs. {{ investmentReturnsInfo['principle'] || 'N/A' }}</div>
                </v-col>

                <v-col cols="4">
                  Interest:
                  <div class="font-weight-bold" v-if="investmentReturnsInfo['interest'] !== null">
                      <span v-if="investmentReturnsInfo['interest'] % 1 !== 0">
                        Rs. {{ investmentReturnsInfo['interest'].toFixed(2) }}
                      </span>
                    <span v-else>
                        Rs. {{ investmentReturnsInfo['interest'] }}
                      </span>
                  </div>
                  <div class="font-weight-bold" v-else>N/A</div>
                </v-col>

                <v-col cols="4">
                  No. of Shares:
                  <div class="font-weight-bold" v-if="investmentReturnsInfo['share'] !== null">
                    {{ investmentReturnsInfo['share'] }} unit
                  </div>
                  <div class="font-weight-bold" v-else>0</div>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-col cols="12" class="text-center" v-if="loadingSpinner">
      <v-progress-circular width="3" indeterminate></v-progress-circular>
    </v-col>

    <v-col cols="12" v-else>
      <v-row no-gutters justify="center">
        <v-col cols="12" v-if="businessPlanInfo">
          <v-card elevation="5" class="py-3 px-5">
            <v-row no-gutters>
              <v-col cols="12">
                <v-img
                  contain
                  alt="Image"
                  height="100"
                  :src="businessPlanInfo['image']"></v-img>
              </v-col>

              <v-col cols="12" class="text-center title font-weight-bold mt-5 mb-4">
                {{ businessPlanInfo['name'] }}
                <v-divider class="mt-1"></v-divider>
              </v-col>

              <v-col cols="3" class="text-center">
                <div>Interest Rate</div>
                <div class="font-weight-bold"> {{ businessPlanInfo['interest_rate'] }}%</div>
              </v-col>

              <v-col cols="3" class="text-center">
                <div>Investment Period</div>
                <div class="font-weight-bold"> {{ businessPlanInfo['maturity_period'] }} months</div>
              </v-col>

              <v-col cols="3" class="text-center">
                <sup class="caption">Rs.</sup>
                <span class="font-weight-bold"> {{ businessPlanInfo['price_start_range'] }}</span> <br>

                <sup class="caption">Rs.</sup>
                <span class="font-weight-bold"> {{ businessPlanInfo['price_end_range'] }}</span>
              </v-col>

              <v-col cols="3" class="text-center">
                <div>Interest Release Time</div>
                <div class="font-weight-bold">
                  {{ businessPlanInfo['investment_interest_detail'][0]['interest_release_time'] }}
                </div>
              </v-col>

              <v-col
                cols="6"
                class="text-center mt-3"
                v-if="businessPlanInfo['investment_commission_detail']"
              >
                <v-row no-gutters>
                  <v-col cols="6">
                    <div>Commission Amount</div>
                    <div
                      class="font-weight-bold"
                      v-if="businessPlanInfo['investment_commission_detail'][0]['commission_amount_type'] === 'p'"
                    >
                      {{ businessPlanInfo['investment_commission_detail'][0]['commission_amount_value'] }}%
                    </div>

                    <div class="font-weight-bold" v-else>
                      {{ businessPlanInfo['investment_commission_detail'][0]['commission_amount_value'] }}
                    </div>
                  </v-col>

                  <v-col cols="6">
                    <div>Commission Type</div>
                    <div class="font-weight-bold">
                      {{ convertToTitleCase(businessPlanInfo['investment_commission_detail'][0]['commission_type']) }}
                    </div>
                  </v-col>
                </v-row>
              </v-col>

              <v-col cols="12" class="text-center mt-5">
                <v-btn
                  small
                  depressed
                  color="primary"
                  @click="dialogState = true"
                >
                  Calculate Amount
                </v-btn>
              </v-col>

              <v-col cols="12" class="subtitle-1 text-uppercase font-weight-bold mt-5">
                Description
                <v-divider></v-divider>
              </v-col>

              <v-col cols="12" class="mt-3">
                <span v-html="businessPlanInfo['description']"></span>
              </v-col>

              <v-col cols="12" class="subtitle-1 text-uppercase font-weight-bold">
                Terms and Conditions
              </v-col>

              <v-col cols="12" class="terms-and-conditions mt-1 pa-3">
                <span v-html="businessPlanInfo['terms']"></span>
              </v-col>

              <v-col cols="12">
                <v-checkbox
                  dense
                  class="checkbox"
                  label="I agree to all the terms and conditions"
                  v-model="isTermsAndConditionsAgreed"
                  @change="() => {}"
                >
                </v-checkbox>
              </v-col>

              <v-col cols="12" class="text-center mt-7 mb-1">
                <v-btn
                  small
                  width="200"
                  depressed
                  color="primary"
                  :disabled="!isTermsAndConditionsAgreed"
                  @click="goToCustomerLogin"
                >
                  Apply Now
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-col>

        <v-col cols="12" class="d-flex justify-center" v-if="serverErrors">
          <v-alert
            text
            class="body-2"
            color="error"
          >
            <div class="text-center">Code: {{ serverErrors['code'] }}</div>
            <div>{{ serverErrors['message'] }}</div>
          </v-alert>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import stringFormatter from "~/helpers/shared/stringFormatter";
import errorHandler from "~/helpers/shared/errorHandler";
export default {
  name: "ViewBusinessPlanDetail",
  props: {
    businessPlanCode: {
      type: [String, null]
    }
  },
  data() {
    return {
      loadingSpinner: true,
      businessPlanInfo: null,
      isTermsAndConditionsAgreed: false,
      serverErrors: null,
      dialogState: false,
      investmentReturnsInfo: null,
      priceStartRange: 0,
      priceEndRange: 0,
      enteredAmount: '',
      enteredAmountRule: [
        v => !!v || 'Amount is required.',
        v => /^\d+$/.test(v) || 'Must be a number only.',
        v => (v >= this.priceStartRange) || `Amount should be greater than Rs. ${this.priceStartRange}`,
        v => (v <= this.priceEndRange) || `Amount should be less than Rs. ${this.priceEndRange}.`
      ],
      calculateAmountBtnLoadingState: false,
    }
  },

  async fetch() {
    this.getBusinessPlanDetail();
  },

  computed: {
    userType() {
      return this.$store.getters['login/ROLEID'];
    },
  },
  methods: {

    getBusinessPlanDetail(){
      this.$store.dispatch('investment/getBusinessPlanDetail', this.businessPlanCode).then(res => {
        this.businessPlanInfo = res.data;
        this.priceStartRange = this.businessPlanInfo['price_start_range'];
        this.priceEndRange = this.businessPlanInfo['price_end_range'];
      }).catch(err => {
        errorHandler(err, this);
      }).finally(() => {
        this.loadingSpinner = false;
      });
    },

    goToCustomerLogin() {
      this.$store.commit('investment/SET_BUSINESS_PLAN_INFORMATION', this.businessPlanInfo);
      this.$store.commit('investment/SET_WHETHER_FROM_INVESTMENT_OR_ONT', true)

      this.$store.commit('investment/SET_IS_FROM_BUSINESS_PLAN', true);

      this.$store.commit('investment/SET_BUSINESS_PLAN_AMOUNT', {
        start_range: this.businessPlanInfo['price_start_range'],
        end_range: this.businessPlanInfo['price_end_range']
      });

      this.$router.push({
        name: 'store-investment-payment-methods'
      });
    },
    convertToTitleCase(name) {
      return stringFormatter.convertToTitleCase(name);
    },
    closeDialog() {
      this.dialogState = false;
      this.enteredAmount = '';
      this.$refs.calculateAmountForm.resetValidation();
    },
    calculateInvestmentReturns() {
      if (!this.$refs.calculateAmountForm.validate()) {
        return;
      }

      this.calculateAmountBtnLoadingState = true;

      const data = {
        amount: this.enteredAmount,
        code: this.businessPlanInfo['investment_plan_code'],
      }

      this.$store.dispatch('investment/getMyBusinessPlansInvestmentReturns', data).then(res => {
        this.investmentReturnsInfo = res.data;
      }).finally(() => {
        this.calculateAmountBtnLoadingState = false;
      });
    }
  },
}
</script>

<style lang="scss" scoped>
.terms-and-conditions {
  height: 250px;
  overflow-y: auto;
  border: 1px solid #dfdfdf;
}

.checkbox ::v-deep .v-label {
  font-size: 0.875rem;
}
</style>
