<template>
<!--  <v-container fluid>-->
  <div>
    <client-only>
      <v-skeleton-loader v-if="skeletonLoading"
                         v-bind="attrs"
                         type="table-heading, list-item-two-line, image"
      ></v-skeleton-loader>
      <div v-else>
        <div v-if="quiz_participator_detail.length == '0'">
          <recharge-quiz-form v-if="form_show" v-on:closeForm="closeForm" />
        </div>
        <recharge-quiz-detail v-else />
      </div>
    </client-only>
  </div>
<!--  </v-container>-->
</template>

<script>
import RechargeQuizDetail from "~/components/store/quiz-game/recharge-quiz-detail";
import RechargeQuizForm from "~/components/store/quiz-game/recharge-quiz-form";
export default {
  name: "index",
  components:{
    RechargeQuizForm,
    RechargeQuizDetail,
  },
  layout: 'store-dashboard',
  middleware: 'shared/authenticated',
  data(){
    return {
      quiz_participator_detail:[],
      form_show:true,
      detail_xa:true,
      loading:true,
      skeletonLoading: false
    }
  },
  fetch() {
    this.getParticipatorDetail();
    this.skeletonLoading = true;
    setTimeout(() => {
      this.skeletonLoading = false;
    },800)
  },
  methods:{
    closeForm(value){
      this.form_show = value;
      this.getParticipatorDetail()
    },
    async getParticipatorDetail(){
      this.quiz_participator_detail.length = 0;
      let {data} = await this.$store.dispatch('quiz/getParticipatorDetail');
      this.quiz_participator_detail = data.quiz_participator_detail;
      this.loading = false
    }
  }

}
</script>

<style scoped>

</style>
