<template>
  <div>
    <SajiloAddToCart
      :product-slug="selectedProductSlug"
      :stock-detail="productStockList"
      v-if="productStockList.length>0"
      @close-dialog="closeStockInfoDialog"
    >
    </SajiloAddToCart>
    <v-row no-gutters v-if="products.length > 0">
      <v-col
        class="pr-4 mt-2"
        v-for="(product, index) in products"
        :key="index"
        cols="6" sm="6" md="3" lg="3" xl="2"
      >
        <v-card
          elevation="2"
        >
          <div class="pa-3">
            <v-card
              elevation="0"
              :to="{ name: 'ProductDetail', params: {slug: product.slug}}"
            >
              <v-img
                :height="$mq==='mobile'?150:200"
                :src="product['featured_image']"
                class="product_image_fit"
              />
            </v-card>
          </div>
          <v-divider></v-divider>
          <div class="pa-2" style="background-color:#fafafa;">
            <div @click="goToProductDetail(product.slug)" :title="product.product_name"
                 :class="$mq==='mobile'?'mobile_related_product_name':'related_product_name'"
                 class=" pointer-on-hover ml-2">
              {{ product.product_name | truncate(30) }}
            </div>
            <div>
              <v-row no-gutters>
                <v-col cols="9">
                  <!-- <v-rating
                    class="rating_design ml-1"
                    small
                    v-model="rating"
                    color="yellow darken-3"
                    background-color="yellow darken-4"
                  ></v-rating> -->
                </v-col>
                <v-col cols="3" class="text-right">
                  <v-btn v-if="product.price!=='N/A'" @click="openProductStockDialog(product)"
                         icon small>
                    <v-icon size="18" color="darkOrange">mdi-cart</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </div>
            <div v-if="product.price !== 'N/A'" :class="$mq==='mobile'?'':'font-weight-bold'" class="caption ml-2 price_color">
              {{ product.price }}
            </div>
            <div class="related_product_category ml-2" v-if="product['brand']">
              Brand: {{ product.brand | truncate(30) }}
            </div>
            <div class="related_product_category ml-2">
              <v-row no-gutters>
                <v-col cols="12">
                  <div v-if="product['category']">Category: {{ product.category | truncate(30) }}</div>
                </v-col>
              </v-row>
            </div>
          </div>
        </v-card>
      </v-col>


    </v-row>
    <v-row v-else style="height: 300px" align="center" justify="center">
      <v-col cols="8" xl="4" lg="4" class="text-uppercase text-center font-weight-bold">
        <div>
          <img height="250" src="@/assets/img/shared/no-products.webp">
        </div>
        <div class="text-center ml-xl-5 ml-lg-5 ml-4">
          No Products Available
        </div>
      </v-col>
    </v-row>
    <v-row v-if="load_more" align="center" justify="center" class="mt-4">
      <v-progress-circular
        width="3"
        indeterminate
        color="primary"
        size="35">
      </v-progress-circular>
    </v-row>
    <!-- <v-row align="center" justify="center" class="text-center mt-8" v-if="no_more_products && products.length>0">
      <v-col cols="12" xl="4" lg="4" class="text-uppercase text-center font-weight-bold">{{$t('no_more_products')}}.</v-col>
    </v-row> -->
  </div>
</template>

<script>
export default {

  name: "GridViewLayout",

  props: ['products', 'load_more', 'no_more_products'],

  components: {

    SajiloAddToCart: () => import("@/components/shared/product-page/SajiloAddToCart")

  },

  data() {

    return {

      openDialogToAddToCart: false,
      selectedProductSlug: '',
      selectedProductName: '',
      sheet: false,
      rating: 3,
      productStockList: [],
      dialogState: false,
      popularProduct: true,
      showQuickStockInfoBtnLoadingState: false,

    }

  },

  methods: {

    openProductStockDialog(product) {

      const {product_code} = product;

      this.selectedProductSlug = product.slug;

      this.$store.dispatch("product/getTheSingleProductsListViewDetails", product_code).then(response => {

        this.productStockList = response.map(product => {

          product['packaging_information'] = product['packaging_information'].map(item => {

            item['btn_loading_state'] = false;

            item['quantity'] = 1;

            return item;

          });

          return product;

        });

        this.sheet = true;

      });

    },

    closeStockInfoDialog() {

      this.sheet = false;

      this.productStockList = [];

    },

    goToProductDetail(slug) {

      this.$router.push({

        name: 'ProductDetail', params: {slug: slug}

      })

    },

  }

}
</script>

<style scoped>
.product_image_fit >>> .v-image__image--cover {
  background-size: contain !important;
}

.product_image_fit:hover {
  cursor: pointer;
}
</style>
