<template>
  <div>
    <SajiloAddToCart
      :product-slug="selectedProductSlug"
      :stock-detail="productStockList"
      v-if="productStockList.length>0"
      @close-dialog="closeStockInfoDialog"
    >
    </SajiloAddToCart>
    <v-row v-if="products.length>0" dense no-gutters class="pt-0">
      <v-col cols="12" class="pt-0">
        <v-card v-for="(product,index) in products" class="card_hover pa-2 mb-3" :key="index" elevation="4"
                min-width="100%">
          <v-row dense no-gutters>
            <v-col cols="4" xl="2" lg="2" md="2">
              <v-hover v-slot:default="{ hover }">
                  <div class="product_image_zoomer"  >
                    <v-img :to="{ name: 'ProductDetail', params: {slug: product.slug}}" :class="{ product_image_hover: hover }" :height="$mq==='mobile'?80:180" :width="$mq==='mobile'?80:180" :src="product.featured_image" lazy-src="~assets/img/store/image_loader.png"></v-img>
                  </div>
              </v-hover>
            </v-col>
            <v-col cols="8" xl="8" lg="8" md="8">
              <div  :class="$mq==='mobile'?'mobile_related_product_name mb-2':'related_product_name'" @click="goToDetailPage(product)">
                {{ product.product_name }}
              </div>
              <div :class="$mq==='mobile'?'':'font-weight-bold'" class="caption font-weight-medium product_price mb-2" v-if="product.price !== 'N/A' && $mq==='mobile'">{{ product.price }}</div>
              <div>
                <v-row no-gutters>
                  <v-col cols="9">
                    <v-rating
                      dense
                      small
                      background-color="grey darken-1"
                      color="yellow darken-3"
                      v-model="rating"
                    ></v-rating>
                  </v-col>
                  <v-col cols="3" class="text-right">
                    <div v-if="$mq==='mobile'" class="title font-weight-medium mb-2 product_name">
                      <v-btn icon :ripple="false" v-if="product.price!=='Rs. N/A' && isUserLoggedIn" @click="openProductStockDialog(product)"
                             small color="darkOrange" tile class="white--text">
                        <v-icon dark color="darkOrange" size="17">mdi-cart</v-icon>
                      </v-btn>
                    </div>
                  </v-col>
                </v-row>
              </div>
              <div>
                <div :class="$mq==='mobile'?'mobile_related_product_name':'related_product_name'" class=" mb-2 mt-0">
                  Brand : {{product.brand}}
                </div>
                <div :class="$mq==='mobile'?'mobile_related_product_name':'related_product_name'" class="mb-2">
                  Category : {{product.category}}
                </div>
                <div :class="$mq==='mobile'?'mobile_related_product_name':'related_product_name'" class=" mb-1" v-for="(highlight, index) in product['highlights']"
                     :key="index">
                  <span class="mr-1"><v-icon x-small>mdi-circle-medium</v-icon></span>{{ highlight }}
                </div>
              </div>
              <div v-if="$mq==='desktop' || $mq==='xlscreen' || $mq==='laptop'" class="title font-weight-medium mb-2 product_name">
                <v-btn v-if="product.price!=='Rs. N/A' && isUserLoggedIn" @click="openProductStockDialog(product)"
                      small color="darkOrange" tile class="white--text">
                  add to cart
                </v-btn>
              </div>
            </v-col>
            <v-col v-if="$mq==='desktop' || $mq==='xlscreen' || $mq==='laptop'" cols="12" xl="2" lg="2" md="2">
              <div class="title font-weight-medium product_price" v-if="product.price !== 'N/A'">{{ product.price }}</div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else style="height: 300px" align="center" justify="center">
      <v-col cols="8" xl="4" lg="4" class="text-uppercase font-weight-bold">
        <div>
          <img height="250" src="@/assets/img/shared/no-products.webp">
        </div>
        <div class="text-left ml-xl-5 ml-lg-5 ml-4">
          No Products Available
        </div>
      </v-col>
    </v-row>
    <v-row v-if="load_more" align="center" justify="center" class="mt-4">
      <v-progress-circular
        width="3"
        indeterminate
        color="primary"
        size="35">
      </v-progress-circular>
    </v-row>
    <v-row align="center" justify="center" class="title font-weight-medium mt-8"
           v-if="no_more_products && products.length>0">
      No more products to load.
    </v-row>
  </div>
</template>

<script>
export default {

  name: "ListViewLayout",

  props: ['products', 'load_more', 'no_more_products'],
  components:{
    SajiloAddToCart: () => import("@/components/shared/product-page/SajiloAddToCart")
  },

  data() {

    return {

      sheet: false,
      selectedProductSlug: '',
      selectedProductName: '',
      productStockList: [],
      rating: 3,
    }

  },

computed: {
    isUserLoggedIn() {
      return this.$store.getters["login/ISLOGINED"];
    },
  },
  methods: {
    openProductStockDialog(product) {

      const {product_code} = product;

      this.selectedProductSlug = product.slug;

      this.$store.dispatch("product/getTheSingleProductsListViewDetails", product_code).then(response => {

        this.productStockList = response.map(product => {

          product['packaging_information'] = product['packaging_information'].map(item => {

            item['btn_loading_state'] = false;

            item['quantity'] = 1;

            return item;

          });

          return product;

        });

        this.sheet = true;

      });

    },

    closeStockInfoDialog() {

      this.sheet = false;

      this.productStockList = [];

    },

    goToDetailPage(product) {

      this.$router.push({
        name: 'ProductDetail', params: {slug: product.slug}
      })

    },

  }

}
</script>

<style scoped>

</style>
