<template>
  <v-container fluid class="pt-1">
    <client-only>
      <v-row no-gutters>
        <v-col cols="12">
          <LoadBalance v-if="paymentType === 'load-balance'" />
        </v-col>
      </v-row>
    </client-only>
  </v-container>
</template>

<script>
import LoadBalance from "~/pages/store/balance/load-balance/LoadBalance";
export default {
name: "StoreBalance",
  components: {LoadBalance},
  layout: 'store-dashboard',
  middleware: 'shared/authenticated',
  data() {
    return {
      currentTabIndex: 0,
      Items: [
        'load-balance',
        'statement',
        'list-of-payment',
        'withdraw'
      ],
      type:'load-balance'
    }
  },
  computed:{
    paymentType(){
      return this.type
    }
  },
}
</script>

<style scoped>

</style>
