<template>
  <v-container fluid>
    <client-only>
      <v-row no-gutters class="mb-10">
        <v-col cols="12">
          <v-row>
            <v-img :src="collectionInformation['product_collection_image']">
              <div
                class="
                  transition-fast-in-fast-out
                  black
                  darken-2
                  v-card--reveal
                  display-3
                  white--text
                "
                style="height: 100%; opacity: 0.7"
              >

                <v-row  no-gutters class="pt-16">
                  <v-col class="font-weight-medium text-center"
                         cols="12"
                  >
                    {{ collectionInformation["product_collection_title"] }}
                  </v-col>
                  <v-col class="font-weight-medium text-center pt-4"  cols="12">
                  <span style="font-size:25px;">
                    {{collectionInformation.product_collection_subtitle}}
                  </span>

                  </v-col>
                  <v-col
                    class="
                        font-weight-medium
                        text-center pt-0 mt-0
                      "
                    cols="12" style="font-size:18px;"
                  >
                    {{ collectionInformation["products_count"] }} Items
                  </v-col>
                </v-row>

              </div>
            </v-img>
          </v-row>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12" lg="9" md="9">
          <!-- <v-row no-gutters class="text-center">
              <v-col cols="12" class="title">
                {{ collectionInformation["product_collection_title"] }}
              </v-col>
              <v-col
                  cols="12"
                  class="body-2 grey--text font-weight-normal"
                >
                  {{ collectionInformation["products_count"] }} Items Found
                </v-col>
          </v-row> -->
        </v-col>
        <v-col cols="12" lg="2" md="12">
          <change-layout></change-layout>
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-row dense class="mt-5">
        <v-col cols="12">
          <div v-if="gridLayout">
            <GridViewLayout
              v-if="!skeletonLoading"
              :products="collectionProductList"
              :load_more="loading"
              :no_more_products="noLoadMoreBtn"
            ></GridViewLayout>

            <div v-if="skeletonLoading">
              <v-sheet
                v-for="index in 2"
                :key="index"
                color="#0000001f"
                class="mt-8"
              >
                <v-row style="background-color: white !important" no-gutters>
                  <v-col style="background-color: white !important" cols="4">
                    <v-skeleton-loader
                      type="list-item-two-line"
                    ></v-skeleton-loader>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col cols="1">
                    <v-skeleton-loader
                      class="mt-4"
                      type="button"
                    ></v-skeleton-loader>
                  </v-col>
                </v-row>
                <v-row class="pa-4 py-6" no-gutters>
                  <v-col v-for="index in 4" :key="index" cols="3">
                    <v-skeleton-loader
                      class="pa-3 skeleton_loader_image"
                      max-width="300"
                      type="image, list-item-two-line"
                    ></v-skeleton-loader>
                  </v-col>
                </v-row>
              </v-sheet>
            </div>
          </div>
        </v-col>
        <v-col cols="12">
          <div v-if="listViewLayout">
            <ListViewLayout
              :products="collectionProductList"
              :load_more="loading"
              :no_more_products="noLoadMoreBtn"
            ></ListViewLayout>
          </div>
        </v-col>
      </v-row>
      <div v-if="!noLoadMoreBtn" class="text-center">
        <v-btn
          @click="loadMoreCollectionProducts(true)"
          small
          :disabled="loading"
          :dark="!loading"
          color="darkOrange"
          :loading="loading"
        >
          Load More
        </v-btn>
      </div>
    </client-only>
  </v-container>
</template>

<script>
import ProductCollection from "@/services/shared/product-collection";
import errorHandler from "@/helpers/shared/errorHandler";

export default {
  name: "view-all-products",

  components: {
    ListViewLayout: () =>
      import("@/components/shared/category-filter-page/ListViewLayout"),

    ChangeLayout: () =>
      import("@/components/shared/category-filter-page/ChangeLayout"),

    GridViewLayout: () =>
      import("@/components/shared/category-filter-page/GridViewLayout"),
  },
  // middleware: 'shared/authenticated',

  data() {
    return {
      collectionProducts: [],
      loading: false,
      page_no: 1,
      noMoreProducts: false,
      product_collection_slug: null,
      collectionInformation: null,
      skeletonLoading: false,
      collectionInformation: {},

      loadmoreBtn: false
    };
  },

  asyncData({ params }) {
    return {
      product_collection_slug: params["collection_name"],
    };
  },

  async fetch() {
    await this.getSelectedProductCollectionProducts();
  },

  computed: {
    isUserLoggedIn() {
      return this.$store.getters["login/ISLOGINED"];
    },
    collectionProductList() {
      return this.collectionProducts;
    },

    listViewLayout() {
      return this.$store.getters["category/LIST_VIEW_LAYOUT"];
    },

    gridLayoutIcon() {
      return this.$store.getters["category/GRID_LAYOUT_ICON"];
    },

    viewListLayoutIcon() {
      return this.$store.getters["category/VIEW_LIST_LAYOUT_ICON"];
    },

    gridLayout() {
      return this.$store.getters["category/GRID_LAYOUT"];
    },

    noLoadMoreBtn() {
      return this.noMoreProducts;
    }

  },

  methods: {
    loadMoreCollectionProducts(isButton) {
      this.page_no = this.page_no + 1;

      this.loading = true;

      this.getSelectedProductCollectionProducts(isButton);
    },

    getSelectedProductCollectionProducts(isButton) {
      if(!isButton) {
      this.skeletonLoading = true;
      }

      let payload = {
        page: this.page_no,

        slug: this.product_collection_slug,
      };

      if (!this.isUserLoggedIn) {

        ProductCollection.selectedProductCollectionDetails(payload).then(res => {
          this.collectionInformation = res.data;
        });

        ProductCollection.selectedProductCollectionAllProductsList(payload)
          .then((response) => {
            if(this.page_no === response.meta.last_page) {
            this.noMoreProducts = true;
          } else {
            this.noMoreProducts = false;
          }
            // this.noMoreProducts = response.data.length === 0;

            this.collectionProducts = this.collectionProducts.concat(
              response.data
            );
            this.skeletonLoading = false;

            this.loading = false;
          })
          .catch((e) => {
            errorHandler(e, this);

            this.loading = false;
            this.skeletonLoading = false;
          })
          .finally(() => {
            this.loading = false;
            this.skeletonLoading = false;
          });
      } else {
        ProductCollection.selectedWarehouseProductCollectionDetails(
          payload
        ).then((res) => {
          this.collectionInformation = res.data;
        });

        ProductCollection.selectedWarehouseProductCollection(payload)
          .then((response) => {
            // this.noMoreProducts = response.data.length === 0;
             if(this.page_no === response.meta.last_page) {
            this.noMoreProducts = true;
          } else {
            this.noMoreProducts = false;
          }

            this.collectionProducts = this.collectionProducts.concat(
              response.data
            );
            this.skeletonLoading = false;

            this.loading = false;
          })
          .catch((e) => {
            errorHandler(e, this);

            this.loading = false;
            this.skeletonLoading = false;
          })
          .finally(() => {
            this.loading = false;
            this.skeletonLoading = false;
          });
      }
    },
  },
};
</script>

<style scoped lang="scss">
// .collection_header ::v-deep {
//   .v-image__image {
//     opacity: 0.3 !important;
//     z-index: 0 !important;
//     content: '' !important;
//   }
// }
</style>
