<template>
  <v-row no-gutters>
    <v-col cols="2">
      <v-row no-gutters>
        <v-col v-for="(image,index) in 3" :key="index" class="pl-3 mt-3 mb-2" cols="12">
          <v-skeleton-loader tile type="image" class="product_small_images"></v-skeleton-loader>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="10">
      <v-sheet class="pa-3"  height="500">
        <v-skeleton-loader tile type="image" class="image-skeleton"></v-skeleton-loader>
      </v-sheet>
    </v-col>
  </v-row>
</template>
<script>
export default {
  name: "ProductZoomerImage"
}
</script>