<template>
 <v-row no-gutters>
   <v-col cols="12">
     <v-skeleton-loader tile type="list-item"></v-skeleton-loader>
   </v-col>
   <v-col cols="12">
     <v-skeleton-loader tile type="list-item"></v-skeleton-loader>
   </v-col>
 </v-row>
</template>

<script>
export default {
name: "ProductAllDescription"
}
</script>