<template>
  <v-sheet>
    <v-row no-gutters>
      <v-col cols="12">
        <v-skeleton-loader tile type="list-item" class="product_name_skeleton mt-2"></v-skeleton-loader>
      </v-col>
      <v-col cols="5">
        <v-skeleton-loader tile type="list-item-three-line" class="three-line-skeleton"></v-skeleton-loader>
      </v-col>
      <v-col cols="7">
        <v-row>
          <v-col cols="6">
            <v-skeleton-loader class="mt-6 button_skeleton_height" tile type="button"></v-skeleton-loader>
          </v-col>
          <v-col cols="6">
            <v-skeleton-loader class="mt-6 button_skeleton_height" tile type="button"></v-skeleton-loader>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-divider class="ma-3 mb-1"></v-divider>
    <v-row no-gutters>
      <v-col cols="6">
        <v-skeleton-loader tile type="list-item" class="product_name_skeleton"></v-skeleton-loader>
      </v-col>
      <v-col class="mt-3" cols="12">
        <v-row no-gutters>
          <v-col cols="2">
            <v-skeleton-loader class="ml-4" type="text" tile></v-skeleton-loader>
          </v-col>
        </v-row>
        <v-row no-gutters>
          <v-col v-for="(variant, index) in 3" :key="index"  cols="2" class="ml-4">
            <v-skeleton-loader tile class="simple_button_skeleton" type="button"></v-skeleton-loader>
          </v-col>
        </v-row>
        <v-row class="mt-4" no-gutters>
          <v-col cols="2">
            <v-skeleton-loader class="ml-4" type="text" tile></v-skeleton-loader>
          </v-col>
        </v-row>
        <v-row no-gutters>
          <v-col v-for="(variant, index) in 2" :key="index"  cols="2" class="ml-4">
            <v-skeleton-loader tile class="simple_button_skeleton" type="button"></v-skeleton-loader>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
export default {
name: "ProductSpecification"
}
</script>