<template>
  <v-container fluid>
    <v-row no-gutters>
      <v-col class="mt-8 px-4" cols="12">
        <v-row class="mb-2" no-gutters v-for="(specification,index) in 5" :key="index">
          <v-col cols="5">
            <v-row no-gutters>
              <v-col cols="9">
                <v-skeleton-loader type="text" class="product_description_title_skeleton" tile></v-skeleton-loader>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="2">
            <v-skeleton-loader type="text" class="product_description_title_skeleton" tile></v-skeleton-loader>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-divider class="ma-3"></v-divider>
    <v-row no-gutters>
     <v-col cols="12">
       <v-row no-gutters>
         <v-col cols="5">
           <v-skeleton-loader tile type="list-item" class="product_name_skeleton"></v-skeleton-loader>
         </v-col>
       </v-row>
       <v-row no-gutters>
         <v-col cols="12">
           <v-skeleton-loader tile type="list-item-three-line" class="three-line-skeleton"></v-skeleton-loader>
         </v-col>
         <v-col class="mt-2" cols="10">
           <v-skeleton-loader tile type="list-item-three-line" class="three-line-skeleton"></v-skeleton-loader>
         </v-col>
       </v-row>
     </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "ProductDescription"
}
</script>