<template>
  <v-sheet>
    <v-row no-gutters>
      <v-col cols="10">
        <v-skeleton-loader tile type="text" class="related-product-skeleton mt-1"></v-skeleton-loader>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col class="mt-3" cols="10" v-for="i in 3" :key="i">
        <v-row class="mb-3" no-gutters>
          <v-col cols="4">
            <v-skeleton-loader tile type="image" class="lobsang"></v-skeleton-loader>
          </v-col>
          <v-col cols="8">
            <v-row no-gutters>
              <v-col cols="12">
                <v-skeleton-loader tile type="list-item" class="related_warehouse_product_name"></v-skeleton-loader>
              </v-col>
              <v-col cols="6">
                <v-skeleton-loader tile type="list-item" class="related_warehouse_product_name"></v-skeleton-loader>
              </v-col>
              <v-col cols="10">
                <v-skeleton-loader tile type="list-item-three-line" class="related_products_skeleton"></v-skeleton-loader>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-divider></v-divider>
      </v-col>
    </v-row>
    <v-row no-gutters align="center" justify="center">
      <v-col cols="4">
        <v-skeleton-loader tile class="mt-6" type="text"></v-skeleton-loader>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
export default {
  name: "RelatedWarehouseProducts"
}
</script>