<template>
  <v-container fluid>
    <client-only>
      <v-row no-gutters class="body-2 pt-5">
        <v-col cols="12" class="text-center pt-5" v-if="loadingSpinner">
          <v-progress-circular width="3" indeterminate></v-progress-circular>
        </v-col>

        <v-col cols="12" v-else>
          <v-row no-gutters justify="center">
            <v-col cols="6">
              <v-card elevation="5">
                <v-row no-gutters>
                  <v-col cols="12" v-if="transactionAmount">
                    <v-row no-gutters>
                      <v-col cols="12" class="d-flex align-center success py-2 px-3">
                        <v-icon size="24" color="white">mdi-check-circle</v-icon>
                        <span class="title white--text ml-4">Load Balance Successful</span>
                      </v-col>

                      <v-col cols="12" class="text-center font-weight-bold mt-5">
                        Transaction ID : {{ $route.query.TXNID }}
                      </v-col>

                      <v-col cols="12" class="text-center font-weight-bold mt-3">
                        Transaction Amount : Rs. {{ transactionAmount }}
                      </v-col>
                    </v-row>
                  </v-col>

                  <v-col cols="12" v-if="serverError">
                    <v-row no-gutters>
                      <v-col cols="12" class="title error white--text py-1 px-3">IPS Payment</v-col>

                      <v-col cols="12" class="mt-4 px-3">{{ serverError }}</v-col>

                      <v-col cols="12" class="text-center mt-4 mb-3">
                        <v-btn
                          small
                          depressed
                          color="primary"
                          @click="goToDashboard"
                        >
                          Go to Business Plans
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </client-only>
  </v-container>
</template>

<script>

import errorHandler from "~/helpers/shared/errorHandler";
export default {
  name: "index",
  data() {
    return {
      loadingSpinner: true,
      transactionAmount: null,
      serverError: null
    }
  },
  middleware: 'shared/authenticated',
  async fetch() {
    this.checkWhetherTheTransactionIsSuccessful();
  },

  methods: {
    checkWhetherTheTransactionIsSuccessful() {
      this.loadingSpinner = true;
      this.transactionAmount = null;

      const code = this.$route.query['TXNID'];

      this.$store.dispatch('investment/getIPSConnectTransactionDetail', code).then(res => {
        this.transactionAmount = res.data['txnAmt'];
      }).catch(err => {
        errorHandler(err, this);
      }).finally(() => {
        this.loadingSpinner = false;
      });
    },
    goToDashboard() {
      this.$store.commit('login/SET_VISIT_HOME_PAGE', false);
      this.$router.push({name: 'store-investment-my-portfoilo'});
    }
  }
}
</script>
