<template>
  <v-card tile>
    <v-card-actions class="pa-0">
      <v-radio-group v-model="radioGroup" class="px-2">
        <v-radio
            v-for="(n, idx) in radio_state"
            :key="idx"
            :label="`Link ${n}`"
            :value="n"
            class="font-weight-bold text-center"
            @click="selectState"
        ></v-radio>
      </v-radio-group>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
name: "SelectPreviewState",
  data(){
    return{
      dialog_state: false,
      radioGroup:null,
      radio_state:['Preview On', 'Preview Off']
    }
  },
  methods:{
    selectState(){
      if(this.radioGroup === 'Preview On'){
        this.$emit('preview_on')
      }else{
        this.$emit('preview_off')
      }
      this.$emit('close_dialog', false)
    }
  }
}
</script>

<style scoped>

</style>
