.simple_text_field .v-input__slot {
    min-height: 32px;
    border-radius: 0;
    font-size: 0.875rem;
    border: 1px solid #b9b9b9;
    box-shadow: none !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  
  .simple_text_field.error--text .v-input__slot {
    border: 1px solid red;
  }
  
  //For text-field containing a prepend inner icon
  .text_field_with_prepend_inner_icon {
    border-radius: 0 !important;
    font-size: 12px !important;
  
    .v-input__slot {
      height: 32px !important;
      min-height: 32px !important;
      box-shadow: none !important;
      padding-left: 0 !important;
      border: 1px solid #b9b9b9 !important;
  
      label {
        font-size: 12px !important;
      }
  
      .v-input__prepend-inner {
        width: 40px !important;
        margin-top: 0 !important;
        padding-right: 8px !important;
  
        .v-input__icon {
          background-color: #003574 !important;
          min-height: 32px !important;
  
          i {
            color: white !important;
            font-size: 18px !important;
          }
        }
      }
  
      .v-text-field__slot {
        padding-left: 4px !important;
      }
    }
  
    .v-text-field__details {
      padding-left: 4px !important;
    }
  }
  
  .text_field_with_prepend_inner_icon.error--text .v-input__slot {
    border: 1px solid red;
  }
  
  .text_field_with_prepend_inner_icon.error--text .v-input__slot {
    border: 1px solid red;
  }

  //For auto-complete field containing a prepend inner icon
.auto_complete_with_prepend_inner_icon {
    border-radius: 0 !important;
    font-size: 12px !important;
  
    .v-input__slot {
      min-height: 25px !important;
      height: 32px !important;
      padding-left: 0 !important;
      box-shadow: none !important;
      border: 1px solid #b9b9b9;
  
      .v-input__prepend-inner {
        margin-top: 0 !important;
        min-height: 25px !important;
  
        .v-input__icon {
          background-color: #e5e5e5 !important;
  
          .error--text {
            color: white !important;
            background-color: red !important;
          }
        }
  
        &:hover {
          cursor: pointer !important;
        }
      }
  
      .v-select__slot {
        padding-left: 8px !important;
  
        input {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
        }
      }
    }
  
    .v-text-field__details {
      padding-left: 8px !important;
    }
  }
  
  .auto_complete_with_prepend_inner_icon.error--text .v-input__slot {
    border: 1px solid red;
  }
  
  //For auto-complete field containing a append inner icon
  .auto_complete_with_append_inner_icon .v-input__slot {
    min-height: 32px;
    border-radius: 0;
    font-size: 0.875rem;
    border: 1px solid #b9b9b9;
    box-shadow: none !important;
    padding-right: 0 !important;
  }
  
  .auto_complete_with_append_inner_icon .v-input__append-inner {
    min-height: 32px;
    padding-left: 0 !important;
    background-color: #e5e5e5;
  
    &:hover {
      cursor: pointer;
    }
  }
  
  .auto_complete_with_append_inner_icon .v-input__icon {
    min-height: 32px;
  }
  
  .auto_complete_with_append_inner_icon i {
    min-height: 32px;
  }
  
  .auto_complete_with_append_inner_icon.error--text .v-input__slot {
    border: 1px solid red;
  }
  
  .auto_complete_with_append_inner_icon.error--text .v-input__append-inner {
    background-color: red;
  }
  
  .auto_complete_with_append_inner_icon.error--text i {
    color: white !important;
  }
  
  //For File Input
  .file_input .v-input__slot {
    min-height: 32px;
    border-radius: 0;
    font-size: 0.875rem;
    border: 1px solid #b9b9b9;
    padding-left: 0 !important;
    box-shadow: none !important;
    padding-right: 6px !important;
  }
  
  .file_input .v-text-field__slot {
    padding-left: 8px !important;
  }
  
  .file_input .v-input__prepend-inner {
    min-height: 32px;
    padding-left: 4px !important;
    background-color: #003574;
  
    .primary--text {
      color: white !important;
    }
  }
  
  .file_input .v-input__icon {
    min-height: 32px;
  }
  
  .file_input i {
    min-height: 32px;
    color: white !important;
  }
  
  .file_input.error--text .v-input__slot {
    border: 1px solid red;
  }
  
  .file_input.error--text .v-input__prepend-inner {
    background-color: red;
  }
  
  .file_input.error--text i {
    color: white !important;
  }
  
  //Simple Textarea
  .simple_text_area {
    font-size: 12px !important;
    border-radius: 0 !important;
  
    .v-input__control {
      .v-input__slot {
        box-shadow: none !important;
        border: 1px solid #e5e5e5;
      }
    }
  }
  
  .form-field {
    border-color: #003574;
    border-radius: 0;
    font-size: 0.8rem;
  }

  .swiper_product {
    width: 60px !important;
  }
  
  .mobile_swiper_product {
    width: 100% !important;
  }

  .mobile_product_zoomer img {
    height: 450px;
  }
  
  .product_zoomer img {
    height: 400px !important;
  }