<template>
  <v-container fluid>
    <client-only>
      safhjaskjfklasjflkajklf {{ blog_detail }}
    </client-only>
  </v-container>
</template>

<script>
export default {
  name: "promotion-link-info",

  props: ['blog_detail'],

  head() {
    return {
      title: this.blog_detail['meta']['name']['title'],
      meta: [
        {hid: 'og-type', property: 'og:type', content: 'website'},
        {hid: 'og-title', property: 'og:title', content: this.blog_detail['meta']['name']['title']},
        {
          hid: 'og-desc',
          property: 'og:description',
          content: this.blog_detail['meta']['name']['description'] || ""
        },
        {
          hid: 'og-image', property: 'og:image',
          content: this.blog_detail['meta']['name']['image'] || ""
        },
        {hid: 'og-url', property: 'og:url', content: `https://allpasal.com`},
        {hid: 't-type', name: 'twitter:card', content: 'summary_large_image'}
      ]
    };
  },
}
</script>

<style scoped>

</style>
