<template>
  <v-container fluid>
    <v-card elevation="3">
      <v-row no-gutters justify="center" align-content="center">
        <v-col cols="5">
          <v-card elevation="0">
            <img
              class="warehouse_image"
              src="../../../assets/img/store/notfound_warehouse.png"
            />
          </v-card>
        </v-col>
        <v-col cols="1"></v-col>
        <v-col cols="6" class="pa-5">
          <v-card elevation="0">
            <h1 class="purple--text">Not Any Associated Warehouse Found.</h1>
            <h4>Please Contact Administrator</h4>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "index",
};
</script>

<style scoped>
.font--50 {
  font-size: 50px;
  font-weight: bold;
}

.warehouse_image {
  max-width: 700px;
}
</style>
