<template>
  <v-container pt-2 px-md-8 pb-lg-16 py-10 pb-md-16>
    <client-only>
      <div v-if="isLoading">
        <!-- <SearchSkeleton></SearchSkeleton> -->
      </div>
      <div v-else>
        <v-row no-gutters class="py-4">
          <v-col cols="12" v-if="selectedSearchResult">
            <v-row no-gutters class="mt-4" dense align="center" justify="center">
              <v-col cols="12" class="text-center">
                <span class="title">Search Result for '{{ this.$route.query.name }}'</span>
              </v-col>
            </v-row>
            <v-row no-gutters class="mb-4" dense align="center" justify="center">
              <v-col cols="12" class="text-center pl-6">
                <span class="body-2 grey--text font-weight-normal"> {{ totalCountOfSearchResult }} Items Found</span>
              </v-col>
            </v-row>

            <v-row dense>
              <v-col cols="12" xl="9" lg="9" md="9"></v-col>
              <v-col cols="12" xl="2" lg="2" md="12">
                <ChangeGridLayout></ChangeGridLayout>
              </v-col>
            </v-row>

            <v-divider></v-divider>

            <v-row v-if="loading">
              <v-col cols="12">
                <v-row align="center" justify="center" style="height:300px;">
                  <v-col cols="1">
                    <v-progress-circular
                      width="3"
                      indeterminate
                      :size="$mq | mq({mobile: 20,tablet: 35,laptop: 35})"
                      color="primary"
                      :class="{'pl-12':$vuetify.breakpoint.smAndDown}">
                    </v-progress-circular>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>

            <v-row v-else dense class="mt-5">
              <v-col cols="12">
                <div v-if="gridLayout">
                  <GridLayoutForDisplayingProducts :products="selectedSearchResult" :load_more="loadMoreLoading"
                                                   :no_more_products="noMoreSearchResults"></GridLayoutForDisplayingProducts>
                </div>
              </v-col>
              <v-col cols="12">
                <div v-if="listViewLayout">
                  <ListViewLayoutForDisplayingProducts :products="selectedSearchResult" :load_more="loadMoreLoading"
                                                       :no_more_products="noMoreSearchResults"></ListViewLayoutForDisplayingProducts>
                </div>
              </v-col>
            </v-row>

          </v-col>

          <v-col cols="12" class="text-center my-3" v-if="!noMoreProducts">
            <v-btn @click="loadMore()" :loading="loadMoreBtn" color="darkOrange" class="white--text">Load More</v-btn>
          </v-col>

          <v-col cols="12" class="text-center my-3" v-if="noMoreProducts">
            No more products found.
          </v-col>
          <!-- <v-col cols="12" class="text-center" v-if="noProductsFound.status">
            <div class="font-weight-bold">{{ 'Oops! ' + noProductsFound.message }}</div>
            <div>
              Code: <span class="font-weight-bold">{{ noProductsFound.code }}</span>
            </div>
            <div class="mt-3">Try going
              <nuxt-link to="/" style="color: #003574;">Home</nuxt-link>

            </div>
          </v-col> -->
        </v-row>
      </div>
    </client-only>
  </v-container>
</template>

<script>
// import Services from "@guest~services/category-filter/service";

import Services from "../../../services/shared/category/index";
import errorHandler from "../../../helpers/shared/errorHandler";

export default {
  name: "SearchPage",
  components: {
    ChangeGridLayout: () => import("../../../components/shared/category-filter-page/ChangeLayout.vue"),
    ListViewLayoutForDisplayingProducts: () => import("../../../components/shared/category-filter-page/ListViewLayout.vue"),
    GridLayoutForDisplayingProducts: () => import("../../../components/shared/category-filter-page/GridViewLayout")
  },
  data() {
    return {
      isLoading: true,
      searchResult: null, // For storing the selected collection data.
      selectedSearchResult: null, // For storing the selected collection products.
      pageNo: 1, // For fetching product api according to page.
      loading: false, // Loading Icon when the api is still fetching.
      rating: 3,
      bottom: false, // For detecting whether we are in the bottom or not.
      loadMoreLoading: false,  // For scroll.
      noMoreSearchResults: false, // To check whether there are more products or not while scrolling.
      noProductsFound: {
        status: false,
        message: true,
        code: '',
      },
      totalCountOfSearchResult: null,
      loadMoreBtn: false,
      noMoreProducts: false
    }
  },
  created() {

    this.getProduct();
  },

  computed: {

    isStore() {
      return this.$store.getters["login/ROLEID"];
    },

    listViewLayout() {

      return this.$store.getters['category/LIST_VIEW_LAYOUT'];

    },

    gridLayoutIcon() {

      return this.$store.getters['category/GRID_LAYOUT_ICON'];

    },

    viewListLayoutIcon() {

      return this.$store.getters['category/VIEW_LIST_LAYOUT_ICON'];

    },

    gridLayout() {

      return this.$store.getters['category/GRID_LAYOUT'];

    },

  },
  methods: {

    loadMore() {
      this.loadMoreBtn = true;
      this.pageNo = this.pageNo +1;
      this.getNextPageProductCollection();

    },

    getProduct() {
      this.isLoading = true

      this.selectedSearchResult = null

      this.$store.dispatch("category/searchResultProduct", this.$route.query.name).then(response => {
        this.noProductsFound.status = false;
        this.selectedSearchResult = response.data;
        this.totalCountOfSearchResult = response.meta.total;
        if(response.meta.current_page === response.meta.last_page) {
          this.noMoreProducts = true;
        }
        this.isLoading = false;
      }).catch(e => {
        errorHandler(e, this);
        this.isLoading = false;
        this.noProductsFound.status = true
      }).finally(() => {
        this.isLoading = false;
      })
    },
    checkIfUserHasScrollDownToBottom() {
      if (this.noMoreCollectionProduct) {
        this.bottom = false;
      } else {
        this.bottom = this.bottomVisible();
      }
    },
    getNextPageProductCollection() {
      Services.getNexPageSearchResult({
        name: this.$route.query.name,
        page: this.pageNo
      }).then(response => {
        if(response.meta.current_page === response.meta.last_page) {
          this.noMoreProducts = true;
        }
        if (response.links.next) {
          this.loadMoreBtn = false;

          this.selectedSearchResult = this.selectedSearchResult.concat(response.data);
        } else {
          this.selectedSearchResult = this.selectedSearchResult.concat(response.data);
          this.noMoreSearchResults = true;
          this.bottom = false;
        }
      })
    },
    bottomVisible() {
      // const scrollY = window.scrollY;
      // const visible = document.documentElement.clientHeight;
      // if (this.$mq === "mobile") {
      //   const pageHeight = document.documentElement.scrollHeight - 2620;
      //   const bottomOfPage = visible + scrollY >= pageHeight;
      //   return bottomOfPage || pageHeight < visible;
      // } else {
      //   const pageHeight = document.documentElement.scrollHeight - 400;
      //   const bottomOfPage = visible + scrollY >= pageHeight;
      //   return bottomOfPage || pageHeight < visible;
      // }
    }
  }

}
</script>
