.select_all_checkbox {
  margin-top: 0 !important;
}

.select_all_checkbox .v-label {
  text-transform: uppercase !important;
  color: var(--v-gray-base) !important;
  font-size: 0.9rem !important;
}

.white_background {
  background-color: white !important;
}

.red_background {
  background-color: #ffd6be !important;
}

.quantity input {
  color: var(--v-gray-base) !important;
  font-size: 0.9rem !important;
  font-weight: bold;
}

.quantity .v-label {
  color: var(--v-gray-base) !important;
  font-size: 0.9rem !important;
  font-weight: bold;
}

.quantity .v-input__slot {
  box-shadow: none !important;
  background-color: #fcfcfc !important;
}

.quantity .v-input__control {
  min-height: 20px !important;
}

.quantity .v-text-field__details {
  margin-bottom: 0;
}

.disable_quantity input {
  color: var(--v-gray-base) !important;
  font-size: 0.75rem !important;
  font-weight: 500;
  margin-left: 8px !important;
}

.disable_quantity .v-label {
  color: var(--v-gray-base) !important;
  font-size: 0.75rem !important;
  font-weight: 500;
}

.disable_quantity .v-input__slot {
  box-shadow: none !important;
  background-color: #ffd6be !important;
  padding: 0 !important;
  min-height: 20px !important;
}

.disable_quantity .v-input__control {
  min-height: 20px !important;
}

.disable_quantity .v-text-field__details {
  margin-bottom: 0;
}

.button_design {
  height: 20px !important;
  min-width: 20px !important;
}



.timer_for_pre_order {
  padding: 0 !important;
  text-align: left !important;
}

.timer_for_pre_order .flip-clock {
  text-align: left !important;
}

.timer_for_pre_order .flip-card {
  font-size: 1.2rem !important;
  padding-bottom: 0.6em;
}

.timer_for_pre_order .flip-clock__piece {
  background: #ff5c00;
  padding: 1px;
  text-align: center !important;
}

.timer_for_pre_order .flip-clock__slot {
  font-size: 0.5rem !important;
  margin-top: -2px !important;
  color: white !important;
  font-weight: 400 !important;
}

.flip-card__top, .flip-card__bottom, .flip-card__back-bottom, .flip-card__back::before, .flip-card__back::after {
  color: white !important;
  background: #ff5c00 !important;
  padding: 0.2rem 0 !important;
  font-size: 1.1rem !important;
  font-weight: 400;
}

.flip-card__bottom, .flip-card__back-bottom, .flip-card__bottom-4digits, .flip-card__back-bottom-4digits {
  border-top: none !important;
}


.dashboard_card{
  border-radius: 37px;
  width: 100px !important;
  height: 100px;
}



.related_product_image {
  background-color: #e5e5e5; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top, #e5e5e5, white);
}

.related_product_name {
  font-size: 0.91rem;
  font-weight: 500;
}

.mobile_related_product_name {
  font-size: 0.75rem;
  font-weight: 400;
}

.related_warehouse_title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  color: #0F1111;
}

.related_product_category {
  font-weight: 400;
  color: #606060;
  font-size: 0.75rem;
}

.rating_design button {
  font-size: 12px !important;
  padding: 0 2px !important;
}

.card_hover {
  border: none;
}

.card_hover:hover {
  cursor: pointer !important;
}
