<template>
  <v-container pt-5>
    <client-only>
      <v-dialog persistent width="600" v-model="dialogState">
        <v-card class="body-2 pa-3">
          <v-row no-gutters>
            <v-col cols="12">
              <div class="d-flex justify-space-between">
                <span class="subtitle-1 font-weight-bold">Plan Detail</span>
                <v-icon @click="dialogState = false">mdi-close</v-icon>
              </div>
              <v-divider></v-divider>
            </v-col>

            <v-col cols="12" class="mt-4">
              <v-row no-gutters>
                <v-col cols="12">
                  <v-row no-gutters>
                    <v-col cols="5">Investment Name</v-col>
                    <v-col cols="7" class="text-end font-weight-bold">{{ dialogItem['investment_plan_name'] }}</v-col>
                  </v-row>
                  <v-divider class="mt-1"></v-divider>
                </v-col>

                <v-col cols="12" class="mt-2">
                  <v-row no-gutters>
                    <v-col cols="5">Interest Rate</v-col>
                    <v-col cols="7" class="text-end font-weight-bold">{{ dialogItem['interest_rate'] }}%</v-col>
                  </v-row>
                  <v-divider class="mt-1"></v-divider>
                </v-col>

                <v-col cols="12" class="mt-2">
                  <v-row no-gutters>
                    <v-col cols="5">Investment Period</v-col>
                    <v-col cols="7" class="text-end font-weight-bold">{{ dialogItem['maturity_period'] }} months</v-col>
                  </v-row>
                  <v-divider class="mt-1"></v-divider>
                </v-col>

                <v-col cols="12" class="mt-2">
                  <v-row no-gutters>
                    <v-col cols="5">Interest Release Time</v-col>
                    <v-col cols="7" class="text-end font-weight-bold">
                      {{ dialogItem['interest_release_time'] }}
                    </v-col>
                  </v-row>
                  <v-divider class="mt-1"></v-divider>
                </v-col>

                <v-col cols="12" class="mt-2">
                  <v-row no-gutters>
                    <v-col cols="5">Maturity Date</v-col>
                    <v-col cols="7" class="text-end font-weight-bold">
                      {{ dialogItem['maturity_date'] }}
                    </v-col>
                  </v-row>
                  <v-divider class="mt-1"></v-divider>
                </v-col>

                <v-col cols="12" class="mt-2">
                  <v-row no-gutters>
                    <v-col cols="5">Invested Amount</v-col>
                    <v-col cols="7" class="text-end font-weight-bold">
                      Rs. {{ dialogItem['invested_amount'] }}
                    </v-col>
                  </v-row>
                  <v-divider class="mt-1"></v-divider>
                </v-col>
              </v-row>
            </v-col>

            <v-col cols="12" class="subtitle-1 font-weight-bold mt-3">
              Investment Return Detail
            </v-col>

            <v-col cols="12">
              <v-row no-gutters v-if="investmentReturns">
                <v-col cols="12">
                  <v-row no-gutters>
                    <v-col cols="6">Investment Type:</v-col>
                    <v-col cols="6" class="text-end font-weight-bold">
                      {{ convertToTitleCase(dialogItem['investment_type']) }}
                    </v-col>
                  </v-row>
                  <v-divider class="mt-1"></v-divider>
                </v-col>

                <v-col cols="12" class="mt-2">
                  <v-row no-gutters>
                    <v-col cols="6">Principle</v-col>
                    <v-col cols="6" class="text-end font-weight-bold">
                      {{ investmentReturns['principle'] || 'N/A' }}
                    </v-col>
                  </v-row>
                  <v-divider class="mt-1"></v-divider>
                </v-col>

                <v-col cols="12" class="mt-2">
                  <v-row no-gutters>
                    <v-col cols="6">Interest</v-col>
                    <v-col cols="6" class="text-end font-weight-bold">
                      Rs. {{ investmentReturns['interest'] }}
                    </v-col>
                  </v-row>
                  <v-divider class="mt-1"></v-divider>
                </v-col>

                <v-col cols="12" class="mt-2">
                  <v-row no-gutters>
                    <v-col cols="6">Number of Shares</v-col>
                    <v-col cols="6" class="text-end font-weight-bold">
                      {{ investmentReturns['share'] || 'N/A' }}
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </v-dialog>

      <v-skeleton-loader :loading="loading" v-if="loadingSpinner" type="table">
      </v-skeleton-loader>

      <v-row no-gutters class="body-2" v-else>
        <v-col cols="12" v-if="businessPlanInfo.length !==0">
          <v-row no-gutters>
            <v-col cols="12" class="title px-3">
              My Plans
            </v-col>

            <v-col cols="12" class="mt-2">
              <v-card class="pa-3">
                <v-data-table
                  :headers="tableHeaders"
                  :items="tableItems"
                >
                  <template v-slot:item.investment_type="{ item }">
                    {{ convertToTitleCase(item['investment_type']) }}
                  </template>

                  <template v-slot:item.actions="{ item }">
                    <v-icon @click="openDialog(item)">mdi-eye</v-icon>
                  </template>
                </v-data-table>
              </v-card>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" class="d-flex justify-center pt-5" v-else>
          <v-alert
            text
            dense
            color="error"
            class="body-2"
          >
            Your business plan is empty.
          </v-alert>
        </v-col>
      </v-row>
    </client-only>
  </v-container>
</template>

<script>
import stringFormatter from "~/helpers/shared/stringFormatter";

export default {
  name: "MyBusinessPlans",
  data() {
    return {
      tableHeaders: [
        {
          text: 'S.N.',
          value: 'sn'
        },
        {
          text: 'Investment Name',
          value: 'investment_plan_name'
        },
        {
          text: 'Investment Type',
          value: 'investment_type'
        },
        {
          text: 'Interest',
          value: 'interest_rate'
        },
        {
          text: 'Maturity Date',
          value: 'maturity_date'
        },
        {
          text: 'Invested Amount',
          value: 'invested_amount'
        },
        {
          text: 'Actions',
          value: 'actions'
        },
      ],
      loadingSpinner: true,
      businessPlanInfo: [],
      serverError: null,
      dialogState: false,
      dialogItem: {},
      investmentReturns: null,
      loading:false
    }
  },

  layout: 'store-dashboard',
  middleware: 'shared/authenticated',

  async fetch() {
    this.getMyInvestment();
  },

  computed: {
    tableItems() {
      return this.businessPlanInfo.map((item, idx) => {
        item['sn'] = `${idx + 1}.`;
        return item;
      });
    }
  },
  methods: {

    getMyInvestment() {
      this.$store.dispatch('investment/getMyBusinessPlans').then(res => {
        if (res.data.length !== 0) {
          this.businessPlanInfo = res.data;
        } else {
          this.serverError = "You don't have any business plan right now.";
        }
      }).catch(err => {
        const {message} = err.response.data;
        this.serverError = message;
      }).finally(() => {
        this.loadingSpinner = false;
      })
    },

    convertToTitleCase(name) {
      return stringFormatter.convertToTitleCase(name);
    },
    openDialog(item) {
      const data = {
        code: item['investment_plan_code'],
        amount: item['invested_amount']
      }

      this.$store.dispatch('investment/getMyBusinessPlansInvestmentReturns', data).then(res => {
        this.dialogItem = item;
        this.investmentReturns = res.data.data;
        this.dialogState = true;
      });
    },
  }
}
</script>
