<template>
  <client-only>
    <v-row no-gutters justify="center" class="body-2">
      <v-col cols="12" v-if="!businessPlanDetailState">
        <ChooseBusinessPlan></ChooseBusinessPlan>
      </v-col>

      <v-col cols="12" md="8" lg="8" class="py-5" v-else>
        <v-row no-gutters>
          <v-col cols="12" v-if="!showIPSForm">
            <ViewCustomerBusinessPlan
              :business-plan-code="businessPlanCode">
            </ViewCustomerBusinessPlan>
          </v-col>

          <v-col cols="12" v-else>
            <v-card elevation="5" class="px-3 pt-3">
              <v-row no-gutters justify="center">
                <v-col cols="12" v-if="!ispConnectData">
                  <v-form ref="ipsForm">
                    <v-row no-gutters>
                      <v-col cols="12" class="text-center">
                        <img
                          width="200"
                          alt="Image"
                          src="https://play-lh.googleusercontent.com/cusQ9xWY6oknKf8iTufVDt0bvkQILza8Ayimo395h1oy6HzYFI-NGplsDQjKXm07NxDd">
                      </v-col>

                      <v-col cols="12" class="mt-3" v-if="serverValidationErrors.length !== 0">
                        <v-alert
                          dark
                          dense
                          color="error"
                          class="caption mb-0"
                        >
                          <ul v-for="(error, index) in serverValidationErrors" :key="index">
                            <li>{{ error }}</li>
                          </ul>
                        </v-alert>
                      </v-col>

                      <v-col cols="12" class="mt-3">
                        <v-alert
                          dense
                          type="info"
                          class="caption"
                        >
                          Amount should be in range of Rs {{ priceStartRange }} to Rs {{ priceEndRange }}.
                        </v-alert>
                      </v-col>

                      <v-col cols="3">
                        Amount:
                        <v-text-field
                          solo
                          flat
                          dense
                          class="simple_text_field mt-1"
                          placeholder="Enter amount"
                          v-model="amount"
                          :rules="amountRule">
                        </v-text-field>
                      </v-col>

                      <v-col cols="3" offset="1">
                        Referral Code:
                        <v-text-field
                          solo
                          flat
                          dense
                          class="simple_text_field mt-1"
                          placeholder="Enter referral code"
                          v-model="referralCode">
                        </v-text-field>
                      </v-col>

                      <v-col cols="3" offset="1" class="text-center mt-6">
                        <v-btn
                          small
                          depressed
                          width="150"
                          color="primary"
                          :loading="btnLoadingState"
                          @click="submitForm"
                        >
                          Connect
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-col>

                <v-col cols="12" class="mb-3" v-else>
                  <form
                    method="post"
                    enctype="multipart/form-data"
                    :action="ispConnectData['ACTIONURL']"
                  >
                    <input type="hidden" name="MERCHANTID" :value="ispConnectData.MERCHANTID"/>
                    <input type="hidden" name="APPID" :value="ispConnectData.APPID"/>
                    <input type="hidden" name="APPNAME" :value="ispConnectData.APPNAME"/>
                    <input type="hidden" name="TXNID" :value="ispConnectData.TXNID"/>
                    <input type="hidden" name="TXNDATE" :value="ispConnectData.TXNDATE"/>
                    <input type="hidden" name="TXNCRNCY" :value="ispConnectData.TXNCRNCY"/>
                    <input type="hidden" name="TXNAMT" :value="ispConnectData.TXNAMT"/>
                    <input type="hidden" name="REFERENCEID" :value="ispConnectData.REFERENCEID"/>
                    <input type="hidden" name="REMARKS" :value="ispConnectData.REMARKS"/>
                    <input type="hidden" name="PARTICULARS" :value="ispConnectData.PARTICULARS"/>
                    <input type="hidden" name="TOKEN" :value="ispConnectData.TOKEN"/>

                    <v-alert
                      dense
                      type="info"
                      color="primary"
                      class="body-2"
                    >
                      Confirmation Message
                    </v-alert>

                    <div>Are you sure you want to proceed? Once proceed, you cannot undo the process.</div>

                    <v-col cols="12" class="pa-4" v-if="investmentReturnsInfo">
                      <v-card outlined class="pa-3">
                        <v-row no-gutters class="text-center">
                          <v-col cols="12" class="subtitle-1 font-weight-bold">
                            Investment Return at Maturity
                          </v-col>

                          <v-col cols="12" class="font-weight-medium mb-3">
                            Investment Type: {{ convertToTitleCase(businessPlanDetailInfo['investment_type']) }}
                          </v-col>

                          <v-col cols="4">
                            Principle:
                            <div class="font-weight-bold">{{ investmentReturnsInfo['principle'] || 'N/A' }}</div>
                          </v-col>

                          <v-col cols="4">
                            Interest:
                            <div class="font-weight-bold" v-if="investmentReturnsInfo['interest'] !== null">
                            <span v-if="investmentReturnsInfo['interest'] % 1 !== 0">
                              {{ investmentReturnsInfo['interest'].toFixed(2) }}
                            </span>
                              <span v-else>Rs. {{ investmentReturnsInfo['interest'] }}</span>
                            </div>
                            <div class="font-weight-bold" v-else>N/A</div>
                          </v-col>

                          <v-col cols="4">
                            No. of Shares:
                            <div class="font-weight-bold" v-if="investmentReturnsInfo['share'] !== null">
                              {{ investmentReturnsInfo['share'] }} unit
                            </div>
                            <div class="font-weight-bold" v-else>0</div>
                          </v-col>
                        </v-row>
                      </v-card>
                    </v-col>

                    <div class="text-center mt-4">
                      <v-btn
                        small
                        depressed
                        type="submit"
                        color="primary"
                      >
                        Confirm
                      </v-btn>

                      <v-btn
                        small
                        depressed
                        class="ml-2"
                        color="error"
                        @click="cancelPaymentProcess"
                      >
                        Cancel
                      </v-btn>
                    </div>
                  </form>
                </v-col>


              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </client-only>
</template>

<script>
import stringFormatter from "@/helpers/shared/stringFormatter";
import ChooseBusinessPlan from "~/components/store/investment/choose-business-plan";
import ViewCustomerBusinessPlan from "~/components/store/investment/view-customer-business-plan";
import errorHandler from "~/helpers/shared/errorHandler";
export default {
  name: "index",
  components: {
    ChooseBusinessPlan,
    ViewCustomerBusinessPlan
  },

  layout:'store-dashboard',
  middleware: 'shared/authenticated',
  data() {
    return {
      businessPlanCode: '',
      businessPlanDetailState: false,
      businessPlanDetailInfo: null,
      priceStartRange: 0,
      priceEndRange: 0,
      showIPSForm: false,
      amount: '',
      referralCode: '',
      amountRule: [
        v => !!v || 'Amount is required.',
        v => /^\d+$/.test(v) || 'Must be a number only.',
        v => (v >= this.priceStartRange) || `Amount should be greater than ${this.priceStartRange}`,
        v => (v <= this.priceEndRange) || `Amount should be less than ${this.priceEndRange}.`
      ],
      btnLoadingState: false,
      serverValidationErrors: [],
      ispConnectData: null,
      investmentReturnsInfo: null,
    }
  },
  mounted() {
    this.$nuxt.$on('business-plan', data => {
      this.businessPlanCode = data['code'];
      this.businessPlanDetailState = true;
      this.showIPSForm = false;
    });

    this.$nuxt.$on('show-business-plan', data => {
      this.businessPlanDetailInfo = data;
      this.priceStartRange = this.businessPlanDetailInfo['price_start_range'];
      this.priceEndRange = this.businessPlanDetailInfo['price_end_range'];
      this.showIPSForm = true;
    });
  },
  methods: {
    submitForm() {
      if (this.$refs.ipsForm.validate()) {
        this.btnLoadingState = true;
        this.serverValidationErrors = [];

        const data = {
          amount: this.amount,
          transaction_type: 'investment',
          referred_by: this.referralCode,
          ipir_option_code: this.businessPlanDetailInfo['investment_interest_detail'][0]['ipir_option_code']
        }

        this.$store.dispatch('investment/submitIPSConnectForm', data).then(res => {
          this.getMyBusinessPlansInvestmentReturns(res.data.data);
        }).catch(err => {
          this.btnLoadingState = false;
          errorHandler(err, this);
        });
      }
    },
    getMyBusinessPlansInvestmentReturns(ispConnectData) {
      const data = {
        code: this.businessPlanDetailInfo['investment_plan_code'],
        amount: this.amount
      }

      this.$store.dispatch('investment/getMyBusinessPlansInvestmentReturns', data).then(res => {
        this.ispConnectData = ispConnectData;
        this.investmentReturnsInfo = res.data;
      }).catch(e => {
        errorHandler(e, this);
      }).finally(() => {
        this.btnLoadingState = false;
      });
    },
    convertToTitleCase(name) {
      return stringFormatter.convertToTitleCase(name);
    },
    cancelPaymentProcess() {
      this.businessPlanDetailState = false;
    }
  }
}
</script>
