<template>
  <v-container fluid class="py-8">
    <client-only>
      <v-row no-gutters>
        <v-col cols="12" class="text--white"  v-if="$mq === 'mobile' " >
          <v-card tile style="position: relative">
            <img :src="aboutUsDetails['page_image']" alt="" width="100%">
            <span  style="position:absolute; top:50%; left:50%;transform: translate(-50%, -50%); color: black; font-size: 36px; font-weight: 700">ABOUT US</span>
          </v-card>
        </v-col>

        <v-col cols="12" class="text--white" v-else>
          <v-card tile style="position: relative">
            <img :src="aboutUsDetails['page_image']" alt="" width="100%">
            <span  style="position:absolute; top:50%; left:50%;transform: translate(-50%, -50%); color: black; font-size: 56px; font-weight: 700">ABOUT US</span>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mt-8">
        <v-col cols="12"  class="text-left title  font-width-medium">
          <span>Message from CEO</span>
        </v-col>
        <v-col cols="12" md="8" lg="8" xl="8">
          <v-row>
            <v-col cols="12" class="text-left subtitle-2">
              {{aboutUsDetails['message_from_ceo']}}
            </v-col>
            <v-col cols="12" class="text-right title">
              {{aboutUsDetails['ceo_name']}}
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="4" lg="4" xl="4">
          <img :src="aboutUsDetails['ceo_image']" alt="ceoImage" width="100%">
        </v-col>

      </v-row>

      <v-row class="mt-14">
        <v-col cols="12" class="title font-width-medium pt-3">
          <span >Allpasal Public Limited</span>
        </v-col>
        <v-col cols="12" class="subtitle-2">
          {{aboutUsDetails['company_description']}}
        </v-col>
      </v-row>


      <v-row>
        <v-col cols="12" class="title font-width-medium pt-3 text-left">
          All Over Nepal
        </v-col>
        <v-col cols="12" class="body-2 text-center font-weight-medium mt-1">
          <v-card id="map" class="mt-3" style="width: 100%; height: 450px;"></v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" class="text-left title  font-width-medium">
          <span>More than 500+ Store</span>
        </v-col>
      </v-row>

      <v-row no-gutters class="mt-8" v-if="!isUserLoggedIn">
        <v-col cols="4" class="text-center my-10"></v-col>
        <v-col cols="4" class="text-center">
          <v-btn block style="width:200px !important" tile @click="becomePartner" color="darkOrange" class="white--text">Become a Partner</v-btn>
        </v-col>
        <v-col cols="4"></v-col>
        <!-- <v-card class="py-12" elevation="0" style="background: rgb(228,94,53);background: linear-gradient(36deg, rgba(228,94,53,0.6418942577030813) 0%, rgba(44,67,115,0.8491771708683473) 99%);">
          <v-row justify="center" align="center">
            <v-col cols="12" lg="6" xl="6" class="text-center">
              <v-row no-gutters justify="center">
                <v-col cols="12">
                  <img src="~assets/img/shared/logo.png" width="185" height="61" alt="Logo">
                </v-col>
                <v-col cols="8" :offset-lg="4" :offset-xl="4"  class="mt-3 white--text text-left">
                  <v-icon color="white">mdi-map-marker</v-icon>
                  <span>New Baneshwor, Kathmandu</span>
                </v-col>
                <v-col :offset-lg="4" :offset-xl="4"  cols="8" class="mt-3 white--text text-left">
                  <v-icon color="white">mdi-email</v-icon>
                  <span>info@allpasal.com</span>
                </v-col>
                <v-col cols="8" :offset-lg="4" :offset-xl="4"  class="mt-3 white--text text-left">
                  <v-icon color="white">mdi-phone</v-icon>
                  Contact No:9866622025
                </v-col>
              </v-row>
            </v-col>
            <v-col  cols="12" lg="6" xl="6" class="text-center mt-sm-2">
              <v-btn tile @click="becomePartner" style="color: darkorange">Become a Partner</v-btn>
            </v-col>
          </v-row>
        </v-card> -->

      </v-row>
    </client-only>
  </v-container>
</template>

<script>
/* eslint-disable no-undef,no-unused-vars */
import storeLocation from '@/services/shared/location'
const markerClusterCDN = "https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js";

export default {
  data(){
    return{
      aboutUsDetails:[],
      storeLocations: [],
    }
  },
  created() {
     this.$store.dispatch('aboutUs/getAboutUs').then(res =>{
       this.aboutUsDetails = res.data;
     })

    storeLocation.getStoreAllLocation().then(res =>{
      this.storeLocations = res['data'];
      this.storeLocations.forEach(val => {
        val['latitude'] += Math.random() / 15000;
        val['longitude'] += Math.random() / 15000;
      });

      if(process.client){
        this.showMap()
      }

    })
    // this.showMap()

  },
  mounted() {
    if(process.client){
      const script = document.createElement('script');
      script.setAttribute('src', markerClusterCDN);
      document.head.appendChild(script);
    }
  },

  computed: {
    getFavIcon() {
      return this.$store.getters['settings/getCompanyFavIcon'];
    },
    isUserLoggedIn() {

      return this.$store.getters['login/ISLOGINED'];

    },
  },
  methods:{
    becomePartner(){
      this.$router.push({
        name:'JoinNow'
      })
    },
    showMap() {
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 7,
        center: {
          lat: 28.4,
          lng: 84.5
        }
      });

      const infoWin = new google.maps.InfoWindow();
      const markers = this.storeLocations.map(location => {
        let marker = new google.maps.Marker({
          position: {
            lat: location['latitude'],
            lng: location['longitude']
          },
        });
        google.maps.event.addListener(marker, 'click', evt => {
          infoWin.setContent(location['store_name']);
          infoWin.open(map, marker);
        })
        return marker;
      });
      new MarkerClusterer(map, markers, {
        imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
      });
    },
  }
};
</script>
<style scoped>
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #f45b69;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #456990;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #f45b69;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f45b69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f45b69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #f45b69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

</style>
