<template>
  <v-app>
            <v-main v-if="$nuxt.isOffline">
              <no-internet></no-internet>
            </v-main>
            <v-main v-else>
              <client-only>
                <Navigation v-if="!isMaintenanceMode"></Navigation>
              </client-only>
              <client-only>
              <category-section style="position:sticky;  top:55px;z-index:2;"></category-section>
              </client-only>
              <v-container class="pa-0" fluid>
                <v-divider></v-divider>
                <Nuxt></Nuxt>
                <client-only>
                <SnackBar v-if="snackbar"></SnackBar>
                <DialogBox v-if="dialogBox"></DialogBox>
                <DeleteDialog v-if="deleteDialogBox"></DeleteDialog>
                </client-only>
              </v-container>
              <div>
                <client-only>
                <ScrollToTop></ScrollToTop>
                </client-only>
              </div>
              <client-only>
                <Footer></Footer>
              </client-only>
            </v-main>
  </v-app>
</template>

<script>

import GeneralSetting from "@/services/shared/general-setting";
import NoInternet from "@/components/error/no-internet";

export default {

  head: {
    title: 'Allpasal',
    meta: [
      {hid: 'og-type', property: 'og:type', content: 'website'},
      {hid: 'og-title', property: 'og:title', content: 'Allpasal Home Page'},
      {
        hid: 'og-desc',
        property: 'og:description',
        content: 'Allpasal is a leading B2B business organization serving around 500 stores in the country'
      },
      {
        hid: 'og-image', property: 'og:image',
        content: 'https://admin.allpasal.com/uploads/home/sliders/3z0u9y7uh6_1638168732.png'
      },
      {hid: 'og-url', property: 'og:url', content: `https://allpasal.com`},
      {hid: 't-type', name: 'twitter:card', content: 'summary_large_image'}
    ]
  },


  components: {

    NoInternet,

    CategorySection: () => import("@/components/shared/home-page/category-section"),

    DeleteDialog: () => import("@/components/shared/notification/DeleteDialogBox"),

    DialogBox: () => import("@/components/shared/notification/DialogBox"),

    Footer: () => import("@/components/shared/footer"),

    Navigation: () => import("@/components/shared/home-page/Navigation"),

    SnackBar: () => import("@/components/shared/notification/SnackBar"),

    CategoryTab: () => import("@/components/shared/home-page/CategoryTab"),

    ScrollToTop: () => import("../components/shared/scroll-to-top"),

  },

  created() {

    this.generalSettingInfo();
    this.$store.commit("error/SET_422_ERROR", false);

    this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
    this.$nuxt.$on('pusher-toast', (value) => {
      this.$toast.success(value.response)
    })

  },

  computed: {

    snackbar() {

      return this.$store.getters["notification/GET_SNACKBAR_STATE"];

    },

    dialogBox() {

      return this.$store.getters["notification/GET_SIMPLE_DIALOG_STATE"];

    },

    deleteDialogBox() {

      return this.$store.getters["notification/GET_DELETE_DIALOG_STATE"];

    },

    isMaintenanceMode() {

      return this.$store.getters['login/MAINTENANCE_CODE'];

    },

    getAssociatedWarehouse() {
      return this.$store.getters['login/GET_ASSOCOCIATED_WAREHOUSE'];
    },

    getFavIcon() {
      return this.$store.getters['settings/getCompanyFavIcon'];
    },


  },

  methods: {

    generalSettingInfo() {

      try {

        GeneralSetting.generalInfo().then(response => {

          this.storeGeneralInformation(response.data);

        })

      } catch (e) {

        console.log(e, 'response');

      }

    },

    storeGeneralInformation(data) {

      this.$store.commit('settings/commitCompanyLogo', data.logo)
      this.$store.commit('settings/commitCompanyFavIcon', data.fav_icon)
      this.$store.commit('settings/commitCompanyAddress', data.company_address)
      this.$store.commit('settings/commitCompanyPrimaryContact', data.primary_contact)
      this.$store.commit('settings/commitCompanySecondaryContact', data.secondary_contact)
      this.$store.commit('settings/commitCompanyEmail', data.company_email)
      this.$store.commit('settings/commitCompanyDescription', data.company_brief)
      this.$store.commit('settings/commitCompanyFacebookLink', data.social_media_links.facebook)
      this.$store.commit('settings/commitCompanyInstagramLink', data.social_media_links.instagram)
      this.$store.commit('settings/commitCompanyTwitterLink', data.social_media_links.twitter)
      this.$store.commit('settings/commitSEOMetaTitle', data.seo.meta_title)
      this.$store.commit('settings/commitSEOMetaDescription', data.seo.meta_description)
      this.$store.commit('settings/commitSEOKeywords', data.seo.keywords)
      this.$store.commit('settings/commitSEOAuthor', data.seo.author)


    }

  }

}
</script>
