<template>
  <v-app>
    <v-main v-if="$nuxt.isOffline">
      <no-internet></no-internet>
    </v-main>
    <v-main v-else>
      <client-only>
        <nav-bar></nav-bar>
        <side-bar></side-bar>
        <v-container className="pa-0" fluid>
          <Nuxt></Nuxt>
          <SnackBar v-if="snackbar"></SnackBar>
          <DialogBox v-if="dialogBox"></DialogBox>
          <DeleteDialog v-if="deleteDialogBox"></DeleteDialog>
        </v-container>
      </client-only>
    </v-main>
  </v-app>
</template>

<script>

import NavBar from "@/components/store/dashboard/nav-bar";
import SideBar from "@/components/store/dashboard/side-bar";
import NoInternet from "@/components/error/no-internet";

export default {

  components: {
    NoInternet,
    SideBar,
    NavBar,

    DeleteDialog: () => import("@/components/shared/notification/DeleteDialogBox"),

    DialogBox: () => import("@/components/shared/notification/DialogBox"),

    SnackBar: () => import("@/components/shared/notification/SnackBar"),

  },

  created() {
    this.$nuxt.$on('pusher-toast', (value) => {
     this.$toast.success(value.response)
    })
  },

  computed: {

    snackbar() {

      return this.$store.getters["notification/GET_SNACKBAR_STATE"];

    },

    dialogBox() {

      return this.$store.getters["notification/GET_SIMPLE_DIALOG_STATE"];

    },

    deleteDialogBox() {

      return this.$store.getters["notification/GET_DELETE_DIALOG_STATE"];

    },

    isMaintenanceMode() {

      return this.$store.getters['login/MAINTENANCE_CODE'];

    },
    getFavIcon() {
      return this.$store.getters['settings/getCompanyFavIcon'];
    },

  },

}
</script>
