<template>
  <v-container fluid>
    <client-only>
      <div>
        <BannerSlider></BannerSlider>
        <ProductCollections class="mt-0" :isLoggedIn="isUserLoggedIn"></ProductCollections>
        <BrandSlider class="mt-0"></BrandSlider>
        <PopularProducts v-if="isUserLoggedIn"></PopularProducts>
      </div>

      <div v-if="getAssociatedWarehouse.length <= 0 && isUserLoggedIn">
        <NoWarehouseAssociated></NoWarehouseAssociated>
      </div>
    </client-only>
  </v-container>
</template>

<script>
import CategoryService from "@/services/shared/category";

export default {

  head: {

    title: 'Allpasal Home Page',

    meta: [
      {hid: 'og-type', property: 'og:type', content: 'website'},
      {hid: 'og-title', property: 'og:title', content: 'Allpasal Home Page'},
      {
        hid: 'og-desc',
        property: 'og:description',
        content: 'Description of the allpasal '
      },
    ]

  },

  data() {

    return {
      category: [],
    }

  },

  components: {
    PopularProducts: () =>
      import("@/components/shared/home-page/popular-products"),

    BrandSlider: () => import("@/components/shared/home-page/brand-slider"),

    ProductCollections: () =>
      import("@/components/shared/home-page/product-collections"),

    BannerSlider: () => import("@/components/shared/home-page/banner-slider"),

    NoWarehouseAssociated: () =>
      import("@/components/shared/no-warehouse-associated"),
  },

  created() {

    this.getCategoryList();

  },

  computed: {
    isUserLoggedIn() {
      return this.$store.getters["login/ISLOGINED"];
    },

    getAssociatedWarehouse() {
      return this.$store.getters["login/GET_ASSOCOCIATED_WAREHOUSE"];
    },
    getFavIcon() {
      return this.$store.getters['settings/getCompanyFavIcon'];
    },
  },

  methods: {

    getCategoryList() {
      try {

        CategoryService.getAllCategories().then(response => {
          this.category = response.data;
          console.log(this.category, 'category');
          this.$store.commit('navigation/SET_ALL_LEVEL_CATEGORIES', response.data)
          this.$store.commit("category/SET_ALL_CATEGORIES", response.data);
        });
      } catch (e) {
        console.log(e, "response");
      }
    },

  },

};
</script>
