<template>
  <v-container fluid>
    <promotion-link-info :blog_detail="blog_data"></promotion-link-info>
    <v-dialog
      width="60%"
      scrollable
      v-model="dialog_state"
    >
      <SelectPreviewState
        v-on:preview_on="preview_on"
        v-on:preview_off="preview_off"
        v-on:close_dialog="close_dialog"
      ></SelectPreviewState>
    </v-dialog>
    <v-row v-if="blog_data">
      <v-col cols="12" class="title font-weight-bold">
        {{ blog_data.title }}
      </v-col>
      <v-col cols="12" class="text-right" v-if="blog_data">
        <v-btn color="primary" small @click="openDialog" fab>
          <v-icon color="white">mdi-share-variant-outline</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="12" v-if="blog_data.image">
        <v-img :src="blog_data.image"></v-img>
      </v-col>
      <v-col cols="12" v-if="blog_detail.description">
        <span v-html="blog_data.description" class="plain_text"></span>
      </v-col>
      <v-col cols="12" class="text-center" v-if="blog_data.file">
        <audio ref="lobPlayer" controls autoPlay style="width: 268px !important;">
          <source :src="blog_data.file">
        </audio>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import service from "@/services/store/promotion";
import SelectPreviewState from "../../components/store/promotion/SelectPreviewState";
import PromotionLinkInfo from "~/components/shared/promotion-link/promotion-link-info";

export default {
  name: "_id",
  components: {PromotionLinkInfo, SelectPreviewState},
  data() {
    return {
      blog_detail: [],
      plainText: '',
      playFile: '',
      dialog_state: false,
      apiUrl: null,
      metaName: null,
      metaProperty: {
        'og:title': '',
        'og:description': '',
        'og:image': ''
      }
    }
  },

  watch: {
    '$route.query': '$fetch'
  },

  async fetch() {
    this.apiUrl = process.env.BASE_URL;
    this.blog_detail.length = 0;
    await service.getBlog(this.$route.params.id).then(res => {
      this.blog_detail = res.data;
      console.log(this.blog_detail, 'blog detail');
      let params = this.$route.params.id
      if (this.blog_detail.file) {
        setTimeout(() => {
          this.downloadURI(`${this.apiUrl}/download/file/${params}`)
        }, 500)
      }
      this.plainText = this.blog_detail.description.replace(/<[^>]+>/g, '');
    })

  },

  computed: {
    blog_data() {
      return this.blog_detail
    },
  },
  methods: {
    openDialog() {
      this.dialog_state = true
    },
    preview_on() {

      if (process.browser) {
        const navigator = window.navigator;
        console.log(navigator)
        navigator.share({
          title: document.title,
          text: this.plainText,
          url: window.location.href
        }).then(() => console.log('Successful share'))
          .catch((error) => console.log('Error sharing:', error));
      }
    },
    preview_off(event) {
      if (process.browser) {
        navigator.share({
          title: document.title,
          text: this.plainText,
        }).then(() => console.log('Successful share'))
          .catch((error) => console.log('Error sharing:', error));
        event.preventDefault();
      }
    },
    close_dialog(value) {
      this.dialog_state = value;
    },
    downloadURI(uri) {
      if (process.browser) {

        let i = document.createElement('iframe');
        i.style.display = 'none';
        i.onload = function () {
          i.parentNode.removeChild(i);
        };
        i.src = uri;
        document.body.appendChild(i);

      }
      // window.location.href= uri
    },
  }
}
</script>

<style scoped>

</style>
