<template>
    <v-dialog persistent v-model="verifyDialog" class="px-0" width="60%" style="background-color: #ffffff !important;">
        <v-row justify="center" class="my-3" style="background-color: white">
          <v-col cols="12" class="text-right">
            <v-btn icon :ripple="false" @click="closeVerifyAccount">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="12" class="title  text-center text-black">
            Verify Account
          </v-col>
          <v-col  cols="12" lg="9" xl="9" >
            <v-row justify="center" dense>
              <v-col cols="12" lg="5" xl="5" class="text-center">
                <img src="~assets/img/store/otp2.webp" alt="" width="340" height="300">
              </v-col>
              <v-col cols="12"  lg="5" xl="5"  class="text-center">
                <v-row justify="center">
                  <v-col cols="12" class="subtitle-2">
                    <span>How do you want to Verify Your Account </span>
                  </v-col>
                  <v-col  offset-lg="3" offset-xl="2" offset-sm="9" cols="12" xl="10" class="text-right">
                    <v-radio-group
                      v-model="verificationType"
                      mandatory
                      column
                      class="text-center"
                    >
                      <v-radio
                        :label="getUserDetails.phone"
                        value="phone"
                        class="text-center"
                      ></v-radio>

                      <v-radio
                        :label="getUserDetails.email"
                        value="email"
                        class="text-center"
                      ></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col cols="12" xl="4" class="text-center">
                    <v-btn @click="getVerificationCode()" color="primary">Continue</v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
    </v-dialog>



</template>

<script>
name: 'index'

import errorHandler from "@/helpers/shared/errorHandler";
export default {
  data() {
    return {
      otp: '',
      verificationType:'',
      verifyDialog:true,
      btn_loading:false
    }
  },
  methods:{
    closeVerifyAccount(){
      this.verifyDialog = false;
      this.$emit('close_open_otp_verification')
    },
    getVerificationCode(){
      let data = new FormData();
      data.append('email',this.getUserDetails.email);
      data.append('password',this.getUserDetails.password);
      data.append('otp_request_via',this.verificationType);
      this.$store.commit("login/SET_SELECTED_VERIFICATION_TYPE", this.verificationType);
      this.$store.dispatch('verification/generateOtpWhileCreatingStore', data).then(res =>{
        this.verifyDialog = false;
        this.$emit('open_otp_verification')
      }).catch(err=>{
        errorHandler(err, this)
      })
    }
  },
  computed: {
    getUserDetails() {
      return this.$store.getters["login/GET_USER_DETAILS"];
    }
  },
  // methods: {
  //   verify() {
  //     let verificationType = this.getVerificationType;
  //     this.btn_loading = true
  //     let data  = new FormData();
  //     data.append('otp_code', this.otp)
  //
  //     if(verificationType === 'phone') {
  //       if(this.fromProfileOrNot)
  //       this.$store.dispatch("verification/verifyByPhone", data).then(() => {
  //         this.$store.commit("error/SET_422_ERROR", false);
  //
  //         this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
  //         if(this.fromProfileOrNot){
  //           this.$router.push({
  //             name: "store-profile",
  //           });
  //           return
  //         }
  //         this.$router.push({
  //           name: "store-login",
  //         });
  //       }).catch(e => {
  //         this.$store.commit('notification/COMMIT_DIALOG', {
  //           title: 'OTP',
  //           message: 'Invalid OTP',
  //         });
  //         errorHandler(e, this);
  //       }).finally(()=>{
  //         this.btn_loading = false
  //       })
  //     } else {
  //       this.$store.dispatch("verification/verifyByEmail", data).then(() => {
  //         this.$store.commit("error/SET_422_ERROR", false);
  //
  //         this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
  //         if(this.fromProfileOrNot){
  //           this.$router.push({
  //             name: "store-profile",
  //           });
  //           return
  //         }
  //         this.$router.push({
  //           name: "store-login",
  //         });
  //       }).catch(e => {
  //         errorHandler(e, this);
  //         this.$store.commit('notification/COMMIT_DIALOG', {
  //           title: 'OTP',
  //           message: 'Invalid OTP',
  //
  //         });
  //       }).finally(()=>{
  //         this.btn_loading = false
  //       })
  //     }
  //   }
  // }
}
</script>
