<template>
  <div>
    <v-carousel
      v-if="!loader"
      height="auto"
      show-arrows
      cycle
      show-arrows-on-hover
      progress
      interval="4000"
      progress-color="primary"
      hide-delimiter-background
    >
      <v-carousel-item v-for="(img, index) in images.data" :key="index">
        <img width="100%" :src="img.image" />
      </v-carousel-item>
    </v-carousel>

    <v-row no-gutters v-else>
      <v-col cols="12">
        <v-skeleton-loader
          class="home_page_carousel"
          type="image"
          tile
          transition="scale-transition"
        ></v-skeleton-loader>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import HomePageService from "@/services/shared/home-page";
import errorHandler from "@/helpers/shared/errorHandler";
export default {
  name: "banner-slider",

  data() {
    return {
      images: {},
      loader: false
    };
  },

  created() {
    this.loader = true;
    HomePageService.getImageSlider()
      .then((response) => {
        this.images = response;
        this.loader = false;
      })
      .catch((e) => {
        errorHandler(e, this);
        this.loader = false;
      }).finally(() => {
        this.loader = false;
      })
  },
};
</script>
