<template>
  <div>
    <div v-if="!loading">
      <title-highlighter v-if="brands.length>0" :title="'featured_brands'"></title-highlighter>
      <swiper v-if="brands.length > 0" :class="$mq==='mobile'?'swiper_height_mobile':'swiper_height'" ref="mySwiper"
              :options="swiperOption">
        <swiper-slide v-for="(brand, index) in brands" :key="index">
          <v-card tile class="pointer-on-hover" elevation="4" @click="gotoBrandDetail(brand)">
            <v-img
              style="position: absolute"
              :height="$mq==='mobile'?120:200"
              :src="brand['brand_logo']"
            >
              <div
                class="
                  d-flex
                  transition-fast-in-fast-out
                  black
                  darken-2
                  v-card--reveal
                  display-3
                  white--text
                "
                style="height: 100%; opacity: 0.5"
              >
                <div :class="$mq==='mobile'?'brand_design_mobile':'brand_design'" style="position: relative;">
                  <v-row no-gutters>
                    <v-col
                      class="font-weight-medium subtitle-1"
                      cols="12"
                    >
                      {{ brand["brand_name"] }}
                    </v-col>
                    <v-col class="subtitle-2 font-weight-medium" cols="12">
                      {{ brand["products_count"] }} Products
                    </v-col>
                    <v-col
                      class="
                        caption
                        text-uppercase text-decoration-underline
                        orange--text
                        font-weight-medium
                      "
                      cols="12"
                    >
                      Shop Now
                    </v-col>
                  </v-row>
                </div>
              </div>
            </v-img>
          </v-card>
        </swiper-slide>
      </swiper>
    </div>

    <div v-else>
      <v-sheet v-for="index in 1" :key="index"
               color="#0000001f"
               class="mt-8"
      >
        <v-row style="background-color: white !important;" no-gutters>
          <v-col style="background-color: white !important;" cols="4">
            <v-skeleton-loader type="list-item-two-line"></v-skeleton-loader>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="1">
            <v-skeleton-loader class="mt-4" type="button"></v-skeleton-loader>
          </v-col>
        </v-row>
        <v-row class="pa-4 py-6" no-gutters>
          <v-col v-for="index in 4" :key="index" cols="3">
            <v-skeleton-loader
              class="pa-3 skeleton_loader_image"
              max-width="300"
              type="image, list-item-two-line"
            ></v-skeleton-loader>
          </v-col>
        </v-row>
      </v-sheet>
    </div>

  </div>
</template>

<script>
import TitleHighlighter from "@/components/shared/title-highlighter";

export default {
  name: "brand-slider",
  components: {TitleHighlighter},
  data() {
    return {
      loading: false,

      brands: [],

      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 5,
        loop: false,
        autoplay: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          1024: {
            slidesPerView: 4,
            spaceBetween: 10,
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 10,
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 10,
          },
          320: {
            slidesPerView: 4,
            spaceBetween: 10,
          },
        },
      },
    };
  },

  fetch() {
    this.getFeaturedBrand()
  },
  methods: {
    getFeaturedBrand() {
      this.$store.dispatch('brand/getFeaturedBrand').then(res => {
        this.brands = res.data;
      })
    },
    gotoBrandDetail({brand_slug}) {

      this.$router.push({

        name: 'brand-slug',

        params: {

          slug: brand_slug

        }

      })

    }

  },
  created() {
    this.loading = true;
    setTimeout(() => {
      this.loading = false;
    }, 1100);
  },
};
</script>

<style scoped>
.swiper_height_mobile {
  height: 120px !important;
}

.swiper_height {
  height: 200px !important;
}

.brand_design_mobile {
  top: 40px !important;
  left: 10px !important;
}

.brand_design {
  top: 75px !important;
  left: 20px !important;
}
</style>
