<template>
  <v-app-bar app height="60">
    <v-row
      style="z-index: 1000"
      no-gutters
      align="center"
      justify="space-between"
    >
      <v-col
        cols="1"
        xs="1"
        v-if="$mq === 'mobile' || $mq === 'ipad' || $mq === 'tablet'"
      >
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      </v-col>
      <v-navigation-drawer v-model="drawer" app clipped absolute left temporary>
        <v-list nav dense>
          <v-row>
            <v-col cols="10">
              <v-row justify="space-between">
                <v-col cols="2" class="text-left">
                  <nuxt-link :to="{ name: 'index' }">
                    <img
                      width="120"
                      alt="Company Logo"
                      class="company_logo mt-1"
                      :src="companyLogo"
                    />
                  </nuxt-link>
                </v-col>
                <v-col cols="2" class="text-center" v-if="isUserLoggedIn">
                  <v-btn icon :to="{ name: 'CartProducts' }" class="mr-3">
                    <v-badge top overlap color="darkOrange" offset-x="1">
                      <template v-slot:badge>
                        <span>{{ totalCartItems }}</span>
                      </template>
                      <v-icon size="24" color="darkBlue"
                        >mdi-cart-outline</v-icon
                      >
                    </v-badge>
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-list-item v-if="isUserLoggedIn">
            <v-list-item-title>
              <v-row>
                <v-col cols="12">
                  <div>
                    <span v-if="!showBalance">
                      {{ $t("active_balance") }} : {{ $t("rupees") }} XXXX
                      <v-btn
                        icon
                        small
                        dark
                        color="darkBlue"
                        :loading="loading"
                        @click="getCurrentBalance"
                      >
                        <v-icon dark color="darkBlue" small>mdi-eye-off</v-icon>
                      </v-btn>
                    </span>
                  </div>
                  <span v-if="currentBalanceInfo">
                    <div>Active Balance</div>
                    <span class="font-weight-medium">
                      {{
                        convertCurrency(currentBalanceInfo["active_balance"])
                      }}
                    </span>
                    <StoreBalanceInformation
                      icon-color="primary"
                      :balance-info="currentBalanceInfo"
                    ></StoreBalanceInformation>
                    <v-icon
                      small
                      class="ml-2"
                      dark
                      color="darkBlue"
                      @click="hideBalanceInformation"
                    >
                      mdi-eye
                    </v-icon>
                  </span>
                </v-col>
              </v-row>
            </v-list-item-title>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item v-if="!isUserLoggedIn" :to="{ name: 'store-login' }">
            <v-list-item-title>{{ $t("login") }}</v-list-item-title>
            <v-list-item-icon>
              <v-icon size="26">mdi-logout-variant</v-icon>
            </v-list-item-icon>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item v-if="isUserLoggedIn" @click="goToStoreDashboard">
            <v-list-item-title>{{ $t("go_to_dashboard") }}</v-list-item-title>
            <v-list-item-icon>
              <v-icon size="26">mdi-tablet-dashboard</v-icon>
            </v-list-item-icon>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item v-if="isUserLoggedIn" @click="gotoPreOrder">
            <v-list-item-title
              ><img
                @click="gotoPreOrder"
                height="25"
                class="pre_order"
                src="~/assets/img/store/pre_order_white_background.png"
            /></v-list-item-title>
            <v-list-item-icon>
              <v-icon size="26">mdi-wallet-giftcard</v-icon>
            </v-list-item-icon>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item v-if="!isUserLoggedIn">
            <v-menu offset-y transition="slide-x-transition">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  tile
                  small
                  dark
                  outlined
                  v-on="on"
                  depressed
                  v-bind="attrs"
                  color="white"
                >
                  {{ $t("become_a_partner") }}
                  <v-icon right>mdi-menu-down</v-icon>
                </v-btn>
              </template>

              <v-list dense color="#fafafa">
                <v-list-item dense :to="{ name: 'JoinNow' }">
                  <v-list-item-title>
                    <v-icon size="20" class="mr-2"
                      >mdi-account-arrow-right</v-icon
                    >
                    <span class="caption">{{ $t("store") }}</span>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-list-item>
          <v-divider></v-divider>

          <v-list-item v-if="isUserLoggedIn" @click="logoutUser">
            <v-list-item-title>{{ $t("logout") }}</v-list-item-title>
            <v-list-item-icon>
              <v-icon size="26">mdi-logout-variant</v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list>

        <v-row no-gutters>
          <v-col cols="12" class="pa-2" style="background-color: #2c4373">
            <span class="subtitle-1 font-weight-bold white--text ml-2"
              >Categories</span
            >
          </v-col>
        </v-row>

        <v-list>
          <v-list-group
            v-for="(category, index) in allCategories"
            :key="index"
            :value="false"
            :class="{ hide_icon_right: !category['has_children'] }"
          >
            <template v-slot:activator>
              <v-list-item-title
                @click="saveMainCategory(category)"
                class="caption font-weight-bold"
                >{{ category["category_name"] }}</v-list-item-title
              >
            </template>

            <div v-if="category['has_children']">
              <v-list-group
                v-for="(secondCategory, index) in category['children']"
                :key="index"
                :value="false"
                :class="{ second_category: !secondCategory['has_children'] }"
                sub-group
              >
                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title
                      class="caption font-weight-medium"
                      @click="saveSecondLevelCategory(secondCategory, category)"
                      >{{ secondCategory["category_name"] }}</v-list-item-title
                    >
                  </v-list-item-content>
                </template>

                <div v-if="secondCategory['has_children']">
                  <v-list-item
                    style="padding-left: 85px !important"
                    v-for="(thirdCategory, index) in secondCategory['children']"
                    :key="index"
                    sub-group
                    link
                  >
                    <v-list-item-title
                      class="caption"
                      @click="
                        saveSelectedLevelThreeCategory(
                          thirdCategory,
                          secondCategory
                        )
                      "
                      >{{ thirdCategory["category_name"] }}</v-list-item-title
                    >

                    <!-- <v-list-item-icon>
                    </v-list-item-icon> -->
                  </v-list-item>
                </div>
              </v-list-group>
            </div>
          </v-list-group>
        </v-list>
      </v-navigation-drawer>
      <v-col
        cols="2"
        class="text-center"
        v-if="$mq === 'laptop' || $mq === 'desktop' || $mq === 'xlscreen'"
      >
        <nuxt-link :to="{ name: 'index' }">
          <img
            width="120"
            alt="Company Logo"
            class="company_logo mt-1"
            :src="companyLogo"
          />
        </nuxt-link>
      </v-col>
      <!--search box-->
      <v-col
        cols="7"
        v-if="$mq === 'mobile' || $mq === 'ipad' || $mq === 'tablet'"
      >
        <v-menu
          tile
          offset-y
          max-width="620"
          max-height="350"
          :close-on-content-click="searchCloseOnContentClick"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              solo
              flat
              dense
              v-on="on"
              hide-details
              v-bind="attrs"
              :loading="searchLoadingState"
              class="search-product-text-field"
              placeholder="Are you looking for something?"
              v-model="searchQuery"
              @input="searchProduct"
            >
            </v-text-field>
          </template>

          <v-card tile class="py-3" v-if="searchQuery">
            <v-row no-gutters>
              <v-col
                cols="12"
                class="text-center pt-1"
                v-if="searchedProductsList.length === 0"
              >
                No products found.
              </v-col>

              <v-col
                cols="12"
                no-gutters
                v-for="(product, idx) in searchedProductsList"
                :key="idx"
              >
                <v-card
                  tile
                  flat
                  class="search-product pt-2"
                  :to="{
                    name: 'ProductDetail',
                    params: { slug: product['slug'] },
                  }"
                  @click="closeSearchProductMenu"
                >
                  <v-row no-gutters class="px-3">
                    <v-col cols="2">
                      <v-img
                        width="50"
                        :src="product['featured_image']"
                      ></v-img>
                    </v-col>
                    <v-col cols="10">
                      <v-row no-gutters>
                        <v-col cols="12">
                          <span v-html="product['product_name']"></span>
                        </v-col>
                        <!-- <v-col cols="12" class="caption font-weight-medium">
                          Variants: {{ product['variants_count'] }}
                        </v-col>
                        <v-col cols="12" class="caption font-weight-medium mb-1">
                          {{ product['price'] }}
                        </v-col> -->
                      </v-row>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>

              <v-col
                cols="12"
                class="view-more-products mt-1"
                v-if="searchedProductsList.length !== 0"
                @click="viewMoreProducts"
              >
                <span>View More</span>
              </v-col>
            </v-row>
          </v-card>
        </v-menu>
      </v-col>

      <v-col cols="3" v-else>
        <v-menu
          tile
          offset-y
          max-width="620"
          max-height="350"
          :close-on-content-click="searchCloseOnContentClick"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              solo
              flat
              dense
              v-on="on"
              hide-details
              v-bind="attrs"
              :loading="searchLoadingState"
              class="search-product-text-field"
              placeholder="Are you looking for something?"
              v-model="searchQuery"
              @input="searchProduct"
            >
            </v-text-field>
          </template>

          <v-card tile class="py-3" v-if="searchQuery">
            <v-row no-gutters>
              <v-col
                cols="12"
                class="text-center subtitle-2 pt-1"
                v-if="searchedProductsList.length === 0"
              >
                No products found.
              </v-col>

              <v-col
                cols="12"
                no-gutters
                v-for="(product, idx) in searchedProductsList"
                :key="idx"
              >
                <v-card
                  tile
                  flat
                  class="search-product pt-2"
                  :to="{
                    name: 'ProductDetail',
                    params: { slug: product['slug'] },
                  }"
                  @click="closeSearchProductMenu"
                >
                  <v-row no-gutters class="px-3">
                    <v-col cols="2">
                      <v-img
                        width="50"
                        :src="product['featured_image']"
                      ></v-img>
                    </v-col>
                    <v-col cols="10">
                      <v-row no-gutters>
                        <v-col cols="12" class="py-3">
                          <span
                            class="subtitle-2"
                            v-html="product['product_name']"
                          ></span>
                        </v-col>
                        <!-- <v-col cols="12" class="caption font-weight-medium">
                          Variants: {{ product['variants_count'] }}
                        </v-col>
                        <v-col cols="12" class="caption font-weight-medium mb-1">
                          {{ product['price'] }}
                        </v-col> -->
                      </v-row>
                    </v-col>
                  </v-row>
                  <v-divider color="#e9ecff"></v-divider>
                </v-card>
              </v-col>

              <v-col
                cols="12"
                class="view-more-products mt-2"
                v-if="searchedProductsList.length !== 0"
                @click="viewMoreProducts"
              >
                <v-btn
                  tile
                  style="background-color: #2c4373"
                  color="#fff"
                  class="view_more_btn"
                  x-small
                  outlined
                >
                  <span>View More</span>
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-menu>
      </v-col>
      <!--become a partner-->
      <!--      <v-col v-if="!isUserLoggedIn && ($mq === 'laptop' || $mq === 'desktop' || $mq === 'xlscreen')" cols="3" class="text-center">-->
      <!--        <v-menu offset-y transition="slide-x-transition">-->
      <!--          <template v-slot:activator="{ on, attrs }">-->
      <!--            <v-btn-->
      <!--              tile-->
      <!--              dark-->
      <!--              small-->
      <!--              outlined-->
      <!--              v-on="on"-->
      <!--              depressed-->
      <!--              v-bind="attrs"-->
      <!--              color="white"-->
      <!--            >-->
      <!--              {{ $t('become_a_partner') }}-->
      <!--              <v-icon right>mdi-menu-down</v-icon>-->
      <!--            </v-btn>-->
      <!--          </template>-->

      <!--          <v-list dense color="#fafafa">-->
      <!--            <v-list-item dense :to="{ name:'JoinNow' }">-->
      <!--              <v-list-item-title>-->
      <!--                <v-icon size="20" class="mr-2">mdi-account-arrow-right</v-icon>-->
      <!--                <span class="caption">{{ $t('store') }}</span>-->
      <!--              </v-list-item-title>-->
      <!--            </v-list-item>-->
      <!--          </v-list>-->
      <!--        </v-menu>-->
      <!--      </v-col>-->
      <!--balance show-->
      <v-col
        cols="2"
        v-if="
          isUserLoggedIn &&
          ($mq === 'laptop' || $mq === 'desktop' || $mq === 'xlscreen')
        "
        class="text-center"
      >
        <span v-if="!showBalance">
          {{ $t("active_balance") }} : {{ $t("rupees") }} XXXX
          <v-btn
            icon
            small
            dark
            color="darkBlue"
            :loading="loading"
            @click="getCurrentBalance"
          >
            <v-icon dark color="darkBlue" small>mdi-eye-off</v-icon>
          </v-btn>
        </span>
        <span v-if="currentBalanceInfo">
          Active Balance :
          <span class="font-weight-medium">
            {{ convertCurrency(currentBalanceInfo["active_balance"]) }}
          </span>
          <StoreBalanceInformation
            icon-color="darkOrange"
            :balance-info="currentBalanceInfo"
          ></StoreBalanceInformation>
          <v-icon
            small
            dark
            class="ml-2"
            color="darkOrange"
            @click="hideBalanceInformation"
          >
            mdi-eye
          </v-icon>
        </span>
      </v-col>

      <!--      login-->
      <v-col
        v-if="
          !isUserLoggedIn &&
          ($mq === 'laptop' || $mq === 'desktop' || $mq === 'xlscreen')
        "
        cols="2"
        class="text-end"
      >
        <v-menu offset-y transition="slide-x-transition">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              tile
              small
              outlined
              v-on="on"
              dark
              depressed
              width="150"
              v-bind="attrs"
              color="darkBlue"
            >
              <v-icon dark color="darkBlue" size="16" left>mdi-account</v-icon>
              <span>{{ $t("login") }}</span>
              <v-icon right>mdi-menu-down</v-icon>
            </v-btn>
          </template>

          <v-list dense color="#fafafa">
            <v-list-item dense :to="{ name: 'store-login' }">
              <v-list-item-title>
                <v-icon size="20" class="mr-2">mdi-account-arrow-right</v-icon>
                <span class="caption">{{ $t("store") }} {{ $t("login") }}</span>
              </v-list-item-title>
            </v-list-item>
            <v-list-item dense :href="vendorUrl">
              <v-list-item-title>
                <v-icon size="20" class="mr-2">mdi-account-arrow-right</v-icon>
                <span class="caption"
                  >{{ $t("vendor") }} {{ $t("login") }}</span
                >
              </v-list-item-title>
            </v-list-item>
            <v-list-item dense :href="managerUrl">
              <v-list-item-title>
                <v-icon size="20" class="mr-2">mdi-account-arrow-right</v-icon>
                <span class="caption"
                  >{{ $t("manager") }} {{ $t("login") }}</span
                >
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-col>

      <v-col
        v-if="
          isUserLoggedIn &&
          ($mq === 'laptop' || $mq === 'desktop' || $mq === 'xlscreen')
        "
        cols="1"
        class="text-center"
      >
        <v-btn icon :to="{ name: 'CartProducts' }" class="mr-3">
          <v-badge top overlap color="darkBlue" offset-x="1">
            <template v-slot:badge>
              <span>{{ totalCartItems }}</span>
            </template>
            <v-icon size="24" dark color="darkBlue">mdi-cart-outline</v-icon>
          </v-badge>
        </v-btn>
      </v-col>
      <v-col cols="1" v-if="isUserLoggedIn && $mq !== 'mobile'">
        <img
          @click="gotoPreOrder"
          height="35"
          class="pre_order"
          src="~/assets/img/store/pre_order_white_background.png"
        />
      </v-col>

      <v-col cols="1" class="text-center">
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="darkBlue" dark v-bind="attrs" v-on="on" icon>
              <v-icon dark color="darkBlue">mdi-web</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              class="caption language"
              v-for="el in locales"
              :key="el.code"
              :class="{ active: el.code === locale }"
              @click="switchLanguage(el.code)"
            >
              <v-list-item-title class="caption"
                >{{ el.name }}
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-col>


<v-col cols="1" class="text-center">
        <div class="text-center">
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="darkBlue"
                dark
                v-bind="attrs"
                icon
                v-on="on"
                @click="showNotificationBadge = false"
              >
                <v-badge v-if="showNotificationBadge" x-small color="red" dot>
                  <v-icon>mdi-bell</v-icon>
                </v-badge>

                <v-icon v-else>mdi-bell-outline</v-icon>
              </v-btn>
            </template>
            <v-card max-height="90vh" width="300px" tile elevation="0">
              <v-row no-gutters>
                <v-col cols="12" class="subtitle-2 px-3 my-2"
                  >Notification</v-col
                >
              </v-row>
              <hr />
              <v-list three-line v-if="notifications.length > 0">
                <div class="caption font-weight-bold pl-5">Latest</div>
                <template v-for="(item, index) in notifications">
                  <v-list-item
                    
                    style="min-height: 69px !important"
                    :key="index"
                    class="py-0"
                  >
                  <!-- :href="item.payload.url.web_url" -->
                    <v-list-item-avatar>
                      <img
                        v-if="item.payload.image"
                        :src="item.payload.image"
                      />
                      <img
                        v-else
                        src="https://as2.ftcdn.net/v2/jpg/00/64/67/27/1000_F_64672736_U5kpdGs9keUll8CRQ3p3YaEv2M6qkVY5.jpg"
                      />
                    </v-list-item-avatar>
                    <v-list-item-content class="mt-0 pt-0">
                      <v-list-item-subtitle
                        class="caption font-weight-medium"
                        v-html="item.payload.message"
                      ></v-list-item-subtitle>
                      <v-list-item-subtitle class="caption">{{
                        $dayjs(item.created_at).fromNow()
                      }}</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-list>
              <div v-else class="caption text-center my-5">Not Available new Notification</div>
            </v-card>
          </v-menu>
        </div>
      </v-col>
      <!--dashboard and logout-->
      <v-col
        cols="1"
        class="text-center"
        v-if="
          isUserLoggedIn &&
          ($mq === 'laptop' || $mq === 'desktop' || $mq === 'xlscreen')
        "
      >
        <v-menu offset-y transition="slide-x-transition">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              tile
              small
              depressed
              dark
              icon
              v-on="on"
              v-bind="attrs"
              color="darkBlue"
            >
              <v-icon color="darkBlue" class="mr-1">
                mdi-account-circle
              </v-icon>
              <!-- <span>{{ loggedInUserName | truncate(18) }}</span> -->
              <!-- <v-icon size="20" color="darkBlue" class="dropdown_list ml-1">
                mdi-menu-down
              </v-icon> -->
            </v-btn>
          </template>

          <v-list dense color="#f7f7f7">
            <v-list-item dense @click="goToStoreDashboard">
              <v-list-item-title>
                <v-icon size="18" class="mr-2">mdi-view-dashboard</v-icon>
                <span class="caption">{{ $t("go_to_dashboard") }}</span>
              </v-list-item-title>
            </v-list-item>
            <v-list-item dense @click="logoutUser">
              <v-list-item-title>
                <v-icon size="20" class="mr-2">mdi-logout</v-icon>
                <span class="caption">{{ $t("logout") }}</span>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-col>
      
    </v-row>
  </v-app-bar> 
</template>

<script>
import Logout from "@/helpers/shared/logout";
import dataFormatter from "@/helpers/shared/dataFormatter";
import StoreBalanceInformation from "@/components/shared/home-page/StoreBalanceInformation";
import wallet from "@/store/store/wallet";
import errorHandler from "@/helpers/shared/errorHandler";

export default {
  name: "Navigation",

  components: { StoreBalanceInformation },

  data() {
    return {
      managerUrl: process.env.MANAGER_URL,
      vendorUrl: process.env.VENDOR_URL,
      drawer: false,
      showBalance: false,
      currentBalanceInfo: null,
      searchCloseOnContentClick: false,
      searchLoadingState: false,
      searchQuery: "",
      searchedProductsList: [],
      loading: false,

      admins: [
        ["Management", "mdi-account-multiple-outline"],
        ["Settings", "mdi-cog-outline"],
      ],
      cruds: [
        ["Create", "mdi-plus-outline"],
        ["Read", "mdi-file-outline"],
        ["Update", "mdi-update"],
        ["Delete", "mdi-delete"],
      ],

      notifications: [],

      latestNotificationCount: 0,
      showNotificationBadge: true,
    };
  },

  created() {
    this.$store.registerModule("wallet", wallet);
    this.getStoreUserNotification();
    if(this.isUserLoggedIn) {
    this.pusherAllNotification();
    }
  },
 
  watch: {
    $route: {
      handler() {
        this.searchQuery = "";
        if (this.$store.getters["login/ISLOGINED"]) {
          this.searchedProductsList.length = 0;
        }
        if ("name" in this.$route.query) {
          this.searchQuery = this.$route.query.name;

          this.searchProduct(this.searchQuery);
        }
      },

      immediate: true,
    },
  },

  beforeRouteLeave(to, from, next) {
    this.$store.unregisterModule("wallet");

    next();
  },

  computed: {
    allCategories() {
      return this.$store.getters["category/GET_ALL_CATEGORIES"];
    },

    locales() {
      return this.$store.state.locale.locales;
    },

    totalCartItems() {
      return this.$store.getters["cart/GET_CARTS_COUNT"];
    },

    locale() {
      return this.$store.state.locale.locale;
    },

    isUserLoggedIn() {
      return this.$store.getters["login/ISLOGINED"];
    },

    loggedInUserName() {
      return this.$store.getters["login/USERCRED"]["name"];
    },

    companyLogo() {
      return this.$store.getters["settings/getCompanyLogo"];
    },
    userType() {
      return this.$store.getters["login/USERCRED"]["user_type"];
    },
  },

  methods: {
    
    getStoreUserNotification() {
      this.$store
        .dispatch("pusherNotification/getStoreUserNotification")
        .then((response) => {
          this.notifications = response.data;
          console.log(response, "Response Notification");
        });
    },
    
    pusherAllNotification() {
      this.getStoreUserPusherNotification();
      this.getStoreLoadBalanceNotification();
      this.getStoreWithdrawBalanceNotification();
      this.getNormalOrderNotification();
      this.getPreOrderNotification();
      this.getPreOrderFinilizeNotification();
      this.getNormalOrderPlacedNotification();
      this.getProductMassStatusChangedNotification();
    },

    getStoreUserPusherNotification() {
      const userCode = this.$store.getters["login/USERCRED"]["user_code"];
      var channel = this.$pusher.subscribe(
        "private-user.new.device.login." + userCode
      );
      channel.bind("user-new-device-login-event", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      });
    },

    getStoreLoadBalanceNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.load.balance." + storeCode
      );
      channel.bind("store-load-balance-event", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message, 
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      });
    },

    getStoreWithdrawBalanceNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.withdraw.balance." + storeCode
      );
      channel.bind("store-withdraw-balance-event", (log) => {
         let notifications = log;
         this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        // this.$toast.success(notifications.notification.message)
        console.log(log, "withdraw..");
        let currentDate = new Date().toString();
       
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: "Bimal Dai",
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
        console.log('asdasdasd');
        
      })
    },

    getNormalOrderNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.normal.order.status." + storeCode
      );
      channel.bind("store-normal-order-status-event", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getPreOrderNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.pre.order.status." + storeCode
      );
      channel.bind("store.pre-order-status-event", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getPreOrderFinilizeNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.pre.order.finalized." + storeCode
      );
      channel.bind("store-pre-order-finalized", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getNormalOrderPlacedNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.normal.order.placed." + storeCode
      );
      channel.bind("store-normal-order-placed", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getProductMassStatusChangedNotification() {
      let  associatedWarehouse = this.$store.getters["login/GET_ASSOCOCIATED_WAREHOUSE"];

      for(let a=0;a<associatedWarehouse.length;a++) {
        console.log(associatedWarehouse[a],'llll')
        let data = associatedWarehouse;
        const warehouseCode =data[a]['warehouse_code'];
          var channel = this.$pusher.subscribe(
          "private-product.mass.status.changed." + warehouseCode
        );
      channel.bind("product-mass-status-changed", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
      }
    },


    switchLanguage(localeCode) {
      document.cookie = `locale=${localeCode}`;

      this.$store.commit("locale/SET_LANG", localeCode);

      location.reload();
    },

    goToStoreDashboard() {
      this.$store.dispatch("dashboard/getStoreDashboardInfo").then(() => {
        this.$router.push({
          name: "store-dashboard-info",
        });
      });
    },

    getStoreUserNotification() {
      this.$store
        .dispatch("pusherNotification/getStoreUserNotification")
        .then((response) => {
          this.notifications = response.data;
          console.log(response, "Response Notification");
        });
    },

    getCurrentBalance() {
      this.loading = true;
      this.$store
        .dispatch("wallet/getCurrentUserWalletDetail")
        .then((res) => {
          if (res.length) {
            this.currentBalanceInfo = res[0];
            this.loading = false;
          } else {
            this.currentBalanceInfo = res;
            this.loading = true;
          }
          this.showBalance = true;
        })
        .catch((e) => {
          errorHandler(e, this);
        })
        .finally(() => {
          this.loading = false;
        });
    },

    logoutUser() {
      let context = this;

      Logout(context);
    },

    searchProduct(val) {
      const query = val.trim();

      if (query !== "") {
        this.searchLoadingState = true;

        this.$store
          .dispatch("category/searchResultProduct", query)
          .then((res) => {
            this.searchLoadingState = false;

            this.searchedProductsList = res.data.map((product) => {
              const productName = this.makeSearchedKeywordBold(product, query);

              product["product_name"] = productName.join("");

              return product;
            });
          });
      } else {
        this.searchedProductsList = [];
      }
    },

    makeSearchedKeywordBold({ product_name: productName }, keyword) {
      return productName.split().map((letter) => {
        letter = letter
          .toLowerCase()
          .replace(keyword.toLowerCase(), `<b>${keyword}</b>`);

        return letter;
      });
    },

    hideBalanceInformation() {
      this.showBalance = false;

      this.currentBalanceInfo = null;
      this.loading = false;
    },

    convertCurrency(currency) {
      return dataFormatter.formatCurrency(currency);
    },

    closeSearchProductMenu() {
      this.searchCloseOnContentClick = true;

      setTimeout(() => {
        this.searchCloseOnContentClick = false;
      }, 500);
    },

    viewMoreProducts() {
      this.$router.push({
        name: "SearchProduct",

        query: {
          name: this.searchQuery,
        },
      });

      this.closeSearchProductMenu();
    },
    gotoPreOrder() {
      this.$store.commit("category/SET_MIN_PRICE_FOR_FILTER", "");
      this.$store.commit("category/SET_PAGE_FOR_FILTER", 0);
      this.$store.commit("category/SET_MAX_PRICE_FOR_FILTER", "");
      this.$store.commit("category/SET_PRODUCT_NAME_FOR_FILTER", "");
      this.$store.commit("category/SET_IS_TAXABLE_FOR_FILTER", "");
      this.$store.commit("category/SET_CAT_SELECTED_FOR_FILTER", "");
      this.$store.commit("category/SET_PARENT_CATEGORY", null);
      this.$store.commit("category/SET_SELECTED_CATEGORY_FOR_FILTER", null);
      this.$store.commit(
        "preOrder/SET_SELECTED_WAREHOUSE_FOR_PRE_ORDER",
        this.$store.getters["login/STORE_WAREHOUSE"][0]["warehouse_code"]
      );
      this.$store.dispatch("preOrder/preOrdersDate").then((response) => {
        if (response.data.length === 0) {
          this.$store.commit("preOrder/ALL_PRE_ORDERS_LIST", []);
          this.$store.commit("preOrder/SELECTED_PRE_ORDER", null);

          this.$router.push({
            name: "store-preorder",
          });
        } else {
          this.$store.commit("preOrder/ALL_PRE_ORDERS_LIST", response.data);
          this.$store.commit("preOrder/SELECTED_PRE_ORDER", response.data[0]);
          this.$store.commit(
            "preOrder/SET_END_TIME",
            response.data[0]["end_time"]
          );
          this.$router.push({
            name: "store-preorder",
            query: {
              tab: this.$store.getters["login/STORE_WAREHOUSE"][0][
                "warehouse_code"
              ],
              index: 0,
              next: 0,
              c: this.generateRandomUrlPath(
                10,
                "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
              ),
            },
          });
        }
      });
    },

    generateRandomUrlPath(length) {
      let chars =
        "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";

      let result = "";

      for (let i = length; i > 0; --i) {
        result += chars[Math.floor(Math.random() * chars.length)];
      }

      return result;
    },

    // For Categories
    saveMainCategory(selected) {
      this.$store.commit("category/SET_MIN_PRICE_FOR_FILTER", "");

      this.$store.commit("category/SET_MAX_PRICE_FOR_FILTER", "");

      this.$store.commit("category/SET_IS_TAXABLE_FOR_FILTER", "");

      this.$store.commit("category/SET_PAGE_FOR_FILTER", 0);

      this.navMenuOpenOnHoverState = false;

      setTimeout(() => {
        this.navMenuOpenOnHoverState = true;
      }, 1000);

      let cat_selected = [selected["category_name"]];

      this.$store.commit("category/SET_SELECTED_CATEGORY_FOR_FILTER", selected);

      this.$store.commit("category/SET_CATEGORY_FROM_CHECKBOX", false);

      this.$store.commit("category/CHECK_FOR_MULTIPLE_CHECKBOX", false);

      this.$store.commit("category/SET_CAT_SELECTED_FOR_FILTER", cat_selected);

      if (!selected["has_children"]) {
        this.$store.commit("category/SET_PARENT_CATEGORY", null);
      }

      let array = [];

      array.push(selected.slug);

      this.$router.push({
        name: "CategoryFilter",

        query: {
          category: array,

          c: this.generateRandomUrlPath(
            10,
            "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
          ),
        },
      });
    },

    saveSecondLevelCategory(selected, mainCategory) {
      this.$store.commit("category/SET_MIN_PRICE_FOR_FILTER", "");

      this.$store.commit("category/SET_MAX_PRICE_FOR_FILTER", "");

      this.$store.commit("category/SET_IS_TAXABLE_FOR_FILTER", "");

      this.$store.commit("category/SET_PAGE_FOR_FILTER", 0);

      this.closeNavMenuOnContentClick = true;

      let cat_selected = [selected["category_name"]];

      this.$store.commit("category/SET_SELECTED_CATEGORY_FOR_FILTER", selected);

      this.$store.commit("category/SET_PARENT_CATEGORY", mainCategory);

      this.$store.commit("category/SET_CATEGORY_FROM_CHECKBOX", false);

      this.$store.commit("category/CHECK_FOR_MULTIPLE_CHECKBOX", false);

      this.$store.commit("category/SET_CAT_SELECTED_FOR_FILTER", cat_selected);

      let array = [];

      array.push(selected.slug);

      this.$router.push({
        name: "CategoryFilter",

        query: {
          category: array,

          c: this.generateRandomUrlPath(
            10,
            "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
          ),
        },
      });
    },

    saveSelectedLevelThreeCategory(selected, subCategory) {
      this.$store.commit("category/SET_MIN_PRICE_FOR_FILTER", "");

      this.$store.commit("category/SET_MAX_PRICE_FOR_FILTER", "");

      this.$store.commit("category/SET_IS_TAXABLE_FOR_FILTER", "");

      this.$store.commit("category/SET_PAGE_FOR_FILTER", 0);

      this.closeNavMenuOnContentClick = true;

      let cat_selected = [selected["category_name"]];

      this.$store.commit("category/SET_SELECTED_CATEGORY_FOR_FILTER", selected);

      this.$store.commit("category/SET_PARENT_CATEGORY", subCategory);

      this.$store.commit("category/SET_CATEGORY_FROM_CHECKBOX", false);

      this.$store.commit("category/CHECK_FOR_MULTIPLE_CHECKBOX", false);

      this.$store.commit("category/SET_CAT_SELECTED_FOR_FILTER", cat_selected);

      let array = [];

      array.push(selected.slug);

      this.$router.push({
        name: "CategoryFilter",

        query: {
          category: array,

          c: this.generateRandomUrlPath(
            10,
            "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
          ),
        },
      });
    },

    saveSelectedLevelFourCategory(selected, subCategory) {
      this.$store.commit("category/SET_MIN_PRICE_FOR_FILTER", "");

      this.$store.commit("category/SET_MAX_PRICE_FOR_FILTER", "");

      this.$store.commit("category/SET_IS_TAXABLE_FOR_FILTER", "");

      this.$store.commit("category/SET_PAGE_FOR_FILTER", 0);

      this.closeNavMenuOnContentClick = true;

      let cat_selected = [selected["category_name"]];

      let multipleSelect = [];

      multipleSelect.push(selected);

      this.$store.commit(
        "category/SET_SELECTED_CATEGORY_FOR_FILTER",
        multipleSelect
      );

      this.$store.commit("category/SET_PARENT_CATEGORY", subCategory);

      this.$store.commit("category/SET_CATEGORY_FROM_CHECKBOX", true);

      this.$store.commit("category/CHECK_FOR_MULTIPLE_CHECKBOX", true);

      this.$store.commit("category/SET_CAT_SELECTED_FOR_FILTER", cat_selected);

      let array = [];

      array.push(selected.slug);

      this.$router.push({
        name: "CategoryFilter",

        query: {
          category: array,

          c: this.generateRandomUrlPath(
            10,
            "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
          ),
        },
      });
    },

    generateRandomUrlPath(length) {
      let chars =
        "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";

      let result = "";

      for (let i = length; i > 0; --i) {
        result += chars[Math.floor(Math.random() * chars.length)];
      }

      return result;
    },
  },
};
</script>

<style lang="scss" scoped>
.language {
  cursor: pointer;
}

.language.active {
  text-decoration: underline;
}

.language:hover span {
  text-decoration: underline;
}

.search-product-text-field {
  border-radius: 0;
  font-size: 0.875rem;
  border: 1px solid #dfdfdf;
}

.search-product {
  &:hover {
    cursor: pointer;
    background-color: #f2f2f2;
  }
}

.pre_order:hover {
  cursor: pointer;
}

.view-more-products {
  text-align: center;
  font-size: 0.75rem;

  span {
    &:hover {
      cursor: pointer;
      // text-decoration: underline;
    }
  }
}

.hide_icon_right ::v-deep {
  .v-icon {
    display: none !important;
  }
}

.second_category ::v-deep {
  .v-icon {
    display: none !important;
  }
}

.view_more_btn:hover {
  background-color: #2c4373;
  color: #fff;
  transition: 0.5s;
}

.notification-list {
}
</style>
