<template>
  <div class="mt-3">
    <div v-if="!skeletonLoader">
      <div class="title font-weight-bold mb-3">
        <title-highlighter v-if="popularProducts.length>0" :title="'most_popular_products'"></title-highlighter>
      </div>
      <GridViewLayout
        :products="popularProducts"
        :no_more_products="!noMoreProducts"
      ></GridViewLayout>
      <div class="text-center py-2">
        <v-btn
          width="250px"
          @click="loadMoreProducts"
          :disabled="loading"
          :dark="!loading"
          color="darkOrange"
          :loading="loading"
        >
          Load More
        </v-btn>
      </div>
    </div>

    <div v-else>
      <v-sheet v-for="index in 4" :key="index" color="#0000001f" class="mt-8">
        <v-row style="background-color: white !important" no-gutters>
          <v-col style="background-color: white !important" cols="4">
            <v-skeleton-loader type="list-item-two-line"></v-skeleton-loader>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="1">
            <v-skeleton-loader class="mt-4" type="button"></v-skeleton-loader>
          </v-col>
        </v-row>
        <v-row class="pa-4 py-6" no-gutters>
          <v-col v-for="index in 4" :key="index" cols="3">
            <v-skeleton-loader
              class="pa-3 skeleton_loader_image"
              max-width="300"
              type="image, list-item-two-line"
            ></v-skeleton-loader>
          </v-col>
        </v-row>
      </v-sheet>
    </div>
  </div>
</template>

<script>
import HomePageService from "@/services/shared/home-page";
import errorHandler from "@/helpers/shared/errorHandler";
import TitleHighlighter from "@/components/shared/title-highlighter";

export default {
  name: "popular-products",

  components: {
    TitleHighlighter,
    GridViewLayout: () =>
      import("@/components/shared/category-filter-page/GridViewLayout"),
  },
  data() {
    return {
      skeletonLoader: false,
      popular_products: [],
      page_no: 1,
      loading: false,
      noMoreProducts: false,
    };
  },

  async fetch() {
    let isSkeleton = true;
    await this.getPopularProductsList(isSkeleton);
  },

  computed: {
    popularProducts() {
      return this.popular_products;
    },
  },

  methods: {
    loadMoreProducts() {
      this.page_no = this.page_no + 1;

      this.loading = true;
      let isSkeleton = false;

      this.getPopularProductsList(isSkeleton);
    },

    getPopularProductsList(isLoading) {
      if (isLoading) {
        this.skeletonLoader = true;
      }
      HomePageService.getMostPopularAllProducts({page: this.page_no})
        .then((response) => {
          this.skeletonLoader = false;

          this.noMoreProducts = response.data.length === 0;

          this.popular_products = this.popular_products.concat(response.data);

          this.loading = false;
        })
        .catch((e) => {
          errorHandler(e, this);
          this.skeletonLoader = false;
        })
        .finally(() => {
          this.loading = false;
          this.skeletonLoader = false;
        });
    },
  },
};
</script>

<style scoped>
</style>
