<template>
  <div>
    <div v-if="!loader">
      <div
        class="font-weight-bold title my-2"
        v-if="productCollection.length > 0"
      >
       <title-highlighter :title="'collection'"></title-highlighter>
      </div>
      <v-row class="mb-16 pb-5" no-gutters>
        <v-col
          cols="4"
          xl="2"
          lg="3"
          v-for="(collection, index) in productCollection"
          :key="index"
        >
          <v-hover>
            <v-card
              :to="{
                name: 'collection-collection_name-view-all-products',
                params: {
                  collection_name: collection['product_collection_slug'],
                },
              }"
              class="pointer-on-hover"
              slot-scope="{ hover }"
              tile
              :height="$mq==='mobile'?80:150"
              elevation="1"
            >
              <v-img class="product_collection"
                     height="150"
                     :src="collection.product_collection_image"
              >
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="
                      d-flex
                      transition-fast-in-fast-out
                      black
                      darken-2
                      v-card--reveal
                      display-3
                      white--text
                    "
                    style="height: 100%; opacity: 0.5"
                  >
                    <div style="position: relative; top: 40px">
                      <v-row no-gutters>
                        <v-col
                          class="title font-weight-medium text-center"
                          cols="12"
                        >
                          {{ collection["product_collection_title"] }}
                        </v-col>
                        <v-col
                          class="subtitle-2 font-weight-thin text-center"
                          cols="12"
                        >
                          {{ collection["product_collection_subtitle"] }}
                        </v-col>
                        <v-col
                          class="subtitle-2 font-weight-thin text-center"
                          cols="12"
                        >{{ collection["products_count"] }} Products
                        </v-col>
                      </v-row>
                    </div>
                  </div>
                </v-expand-transition>
              </v-img>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
    </div>

    <div v-else>
      <v-sheet v-for="index in 1" :key="index" color="#0000001f" class="mt-8">
        <v-row style="background-color: white !important" no-gutters>
          <v-col style="background-color: white !important" cols="4">
            <v-skeleton-loader type="list-item-two-line"></v-skeleton-loader>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="1">
            <v-skeleton-loader class="mt-4" type="button"></v-skeleton-loader>
          </v-col>
        </v-row>
        <v-row class="pa-4 py-6" no-gutters>
          <v-col v-for="index in 4" :key="index" cols="3">
            <v-skeleton-loader
              class="pa-3 skeleton_loader_image"
              max-width="300"
              type="image, list-item-two-line"
            ></v-skeleton-loader>
          </v-col>
        </v-row>
      </v-sheet>
    </div>
  </div>
</template>

<script>
import ProductCollection from "@/services/shared/product-collection";
import TitleHighlighter from "@/components/shared/title-highlighter";

export default {
  name: "product-collections",
  components: {TitleHighlighter},
  data() {
    return {
      productCollection: [],
      loader: false,
    };
  },

  props:['isLoggedIn'],

  computed: {
    isUserLoggedIn() {
      return this.$store.getters["login/ISLOGINED"];
    },
  },

  watch: {
    isLoggedIn: {
      handler() {
       this.getProductCollection();
      },
      immediate: true

    }
  },

  methods: {
    async getProductCollection() {
    if (this.isUserLoggedIn) {
      this.loader = true;
      await ProductCollection.warehouseProductCollection()
        .then((response) => {
          this.productCollection = response.data;
          this.loader = false;
        })
        .catch((e) => {
          this.loader = false;
        })
        .finally(() => {
          this.loader = false;
        });
    } else {
      this.loader = true;
      await ProductCollection.getProductCollectionLists()
        .then((response) => {
          this.productCollection = response.data;
          this.loader = false;
        })
        .catch((e) => {
          this.loader = false;
        })
        .finally(() => {
          this.loader = false;
        });
    }
  },
  }
};
</script>

<style scoped>
.product_collection >>> .v-image__image--cover {
  background-size: cover !important;
}
</style>
