<template>
  <div>
    <client-only>
      <v-row v-if="getUserDetails" justify="center" class="my-3">
        <v-col cols="9" >
          <v-card elevation="1" color="#edece8" tile>
            <v-row justify="center">
              <v-col cols="12" class="text-center">
                <h1>How do you want to verify your Account?</h1>
                <v-row no-gutters>
                  <v-col cols="4"></v-col>
                  <v-col cols="4" class="text-center">
                    <v-radio-group
                      v-model="verificationType"
                      mandatory
                      column
                    >
                      <v-radio
                        :label="getUserDetails.phoneNumber"
                        value="phone"
                      ></v-radio>

                      <v-radio
                        :label="getUserDetails.email"
                        value="email"
                      ></v-radio>
                    </v-radio-group>

                    <v-btn @click="getVerificationCode()" color="primary">Continue</v-btn>
                  </v-col>

                  <v-col cols="4"></v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </client-only>
  </div>

</template>

<script>

import errorHandler from "../../../helpers/shared/errorHandler";
export default {
  data() {
    return {
      verificationType: ''
    }
  },

  computed: {
    getUserDetails() {
      return this.$store.getters["login/GET_USER_DETAILS"];
    },
  },
  methods: {
    getVerificationCode() {
        let data = new FormData();
        data.append('email', this.getUserDetails.email);
        data.append('password',this.getUserDetails.password);
        data.append('otp_request_vai', this.verificationType)

        this.$store.commit("login/SET_SELECTED_VERIFICATION_TYPE", this.verificationType);
        this.$store.commit('verification/SET_FROM_STORE_PROFILE', false)
        this.$store.dispatch("verification/generateOtpWhileCreatingStore", data).then(res => {
          this.$router.push({
            name:'store-otp-verification'
          })
      }).catch(e => {
        errorHandler(e, this);
      });

    }
  }
}
</script>
