<template>
  <v-container>
    <v-col cols="12" class="body-2">
      <ErrorHandling422 v-if="isError422"></ErrorHandling422>
      <v-stepper v-model="stepper">
        <v-stepper-header>
          <v-stepper-step step="1" :complete="stepper > 1">{{$t('store_details')}}</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="2" :complete="stepper > 2">{{$t('location_details')}}</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="3" :complete="stepper > 3">{{$t('personal_details')}}</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="4" :complete="stepper > 4">{{$t('opt_verification')}}</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <v-form ref="store_details_form">
              <v-card flat>
                <v-row no-gutters justify="space-between">
                  <v-col cols="12" class="mb-2" v-if="$store.state.locale.locale ==='en'">
                    {{$t('field_with')}} (<span class="red--text">*</span>) {{$t('is_a_required')}}
                  </v-col>

                  <v-col v-else cols="12" class="mb-2">
                   (<span class="red--text">*</span>) {{$t('field_with')}}  {{$t('is_a_required')}}
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('store_name')}}: <span class="red--text">*</span>
                    <v-text-field
                      solo
                      dense
                      :placeholder="`${$t('store_name')}`"
                      class="simple_text_field mt-1"
                      v-model="storeName"
                      :rules="storeNameRule"
                      :error-messages="serverValidationErrors['store_name']">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('store_owner')}}: <span class="red--text">*</span>
                    <v-text-field
                      solo
                      dense
                      :placeholder="`${$t('store_owner')}`"
                      class="simple_text_field mt-1"
                      v-model="storeOwner"
                      :rules="storeOwnerRule"
                      :error-messages="serverValidationErrors['store_owner']">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('store_logo')}}:
                    <v-file-input
                      solo
                      dense
                      small-chips
                      prepend-icon=""
                      truncate-length="15"
                      accept=".jpg,.jpeg,.png"
                      class="file_input mt-1"
                      :placeholder="`${$t('store_logo')}`"
                      prepend-inner-icon="mdi-cloud-upload"
                      v-model="selectedStoreLogo"
                      :rules="storeLogo"
                      >
                    </v-file-input>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('pan_vat_type')}}:
                    <v-autocomplete
                      solo
                      dense
                      return-object
                      item-text="type"
                      :placeholder="`${$t('pan_vat_type')}`"
                      class="auto_complete_with_append_inner_icon mt-1"
                      :items="panOrVATTypeList"
                      v-model="selectedPANOrVATType"
                      :error-messages="serverValidationErrors['pan_vat_type']">
                    </v-autocomplete>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('pan_vat_no')}}:
                    <v-text-field
                      solo
                      dense
                      :placeholder="`${$t('pan_vat_no')}`"
                      class="simple_text_field mt-1"
                      v-model="panOrVATNo"
                      :error-messages="serverValidationErrors['pan_vat_no']">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" class="mt-3 text-end">
                    <v-btn
                      tile
                      small
                      color="primary"
                      @click="goToStepTwo"
                    >
                      {{$t('continue')}}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card>
            </v-form>
          </v-stepper-content>
        </v-stepper-items>

        <v-stepper-items>
          <v-stepper-content step="2">
            <v-card>
              <v-form ref="location_details_form">
                <v-row no-gutters justify="space-between">
                  <v-col cols="12" class="mb-3">
                    <v-alert type="info" text dense color="error" class="caption">
                      {{$t('registration_info')}}
                    </v-alert>

                    <div v-if="$store.state.locale.locale ==='en'">
                      {{$t('field_with')}} (<span class="red--text">*</span>) {{$t('is_a_required')}}
                    </div>
                    <div v-else>
                      (<span class="red--text">*</span>) {{$t('field_with')}} {{$t('is_a_required')}}
                    </div>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('province')}}: <span class="red--text">*</span>
                    <v-select
                      solo
                      dense
                      return-object
                      :placeholder="`${$t('province')}`"
                      item-text="location_name"
                      class="auto_complete_with_append_inner_icon mt-1"
                      :items="provinceList"
                      v-model="selectedProvince"
                      :rules="provinceRule"
                      @input="showDistrictsOfSelectedProvince">
                    </v-select>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('district')}}: <span class="red--text">*</span>
                    <v-select
                      solo
                      dense
                      return-object
                      :placeholder="`${$t('district')}`"
                      item-text="location_name"
                      class="auto_complete_with_append_inner_icon mt-1"
                      :items="districtList"
                      v-model="selectedDistrict"
                      :rules="districtRule"
                      @input="showMunicipalitiesOfSelectedDistrict">
                    </v-select>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('municipality')}}: <span class="red--text">*</span>
                    <v-autocomplete
                      solo
                      dense
                      return-object
                      item-text="location_name"
                      :placeholder="`${$t('municipality')}`"
                      class="auto_complete_with_append_inner_icon mt-1"
                      :items="municipalityList"
                      v-model="selectedMunicipality"
                      :rules="municipalityRule"
                      @input="showWardsOfSelectedMunicipality">
                    </v-autocomplete>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('ward')}}: <span class="red--text">*</span>
                    <v-autocomplete
                      solo
                      dense
                      return-object
                      :placeholder="`${$t('ward')}`"
                      item-text="location_name"
                      class="auto_complete_with_append_inner_icon mt-1"
                      :items="wardList"
                      :rules="wardRule"
                      v-model="selectedWard"
                      :error-messages="serverValidationErrors['store_location_code']">
                    </v-autocomplete>
                  </v-col>

                  <v-col cols="12" class="mt-2 text-end">
                    <v-btn
                      tile
                      small
                      color="success"
                      @click="goBackStepOne"
                    >
                      {{$t('back')}}
                    </v-btn>
                    <v-btn
                      tile
                      small
                      class="ml-2"
                      color="primary"
                      @click="goToStepThree"
                    >
                      {{$t('continue')}}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>

        <v-stepper-items>
          <v-stepper-content step="3">
            <v-card>
              <v-form ref="personal_details_form">
                <v-row no-gutters justify="space-between">

                  <v-col cols="12" class="mb-2" v-if="$store.state.locale.locale ==='en'">
                    {{$t('field_with')}} (<span class="red--text">*</span>) {{$t('is_a_required')}}
                  </v-col>

                  <v-col v-else cols="12" class="mb-2">
                   (<span class="red--text">*</span>) {{$t('field_with')}}  {{$t('is_a_required')}}
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('name')}}: <span class="red--text">*</span>
                    <v-text-field
                      solo
                      flat
                      dense
                      :placeholder="`${$t('name')}`"
                      class="simple_text_field mt-1"
                      v-model="personalDetails.name"
                      :rules="nameRule"
                      :error-messages="serverValidationErrors['name']">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('email')}}: <span class="red--text">*</span>
                    <v-text-field
                      solo
                      flat
                      dense
                      :placeholder="`${$t('email')}`"
                      class="simple_text_field mt-1"
                      v-model="personalDetails.login_email"
                      :rules="emailRules"
                      v-on:blur="checkedEmailExist"
                      :error-messages="serverValidationErrors['login_email']">
                    </v-text-field>
                    <span v-if="alreadyEmail.value" style="color: red" class="caption">
                               {{alreadyEmail.message}}
                             </span>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('phoneNumber')}}: <span class="red--text">*</span>
                    <v-text-field
                      solo
                      flat
                      dense
                      class="simple_text_field mt-1"
                      :placeholder="`${$t('phoneNumber')}`"
                      v-model="personalDetails.login_phone"
                      :rules="mobileRules"
                      v-on:blur="checkedPhoneNumberExist"
                      :error-messages="serverValidationErrors['login_phone']">
                    </v-text-field>
                    <span v-if="alreadyPhone.value" style="color: red" class="caption">
                               {{alreadyPhone.message}}
                             </span>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                   {{$t('contact_landline')}}:
                    <v-text-field
                      solo
                      flat
                      dense
                      class="simple_text_field mt-1"
                      :placeholder="`${$t('contact_landline')}`"
                      v-model="personalDetails.landline_number"
                      :error-messages="serverValidationErrors['store_contact_phone']">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('password')}}: <span class="red--text">*</span>
                    <v-text-field
                      solo
                      flat
                      dense
                      type="password"
                      :placeholder="`${$t('password')}`"
                      class="simple_text_field mt-1"
                      v-model="personalDetails.password"
                      :rules="passwordRule"
                      :error-messages="serverValidationErrors['password']">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                    {{$t('confirm_password')}}: <span class="red--text">*</span>
                    <v-text-field
                      solo
                      flat
                      dense
                      type="password"
                      class="simple_text_field mt-1"
                      :placeholder="`${$t('confirm_password')}`"
                      v-model="personalDetails.c_password"
                      :rules="confirmedPasswordRule"
                      :error-messages="serverValidationErrors['c_password']">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" md="5" lg="5">
                     {{$t('referral_code')}}:

                    <v-tooltip top>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon
                          dark
                          small
                          color="primary"
                          v-bind="attrs"
                          v-on="on"
                        >
                          mdi-help-circle
                        </v-icon>
                      </template>
                      <span>{{$t('referral_code_info')}}</span>
                    </v-tooltip>

                    <v-text-field
                      solo
                      flat
                      dense
                      :placeholder="`${$t('referral_code')}`"
                      class="simple_text_field mt-1"
                      v-model="referralCode"
                      :error-messages="serverValidationErrors['referred_by']">
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" class="mt-3 text-end">
                    <v-btn
                      tile
                      small
                      color="success"
                      @click="goBackStepTwo"
                    >
                      {{$t('back')}}
                    </v-btn>
                    <v-btn
                      tile
                      small
                      class="ml-2"
                      color="primary"
                      :disabled="alreadyEmail.value || alreadyPhone.value"
                      @click="goToStepFour"
                    >
                      {{$t('continue')}}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>

        <v-stepper-items>
          <v-stepper-content step="4">
            <v-form ref="otp_form">
              <v-row justify="center">
                <v-col cols="12" md="6" lg="6" xl="3">
                  <v-card tile elevation="0">
                    <v-row dense>
                      <v-col cols="12" class="subtitle-1 font-weight-bold"> Verify From Phone</v-col>
                      <v-col cols="12">
                        <v-text-field
                          solo
                          dense
                          v-model="otpFromPhone"
                          :rules="phoneOtpRule"
                          placeholder="type otp"
                          class="simple_text_field"
                        >
                          <template v-slot:append class="py-2"  v-if="otpDetail['phone']['resend_period'] === null && otpDetail['phone']['expiry_period'] === null ">
                            <v-btn  tile x-small @click="sendOtpCodeFromPhone">get code</v-btn>
                          </template>
                          <template v-slot:append v-else>
                            <v-btn :disabled="true" tile x-small style="color: black !important;">
                              resend in {{otpDetail['phone']['reset_counter_value']}} sec.
                            </v-btn>
                            <v-tooltip top>
                              <template v-slot:activator = "{ on, attrs }">
                                <v-icon
                                  small
                                  v-on="on"
                                  v-bind="attrs"
                                  color="primary"
                                  style="cursor: pointer"
                                >
                                  mdi-information
                                </v-icon>
                              </template>
                              <div class="caption" style="width: 200px">
                                Haven't received code? Request new code in {{otpDetail['phone']['reset_counter_value']}} sec. The code will expire after {{otpDetail['phone']['expiry_period']}}.
                              </div>
                            </v-tooltip>

                          </template>

                        </v-text-field>

                      </v-col>
                    </v-row>

                  </v-card>
                </v-col>
              </v-row>

<!--              <v-row justify="center" class="mt-3">-->
<!--                <v-col cols="12" md="6" lg="6" xl="3">-->
<!--                  <v-card tile elevation="0">-->
<!--                    <v-row dense>-->
<!--                      <v-col cols="12" class="subtitle-1 font-weight-bold"> Verify Form Email</v-col>-->
<!--                      <v-col cols="12">-->
<!--                        <v-text-field-->
<!--                          solo-->
<!--                          v-model="otpFromEmail"-->
<!--                          dense-->
<!--                          placeholder="type otp"-->
<!--                          class="simple_text_field"-->
<!--                        >-->
<!--                          <template v-slot:append class="py-2" v-if="(otpDetail['email']['resend_period'] === null && otpDetail['email']['expiry_period'] === null) ">-->
<!--                            <v-btn  tile x-small @click="sendOtpCodeFromEmail">get code</v-btn>-->
<!--                          </template>-->
<!--                          <template v-slot:append v-else>-->
<!--                            <v-btn :disabled="true" tile x-small style="color: black !important;">-->
<!--                              resend in {{otpDetail['email']['reset_counter_value']}} sec.-->
<!--                            </v-btn>-->
<!--                            <v-tooltip top >-->
<!--                              <template v-slot:activator = "{ on, attrs }">-->
<!--                                <v-icon-->
<!--                                  small-->
<!--                                  v-on="on"-->
<!--                                  v-bind="attrs"-->
<!--                                  color="primary"-->
<!--                                  style="cursor: pointer"-->
<!--                                >-->
<!--                                  mdi-information-->
<!--                                </v-icon>-->
<!--                              </template>-->
<!--                              <div class="caption" style="width: 200px">-->
<!--                                Haven't received code? Request new code in {{otpDetail['email']['reset_counter_value']}} sec. The code will expire after {{otpDetail['email']['expiry_period']}}.-->
<!--                              </div>-->
<!--                            </v-tooltip>-->

<!--                          </template>-->

<!--                        </v-text-field>-->

<!--                      </v-col>-->
<!--                    </v-row>-->
<!--                  </v-card>-->
<!--                </v-col>-->
<!--              </v-row>-->
            </v-form>
            <v-row>
              <v-col cols="12" class="mt-3 text-center">
                <v-btn
                  tile
                  small
                  color="success"
                  @click="goBackStepThree"
                >
                  {{$t('back')}}
                </v-btn>
                <v-btn
                  tile
                  small
                  class="ml-2"
                  color="primary"
                  :loading="submitFormLoading"
                  @click="submitForm"
                >
                  {{$t('submit')}}
                </v-btn>
              </v-col>
            </v-row>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-col>
  </v-container>
</template>

<script>
import LocationService from "@/services/shared/location";
import errorHandler from "@/helpers/shared/errorHandler";
import ErrorHandling422 from "@/components/shared/ErrorHandling422";

export default {

  name: "AlreadyHaveStore",
  components: {ErrorHandling422},
  props: ['selectedPackage'],

  data() {

    return {
      stepper: 1,
      storeName: '',
      emailOtpField:false,
      phoneOtpField:false,
      otpFromEmail:'',
      otpFromPhone:'',
      timerForEmail:'',
      displayMessage:null,
      emailTimer:null,
      phoneTimer:null,
      otpDetail:{
        email:{
          expiry_period: null,
          resend_period: null,
          reset_counter_value:null,
          reset_counter_status:0
        },
        phone:{
          expiry_period: null,
          resend_period: null,
          reset_counter_value:null,
          reset_counter_status:0
        }
      },
      openOtpTypeForm:false,
      verifyOtp:false,
      setResendEmailOtp:false,
      alreadyThere:false,
      alreadyEmail:{
        message:null,
        value:false
      },
      alreadyPhone:{
        message:null,
        value:false
      },
      phoneOtpRule:[
        v => !!v || 'opt is required.',
      ],
      storeNameRule: [
        v => !!v || 'Store name is required.',
        // v => /^[a-zA-Z_ ]*$/.test(v) || 'Must be string only.',
      ],
      storeOwner: '',
      storeOwnerRule: [
        v => !!v || 'Store owner is required.'
      ],
      selectedStoreLogo: [],
      panOrVATTypeList: [
        {
          id: 'pan',
          type: 'PAN'
        },
        {
          id: 'vat',
          type: 'VAT'
        }
      ],
      selectedPANOrVATType: '',
      panOrVATNo: '',
      provinceList: [],
      selectedProvince: '',
      provinceRule: [
        v => !!v || 'Province is required.'
      ],
      districtList: [],
      selectedDistrict: '',
      districtRule: [
        v => !!v || 'District is required.'
      ],
      municipalityList: [],
      selectedMunicipality: '',
      municipalityRule: [
        v => !!v || 'Municipality is required.'
      ],
      wardList: [],
      selectedWard: '',
      wardRule: [
        v => !!v || 'Ward is required.'
      ],
      personalDetails: {
        name: '',
        login_email: '',
        mobile_number: '',
        landline_number: '',
        login_phone: '',
        password: '',
        c_password: '',
      },
      referralCode: '',
      nameRule: [
        v => !!v || 'Name is required.',
        v => /^[a-zA-Z_ ]*$/.test(v) || 'Must be string only.',
        v => /^(?=.*\S).+$/.test(v) || 'Invalid Name',
      ],
      emailRules: [
        v => !!v || 'Email address is required.',
        v => /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || "Email must be valid address."
      ],
      mobileRules: [
        v => !!v || 'Phone number is required.',
        v => /^\d+$/.test(v) || 'Must be a number only.',
      ],
      passwordRule: [
        v => !!v || 'Password is required.',
        v => (v && v.length > 5) || 'Password must greater than six characters.'
      ],
      confirmedPasswordRule: [
        v => !!v || 'Password is required.',
        v => v === this.personalDetails.password || "Password do not match."
      ],
      submitFormLoading: false,
      serverValidationErrors: {},
    }

  },

  created() {

    LocationService.getAllProvince().then(response => {

      this.provinceList = response.data;

    });

  },
  watch:{
    emailTimer(val){
      this.otpDetail['email']['reset_counter_value'] = val;
      setInterval(()=>{
        this.otpDetail['email']['reset_counter_value'] = this.otpDetail['email']['reset_counter_value'] - 1;
        if(this.otpDetail['email']['reset_counter_value'] === 0){
          this.otpDetail['email']['expiry_period'] = null;
          this.otpDetail['email']['resend_period'] = null;
          this.otpDetail['email']['reset_counter_value'] = null;
        }
        if(this.otpDetail['email']['reset_counter_value']<0){
          this.otpDetail['email']['reset_counter_value'] = null;
          return
        }

      }, 1000)
    },
    phoneTimer(val){

      this.otpDetail['phone']['reset_counter_value'] = val;
      setInterval(()=>{
        this.otpDetail['phone']['reset_counter_value'] = this.otpDetail['phone']['reset_counter_value'] - 1;
        if(this.otpDetail['phone']['reset_counter_value'] === 0){
          this.otpDetail['phone']['expiry_period'] = null;
          this.otpDetail['phone']['resend_period'] = null;
          this.otpDetail['phone']['reset_counter_value'] = null;
        }
        if(this.otpDetail['phone']['reset_counter_value']<0){
          this.otpDetail['phone']['reset_counter_value'] = null;
          return
        }

      }, 1000)
    }
  },

  computed: {

    isError422() {

      return this.$store.getters['error/IS422Error'];

    },
    storeLogo(){
      return this.logoRule();
    }

  },

  methods: {
    logoRule(){
      if (
        this.selectedStoreLogo === undefined || this.selectedStoreLogo === null
      ) {
        this.selectedStoreLogo = [];
        return ["Upload Document"];
      } else if (this.selectedStoreLogo["size"] >= 10 * 1024 * 1024) {
        this.selectedStoreLogo = [];
        return ["Doc size should be less than  10MB."];
      }
    },
    sendOtpCodeFromPhone(){
      let payload = {
        phone: this.personalDetails.login_phone
      }
      this.$store.dispatch('registration/sendPhoneOtpAccountVerification', payload).then(res => {
        this.otpDetail['phone']['expiry_period'] = res.data.expiry_period;
        this.otpDetail['phone']['resend_period'] = res.data.resend_period;
        this.otpDetail['phone']['reset_counter_value'] = res.data.resend_period;
        this.phoneTimer = res.data.resend_period

      }).catch((error)=>{
        errorHandler(error, this)
      })
    },

    sendOtpCodeFromEmail(){
      let payload = {
        email:this.personalDetails.login_email
      }


      this.$store.dispatch('registration/sendEmailOtpAccountVerification', payload).then(res => {
        this.otpDetail['email']['expiry_period'] = res.data.expiry_period;
        this.otpDetail['email']['resend_period'] = res.data.resend_period;
        this.otpDetail['email']['reset_counter_value'] = res.data.resend_period;
        this.emailTimer = res.data.resend_period

      })
    },
    checkedEmailExist(){
      if(!this.personalDetails.login_email){
        return
      }
      let payload = {
        email: this.personalDetails.login_email
      }
      this.$store.dispatch('registration/emailAlreadyUseOrNot', payload).then((res) =>{

        this.alreadyEmail['message'] = res.message;
        this.alreadyEmail['value'] = res.data
        this.continueDisable = true
      }).catch((err) => {
        this.alreadyPhone['value'] = false
        errorHandler(err, this)
      })
    },
    checkedPhoneNumberExist(){
      if(!this.personalDetails.login_phone){
        return
      }
      let payload = {
        phone: this.personalDetails.login_phone
      }
      this.$store.dispatch('registration/phoneNumberAlreadyExistOrNot', payload).then((res) =>{
        this.alreadyPhone['message'] = res.message;
        this.alreadyPhone['value'] = res.data;
        this.continueDisable = true
        this.$store.commit("error/SET_422_ERROR", false);

        this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
      }).catch((err) => {
        this.alreadyPhone['value'] = false
        errorHandler(err, this)
      })
    },

    showDistrictsOfSelectedProvince() {

      LocationService.getLowerLocation(this.selectedProvince['location_code']).then(response => {

        this.districtList = [];

        this.municipalityList = [];

        this.wardList = [];

        this.selectedDistrict = '';

        this.selectedMunicipality = '';

        this.selectedWard = '';

        this.districtList = response.data;

      });

    },

    showMunicipalitiesOfSelectedDistrict() {

      LocationService.getLowerLocation(this.selectedDistrict['location_code']).then(response => {

        this.municipalityList = [];

        this.wardList = [];

        this.selectedMunicipality = '';

        this.selectedWard = '';

        this.municipalityList = response.data;

      });

    },

    showWardsOfSelectedMunicipality() {

      LocationService.getLowerLocation(this.selectedMunicipality['location_code']).then(response => {

        this.wardList = [];

        this.selectedWard = '';

        this.wardList = response.data;

      });

    },

    goToStepTwo() {

      if (this.$refs.store_details_form.validate()) {

        this.stepper = 2;

      }

    },

    goToStepThree() {

      if (this.$refs.location_details_form.validate()) {

        this.stepper = 3;

      }

    },

    goBackStepOne() {

      this.stepper = 1;

    },

    goBackStepTwo() {

      this.stepper = 2;

    },
    goBackStepThree(){
      this.stepper = 3;
    },
    goToStepFour(){
      if (this.$refs.personal_details_form.validate()) {

        this.stepper = 4;

      }
    },

    submitForm() {

      if( this.$refs.otp_form.validate()){

        this.submitFormLoading = true;

        this.serverValidationErrors = {};

        const formData = new FormData();

        formData.append("has_store", '1');

        formData.append("store_type_code", this.selectedPackage['store_type_code']);

        formData.append("store_type_package_history_code", this.selectedPackage['store_type_package_history_code']);

        formData.append('store_name', this.storeName);

        formData.append('store_owner', this.storeOwner);

        // formData.append("email_otp_code", this.otpFromEmail);

        formData.append("phone_otp_code", this.otpFromPhone);

        formData.append('store_logo', this.selectedStoreLogo);

        formData.append('pan_vat_type', this.selectedPANOrVATType['id'] ?? '');

        formData.append('pan_vat_no', this.panOrVATNo);

        formData.append("store_location_code", this.selectedWard['location_code']);

        formData.append("name", this.personalDetails.name);

        formData.append("login_email", this.personalDetails.login_email);

        formData.append("login_phone", this.personalDetails.login_phone);

        formData.append("store_contact_phone", this.personalDetails.landline_number);

        formData.append("password", this.personalDetails.password);

        formData.append("c_password", this.personalDetails.c_password);

        formData.append("referred_by", this.referralCode);

        this.$store.dispatch('registration/registerStore', formData).then(response => {

          this.$store.commit("error/SET_422_ERROR", false);

          this.$store.commit("error/SET_422_ERROR_MESSAGE", null);

          this.$store.commit('notification/COMMIT_DIALOG', {

            title: 'Account Created',

            message: response.message,

          });

          this.resetFormFields();

          this.$router.push({

            name: 'store-login'

          });

        }).catch(e => {

          errorHandler(e, this);

        }).finally(() => {

          this.submitFormLoading = false;

        });

      }

    },

    resetFormFields() {
      this.storeName = '';
      this.storeOwner = '';
      this.selectedStoreLogo = [];
      this.selectedPANOrVATType = '';
      this.panOrVATNo = '';

      this.selectedProvince = '';
      this.selectedDistrict = '';
      this.selectedMunicipality = '';
      this.selectedWard = '';

      this.personalDetails.name = '';
      this.personalDetails.login_email = '';
      this.personalDetails.login_phone = '';
      this.personalDetails.landline_number = '';
      this.personalDetails.password = '';
      this.personalDetails.c_password = '';
      this.referralCode = '';

      this.$refs.store_details_form.resetValidation();
      this.$refs.location_details_form.resetValidation();
      this.$refs.personal_details_form.resetValidation();

      this.stepper = 1;
    },

    checkInputFile() {
      if (this.selectedStoreLogo === undefined || this.selectedStoreLogo.length === 0) {
        this.selectedStoreLogo = [];
        return ['Please upload an image.'];
      } else if (this.selectedStoreLogo['size'] > (1024 * 1024 * 5)) {
        this.selectedStoreLogo = [];
        return ['Image file size should be less than 5 MB.'];
      }
    }

  }

}
</script>

<style scoped>

</style>
