/*Added By Sunil Upadhyaya*/

.sticky_div {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 110px;
}

.slider_hover {
  border: 1px solid grey !important;
  cursor: pointer !important;
}

.product_image_zoomer .v-image__image--cover {
  background-size: contain !important;
}

.product_image_zoomer {
  overflow: hidden;
}

.product_image .v-image__image--cover {
  background-size: contain;
}

.product_image {
  background: white;
  height: auto;
  display: block;
  margin: auto;
  transition: transform 0.5s, filter 0.5s ease-out;
}

.product_image:hover {
  cursor: pointer;
}

.range_slider_design {
  margin-top: 40px !important;
}

.range_slider_design input {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
}

.range_slider .v-slider--horizontal {
  min-width: 175px !important;
  margin-left: -70px !important;
}

.range_slider_design .v-input__control {
  border-radius: 0 !important;
}

.range_slider_design .v-input__slot {
  border: 1px solid #e5e5e5 !important;
  box-shadow: none !important;
  min-height: 30px !important;
  padding: 0 0 0 4px !important;
}

.range_slider .v-slider__thumb {
  height: 13px !important;
  border-radius: 0% !important;
}

.range_slider {
  max-height: 50px !important;
}

.range_slider .v-slider__track-container {
  height: 5px !important;
}

.range_slider .v-input__prepend-outer {
  margin-top: 40px !important;
}

.range_slider .v-input__append-outer {
  margin-top: 40px !important;
}

.checkbox_design .v-label {
  font-size: 0.8rem !important;
  color: black !important;
}

.checkbox_design {
  margin-top: 4px !important;
}

.checkbox_design .v-icon.v-icon {
  font-size: 20px !important;
}

.pointer-on-hover {

  cursor: pointer;
}

.category-dropdown-menu {
  max-height: 35px !important;

}

.product_name_single_page {
  font-size: 24px !important;
  line-height: 32px !important;
  font-weight: 400;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.brand_name {
  font-size: 14px;
  line-height: 20px;
  color: var(--v-darkBlue-base);
  font-family: "Amazon Ember", Arial, sans-serif;
}

.available_stock {
  line-height: 22px;
  margin-left: 8px;
  margin-right: 3px;
  color: #fff;
  font-family: "Amazon Ember", Arial !important;
  min-width: 36px;
  font-size: 12px;
}

.price {
  font-size: 20px !important;
  line-height: 32px !important;
  font-weight: 400;
  color: var(--v-darkBlue-base);
  font-family: "Amazon Ember", Arial, sans-serif;
}

.variant_name {
  display: inline;
  color: #888;
  font-size: 14px;
  font-weight: 400;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.selected_variant {
  font-size: 14px;
  font-weight: 700;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #0F1111;
  line-height: 1.3em !important;
}

.variant_button {
  font-size: 14px;
  font-weight: 700;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #0F1111;
  letter-spacing: 0;
  text-transform: lowercase;
}

.unselected_variant_button {
  color: #111;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400 !important;
  text-transform: lowercase;
  letter-spacing: 0;
}

.specification_value {
  font-size: 14px;
  line-height: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #0F1111;

}

.highlight_title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #0F1111;
}

.highlights_design {
  color: #111;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;

}

.sort_filter_design .v-icon {
  color: grey !important;
}

.review_title {
  font-size: 0.7rem;
  font-weight: 400;
}

.border {
  border-left: 1px solid #f4f5f7;
  border-right: 1px solid #f4f5f7;
}

.filter_design {
  font-size: 0.7rem;
  font-weight: 400;
  color: grey;
}

.product_review {
  font-size: 0.8rem;
  font-weight: 400;
  color: grey;
}

.rating_title {
  color: #333 !important;
  font-size: 0.8rem;
  font-weight: 400;
}

.review_font {
  font-size: 13px;
  color: black;
}

.rating_color {
  color: #333;
}

.delete_text .v-btn__content {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
}

.total_items {
  color: var(--v-gray-base) !important;
  font-size: 0.9rem;
}

.checkout .v-btn__content {
  font-size: 0.8rem !important;
  font-weight: 400;
}

.brand_detail {
  font-size: 0.95rem;
  color: var(--v-gray-base) !important;
}

.select_all_checkbox {
  margin-top: 0 !important;
}

.select_all_checkbox .v-label {
  text-transform: uppercase !important;
  color: var(--v-gray-base) !important;
  font-size: 0.9rem !important;
}

.total_price {
  color: var(--v-darkOrange-base);
}

.button_design {
  height: 20px !important;
  min-width: 20px !important;
}

.white_background {
  background-color: white !important;
}

.red_background {
  background-color: #ffd6be !important;
}

.cancelled_background {
  background: #ff5151;
}

.border_radius_row {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.border_radius_bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.quantity input {
  color: var(--v-gray-base) !important;
  font-size: 0.9rem !important;
  font-weight: bold;
}

.quantity .v-label {
  color: var(--v-gray-base) !important;
  font-size: 0.9rem !important;
  font-weight: bold;
}

.quantity .v-input__slot {
  box-shadow: none !important;
  background-color: #fcfcfc !important;
}

.quantity .v-input__control {
  min-height: 20px !important;
}

.quantity .v-text-field__details {
  margin-bottom: 0;
}

.disable_quantity input {
  color: var(--v-gray-base) !important;
  font-size: 0.75rem !important;
  font-weight: 500;
  margin-left: 8px !important;
}

.disable_quantity .v-label {
  color: var(--v-gray-base) !important;
  font-size: 0.75rem !important;
  font-weight: 500;
}

.disable_quantity .v-input__slot {
  box-shadow: none !important;
  background-color: #ffd6be !important;
  padding: 0 !important;
  min-height: 20px !important;
}

.disable_quantity .v-input__control {
  min-height: 20px !important;
}

.disable_quantity .v-text-field__details {
  margin-bottom: 0;
}

.cart_product_name {
  font-size: 0.85rem !important;
}
