.home_page_carousel .v-skeleton-loader__image {
    height: 400px !important;
  }

.zoom_image {
  picture{
    img{
      width:100% !important;
      height: 400px !important;
    }
  }
}

//Pre Order Product Detail Page
.flash_sale {
  min-height: 30px;
  border-radius: 50px;
  border: 1px solid #ff5c00;
}

.flash_design {
  background-image: linear-gradient(to left, #ff5c00, #ef681d);
  border-radius: 50px;
}



.innerSpan{
  span{
    color: white !important;
  }
}
