<template>
<v-container class="pa-3" fluid>
    <v-skeleton-loader type="image" tile class="toolbar_design_skeleton"></v-skeleton-loader>
<v-row no-gutters justify="space-around">
  <v-col cols="12" lg="5" md="6">
    <ProductZoomerImage></ProductZoomerImage>
  </v-col>
  <v-col cols="12" lg="4" md="6" class="pl-3">
    <ProductSpecification></ProductSpecification>
    <ProductDescription></ProductDescription>
  </v-col>
  <v-col cols="12" lg="3" class="pl-3">
   <RelatedWarehouseProducts></RelatedWarehouseProducts>
  </v-col>
</v-row>
</v-container>
</template>

<script>
import ProductZoomerImage from "./product-detail-page/ProductZoomerImage.vue";
import ProductSpecification from "./product-detail-page/ProductSpecification";
import ProductDescription from "./product-detail-page/ProductDescription";
import RelatedWarehouseProducts from "./product-detail-page/RelatedWarehouseProducts";
export default {
  name: "productdetailskeleton",
  components: {RelatedWarehouseProducts, ProductDescription, ProductSpecification, ProductZoomerImage}
}
</script>