<template>
  <v-container fluid>
    <v-row no-gutters align="center" justify="center" style="height:400px;">
      <v-col cols="6">
        <img src="@/assets/img/shared/no-internet.jpg">
        <div style="font-size: 35px;" class="text-center grey-text font-weight-normal">Please Check Your Internet
          Connection.
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "no-internet"
}
</script>

<style scoped>

</style>
