<template>
  <div>
    <v-row class="px-4 mt-3" no-gutters>
      <v-col cols="12">
        <div class="product_name_single_page">{{ product_detail['product_name'] }}</div>
      </v-col>
      <v-col cols="12">
        <div class="brand_name">Brand: {{ product_detail['brand']['brand_name'] }}</div>
      </v-col>
      <v-col cols="12">
        <div class="brand_name">Category: {{ product_detail['category']['category_name'] }}</div>
      </v-col>
      <v-col cols="12" lg="4">
        <v-rating
          dense
          small
          background-color="yellow darken-4"
          color="yellow darken-4"
          v-model="product_detail['rating']"
        ></v-rating>
        <v-btn @click="openSajiloPreorder()"
               v-if="can_pre_order"
               tile
               dark
               x-small
               depressed
               color="darkOrange"

        >
          सजिलो Pre Order
        </v-btn>

      </v-col>

      <v-col v-if="!variant_stock && product_detail['warehouse_product_stock'] && is_product_detail_page" cols="6"
             lg="4" class="mt-lg-0 mt-md-0 mt-sm-3">
        <v-card class="mt-1 " tile color="darkBlue" elevation="0">
          <div class="available_stock text-center">Stock Available: {{ product_detail['warehouse_product_stock'] }} pcs
          </div>
        </v-card>
      </v-col>
      <v-col v-if="variant_stock && is_product_detail_page" cols="4" lg="4" :offset-md="1"
             class="mt-lg-0 mt-md-0 mt-sm-0">
        <v-card class="mt-1" tile color="darkBlue" elevation="0">
          <div class="available_stock text-center">Stock Available: {{ variant_stock }} pcs
          </div>
        </v-card>
      </v-col>
      <v-col v-if="is_product_detail_page" cols="4" lg="3" sm="6" class="px-2 px-xl-0 px-lg-0  ">
        <v-card class="mt-1 ml-md-0 ml-lg-2 mt-lg-1" tile :color="product_detail['is_taxable']?'darkBlue':'red'"
                elevation="0">
          <div v-if="product_detail['is_taxable']" class="available_stock text-center">Taxable</div>
          <div v-else class="available_stock text-center">Non-Taxable</div>
        </v-card>
      </v-col>
      <v-col cols="12" class="mt-3">
        <div v-if="product_detail['video_link'] !==''" class="brand_name mt-1">Video:
          <v-btn
            dark
            icon
            x-small
            @click="showVideoPlayerDialog(product_detail['video_link'])"
          >
            <v-icon color="darkBlue">mdi-play-circle</v-icon>
          </v-btn>
        </div>
      </v-col>
      <v-dialog
        persistent
        width="600"
        class="preview_dialog_box pa-0 pt-5"
        v-model="videoPlayerDialog"
        style="border-radius: 0 !important;"
      >
        <v-card>
          <v-card-title class="subtitle-2 font-weight-medium" style="background-color: white !important;">Product Name :
            <span class="font-weight-bold ml-1">{{ product_detail['product_name'] }}</span></v-card-title>
          <iframe
            id="ytplayer"
            width="600"
            height="300"
            frameborder="0"
            allowfullscreen
            type="text/html"
            :src="videoUrl">
          </iframe>
          <v-card-actions class="pa-0">
            <v-col cols="9"></v-col>
            <v-col cols="2">
              <v-btn class="close-button" dark color="red" small tile @click="closeVideo">
                <v-icon size="12" class="mr-1" dark>mdi-close-outline</v-icon>
                Close Video
              </v-btn>
            </v-col>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row no-gutters class="px-4">
      <v-divider class="mt-3 mb-1"></v-divider>
    </v-row>
    <v-row class="pl-4" no-gutters>
      <v-col v-if="!variant_price && !is_product_detail_page" cols="12">
        <div class="price mb-2"><span
          v-if="product_detail['product_variants'].length===0">Rs.</span>{{ product_detail['rate'] }}
          <span class="ml-2 brand_name"
                v-if="product_detail['is_taxable']">(13% VAT included)</span></div>
      </v-col>
      <v-col v-else-if="variant_price && can_pre_order && !is_product_detail_page" cols="12">
        <div class="price mb-2">Rs.{{ variant_price.toFixed(2) }}
          <span class="ml-2 brand_name"
                v-if="product_detail['is_taxable']">(13% VAT included)</span></div>
      </v-col>
      <v-col v-else-if="!can_pre_order && !is_product_detail_page" cols="12" class="my-2">
        Rs.
        <v-icon small v-for="(item,index) in 3" :key="index" color="darkOrange">mdi-help</v-icon>
      </v-col>
      <v-col v-if="!variant_price && !can_pre_order && is_product_detail_page" cols="12">
        <div class="price mb-2">{{ product_detail['rate'] }}
          <span class="ml-2 brand_name"
                v-if="product_detail['is_taxable']">(13% VAT included)</span></div>
      </v-col>
      <v-col v-else-if="variant_price && !can_pre_order && is_product_detail_page" cols="12">
        <div class="price mb-2">Rs.{{ variant_price.toFixed(2) }}
          <span class="ml-2 brand_name"
                v-if="product_detail['is_taxable']">(13% VAT included)</span></div>
      </v-col>

        <v-col cols="12" v-if="product_detail['first_variant'].length>0 && can_pre_order">
          <div v-if="can_pre_order && !is_product_detail_page" class="mb-1">
                  <span class="variant_name">{{ product_detail['first_variant'][0]['variant_name'] }}: <span
                    class="selected_variant">{{ selected_variant[0] }}</span></span>
          </div>
          <div v-if="can_pre_order && !is_product_detail_page">
            <v-btn v-for="(variantValue,index) in product_detail['first_variant']" :key="index"
                   tile
                   dark
                   x-small
                   outlined
                   depressed
                   height="30"
                   class="mr-2 mb-1"
                   :ripple="false"
                   :color="variantValue['color']"
                   v-on:click="$emit('change-image-and-price-according-to-variant',variantValue)"
            >
                    <span :class="variantValue['color']==='#FF5C00'?'variant_button':'unselected_variant_button'">{{
                        variantValue['variant_value_name']
                      }}</span>
            </v-btn>
          </div>
        </v-col>
        <v-col v-for="(associated,index) in associated_variants" :key="index" cols="12">
          <div v-if="can_pre_order && !is_product_detail_page" class="mb-1">
                  <span class="variant_name">{{ associated[0]['variant_name'] }}: <span
                    class="selected_variant">{{ selected_variant[index + 1] }}</span></span>
          </div>
          <div v-if="can_pre_order && !is_product_detail_page">
            <v-btn v-for="(variantValue,index) in associated" :key="index"
                   tile
                   dark
                   x-small
                   outlined
                   depressed
                   height="30"
                   class="mr-2 mb-1"
                   :ripple="false"
                   :color="variantValue['color']"
                   v-on:click="$emit('change-image-and-price-according-to-variant',variantValue)"
            >
                    <span :class="variantValue['color']==='#FF5C00'?'variant_button':'unselected_variant_button'">{{
                        variantValue['variant_value_name']
                      }}</span>
            </v-btn>
          </div>
        </v-col>
        <v-overlay
          absolute
          :value="loading_variant_icon"
        >
          <div> Loading Variants....</div>
        </v-overlay>
    </v-row>

      <SajiloAddToCart
        dialog-type="pre-order"
        :product-slug="selectedProductSlug"
        :stock-detail="productStockList"
        v-if="productStockList.length !== 0"
        @close-dialog="closeStockInfoDialog">
      </SajiloAddToCart>

  </div>
</template>

<script>
export default {
  name: "productDescription",
  props: ['product_detail', 'variant_price', 'variant_stock', 'selected_variant', 'selected_variant_slug', 'loading', 'is_product_detail_page', 'can_pre_order', 'associated_variants','loading_variant_icon'],
  components:{
    SajiloAddToCart: () => import("@/components/shared/preorder-detail-page/SajiloPreOrderAddToCart")

  },
  data() {
    return {
      product_reviews: '1,420',
      videoUrl: '',
      videoPlayerDialog: false,
      loadButton: false,
      selectedProductSlug:'',
      productStockList:[],
      storeDetailFormDialog: false
    }
  },
  computed:{
    isBillable() {
      return this.$store.getters['login/GET_IS_BILLABLE']
    },

    getPreOrderListingCode(){
      return  this.$store.getters['preOrder/GET_PRE_ORDER_LISTING_CODE']
    }
  },
  methods: {

    // Show dialogbox
    displayMessageWithForm() {
      this.storeDetailFormDialog = true;
    },

    // close dialog from different component
    closeDialog(value) {
      this.storeDetailFormDialog = value;
    },

    closeStockInfoDialog() {
      this.productStockList = [];
    },

    openSajiloPreorder() {
      this.selectedProductSlug = this.product_detail.slug
      let payload = {
        product_code: this.product_detail.product_code,
        warehouse_preorder_listing_code: this.$store.getters['preOrder/PRE_ORDER']['warehouse_preorder_listing_code']

      }


      this.$store.dispatch("preOrder/getPreOrderListViewDetails", payload).then(res => {
        this.productStockList = res.data.map(product => {
          product['packaging_information'] = product['packaging_information'].map(item => {
            item['btn_loading_state'] = false;
            item['quantity'] = 1;
            return item;
          });
          return product;
        });
        this.sheet = true;
      })

    },

    showVideoPlayerDialog(url) {

      this.videoUrl = url;


      this.videoPlayerDialog = true;

    },

    closeVideo() {


      this.videoPlayerDialog = false;

    },

  }

}
</script>

<style scoped>

</style>
