<template>
  <v-card color="#e5e5e5" tile elevation="0" class="pa-3 pt-1 pb-2">
    <title-highlighter style="background-color: #e5e5e5" :title="'product_description'"></title-highlighter>
<!--    <div class="product_description_title mb-4">Product description of-->
<!--      {{ product_detail['product_name'] }}-->
<!--    </div>-->
    <span v-html="product_detail['description']"></span>
  </v-card>
</template>

<script>
import TitleHighlighter from "@/components/shared/title-highlighter";
export default {
  name: "productAllDescriptions",
  components: {TitleHighlighter},
  props:['product_detail'],
}
</script>
