<template>
  <v-row v-if="relatedProducts.length>0" class="pa-2"
         no-gutters>
    <v-col style="background-color: #e5e5e5" cols="12" class="pa-0">
      <title-highlighter style="background-color: #e5e5e5"
                         :title="'related_preOrder_products'"></title-highlighter>
    </v-col>
    <v-col cols="12" class="mt-2">
      <v-card
        :to="{name:'PreOrderDetail',params:{product_slug:product['slug']}}"
        v-for="(product,index) in relatedProducts" class="pa-1 mb-1"
        :key="index" elevation="0"
        color="#e5e5e5"
        tile>
        <v-row no-gutters class="pb-3" style="border-bottom: 1px solid #e5e5e5">
          <v-col cols="4">
            <v-card width="100" tile elevation="2">
              <v-img lazy-src="@/assets/images/image_loader.png" :src="product.featured_image"
                     class="related_product_image"></v-img>
            </v-card>
          </v-col>
          <v-col cols="8">
            <div class="related_product_name ml-2">{{ product.product_name }}</div>
            <v-rating class="rating_design ml-1" small v-model="rating" color="yellow darken-3"
                      background-color="yellow darken-4"></v-rating>
            <div class="caption font-weight-bold ml-2 price_color">{{ product.price }}</div>
            <div class="related_product_category ml-2">Brand: {{ product.brand }}</div>
            <div class="related_product_category ml-2">Category: {{ product.category }}</div>
          </v-col>
        </v-row>
        <v-divider></v-divider>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import TitleHighlighter from "@/components/shared/title-highlighter";

export default {
  name: "relatedProductFromWarehouse",
  props: ['wh_listing_code', 'product_code', 'relatedProducts'],
  components: {TitleHighlighter},
  data() {
    return {
      rating: 3,
    }
  },

  methods: {
    gotoToDetailPage({slug}) {
      this.$router.push({
        name: 'store-preorder-product_slug-detail',
        params: {product_slug: slug}
      })
    }
  }
}
</script>
