<template>
  <v-dialog
    width="60%"
    scrollable
    persistent
    v-model="dialogState"
  >
    <v-card tile>
      <v-card-actions class="pa-0">
        <v-row style="background-color: #003574 !important;" no-gutters align="center" class="primary px-5 pt-2 pb-1">
          <v-col cols="11" class="subtitle-1 white--text">
            {{ stockDetail[0]['product_name'] }}
          </v-col>
          <v-col cols="1" class="text-end">
            <v-icon color="white" @click="closeDialog">mdi-close</v-icon>
          </v-col>
        </v-row>
      </v-card-actions>

      <v-card-text class="px-0 body-2">
        <v-row no-gutters class="pt-3 px-5">
          <v-col cols="12">
            <v-card outlined>
              <v-row no-gutters>
                <v-col
                  cols="12"
                  class="pb-2"
                  v-for="(variant, variantIndex) in stockDetail"
                  :key="variantIndex"
                >
                  <v-row no-gutters v-if="variant['product_variant_name']">
                    <v-col style="background-color: #003574 !important;" cols="12" class="primary white--text px-3 pt-2 pb-1">
                      Variant: {{ variant['product_variant_name'] }}
                    </v-col>
                  </v-row>

                  <v-row
                    no-gutters
                    class="px-3 pt-2"
                    v-for="(packagingInformation, packagingInformationIndex) in variant['packaging_information']"
                    :key="packagingInformationIndex"
                  >
                    <v-col cols="12" class="font-weight-bold">
                      Package Type: {{ packagingInformation['package_name'] }}
                      <v-tooltip right color="black">
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon
                            small
                            v-on="on"
                            v-bind="attrs"
                            color="primary"
                          >
                            mdi-information
                          </v-icon>
                        </template>
                        {{ packagingInformation['package_consists'] }}
                      </v-tooltip>
                    </v-col>

                    <v-col cols="4">
                      <div class="product_price font-weight-bold">Rs. {{ packagingInformation.price.toFixed(2) }}</div>
                    </v-col>

                    <v-col cols="5">
                      <v-row no-gutters justify="center">
                        <v-col cols="10">
                          <v-row no-gutters justify="space-between">
                            <v-col cols="3">
                              <v-btn
                                tile
                                small
                                depressed
                                height="34"
                                @click="decreaseQ(packagingInformation)"
                              >
                                <v-icon size="15">mdi-minus</v-icon>
                              </v-btn>
                            </v-col>

                            <v-col cols="4">
                              <v-text-field
                                solo
                                flat
                                dense
                                hide-details
                                class="quantity-text-field"
                                v-model="packagingInformation.quantity">
                              </v-text-field>
                            </v-col>

                            <v-col cols="3">
                              <v-btn
                                tile
                                small
                                depressed
                                height="34"
                                @click="increaseQ(packagingInformation)"
                              >
                                <v-icon size="15">mdi-plus</v-icon>
                              </v-btn>
                            </v-col>

                            <v-col cols="12" class="caption mt-1" v-if="dialogType === 'normal-order'">
                              Item in cart:
                              <span class="font-weight-bold">{{ packagingInformation['cart_quantity'] }}</span>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-col>

                    <v-col cols="3" class="text-center">
                      <v-btn
                             small
                             outlined
                             height="34"
                             color="darkOrange"
                             :loading="packagingInformation['btn_loading_state']"
                             @click="addProductToPreOrder(variant, packagingInformation)"
                      >
                        <v-icon small left>mdi-cart</v-icon>
                        Add To Pre Order
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import errorHandler from "@/helpers/shared/errorHandler";

export default {

  name: "SajiloPreOrderAddToCart",

  props: {
    dialogType: {
      type: String,
      default: 'normal-order'
    },
    productSlug: {
      type: String
    },
    stockDetail: {
      type: Array
    }
  },

  data() {

    return {

      dialogState: true,
      btnLoadingState: false,
    }

  },

  methods: {

    closeDialog() {

      this.dialogState = false;

      this.$emit('close-dialog');

    },

    decreaseQ(packingInformation) {
      if (packingInformation['quantity'] > 1) {
        packingInformation['quantity']--;
      }
    },
    increaseQ(packingInformation) {
        packingInformation['quantity']++;

    },

    addProductToPreOrder(variant, packagingInformation) {

      packagingInformation['btn_loading_state'] = true;

      const {warehouse_preorder_listing_code, product_variant_code} = variant;

      let payload = {
        wh_listing_code: warehouse_preorder_listing_code,
        requestValue: {
          quantity: packagingInformation['quantity'],
          product_slug: this.$route.params.slug ?? this.productSlug,
          package_code: packagingInformation.package_code,
        }
      }
      if (product_variant_code) {
        payload.requestValue['combination_name'] = product_variant_code;
      }

      this.$store.dispatch("cart/addProductToPreOrder", payload).then(response => {

        packagingInformation['ordered_quantity'] = response.data['quantity'];


        this.$store.commit('notification/COMMIT_SNACKBAR', {

          message: response['message'],

          color: 'success'

        });

      }).catch(e => {

        errorHandler(e, this);

      }).finally(() => {

        packagingInformation['btn_loading_state'] = false;

      });

    },

  }

}
</script>

<style lang="scss" scoped>
.quantity-text-field {
  border-radius: 0;
  font-size: 0.875rem;
  border: 1px solid #dfdfdf;
}

.quantity-text-field ::v-deep .v-input__control {
  min-height: 32px !important;

  input {
    text-align: center;
  }
}
</style>
