<template>
  <v-dialog v-model="verify_otp" width="60%" persistent style="border-radius: 5px !important;" class="pa-0">
    <v-row justify="center" class="my-3" style="background-color: #ffffff">
      <v-col cols="12" class="text-right">
        <v-btn icon :ripple="false" @click="closeOtpVerify">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="12" class="title  text-center text-black">
        OTP Verification
      </v-col>

      <v-col cols="12" lg="9" xl="9">
        <v-row justify="center">
          <v-col cols="12" md="4" lg="4" xl="4" class="text-right">
            <img src="~assets/img/store/otp.webp" alt="" width="200">
          </v-col>
          <v-col cols="12" md="5" lg="5" xl="5" class="text-center">
            <v-row justify="center"  dense  >
              <v-col cols="12">
                <span>We have sent the verification code to  </span>
              </v-col>
              <v-col cols="12">
                your <span class="title">{{getVerificationType}}</span>
<!--                {{emailOrPhone(getVerificationType)}}-->
              </v-col>
              <v-col cols="7" class="text-center mt-2">
                <v-otp-input
                  v-model="otp"
                  length="4"
                ></v-otp-input>
                <v-btn @click="verify()" color="primary" :loading="btn_loading">Submit</v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-dialog>

</template>

<script>

import errorHandler from "@/helpers/shared/errorHandler";
export default {
  data() {
    return {
      otp: '',
      verify_otp:true,
      btn_loading:false
    }
  },
  methods:{
    closeOtpVerify(){
      this.verify_otp = false;
      this.$emit('close_otp_verification')
    },
    verify(){
      if(this.fromProfileOrNot){
            if(this.getVerificationType === 'phone') {
              this.$store.dispatch("verification/verifyByPhone", data).then(() => {
                this.$store.commit("error/SET_422_ERROR", false);
                this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
                this.$router.push({
                  name: "store-profile",
                });
              }).catch(e => {
                this.$store.commit('notification/COMMIT_DIALOG', {
                  title: 'OTP',
                  message: 'Invalid OTP',
                });
                errorHandler(e, this);
              }).finally(()=>{
                this.btn_loading = false
              })
            } else {
              this.$store.dispatch("verification/verifyByEmail", data).then(() => {
                this.$store.commit("error/SET_422_ERROR", false);

                this.$store.commit("error/SET_422_ERROR_MESSAGE", null);
                this.$router.push({
                  name: "store-profile",
                });
              }).catch(e => {
                errorHandler(e, this);
                this.$store.commit('notification/COMMIT_DIALOG', {
                  title: 'OTP',
                  message: 'Invalid OTP',

                });
              }).finally(()=>{
                this.btn_loading = false
              })
            }
          }
      else{
        let data = new FormData();
        data.append('email',this.getUserDetails.email);
        data.append('password',this.getUserDetails.password);
        data.append('otp_code',this.otp);
        this.$store.dispatch('verification/verifyWhileCreatingStore', data).then(res =>{
          this.verify_otp = false;
          this.$emit('close_otp_verification');
          this.$store.commit("notification/COMMIT_SNACKBAR", {
            message: res.message,

            color: "success",
          });

          this.$router.push({name: 'store-login'});
          
        }).catch(err=>{
          errorHandler(err, this);
        })
      }
      },
    emailOrPhone(type){
      if(type === 'phone'){
        return this.getUserDetails.phone
      }else{
        return this.getUserDetails.email
      }
    }
  },
  computed: {
    getVerificationType() {
      return this.$store.getters["login/GET_SELECTED_VERIFICATION_TYPE"];
    },
    fromProfileOrNot(){
      return this.$store.getters['verification/SET_FROM_STORE_PROFILE']
    },
    getUserDetails() {
      return this.$store.getters["login/GET_USER_DETAILS"];
    }
  },
}
</script>
