<template>
  <v-container fluid class="pl-2 pl-xl-0 pl-lg-0 pt-0 pt-xl-2 pt-lg-2">
    <client-only>
      <div v-if="isAccountVerified">

        <v-row v-if="!dashboardInfo" no-gutters>
          <v-col cols="12">
            <div>
              <v-skeleton-loader
                type="article"
              ></v-skeleton-loader>

              <v-row no-gutters>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
              </v-row>
            </div>
          </v-col>

          <v-col cols="12">
            <div>
              <v-skeleton-loader
                type="article"
              ></v-skeleton-loader>

              <v-row no-gutters>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
              </v-row>
            </div>
          </v-col>

          <v-col cols="12">
            <div>
              <v-skeleton-loader
                type="article"
              ></v-skeleton-loader>

              <v-row no-gutters>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
              </v-row>
            </div>
          </v-col>

          <v-col cols="12">
            <div>
              <v-skeleton-loader
                type="article"
              ></v-skeleton-loader>

              <v-row no-gutters>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col cols="3" class="px-1">
                  <v-skeleton-loader
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
              </v-row>
            </div>
          </v-col>
        </v-row>

        <div v-if="dashboardInfo">
          <v-row v-if="$mq === 'mobile'"
                 no-gutters
                 justify="center"
                 class="dashboard pt-3 pt-xl-3 pt-lg-3 pb-16"
                 dense
          >
            <v-col cols="12" class="mt-2">
              <v-card>
                <v-row no-gutters class="px-5" dense>
                  <v-col cols="12" class="headline mt-5 font-weight-bold">{{
                      $t("overview_stats")
                    }}
                  </v-col>
                  <v-col cols="12" class="mt-3 mb-5">
                    <v-row dense>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card
                          elevation="3"
                          :to="{ name: 'store-orders-list' }"
                          class="pa-1"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="4"
                              class="text-center pt-5 pb-8"
                              style="background-color: #003574;"
                            >
                              <v-icon size="54" color="white"> mdi-gift</v-icon>
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3" align="center">
                              <span class="title"> {{ $t("all_orders") }}</span>
                              <div v-if="isVerified" class="subtitle-2">
                                ({{
                                  dashboardInfo["orders_count"][
                                    "delivery_status"
                                    ]["total_orders"]
                                }})
                              </div>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2" class="mt-4">
                        <v-card elevation="3" class="pa-1">
                          <v-row no-gutters>
                            <v-col
                              cols="4"
                              class="text-center pt-5 pb-8"
                              style="background-color: #003574"
                            >
                              <v-icon size="54" color="white">
                                mdi-baby-carriage
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3" align="center">
                              <span class="title"> {{ $t("received") }}</span>
                              <div v-if="isVerified" class="subtitle-2">
                                ({{
                                  dashboardInfo["orders_count"][
                                    "delivery_status"
                                    ]["total_orders"]
                                }})
                              </div>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2" class="mt-4">
                        <v-card elevation="3" class="pa-1">
                          <v-row no-gutters>
                            <v-col
                              cols="4"
                              class="text-center pt-5 pb-8"
                              style="background-color: #e35a30"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-progress-check
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3" align="center">
                              <div class="subtitle-2">
                                ( {{ $t("delivery") }} )
                              </div>
                              <span class="title">{{ $t("processing") }}</span>
                              <div v-if="isVerified" class="subtitle-2 mr-2">
                                ({{
                                  dashboardInfo["orders_count"][
                                    "delivery_status"
                                    ]["processing"]
                                }}) orders
                              </div>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>

            <!--          investment-->
            <v-col cols="12" class="mt-2">
              <v-card>
                <v-row no-gutters class="px-5" dense>
                  <v-col cols="12" class="headline font-weight-bold mt-5">{{
                      $t("investment")
                    }}
                  </v-col>
                  <v-col cols="12" class="mt-3 mb-5">
                    <v-row dense>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card
                          elevation="3"
                          :to="{ name: 'store-investment-my-portfoilo' }"
                          class="pa-1"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="4"
                              class="text-center pt-5 pb-8"
                              style="background-color: #959494"
                            >
                              <v-icon size="54" color="white">
                                mdi-briefcase
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3" align="center">
                              <span class="title"> {{ $t("my_portfolio") }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2" class="mt-4">
                        <v-card
                          elevation="3"
                          class="pa-1"
                          :to="{ name: 'store-investment-offered-investment' }"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="4"
                              class="text-center pt-5 pb-8"
                              style="background-color: #959494"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-account-cash
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3" align="center">
                            <span class="title">{{
                                $t("offered_investment")
                              }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>

            <!--          balance-->
            <v-col cols="12" class="mt-2">
              <v-card>
                <v-row no-gutters class="px-5" dense>
                  <v-col cols="12" class="headline font-weight-bold mt-5">{{
                      $t("balance")
                    }}
                  </v-col>
                  <v-col cols="12" class="mt-3 mb-5">
                    <v-row dense>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card
                          elevation="3"
                          class="pa-1"
                          :to="{ name: 'store-balance-info' }"
                          style="border-radius: 5px !important"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="4"
                              class="text-center pt-5 pb-8"
                              style="background-color: darkgreen"
                              dashboard_card
                            >
                              <v-icon size="54" color="white"> mdi-cash</v-icon>
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3" align="center">
                              <span class="title">{{ $t("load_balance") }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2" class="mt-4">
                        <v-card
                          class="pa-1"
                          elevation="3"
                          :to="{ name: 'store-balance-withdraw-list' }"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="4"
                              class="text-center pt-5 pb-8"
                              style="background-color: #d21c1c"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-cash-multiple
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3" align="center">
                              <span class="title">{{ $t("withdraw") }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2" class="mt-4">
                        <v-card
                          elevation="3"
                          class="pa-1"
                          :to="{ name: 'store-balance-payment-list' }"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="4"
                              class="text-center pt-5 pb-8"
                              style="background-color: #03a9f4"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-note-text-outline
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3" align="center">
                              <span class="title">{{ $t("payment_list") }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2" class="mt-4">
                        <v-card
                          elevation="3"
                          class="pa-1"
                          :to="{ name: 'store-balance-statement-list' }"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="4"
                              class="text-center pt-5 pb-8"
                              style="background-color: #2c4373"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-clipboard-list
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3" align="center">
                              <span class="title">{{ $t("statement") }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
            <!--          inventory management-->
            <v-col cols="12" class="mt-2">
              <v-card>
                <v-row no-gutters class="px-5">
                  <v-col cols="12" class="headline font-weight-bold mt-5">{{
                      $t("inventory_management")
                    }}
                  </v-col>
                  <v-col cols="12" class="mt-3 mb-5">
                    <v-row>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card elevation="3" class="pa-1">
                          <v-row no-gutters>
                            <v-col
                              cols="4"
                              class="text-center pt-5 pb-8"
                              style="background-color: #959494"
                            >
                              <v-icon size="54" color="white">
                                mdi-account-wrench
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3" align="center">
                            <span class="title"
                            >{{ $t("account_setup") }}
                            </span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2" class="mt-4">
                        <v-card elevation="3" class="pa-1">
                          <v-row no-gutters>
                            <v-col
                              cols="4"
                              class="text-center pt-5 pb-8"
                              style="background-color: #959494"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-progress-check
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3" align="center">
                            <span class="title">{{
                                $t("inventory_records")
                              }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>

            <!--          comment-->
            <!--          <v-col cols="12" class="mt-5">-->
            <!--            <v-row justify="space-between" class="py-5">-->
            <!--              <v-col cols="12">-->
            <!--                <v-card>-->
            <!--                  <v-row no-gutters class="px-5 py-5">-->
            <!--                    <v-col cols="12" class="headline">Latest Added Orders:</v-col>-->
            <!--                    <v-col cols="12" class="mt-3">-->
            <!--                      <v-data-table-->
            <!--                        no-data-text="No data found!"-->
            <!--                        :headers="headers"-->
            <!--                        :items="dashboardInfo['latestOrders']">-->
            <!--                        <template v-slot:item.store_order_code="{ item }">-->
            <!--                          <v-btn :ripple="false" small elevation="0" text-->
            <!--                                 :to="{ name: 'SingleOrderDetail',params: {order_code: item.store_order_code}}"-->
            <!--                                 class="font-weight-medium links static_new_tab_button_design">-->
            <!--                            {{ item['store_order_code'] }}-->
            <!--                          </v-btn>-->
            <!--                        </template>-->
            <!--                        <template v-slot:item.total_price="{ item }">-->
            <!--                          <span class="font-weight-medium">Rs. {{ item['total_price'] }}</span>-->
            <!--                        </template>-->
            <!--                        <template v-slot:item.acceptable_price="{ item }">-->
            <!--                          <span class="font-weight-medium">Rs. {{ item['acceptable_price'] }}</span>-->
            <!--                        </template>-->
            <!--                        <template v-slot:item.payment_status="{ item }">-->
            <!--                          <v-chip label text-color="white" small-->
            <!--                                  :color="paymentStatus[item.payment_status]"-->
            <!--                                  dark-->
            <!--                          >-->
            <!--                            <span class="text-uppercase font-weight-medium">{{ item.payment_status }}</span>-->
            <!--                          </v-chip>-->
            <!--                        </template>-->
            <!--                        <template v-slot:item.delivery_status="{ item }">-->
            <!--                          <v-chip label text-color="white" small-->
            <!--                                  :color="deliveryStatus[item.delivery_status]"-->
            <!--                                  dark-->
            <!--                          >-->
            <!--                            <span class="text-uppercase font-weight-medium">{{ item.delivery_status }}</span>-->
            <!--                          </v-chip>-->
            <!--                        </template>-->
            <!--                        <template v-slot:item.created_at="{ item }">-->
            <!--                          <span class="font-weight-medium">{{ item['created_at'].substring(0, 10) }}</span>-->
            <!--                        </template>-->
            <!--                      </v-data-table>-->
            <!--                    </v-col>-->
            <!--                    <v-col cols="12" class="body-2 text-center mt-4">-->
            <!--                      <v-btn elevation="0" text small :ripple="false" class="links static_new_tab_button_design"-->
            <!--                             :to="{name:'store-orders-list'}">View More Orders-->
            <!--                      </v-btn>-->
            <!--                    </v-col>-->
            <!--                  </v-row>-->
            <!--                </v-card>-->
            <!--              </v-col>-->
            <!--            </v-row>-->
            <!--          </v-col>-->
          </v-row>

          <v-row v-else
                 no-gutters
                 justify="center"
                 class="dashboard px-5 pt-3 pt-xl-3 pt-lg-3 pb-16"
                 dense
          >
            <v-col cols="12" class="mt-2">
              <v-card>
                <v-row no-gutters class="px-5" dense>
                  <v-col cols="12" class="headline mt-5 font-weight-bold">{{
                      $t("overview_stats")
                    }}
                  </v-col>
                  <v-col cols="12" class="mt-3 mb-5">
                    <v-row dense>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card
                          elevation="3"
                          :to="{ name: 'store-orders-list' }"
                          class="pa-1"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="12"
                              md="5"
                              lg="5"
                              class="text-center dashboard_card pt-5 pb-8"
                              style="background-color: #003574"
                            >
                              <v-icon size="54" color="white"> mdi-gift</v-icon>
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3">
                              <span class="title"> {{ $t("all_orders") }}</span>
                              <div v-if="isVerified" class="subtitle-2">
                                ({{
                                  dashboardInfo["orders_count"][
                                    "delivery_status"
                                    ]["total_orders"]
                                }})
                              </div>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card elevation="3" class="pa-1">
                          <v-row no-gutters>
                            <v-col
                              cols="12"
                              md="5"
                              lg="5"
                              class="text-center dashboard_card pt-5 pb-8"
                              style="background-color: #003574"
                            >
                              <v-icon size="54" color="white">
                                mdi-baby-carriage
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3">
                              <span class="title"> {{ $t("received") }}</span>
                              <div v-if="isVerified" class="subtitle-2">
                                ({{
                                  dashboardInfo["orders_count"][
                                    "delivery_status"
                                    ]["total_orders"]
                                }})
                              </div>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card elevation="3" class="pa-1">
                          <v-row no-gutters>
                            <v-col
                              cols="12"
                              md="5"
                              lg="5"
                              class="text-center pt-5 pb-8 dashboard_card"
                              style="background-color: #e35a30"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-progress-check
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3">
                              <div class="subtitle-2">
                                ( {{ $t("delivery") }} )
                              </div>
                              <span class="title">{{ $t("processing") }}</span>
                              <div v-if="isVerified" class="subtitle-2 mr-2">
                                ({{
                                  dashboardInfo["orders_count"][
                                    "delivery_status"
                                    ]["processing"]
                                }}) orders
                              </div>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>

            <!--          investment-->
            <v-col cols="12" class="mt-2">
              <v-card>
                <v-row no-gutters class="px-5" dense>
                  <v-col cols="12" class="headline mt-5">{{
                      $t("investment")
                    }}
                  </v-col>
                  <v-col cols="12" class="mt-3 mb-5">
                    <v-row dense>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card
                          elevation="3"
                          :to="{ name: 'store-investment-my-portfoilo' }"
                          class="pa-1"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="12"
                              md="5"
                              lg="5"
                              class="text-center pt-5 pb-8 dashboard_card"
                              style="background-color: #959494"
                            >
                              <v-icon size="54" color="white">
                                mdi-briefcase
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3">
                              <span class="title"> {{ $t("my_portfolio") }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card
                          elevation="3"
                          class="pa-1"
                          :to="{ name: 'store-investment-offered-investment' }"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="12"
                              md="5"
                              lg="5"
                              class="text-center pt-5 pb-8 dashboard_card"
                              style="background-color: #959494"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-account-cash
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3">
                            <span class="title">{{
                                $t("offered_investment")
                              }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>

            <!--          balance-->
            <v-col cols="12" class="mt-2">
              <v-card>
                <v-row no-gutters class="px-5" dense>
                  <v-col cols="12" class="headline mt-5">{{
                      $t("balance")
                    }}
                  </v-col>
                  <v-col cols="12" class="mt-3 mb-5">
                    <v-row dense>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card
                          elevation="3"
                          class="pa-1"
                          :to="{ name: 'store-balance-info' }"
                          style="border-radius: 5px !important"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="12"
                              md="5"
                              lg="5"
                              class="text-center pt-5 pb-8 dashboard_card"
                              style="background-color: darkgreen"
                              dashboard_card
                            >
                              <v-icon size="54" color="white"> mdi-cash</v-icon>
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3">
                              <span class="title">{{ $t("load_balance") }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card
                          class="pa-1"
                          elevation="3"
                          :to="{ name: 'store-balance-withdraw-list' }"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="12"
                              md="5"
                              lg="5"
                              class="text-center pt-5 pb-8 dashboard_card"
                              style="background-color: #d21c1c"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-cash-multiple
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3">
                              <span class="title">{{ $t("withdraw") }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card
                          elevation="3"
                          class="pa-1"
                          :to="{ name: 'store-balance-payment-list' }"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="12"
                              md="5"
                              lg="5"
                              class="text-center pt-5 pb-8 dashboard_card"
                              style="background-color: #03a9f4"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-note-text-outline
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3">
                              <span class="title">{{ $t("payment_list") }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card
                          elevation="3"
                          class="pa-1"
                          :to="{ name: 'store-balance-statement-list' }"
                        >
                          <v-row no-gutters>
                            <v-col
                              cols="12"
                              md="5"
                              lg="5"
                              class="text-center pt-5 pb-8 dashboard_card"
                              style="background-color: #2c4373"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-clipboard-list
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3">
                              <span class="title">{{ $t("statement") }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
            <!--          inventory management-->
            <v-col cols="12" class="mt-2">
              <v-card>
                <v-row no-gutters class="px-5">
                  <v-col cols="12" class="headline mt-5">{{
                      $t("inventory_management")
                    }}
                  </v-col>
                  <v-col cols="12" class="mt-3 mb-5">
                    <v-row>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card elevation="3" class="pa-1">
                          <v-row no-gutters>
                            <v-col
                              cols="12"
                              md="5"
                              lg="5"
                              class="text-center pt-5 pb-8 dashboard_card"
                              style="background-color: #959494"
                            >
                              <v-icon size="54" color="white">
                                mdi-account-wrench
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3">
                            <span class="title"
                            >{{ $t("account_setup") }}
                            </span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" lg="3" xl="2">
                        <v-card elevation="3" class="pa-1">
                          <v-row no-gutters>
                            <v-col
                              cols="12"
                              md="5"
                              lg="5"
                              class="text-center pt-5 pb-8 dashboard_card"
                              style="background-color: #959494"
                            >
                              <!--                          <i class="fa fa-spinner"></i>-->
                              <v-icon size="54" color="white"
                              >mdi-progress-check
                              </v-icon
                              >
                            </v-col>
                            <v-col cols="7" class="pl-5 mt-3">
                            <span class="title">{{
                                $t("inventory_records")
                              }}</span>
                            </v-col>
                          </v-row>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>

            <!--          comment-->
            <!--          <v-col cols="12" class="mt-5">-->
            <!--            <v-row justify="space-between" class="py-5">-->
            <!--              <v-col cols="12">-->
            <!--                <v-card>-->
            <!--                  <v-row no-gutters class="px-5 py-5">-->
            <!--                    <v-col cols="12" class="headline">Latest Added Orders:</v-col>-->
            <!--                    <v-col cols="12" class="mt-3">-->
            <!--                      <v-data-table-->
            <!--                        no-data-text="No data found!"-->
            <!--                        :headers="headers"-->
            <!--                        :items="dashboardInfo['latestOrders']">-->
            <!--                        <template v-slot:item.store_order_code="{ item }">-->
            <!--                          <v-btn :ripple="false" small elevation="0" text-->
            <!--                                 :to="{ name: 'SingleOrderDetail',params: {order_code: item.store_order_code}}"-->
            <!--                                 class="font-weight-medium links static_new_tab_button_design">-->
            <!--                            {{ item['store_order_code'] }}-->
            <!--                          </v-btn>-->
            <!--                        </template>-->
            <!--                        <template v-slot:item.total_price="{ item }">-->
            <!--                          <span class="font-weight-medium">Rs. {{ item['total_price'] }}</span>-->
            <!--                        </template>-->
            <!--                        <template v-slot:item.acceptable_price="{ item }">-->
            <!--                          <span class="font-weight-medium">Rs. {{ item['acceptable_price'] }}</span>-->
            <!--                        </template>-->
            <!--                        <template v-slot:item.payment_status="{ item }">-->
            <!--                          <v-chip label text-color="white" small-->
            <!--                                  :color="paymentStatus[item.payment_status]"-->
            <!--                                  dark-->
            <!--                          >-->
            <!--                            <span class="text-uppercase font-weight-medium">{{ item.payment_status }}</span>-->
            <!--                          </v-chip>-->
            <!--                        </template>-->
            <!--                        <template v-slot:item.delivery_status="{ item }">-->
            <!--                          <v-chip label text-color="white" small-->
            <!--                                  :color="deliveryStatus[item.delivery_status]"-->
            <!--                                  dark-->
            <!--                          >-->
            <!--                            <span class="text-uppercase font-weight-medium">{{ item.delivery_status }}</span>-->
            <!--                          </v-chip>-->
            <!--                        </template>-->
            <!--                        <template v-slot:item.created_at="{ item }">-->
            <!--                          <span class="font-weight-medium">{{ item['created_at'].substring(0, 10) }}</span>-->
            <!--                        </template>-->
            <!--                      </v-data-table>-->
            <!--                    </v-col>-->
            <!--                    <v-col cols="12" class="body-2 text-center mt-4">-->
            <!--                      <v-btn elevation="0" text small :ripple="false" class="links static_new_tab_button_design"-->
            <!--                             :to="{name:'store-orders-list'}">View More Orders-->
            <!--                      </v-btn>-->
            <!--                    </v-col>-->
            <!--                  </v-row>-->
            <!--                </v-card>-->
            <!--              </v-col>-->
            <!--            </v-row>-->
            <!--          </v-col>-->
          </v-row>
        </div>
      </div>
    </client-only>
  </v-container>
</template>

<script>
export default {
  name: "info",

  data() {
    return {
      headers: [
        {text: "Order Code", value: "store_order_code"},
        {text: "Total Price", value: "total_price"},
        {text: "Payable Price", value: "acceptable_price"},
        {text: "Delivery Status", value: "delivery_status"},
        {text: "Date", value: "created_at"},
      ],
      paymentStatus: {
        Paid: "green",
        Pending: "orange",
        Unpaid: "primary",
        Rejected: "red",
      },
      deliveryStatus: {
        Accepted: "green",
        Cancelled: "red",
        Processing: "primary",
        Pending: "orange",
        Dispatched: "red",
        "Under-verification": "#68b36b",
        "Partially-accepted": "green",
      },
    };
  },

  layout: "store-dashboard",

  middleware: 'shared/authenticated',

  fetch() {
    this.$store.dispatch("dashboard/getStoreDashboardInfo");
  },

  computed: {
    dashboardInfo() {
      return this.$store.getters["dashboard/GET_DASHBOARD_INFO"];
    },

    isAccountVerified() {
      return (
        this.$store.getters["login/ACCOUNT_STATUS"]["status"] === "approved"
      );
    },

    isVerified() {
      return this.$store.getters["dashboard/GET_DASHBOARD_INFO"][
        "store_barrier_conditions"
        ]["verified"];
    },
  },
};
</script>

<style scoped>
</style>
