<template>
  <v-container fluid>
    <v-row class="py-4 px-0" no-gutters>
      <v-col v-for="index in 10" :key="index" cols="12" lg="3" md="4">
        <v-skeleton-loader
            class="skeleton_loader_image pa-3 ma-auto"
            max-width="250"
            tile
            type="image, list-item-two-line"
        ></v-skeleton-loader>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "CategoryFilterProducts"
}
</script>