<template>
  <v-container fluid>
    <v-row no-gutters>
      <v-col cols="12">
        <v-skeleton-loader type="heading" tile class="box_to_show_titles"></v-skeleton-loader>
      </v-col>
      <v-col cols="12" class="mt-1" v-for="i in 5" :key="i">
        <v-row no-gutters>
          <v-col cols="1">
            <v-row align="center" justify="center" no-gutters>
              <v-col cols="12">
                <v-skeleton-loader tile type="button" class="checkbox_skeleton_loader mt-2"></v-skeleton-loader>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="8">
            <v-skeleton-loader tile type="text" class="mt-3 ml-2"></v-skeleton-loader>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12">
        <v-skeleton-loader type="heading" tile class="box_to_show_titles mt-2"></v-skeleton-loader>
      </v-col>
      <v-col cols="11">
        <v-skeleton-loader type="text" tile class="mt-7 mx-3"></v-skeleton-loader>
      </v-col>
      <v-col cols="3">
        <v-skeleton-loader type="button mt-2" tile></v-skeleton-loader>
        <v-skeleton-loader type="text mt-2" tile></v-skeleton-loader>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="3">
        <v-skeleton-loader type="button mt-2" tile></v-skeleton-loader>
        <v-skeleton-loader type="text mt-2" tile></v-skeleton-loader>
      </v-col>
      <v-col cols="12" class="px-8">
        <v-skeleton-loader type="button" class="large_button_skeleton mt-6" tile></v-skeleton-loader>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "CategoryFilterColumn"
}
</script>