<template>
<v-container fluid>
    <v-row no-gutters class="pa-3 pa-lg-0">
      <v-col class="mt-5" cols="6" lg="3" md="3" sm="2">
        <v-skeleton-loader type="heading" class=" mt-2 finalization_time_text_skeleton" tile></v-skeleton-loader>
      </v-col>
      <v-col class="mt-5" cols="6" lg="3" md="3" sm="2">
        <v-skeleton-loader type="heading" class="mt-2 finalization_time_text_skeleton" tile></v-skeleton-loader>
      </v-col>
      <v-col cols="12">
        <v-skeleton-loader type="image" class="mt-5 pre_order_notification_height" tile></v-skeleton-loader>
      </v-col>
    </v-row>
    <v-row class="mt-3" no-gutters>
      <v-col cols="4">
       <v-row class="mt-4" no-gutters>
         <v-col cols="12">
           <v-skeleton-loader type="heading" tile></v-skeleton-loader>
         </v-col>
         <v-col cols="11">
           <v-skeleton-loader type="text" class="mt-3" tile></v-skeleton-loader>
         </v-col>
       </v-row>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="4">
        <v-row>
          <v-spacer></v-spacer>
          <v-col cols="3">
            <v-skeleton-loader class="mt-7" tile type="text"></v-skeleton-loader>
          </v-col>
          <v-col cols="4">
            <v-skeleton-loader class="mt-4" type="button" tile></v-skeleton-loader>
          </v-col>
          <v-col cols="4">
            <v-skeleton-loader class="mt-4" type="button" tile></v-skeleton-loader>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  <v-divider class="mt-3 pt-3"></v-divider>
</v-container>
</template>

<script>
export default {
name: "PreOrderWarehouseDates"
}
</script>