<template>
 <v-container fluid>
   <PreOrderWarehouseDates></PreOrderWarehouseDates>
   <CategoryFilterProducts></CategoryFilterProducts>
 </v-container>
</template>

<script>
import PreOrderWarehouseDates from "./PreOrderWarehouseDates";
import CategoryFilterProducts from "./CategoryFilterProducts";
export default {
  name: "PreOrderSkeletonOfWarehouseDateAndProducts",
  components: {CategoryFilterProducts, PreOrderWarehouseDates}
}
</script>