<template>
<v-container fluid>
  <v-skeleton-loader tile type="button" class="skeleton-loader-for-tab" height="50px"></v-skeleton-loader>
</v-container>
</template>

<script>
export default {
  name: "PreOrderDates"
}
</script>