<template>
  <div>
    <SajiloAddToCart
      :product-slug="selectedProductSlug"
      :stock-detail="productStockList"
      v-if="productStockList.length>0"
      @close-dialog="closeStockInfoDialog"
    >
    </SajiloAddToCart>
    <v-row no-gutters v-if="products.length > 0">
      <v-col cols="6" sm="6" md="3" lg="3" xl="3" class="my-3" v-for="(product, index) in products" :key="index">
        <v-card
          tile
          hover
          class="mx-2"
          color="grey lighten-4"
        >
          <div class="product_image_zoomer">
            <v-card tile elevation="0"
                    :to="{name:'PreOrderDetail',params:{product_slug:product['product_slug']}}">
              <v-img img
                     :height="$mq==='mobile'?150:200"
                     class="product_image"
                     :src="product.featured_image" lazy-src="~assets/img/store/image_loader.png"
              ></v-img>
            </v-card>
          </div>
          <v-divider></v-divider>
          <v-row no-gutters class="pa-2 pt-0">
            <v-col cols="12" :class="$mq==='mobile'?'mobile_related_product_name':'related_product_name'">
                        <span class="font-weight-medium cursor_on_hover">{{ product.product_name }}</span>
            </v-col>
            <v-col class="caption price_color  mb-0 pb-0 mt-0" :class="$mq==='mobile'?'':'font-weight-bold'" cols="12">
                  {{ product.price }}
            </v-col>
            <v-col cols="12" class="related_product_category" v-if="product['brand']">
              Brand: {{ product.brand | truncate(30) }}
            </v-col>
            <v-col cols="12" class="related_product_category">
              <v-row no-gutters>
                <v-col cols="12">
                  <div v-if="product['category']">Category: {{ product.category | truncate(30) }}</div>
                </v-col>
              </v-row>
            </v-col>
            <v-col :cols="$mq==='mobile'?12:7" class=" mb-2">
              <v-rating
                dense
                small
                background-color="grey darken-1"
                color="yellow darken-3"
                v-model="rating"
              ></v-rating>
            </v-col>
            <v-col
                   :cols="$mq==='mobile'?12:5" >
              <v-btn @click="openProductStockDialog(product)"
                     v-if="can_pre_order['can_pre_order'] && isBillable === 1"
                     class="white--text"
                     tile
                     x-small color="darkOrange">
                PreOrder
              </v-btn>
              <v-btn outlined v-else-if="can_pre_order['can_pre_order'] && isBillable === 0"
                     @click="displayMessageWithForm()" tile x-small
                     color="darkOrange"
                     dark>
                PreOrder
              </v-btn>
              <v-btn :to="{name:'store-preorder-detail',params:{product_slug:product['product_slug']}}"
                     v-else
                     color="darkOrange"
                     class="white--text"
                     tile
                     x-small
              >
                Preview
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else style="height: 300px" align="center" justify="center">
      <v-col cols="8" xl="4" lg="4" class="text-uppercase text-center font-weight-bold">
        <div>
          <img height="250" src="@/assets/img/shared/no-products.webp">
        </div>
        <div class="text-left ml-xl-5 ml-lg-5 ml-4">
          No Products Available
        </div>
      </v-col>
    </v-row>
    <v-row v-if="load_more" align="center" justify="center" class="mt-4">
      <v-progress-circular
        width="3"
        indeterminate
        color="primary"
        size="35">
      </v-progress-circular>
    </v-row>
    <v-row align="center" justify="center" class="mt-8" v-if="no_more_products && products.length>0">
      <v-col cols="12" xl="4" lg="4" class="text-uppercase font-weight-bold">No More Products.</v-col>
    </v-row>
    <v-dialog
      v-model="storeDetailFormDialog"
      persistent
      max-width="1000"
    >
      <StoreDetailDialog v-on:closeDialog="closeDialog"></StoreDetailDialog>
    </v-dialog>
  </div>
</template>

<script>
export default {

  name: "GridViewLayout",

  props: ['products', 'load_more', 'no_more_products', 'can_pre_order'],

  components: {

    StoreDetailDialog: () => import ("@/components/shared/StoreDetailDialog"),
    SajiloAddToCart: () => import("@/components/shared/preorder-detail-page/SajiloPreOrderAddToCart")

  },

  data() {

    return {

      openDialogToAddToCart: false,
      selectedProductSlug: '',
      selectedProductName: '',
      sheet: false,
      rating: 3,
      productStockList: [],
      dialogState: false,
      popularProduct: true,
      showQuickStockInfoBtnLoadingState: false,
      storeDetailFormDialog: false

    }

  },
  computed: {
    isBillable() {
      return this.$store.getters['login/IS_BILLABLE']
    },
  },

  methods: {

    openProductStockDialog(product) {


      const {product_code} = product;

      this.selectedProductSlug = product.product_slug;
      const {warehouse_preorder_listing_code} = product;
      const data = {
        warehouse_preorder_listing_code,
        product_code
      }

      this.$store.dispatch("preOrder/getPreOrderListViewDetails", data).then(response => {

        this.productStockList = response.data.map(product => {

          product['packaging_information'] = product['packaging_information'].map(item => {

            item['btn_loading_state'] = false;

            item['quantity'] = 1;

            return item;

          });

          return product;

        });

        this.sheet = true;

      });

    },

    closeStockInfoDialog() {

      this.sheet = false;

      this.productStockList = [];

    },

    goToProductDetail(slug) {

      this.$router.push({

        name: 'store-preorder-product_slug-detail', params: {product_slug: slug}

      })

    },

    displayMessageWithForm() {
      this.storeDetailFormDialog = true;
    },
    closeDialog(value) {
      this.storeDetailFormDialog = value;
    },

  }

}
</script>

<style scoped>

</style>
