<template>
  <div>
    <SajiloAddToCart
      :product-slug="selectedProductSlug"
      :stock-detail="productStockList"
      v-if="productStockList.length>0"
      @close-dialog="closeStockInfoDialog"
    >
    </SajiloAddToCart>
    <v-row v-if="products.length>0" dense no-gutters class="pt-0">
      <v-col cols="12" class="pt-0">
<!--        <v-card v-for="(product,index) in products" class="card_hover pa-3" :key="index" elevation="0"-->
<!--                min-width="100%">-->
<!--          <v-row dense no-gutters>-->
<!--            <v-col cols="3">-->
<!--              <v-hover v-slot:default="{ hover }">-->
<!--                <div class="product_image_zoomer">-->
<!--                  <v-img-->
<!--                    :to="{name:'store-preorder-detail',params:{product_slug:product['product_slug']}}"-->
<!--                       class="product_image" height="180" width="180"-->
<!--                       lazy-src="~assets/img/store/image_loader.png"-->
<!--                    :class="{ product_image_hover: hover }" :src="product.featured_image"></v-img>-->
<!--                </div>-->
<!--              </v-hover>-->
<!--            </v-col>-->
<!--            <v-col cols="9" xl="6" lg="6" md="9">-->
<!--              <div class="title font-weight-medium mb-2 product_name" @click="goToDetailPage(product.product_slug)">-->
<!--                {{ product.product_name }}-->
<!--              </div>-->
<!--              <v-rating-->
<!--                dense-->
<!--                small-->
<!--                background-color="grey darken-1"-->
<!--                color="yellow darken-3"-->
<!--                v-model="rating"-->
<!--              ></v-rating>-->
<!--              <div>-->
<!--                <div class="caption font-weight-regular mb-1" v-for="(highlight, index) in product['highlights']"-->
<!--                     :key="index">-->
<!--                  <span class="mr-1"><v-icon x-small>mdi-circle-medium</v-icon></span>{{ highlight }}-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="title font-weight-medium mb-2 product_name">-->
<!--                <v-btn @click="openProductStockDialog(product)"-->
<!--                      small color="darkOrange" tile class="white&#45;&#45;text">-->
<!--                  add to preorder-->
<!--                </v-btn>-->
<!--              </div>-->
<!--            </v-col>-->
<!--            <v-col cols="12" xl="3" lg="3" md="12">-->
<!--              <div class="title font-weight-medium product_price">{{ product.price }}</div>-->
<!--            </v-col>-->
<!--          </v-row>-->
<!--          <v-divider class="mt-6" style="opacity: 0.6;"></v-divider>-->
<!--        </v-card>-->
        <v-card v-for="(product,index) in products" class="card_hover pa-2 mb-3" :key="index" elevation="4"
                min-width="100%">
          <v-row dense no-gutters>
            <v-col cols="4" xl="2" lg="2" md="2">
              <v-hover v-slot:default="{ hover }">
                <div class="product_image_zoomer"  >
                  <v-img
                    :to="{name:'store-preorder-detail',params:{product_slug:product['product_slug']}}"
                    class="product_image"
                    :height="$mq==='mobile'?80:180" :width="$mq==='mobile'?80:180"
                    lazy-src="~assets/img/store/image_loader.png"
                    :class="{ product_image_hover: hover }" :src="product.featured_image"></v-img>
                </div>
              </v-hover>
            </v-col>
            <v-col cols="8" xl="8" lg="8" md="8">
              <div  :class="$mq==='mobile'?'mobile_related_product_name mb-1':'related_product_name'" @click="goToDetailPage(product.product_slug)">
                {{ product.product_name }}
              </div>
              <div :class="$mq==='mobile'?'':'font-weight-bold'" class="caption font-weight-medium product_price" v-if="product.price !== 'N/A' && $mq==='mobile'">{{ product.price }}</div>
              <div>
                    <v-rating
                      dense
                      small
                      background-color="grey darken-1"
                      color="yellow darken-3"
                      v-model="rating"
                    ></v-rating>
              </div>
              <div>
                <div :class="$mq==='mobile'?'mobile_related_product_name':'related_product_name'" class=" mt-0">
                  Brand : {{product.brand}}
                </div>
                <div :class="$mq==='mobile'?'mobile_related_product_name':'related_product_name'" class="">
                  Category : {{product.category}}
                </div>
                <div :class="$mq==='mobile'?'mobile_related_product_name':'related_product_name'" class="" v-for="(highlight, index) in product['highlights']"
                     :key="index">
                  <span class="mr-1"><v-icon x-small>mdi-circle-medium</v-icon></span>{{ highlight }}
                </div>
              </div>
              <div class="title font-weight-medium mb-2 product_name">
                <v-btn @click="openProductStockDialog(product)"
                       v-if="can_pre_order['can_pre_order'] && isBillable === 1"
                       class="white--text"
                       tile
                       x-small color="darkOrange">
                  PreOrder
                </v-btn>
                <v-btn outlined v-else-if="can_pre_order['can_pre_order'] && isBillable === 0"
                       @click="displayMessageWithForm()" tile x-small
                       color="darkOrange"
                       dark>
                  PreOrder
                </v-btn>
                <v-btn :to="{name:'store-preorder-detail',params:{product_slug:product['product_slug']}}"
                       v-else
                       color="darkOrange"
                       class="white--text"
                       tile
                       x-small
                >
                  Preview
                </v-btn>
              </div>
            </v-col>
            <v-col v-if="$mq==='desktop' || $mq==='xlscreen' || $mq==='laptop'" cols="12" xl="2" lg="2" md="2">
              <div class="title font-weight-medium product_price" v-if="product.price !== 'N/A'">{{ product.price }}</div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else style="height: 300px" align="center" justify="center">
      <v-col cols="8" xl="4" lg="4" class="text-uppercase font-weight-bold">
        <div>
          <img height="250" src="@/assets/img/shared/no-products.webp">
        </div>
        <div class="text-center ml-xl-5 ml-lg-5 ml-4">
          No Products Available
        </div>
      </v-col>
    </v-row>
    <v-row v-if="load_more" align="center" justify="center" class="mt-4">
      <v-progress-circular
        width="3"
        indeterminate
        color="primary"
        size="35">
      </v-progress-circular>
    </v-row>
    <v-row align="center" justify="center" class="title font-weight-medium mt-8"
           v-if="no_more_products && products.length>0">
      No more products to load.
    </v-row>
    <v-dialog
      v-model="storeDetailFormDialog"
      persistent
      max-width="1000"
    >
      <StoreDetailDialog v-on:closeDialog="closeDialog"></StoreDetailDialog>
    </v-dialog>
  </div>
</template>

<script>
export default {

  name: "ListViewLayout",

  props: ['products', 'load_more', 'no_more_products', 'can_pre_order'],

  components:{
    SajiloAddToCart: () => import("@/components/shared/preorder-detail-page/SajiloPreOrderAddToCart"),
    StoreDetailDialog: () => import ("@/components/shared/StoreDetailDialog"),
  },

  data() {

    return {

      sheet: false,
      selectedProductSlug: '',
      selectedProductName: '',
      productStockList: [],
      rating: 3,
      storeDetailFormDialog: false
    }

  },

  computed: {
    isBillable() {
      return this.$store.getters['login/IS_BILLABLE']
    },
  },


  methods: {

    displayMessageWithForm() {
      this.storeDetailFormDialog = true;
    },
    closeDialog(value) {
      this.storeDetailFormDialog = value;
    },
    openProductStockDialog(product) {

      const {product_code} = product;

      this.selectedProductSlug = product.product_slug;
      const {warehouse_preorder_listing_code} = product;
      const data = {
        warehouse_preorder_listing_code,
        product_code
      }

      this.$store.dispatch("preOrder/getPreOrderListViewDetails", data).then(response => {


        this.productStockList = response.data.map(product => {

          product['packaging_information'] = product['packaging_information'].map(item => {

            item['btn_loading_state'] = false;

            item['quantity'] = 1;

            return item;

          });

          return product;

        });

        this.sheet = true;

      });

    },

    closeStockInfoDialog() {

      this.sheet = false;

      this.productStockList = [];

    },

    goToDetailPage(slug) {

      this.$router.push({

      name:'PreOrderDetail',params:{product_slug:slug}

      })

    },

  }

}
</script>

<style scoped>

</style>
