<template>
  <v-app-bar dense app color="darkBlue" dark clipped-left class="app_bar_button_design" style="z-index: 100">
    <v-app-bar-nav-icon @click="changeDrawerState()"></v-app-bar-nav-icon>

    <img v-if="$mq !== 'mobile'"
      alt="Pre Order Logo"
      max-height="42"
      max-width="120"
      class="pre_order"
      src="~/assets/img/store/pre_order_white_background.png"
      @click="gotoPreOrder">
    <v-spacer></v-spacer>

    <span v-if="isAccountVerified && !showBalance" class="ml-4 subtitle-2">
        {{$t('active_balance')}} : Rs. XXXX
        <v-btn
          icon
          small
          @click="getCurrentBalance"
          :loading="loading"
        >
          <v-icon small>mdi-eye-off</v-icon>
        </v-btn>
    </span>
    <span v-if="isAccountVerified && currentBalanceInfo">
      <span class="body-2 mr-2">{{$t('active_balance')}} : Rs. {{ currentBalanceInfo['active_balance'] }}</span>
      <store-balance-information :balance-info="currentBalanceInfo"></store-balance-information>
      <v-icon
        small
        class="ml-2"
        @click="hideBalanceInformation"
      >
        mdi-eye
      </v-icon>
    </span>

    <span class="body-2 ml-5" :title="userName">{{ userName | truncate(10) }}</span>
    <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              dark
              v-bind="attrs"
              v-on="on"
              icon
            >
              <v-icon color="white">mdi-web</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              class="caption language"
              v-for="el in locales"
              :key="el.code"
              :class="{ active: (el.code === locale) }"
              @click="switchLanguage(el.code)"
            >
              <v-list-item-title>{{ el.name }} </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <div class="text-center">
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="white"
                dark
                v-bind="attrs"
                icon
                v-on="on"
                @click="showNotificationBadge = false"
              >
                <v-badge v-if="showNotificationBadge" x-small color="red" dot>
                  <v-icon>mdi-bell</v-icon>
                </v-badge>

                <v-icon v-else>mdi-bell</v-icon>
              </v-btn>
            </template>
            <v-card max-height="90vh" width="300px" tile elevation="0">
              <v-row no-gutters>
                <v-col cols="12" class="subtitle-2 px-3 my-2"
                  >Notification</v-col
                >
              </v-row>
              <hr />
              <v-list three-line v-if="notifications.length > 0">
                <div class="caption font-weight-bold pl-5">Latest</div>
                <template v-for="(item, index) in notifications">
                  <!-- :href="item.payload.url.web_url" -->
                  <v-list-item
                    
                    style="min-height: 69px !important"
                    :key="index"
                    class="py-0"
                  >
                    <v-list-item-avatar>
                      <img
                        v-if="item.payload.image"
                        :src="item.payload.image"
                      />
                      <img
                        v-else
                        src="https://as2.ftcdn.net/v2/jpg/00/64/67/27/1000_F_64672736_U5kpdGs9keUll8CRQ3p3YaEv2M6qkVY5.jpg"
                      />
                    </v-list-item-avatar>
                    <v-list-item-content class="mt-0 pt-0">
                      <v-list-item-subtitle
                        class="caption font-weight-medium"
                        v-html="item.payload.message"
                      ></v-list-item-subtitle>
                      <v-list-item-subtitle class="caption">{{
                        $dayjs(item.created_at).fromNow()
                      }}</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-list>
              <div v-else class="caption text-center my-5">Not Available new Notification</div>
            </v-card>
          </v-menu>
        </div>

    <v-menu offset-y transition="slide-x-transition">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          icon
          v-on="on"
          v-bind="attrs"
        >
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>

      <v-list dense class="caption">
        <v-list-item :to="{name:'store-profile'}">
          <v-icon size="18">mdi-account</v-icon>
          <span class="ml-2">{{$t('my_profile')}}</span>
        </v-list-item>
        <v-list-item @click="logOut">
          <v-icon size="18">mdi-logout</v-icon>
          <span class="ml-2">{{$t('logout')}}</span>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
import logout from "@/helpers/shared/logout";
import wallet from "@/store/store/wallet";
import dataFormatter from "@/helpers/shared/dataFormatter";

export default {

  name: "nav-bar",

  components: {

    StoreBalanceInformation: () => import("@/components/shared/home-page/StoreBalanceInformation")

  },

  data() {

    return {

      showBalance: false,
      currentBalanceInfo: null,
      loading:  false,
      notifications: []

    }

  },

  created() {
    !this.$store.hasModule('wallet') ? this.$store.registerModule('wallet', wallet) : '';

if(this.isUserLoggedIn) {
    this.pusherAllNotification();
    }

  },

  beforeRouteLeave(to, from, next) {

    this.$store.unregisterModule('wallet');

    next();
  },

  computed: {

    isAccountVerified() {
      return this.$store.getters["login/ACCOUNT_STATUS"]['status'] === 'approved';

    },

    userName() {

      return this.$store.getters["login/USERCRED"]['name'];

    },

    locales() {

      return this.$store.state.locale.locales;

    },

    locale() {

      return this.$store.state.locale.locale;

    },

    isUserLoggedIn() {
      return this.$store.getters["login/ISLOGINED"];
    },

    // companyLogo() {
    //   return this.$store.getters("settings/getCompanyLogo");
    // }

  },

  methods: {

    getStoreUserNotification() {
      this.$store
        .dispatch("pusherNotification/getStoreUserNotification")
        .then((response) => {
          this.notifications = response.data;
          console.log(response, "Response Notification");
        });
    },
    
    pusherAllNotification() {
      this.getStoreUserPusherNotification();
      this.getStoreLoadBalanceNotification();
      this.getStoreWithdrawBalanceNotification();
      this.getNormalOrderNotification();
      this.getPreOrderNotification();
      this.getPreOrderFinilizeNotification();
      this.getNormalOrderPlacedNotification();
      this.getProductMassStatusChangedNotification();
      this.getProductStatusNotification();
      this.getProductVariantStatusNotification();
    },

    getStoreUserPusherNotification() {
      const userCode = this.$store.getters["login/USERCRED"]["user_code"];
      var channel = this.$pusher.subscribe(
        "private-user.new.device.login." + userCode
      );
      channel.bind("user-new-device-login-event", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      });
    },

    getStoreLoadBalanceNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.load.balance." + storeCode
      );
      channel.bind("store-load-balance-event", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message, 
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      });
    },

    getStoreWithdrawBalanceNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.withdraw.balance." + storeCode
      );
      channel.bind("store-withdraw-balance-event", (log) => {
         let notifications = log;
         this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        // this.$toast.success(notifications.notification.message)
        console.log(log, "withdraw..");
        let currentDate = new Date().toString();
       
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: "Bimal Dai",
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
        console.log('asdasdasd');
        
      })
    },

    getNormalOrderNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.normal.order.status." + storeCode
      );
      channel.bind("store-normal-order-status-event", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getPreOrderNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.pre.order.status." + storeCode
      );
      channel.bind("store.pre-order-status-event", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getPreOrderFinilizeNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.pre.order.finalized." + storeCode
      );
      channel.bind("store-pre-order-finalized", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getNormalOrderPlacedNotification() {
      const storeCode = this.$store.getters["login/STORECRED"]["store_code"];
      var channel = this.$pusher.subscribe(
        "private-store.normal.order.placed." + storeCode
      );
      channel.bind("store-normal-order-placed", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
    },

    getProductMassStatusChangedNotification() {
      let  associatedWarehouse = this.$store.getters["login/GET_ASSOCOCIATED_WAREHOUSE"];

      for(let a=0;a<associatedWarehouse.length;a++) {
        console.log(associatedWarehouse[a],'llll')
        let data = associatedWarehouse;
        const warehouseCode =data[a]['warehouse_code'];
          var channel = this.$pusher.subscribe(
          "private-product.mass.status.changed." + warehouseCode
        );
      channel.bind("product-mass-status-changed", (log) => {
        let notifications = log;
        this.$nuxt.$emit('pusher-toast', {

          response: notifications.notification.message,

          success: true

        });
        let currentDate = new Date().toString();
        this.notifications.unshift({
          created_at: currentDate,
          payload: {
            data: {
              code: notifications.notification.data.code,
              status: notifications.notification.data.status,
            },
            image: notifications.notification.image,
            message: notifications.notification.message,
            
          },
          purpose: "",
          read_at: "",
          seen_at: "",
          user_code: "",
        })
      })
      }
    },



    switchLanguage(localeCode) {

      document.cookie = `locale=${localeCode}`;

      this.$store.commit("locale/SET_LANG", localeCode);

      location.reload();

    },

    changeDrawerState() {
      const drawerState = !this.$store.getters["login/GET_NAVIGATION_DRAWER_STATE"];
      this.$store.commit('login/SET_NAVIGATION_DRAWER_STATE', drawerState);
    },

    goToHomePage() {

      this.$router.push({name: "index"});

    },

    logOut() {
      let context = this;
      // this.$store.dispatch('login/logout', context).then(res => {});
      logout(context);
      // this.$router.push({name: "index"});
    },

    getCurrentBalance() {
      this.loading = true;

      this.$store.dispatch('wallet/getCurrentUserWalletDetail').then(res => {

        if (res.length) {


          this.currentBalanceInfo = res[0];
          this.loading = false;

        } else {


          this.currentBalanceInfo = res;
          this.loading = false;

        }

        this.showBalance = true;

      }).finally(()=>{
        this.loading = false
      })

    },

    hideBalanceInformation() {

      this.showBalance = false;

      this.currentBalanceInfo = null;

    },

    convertCurrency(currency) {

      return dataFormatter.formatCurrency(currency);

    },
    gotoPreOrder() {
      this.$store.commit("category/SET_MIN_PRICE_FOR_FILTER", "");
      this.$store.commit("category/SET_PAGE_FOR_FILTER", 0);
      this.$store.commit("category/SET_MAX_PRICE_FOR_FILTER", "");
      this.$store.commit("category/SET_PRODUCT_NAME_FOR_FILTER", "");
      this.$store.commit("category/SET_IS_TAXABLE_FOR_FILTER", "");
      this.$store.commit("category/SET_CAT_SELECTED_FOR_FILTER", "");
      this.$store.commit("category/SET_PARENT_CATEGORY", null);
      this.$store.commit("category/SET_SELECTED_CATEGORY_FOR_FILTER", null);
      this.$store.commit(
        "preOrder/SET_SELECTED_WAREHOUSE_FOR_PRE_ORDER",
        this.$store.getters["login/STORE_WAREHOUSE"][0]["warehouse_code"]
      );
      this.$store.dispatch("preOrder/preOrdersDate").then((response) => {
        if (response.data.length === 0) {
          this.$store.commit("preOrder/ALL_PRE_ORDERS_LIST", []);
          this.$store.commit("preOrder/SELECTED_PRE_ORDER", null);

          this.$router.push({
            name: "store-preorder",
          });
        } else {
          this.$store.commit("preOrder/ALL_PRE_ORDERS_LIST", response.data);
          this.$store.commit("preOrder/SELECTED_PRE_ORDER", response.data[0]);
          this.$store.commit(
            "preOrder/SET_END_TIME",
            response.data[0]["end_time"]
          );
          this.$router.push({
            name: "store-preorder",
            query: {
              tab: this.$store.getters["login/STORE_WAREHOUSE"][0][
                "warehouse_code"
                ],
              index: 0,
              next: 0,
              c: this.generateRandomUrlPath(
                10,
                "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
              ),
            },
          });
        }
      });
    },

    generateRandomUrlPath(length) {
      let chars =
        "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";

      let result = "";

      for (let i = length; i > 0; --i) {
        result += chars[Math.floor(Math.random() * chars.length)];
      }

      return result;
    },

  }

}
</script>

<style scoped>

</style>
