<template>
  <v-navigation-drawer app clipped v-model="drawer" class="pt-10">
    <v-list dense>
      <v-list-item two-line class="user-info">
        <v-list-item-avatar size="48">
          <img :src="storeCred['store_logo']">
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title class="font-weight-bold">{{ storeUser['name'] }}</v-list-item-title>
          <v-list-item-subtitle>{{ storeUser['login_email'] }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-item class="mt-3" @click="goToDashboardInfo">
        <v-list-item-icon>
          <v-icon>mdi-view-dashboard</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{$t('dashboard')}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item :to="{ name:'index' }">
        <v-list-item-icon>
          <v-icon>mdi-home</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{$t('visit_home_page')}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item v-if="$mq === 'mobile'" @click="gotoPreOrder">
        <v-list-item-icon>
          <v-icon>mdi-gift</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title><img
      alt="Pre Order Logo"
      height="25"
      class="pre_order"
      src="~/assets/img/store/pre_order_white_background.png"
      >
      </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-group no-action prepend-icon="mdi-gift-outline" :class="[dropdown?'v-list-group--active':'']">
        <template v-slot:activator>
          <v-list-item-title>{{$t('orders')}}</v-list-item-title>
        </template>

        <v-list-item :to="{ name:'store-orders-list' }">
          <v-list-item-content>
            <v-list-item-title>{{$t('list_of_orders')}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{ name:'store-list-of-preorder' }" >
          <v-list-item-content>
            <v-list-item-title>{{$t('list_of_pre_orders')}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>

      <v-list-item  @click="gotoOffline">
        <v-list-item-icon>
          <v-icon>mdi-wallet</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{$t('balance')}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

<!--      <v-list-item :to="{ name:'store-kyc-form' }">-->
<!--        <v-list-item-icon>-->
<!--          <v-icon>mdi-file-certificate</v-icon>-->
<!--        </v-list-item-icon>-->
<!--        <v-list-item-content>-->
<!--          <v-list-item-title>{{$t('firm_kyc')}}</v-list-item-title>-->
<!--        </v-list-item-content>-->
<!--      </v-list-item>-->

      <v-list-group no-action prepend-icon="mdi-cash-multiple">
        <template v-slot:activator>
          <v-list-item-title>{{$t('investment')}}</v-list-item-title>
        </template>

        <v-list-item :to="{name: 'store-investment-my-portfoilo'}">
          <v-list-item-content>
            <v-list-item-title>{{$t('my_portfolio')}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{name: 'store-investment-offered-investment'}">
          <v-list-item-content>
            <v-list-item-title>{{$t('offered_investment')}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>

      <v-list-group no-action prepend-icon="mdi-google-controller">
        <template v-slot:activator>
          <v-list-item-title>{{$t('play_games')}}</v-list-item-title>
        </template>

        <v-list-item >
          <v-list-item-content>
            <v-list-item-title>{{$t('lucky_draw')}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :to="{name: 'recharge-quiz'}">
          <v-list-item-content>
            <v-list-item-title>{{$t('recharge_game')}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>

    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {

  name: "side-bar",

  data() {

    return {

      // drawer: true,

    }

  },

  computed: {

    drawer: {
      get() {
        return this.$store.getters['login/GET_NAVIGATION_DRAWER_STATE'];
      },
      set(newVal) {
        this.$store.commit('login/SET_NAVIGATION_DRAWER_STATE', newVal);
      }
    },

    storeUser() {

      return this.$store.getters['login/USERCRED'];

    },

    storeCred() {
      return this.$store.getters['login/STORECRED']
    },

    dropdown(){
      return this.$store.getters['preOrder/GET_FROM_DETAIL_PAGE']
    }

  },

  methods:{

    gotoPreOrder() {
      this.$store.commit("category/SET_MIN_PRICE_FOR_FILTER", "");
      this.$store.commit("category/SET_PAGE_FOR_FILTER", 0);
      this.$store.commit("category/SET_MAX_PRICE_FOR_FILTER", "");
      this.$store.commit("category/SET_PRODUCT_NAME_FOR_FILTER", "");
      this.$store.commit("category/SET_IS_TAXABLE_FOR_FILTER", "");
      this.$store.commit("category/SET_CAT_SELECTED_FOR_FILTER", "");
      this.$store.commit("category/SET_PARENT_CATEGORY", null);
      this.$store.commit("category/SET_SELECTED_CATEGORY_FOR_FILTER", null);
      this.$store.commit(
        "preOrder/SET_SELECTED_WAREHOUSE_FOR_PRE_ORDER",
        this.$store.getters["login/STORE_WAREHOUSE"][0]["warehouse_code"]
      );
      this.$store.dispatch("preOrder/preOrdersDate").then((response) => {
        if (response.data.length === 0) {
          this.$store.commit("preOrder/ALL_PRE_ORDERS_LIST", []);
          this.$store.commit("preOrder/SELECTED_PRE_ORDER", null);

          this.$router.push({
            name: "store-preorder",
          });
        } else {
          this.$store.commit("preOrder/ALL_PRE_ORDERS_LIST", response.data);
          this.$store.commit("preOrder/SELECTED_PRE_ORDER", response.data[0]);
          this.$store.commit(
            "preOrder/SET_END_TIME",
            response.data[0]["end_time"]
          );
          this.$router.push({
            name: "store-preorder",
            query: {
              tab: this.$store.getters["login/STORE_WAREHOUSE"][0][
                "warehouse_code"
                ],
              index: 0,
              next: 0,
              c: this.generateRandomUrlPath(
                10,
                "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
              ),
            },
          });
        }
      });
    },

    goToDashboardInfo(){

      this.$store.dispatch("dashboard/getStoreDashboardInfo").then(() => {

        this.$router.push({

          name: "store-dashboard-info"

        })

      });

    },
    gotoOffline(){
      this.$store.commit('investment/SET_BUSINESS_PLAN_INFORMATION', '');
      this.$store.commit('investment/SET_WHETHER_FROM_INVESTMENT_OR_ONT', false)

      this.$store.commit('investment/SET_IS_FROM_BUSINESS_PLAN', false);

      this.$store.commit('investment/SET_BUSINESS_PLAN_AMOUNT', {
        start_range:0,
        end_range: 0
      });
      this.$router.push({
        name:'store-balance-info'
      })
    }

  }

}
</script>

<style scoped>
.active{

}
</style>
