<template>
  <v-container fluid class="pa-0 mb-3">
    <client-only>
      <v-row dense v-if="brandDetail['brand_sliders']">
        <v-col style="position: relative" class="pa-0">
          <v-carousel
            height="400"
            show-arrows
            cycle
            show-arrows-on-hover
            progress
            interval="4000"
            progress-color="primary"
            hide-delimiter-background
          >
            <v-carousel-item
              v-for="(img, index) in brandDetail['brand_sliders']"
              :key="index"
            >
              <!-- <img width="100%" :src="img.image"/> -->
              <v-img :src="img.image">
                <div
                  class="transition-fast-in-fast-out black   white--text"
                  style="height: 100%; opacity: 0.7"
                >

                  <v-row no-gutters class="pt-16">
                    <v-col class="font-weight-medium text-center pt-16" cols="12">
                      <div
                        class="white--text px-8 innerSpan"
                        style="font-size: 30px"
                        v-html="img.description"
                      >

                      </div>


                    </v-col>
                    <v-col cols="12" class=" ml-5">
                      <img :src="brandDetail.brand_logo" width="240" alt="">
                    </v-col>
                    <v-col
                      class="font-weight-bold text-uppercase text-left ml-5 title"
                      cols="12"
                    >
                      Brand Name:  {{ brandDetail["brand_name"] }}
                    </v-col>
                    <v-col
                      class="font-weight-bold  text-left subtitle-1 ml-5"
                      cols="12"
                    >
                      Followers: {{ follower }}
                    </v-col>
                    <v-col
                      class="font-weight-bold  text-left subtitle-1 ml-5"
                      cols="12"
                    >
                      Total Product: {{ totalProduct }}
                      <div v-if="isLoggedIn">
                        <v-btn
                          class="white--text"
                          v-if="!followedOrNot "
                          color="darkBlue"
                          outlined
                          :ripple="false"
                          @click="follow"
                        >
                          follow
                        </v-btn>
                        <v-btn
                          class="white--text"
                          v-else
                          color="darkBlue"
                          outlined
                          :ripple="false"
                          @click="follow"
                        >
                          unfollow
                        </v-btn>
                      </div>
                    </v-col>


                  </v-row>
                </div>
              </v-img>
            </v-carousel-item>
          </v-carousel>

          <!--      <v-btn tile color="darkBlue" @click="follow" class="white&#45;&#45;text" style="position:absolute; z-index: 1; top:80%; left:80%;transform: translate(-50%, -50%); color: black; font-size: 36px; font-weight: 700">unfollow</v-btn>-->
        </v-col>
      </v-row>

      <v-row no-gutters v-else>
        <v-col cols="12">
          <v-skeleton-loader
            class="home_page_carousel"
            type="image"
            tile
            transition="scale-transition"
          ></v-skeleton-loader>
        </v-col>
      </v-row>

      <v-row no-gutters class="pa-4">
        <v-col cols="12" lg="10" md="9"></v-col>

        <v-col cols="12" lg="2" md="3">
          <change-layout></change-layout>
        </v-col>
      </v-row>
      <v-divider></v-divider>

      <!-- <v-row no-gutters>
        <v-col cols="12" class="pl-5 py-2">
          <GridViewLayout
            :products="brand_products"
            :load_more="loading"
            :no_more_products="!noMoreProducts"
          ></GridViewLayout>
        </v-col>
      </v-row> -->



      <v-row dense class="mt-5">
        <v-col cols="12">
          <div v-if="gridLayout">
            <GridViewLayout
              v-if="!skeletonLoading"
              :products="brand_products"
              :no_more_products="noLoadMoreBtn"
            ></GridViewLayout>

            <div v-if="skeletonLoading">
              <v-sheet
                v-for="index in 2"
                :key="index"
                color="#0000001f"
                class="mt-8"
              >
                <v-row style="background-color: white !important" no-gutters>
                  <v-col style="background-color: white !important" cols="4">
                    <v-skeleton-loader
                      type="list-item-two-line"
                    ></v-skeleton-loader>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col cols="1">
                    <v-skeleton-loader
                      class="mt-4"
                      type="button"
                    ></v-skeleton-loader>
                  </v-col>
                </v-row>
                <v-row class="pa-4 py-6" no-gutters>
                  <v-col v-for="index in 4" :key="index" cols="3">
                    <v-skeleton-loader
                      class="pa-3 skeleton_loader_image"
                      max-width="300"
                      type="image, list-item-two-line"
                    ></v-skeleton-loader>
                  </v-col>
                </v-row>
              </v-sheet>
            </div>
          </div>
        </v-col>
        <v-col cols="12">
          <div v-if="listViewLayout">
            <ListViewLayout
              :products="brand_products"
              :load_more="loading"
              :no_more_products="noMoreProducts"
            ></ListViewLayout>
          </div>
        </v-col>
      </v-row>
      <div v-if="!noMoreProducts" class="text-center my-6">
        <v-btn
          @click="loadMoreProducts"
          small
          :disabled="loading"
          :dark="!loading"
          color="darkOrange"
          :loading="loading"
        >
          Load More
        </v-btn>
      </div>
      <div class="mt-2 text-center" v-if="noMoreProducts">
        <span class="text-uppercase font-weight-bold">No More Products.</span>
      </div>
    </client-only>
  </v-container>
</template>

<script>
import errorHandler from "@/helpers/shared/errorHandler";

export default {
  name: "brand-slug",
  components: {

    ChangeLayout: () =>
      import("@/components/shared/category-filter-page/ChangeLayout"),
    ListViewLayout: () =>
      import("@/components/shared/category-filter-page/ListViewLayout"),

    GridViewLayout: () =>
      import("@/components/shared/category-filter-page/GridViewLayout"),
  },
  data() {
    return {
      follower:null,
      followedOrNot:false,
      product: [],
      noMoreProducts: false,
      page_no: 1,
      loading: false,
      brandDetail: [],
      skeletonLoading: false,
      noLoadMoreBtn: false,
      totalProduct :null
    };
  },
  fetch() {
    this.getBrandDetail();
    this.getBrandProduct();
    // this.isFollowedOrNot();
  },
  computed: {
    brand_products() {
      return this.product;
    },

    listViewLayout() {
      return this.$store.getters["category/LIST_VIEW_LAYOUT"];
    },

    gridLayoutIcon() {
      return this.$store.getters["category/GRID_LAYOUT_ICON"];
    },

    viewListLayoutIcon() {
      return this.$store.getters["category/VIEW_LIST_LAYOUT_ICON"];
    },

    gridLayout() {
      return this.$store.getters["category/GRID_LAYOUT"];
    },
    isLoggedIn(){
      return this.$store.getters["login/ISLOGINED"];
    }
  },
  methods: {
    getBrandDetail() {
      this.$store
        .dispatch("brand/getBrandDetail", this.$route.params.slug)
        .then((res) => {
          this.brandDetail = res.data;
          this.follower = res.data['brand_followers_count']
        });
    },
    getBrandProduct() {
      let payload = {
        params: this.$route.params.slug,
        data: { page: this.page_no },
      };
      this.$store.dispatch("brand/getBrandProduct", payload).then((res) => {
        this.product = res.data;
        // this.noMoreProducts = res.data.length === 0;
        this.totalProduct = res.meta.total
        if (this.page_no === res.meta.last_page) {
          this.noMoreProducts = true;
        } else {
          this.noMoreProducts = false;
        }

        // this.product = this.product.concat(res.data);
      });
    },
    loadMoreProducts() {
      this.page_no = this.page_no + 1;

      this.loading = true;

      let payload = {
        params: this.$route.params.slug,
        data: { page: this.page_no },
      };
      this.$store
        .dispatch("brand/getBrandProduct", payload)
        .then((res) => {
          // this.product = res.data;
          // this.noMoreProducts = res.data.length === 0;
          if (this.page_no === res.meta.last_page) {
            this.noMoreProducts = true;
          } else {
            this.noMoreProducts = false;
          }

          this.product = this.product.concat(res.data);
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    follow() {
      let code = this.brandDetail.brand_code;
      this.$store
        .dispatch("brand/followBrand", code)
        .then((res) => {
          console.log("follow");
          this.followedOrNot = res.data.follow;
          this.follower = res.data.followers;
        })
        .catch((err) => {
          errorHandler(err, this);
        });
    },
    isFollowedOrNot(){
      let code = this.brandDetail.brand_code;
      this.$store
        .dispatch("brand/followBrand", code)
        .then((res) => {
          console.log("follow", res);
          this.followedOrNot = res.data.follow
          this.follower = res.data.followers
        })
        .catch((err) => {
          errorHandler(err, this);
        });
    }
  },
};
</script>

<style scoped></style>
